Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-coding-titles, check-duplicate-leetcode, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

Path conditions:
  check-coding-titles: any of: ^content/posts/.*(leetcode|bytebytego).*\.md$ and \.(md|markdown|mdown)$ and not (^content/posts/2025-12-30-kagi-add-leetcode-bang.md$) and not (^(layouts/partials/openring.html$|schemas|vendor)/)
  check-duplicate-leetcode: any of: ^content/posts/.*leetcode.*\.md$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
  forbid-md-extension-in-hugo-internal-links: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
  forbid-old-perrotta-dev: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$ and not (^(content/posts/2024-02-04-new-domain.md|content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md)$) and not (^(layouts/partials/openring.html$|schemas|vendor)/)
  forbid-personal-emails: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
  forbid-tulip: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
  forbid-utm-analytics: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/

leetcode
  content/posts/coding/2026-01-04-dict.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

leetcode
  content/posts/coding/2026-01-04-js.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

leetcode
  content/posts/coding/2026-01-04-sort.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

leetcode
  content/posts/coding/2026-01-04-objective_c.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

serendipity -> indianapolis
  layouts/_default/baseof.html
Due: none

elseless
  content/posts/coding/2026-01-05-elseless.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

add dict comprehension
  content/posts/coding/2026-01-04-dict.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

add bisect markers
  content/posts/coding/2025-11-30-bisect.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 05aba9b03516a5e8b757e5ccff5fb50ac436eb22
  2025/11/bisect/index.html
  2025/11/bisect/index.md
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  categories/index.xml
  en/sitemap.xml
  pt/blogroll.opml
  search/index.json
  sitemap.xml
  tags/index.xml
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

fix typos
  content/posts/2025-10-31-oncall-workflow-with-ios-shortcuts.md
  content/posts/2025-12-03-jj-hello-world.md
  content/posts/2026-01-01-amp-code--queue-unqueue-messages.md
  content/posts/2026-01-03-neovim--inline-git-hunk-control.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 3e4b8e533d539e3e1a082c5e096066c988473795
  2025/10/oncall-workflow-with-ios-shortcuts/index.html
  2025/10/oncall-workflow-with-ios-shortcuts/index.md
  2025/12/jj-hello-world/index.html
  2025/12/jj-hello-world/index.md
  2026/01/amp-code-queue/unqueue-messages/index.html
  2026/01/amp-code-queue/unqueue-messages/index.md
  2026/01/neovim-inline-git-hunk-control/index.html
  2026/01/neovim-inline-git-hunk-control/index.md
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  en/sitemap.xml
  index.xml
  posts/index.xml
  pt/blogroll.opml
  sitemap.xml
  tags/bestof/index.xml
  tags/dev/index.xml
  tags/git/index.xml
  tags/index.xml
  tags/serenity/index.xml
  tags/vim/index.xml
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

claude code tips
  content/posts/2026-01-05-claude-code-tips.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

claude code changelog
  content/posts/2026-01-05-claude-code-release-notes-rss-feed.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

previously
  content/posts/2026-01-05-claude-code-release-notes-rss-feed.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

leetcode
  content/posts/coding/2026-01-05-leetcode-987-vertical-order-traversal-of-a-binary-tree.md
Due: check-coding-titles, check-duplicate-leetcode, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

leetcode
  content/posts/coding/2026-01-05-leetcode-104-maximum-depth-of-binary-tree.md
Due: check-coding-titles, check-duplicate-leetcode, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

just code leetcode fix
  Justfile
Due: none

deploy: 848173b2030130668bc431435015b02a9f8b7b02
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  pt/blogroll.opml
Due: none

align
  content/projects.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: b08123f4301e1c07888fdc8def418c594152f6dd
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  en/sitemap.xml
  projects/index.html
  projects/index.md
  pt/blogroll.opml
  sitemap.xml
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

leetcode
  content/posts/coding/2026-01-06-leetcode-498-diagonal-traverse.md
Due: check-coding-titles, check-duplicate-leetcode, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

leetcode
  content/posts/coding/2026-01-06-leetcode-250-count-univalue-subtrees.md
Due: check-coding-titles, check-duplicate-leetcode, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

leetcode
  content/posts/coding/2026-01-06-leetcode-724-find-pivot-index.md
Due: check-coding-titles, check-duplicate-leetcode, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

leetcode
  content/posts/coding/2026-01-06-leetcode-2485-find-the-pivot-integer.md
Due: check-coding-titles, check-duplicate-leetcode, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

leetcode
  content/posts/coding/2026-01-06-leetcode-1991-find-the-middle-index-in-array.md
Due: check-coding-titles, check-duplicate-leetcode, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics
