Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

Path conditions:
  forbid-md-extension-in-hugo-internal-links: any of: \.(md|markdown|mdown)$, but not: ^(schemas|vendor)/
  forbid-old-perrotta-dev: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$ and not (^(content/posts/2024-02-04-new-domain.md|content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md)$) and not (^(schemas|vendor)/)
  forbid-personal-emails: any of: \.(md|markdown|mdown)$, but not: ^(schemas|vendor)/
  forbid-tulip: any of: \.(md|markdown|mdown)$, but not: ^(schemas|vendor)/
  forbid-utm-analytics: any of: \.(md|markdown|mdown)$, but not: ^(schemas|vendor)/

deploy: 85a51755cfb680500522dd0cc7d368527501b70e
  2025/11/fx/index.html
  404.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
Due: none

new post: zero stripping
  content/posts/2025-11-25-bytebytego-zero-striping.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 8381d7f4989cbbf3e87a6aa79600fc00adbb7375
  2025/11/bytebytego-zero-striping/index.html
  404.html
  posts/index.html
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

climbing stairs
  content/posts/2025-11-25-bytebytego-climbing-stairs.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: bbe96093d77ab7b419de7be706e622d8544ea46a
  2025/11/bytebytego-climbing-stairs/index.html
  404.html
  posts/index.html
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

mirror binary tree
  content/posts/2025-11-25-bytebytego-invert-binary-tree.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: ff9bd3f1192219e43a32628168db671854769c52
  2025/11/bytebytego-invert-binary-tree/index.html
  404.html
  posts/index.html
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

add blogroll
  config.yml
  content/blogroll.md
  data/blogroll.yaml
  layouts/shortcodes/blogroll.html
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

more blogs
  data/blogroll.yaml
Due: forbid-old-perrotta-dev

validate
  schemas/blogroll.json
Due: none

deploy: bb36a09b12819dea01c45bb83c519951cb281f31
  blogroll/index.html
  index.xml
  tags/coding/index.html
Due: none

generate opml
  config.yml
  content/blogroll.md
  layouts/index.opml.opml
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: b5b221694f97aa2eac7c538ba39b8bb1a406620a
  blogroll.opml
  blogroll/index.html
  index.xml
  sitemap.xml
  tags/coding/index.html
Due: none

add more feeds
  data/blogroll.yaml
Due: forbid-old-perrotta-dev

deploy: 3921afd0292afd405dd13cbd162b0675919b9766
  blogroll.opml
  blogroll/index.html
  index.xml
  tags/coding/index.html
Due: none

blogroll: more entries
  data/blogroll.yaml
Due: forbid-old-perrotta-dev

deploy: 11b26ee2acaaea58213fba6f96c54f63f13ffc9a
  blogroll.opml
  blogroll/index.html
  index.xml
  tags/coding/index.html
Due: none

deploy: 135bef532da62daea406f6d1542fc787e6ded063
  blogroll.opml
  blogroll/index.html
  index.xml
  tags/coding/index.html
Due: none

deploy: dbabe444fc4d3e72a75e82203d5b45de7aa15514
  blogroll.opml
  blogroll/index.html
  index.xml
  tags/coding/index.html
Due: none

add disclaimer
  content/blogroll.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: d49b4fccb54990b7704c61aa727ca0e547cf0fdf
  blogroll.opml
  blogroll/index.html
  index.xml
  sitemap.xml
  tags/coding/index.html
Due: none

new post: blogroll
  content/posts/2025-11-25-the-almighty-blogroll.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

wrap up blogroll
  data/blogroll.yaml
Due: forbid-old-perrotta-dev

deploy: 10e5e0736ab236661541a917c69f910574a96b4c
  2025/11/the-almighty-blogroll/index.html
  404.html
  blogroll.opml
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/bestof/index.html
  tags/bestof/index.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

deploy: e23c7a3e6e3c162f47d26b5ffc1f5a26c7a385b4
  blogroll.opml
  blogroll/index.html
  index.xml
  tags/coding/index.html
Due: none

fix keep-sorted
  data/blogroll.yaml
Due: forbid-old-perrotta-dev

fix
  content/posts/2025-11-23-help2man.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 8e29833372494a06f101b56b54d9b711f5a36671
  2025/11/help2man/index.html
  blogroll.opml
  index.xml
  posts/index.xml
  sitemap.xml
  tags/bestof/index.html
  tags/bestof/index.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

fixes
  data/blogroll.yaml
Due: forbid-old-perrotta-dev

deploy: 74359d0e51e4128958696f8c3bc7cdbf99534595
  blogroll.opml
  blogroll/index.html
  index.xml
  tags/coding/index.html
Due: none

deploy: 79b5668e700b1555e462526ced679dacfceb3b8e
  blogroll.opml
  blogroll/index.html
  index.xml
  tags/coding/index.html
Due: none

deploy: bc352835666d39e9b72410f5975b1d45ea6d9686
  blogroll.opml
  blogroll/index.html
  index.xml
  tags/coding/index.html
Due: none

deploy: b5d4558d35273817c9ae41ab179d4c8792d2c174
  blogroll.opml
  blogroll/index.html
  index.xml
  tags/coding/index.html
Due: none

number
  layouts/shortcodes/blogroll.html
Due: none
