Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-broken-internal-links, check-coding-titles, check-duplicate-coding, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-external-images, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

Path conditions:
  check-broken-internal-links: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  check-coding-titles: any of: ^content/posts/.*(leetcode|bytebytego).*\.md$ and \.(md|markdown|mdown)$ and not (^content/posts/2025-12-30-kagi-add-leetcode-bang.md$) and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  check-duplicate-coding: any of: ^content/posts/.*(leetcode|bytebytego).*\.md$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  check-required-frontmatter: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (_index\.md$) and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  check-single-category: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  forbid-double-more: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  forbid-double-parens-in-shortcodes: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-external-images: any of: ^layouts/.*\.html$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-md-extension-in-hugo-internal-links: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-old-perrotta-dev: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$ and not (^(content/posts/2024-02-04-new-domain.md|content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md)$) and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  forbid-personal-emails: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-tulip: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-utm-analytics: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  replace-em-dashes: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  replace-shell-prompt: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  sort-blog-tags: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  strip-content-posts-prefix: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)

add previously link to mise post
  content/posts/2026-09-03-mise-prune-old-installations.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

deploy: bd0b34753cf7d8e2453ccf1b0f3ead9c9d0acbb0
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  cursed-knowledge/index.html
  cursed-knowledge/index.md
  cursed-knowledge/index.xml
  en/sitemap.xml
  it/blogroll.opml
  pt/blogroll.opml
  sitemap.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

expand post: pi fullscreen TUI mode
  content/posts/2026-09-03-pi-dock-the-footer-in-fullscreen-mode.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

deploy: 1ef4bfd23f2baccf295a5a11320bda1009bf270f
  2022/01/advent-of-code/index.html
  2026/08/ssh-pipe-sql-through-doas-with-base64/index.html
  2026/09/pi-enable-fullscreen-tui-mode/index.html
  2026/09/pi-enable-fullscreen-tui-mode/index.md
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  graph.json
  index.xml
  it/blogroll.opml
  posts/coding/index.html
  posts/index.html
  posts/index.xml
  posts/recipes/index.html
  pt/blogroll.opml
  search/index.json
  sitemap.md
  sitemap.xml
  tags/bloggify/index.html
  tags/bloggify/index.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/index.html
  tags/index.xml
  tags/pi/index.html
  tags/pi/index.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

docs: require problem statement questions
  STYLE.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

git ai provenance
  content/posts/2026-09-07-pi-git-ai-provenance.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

exempt Git commit SHAs from Talisman
  .talismanrc
Due: none

the future
  content/posts/2026-09-07-gen-ai-is-the-future.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

ordinary
  content/posts/2026-09-07-gen-ai-is-the-future.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

cursed knowledge: add colons
  content/cursed-knowledge.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: d0cde81238f4b453be7f73ac70fb6cf300d21227
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  cursed-knowledge/index.html
  cursed-knowledge/index.md
  cursed-knowledge/index.xml
  en/sitemap.xml
  it/blogroll.opml
  pt/blogroll.opml
  sitemap.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

enhance relationship graphs
  layouts/_default/graph.html
  layouts/partials/mini-graph.html
  layouts/partials/style.html
Due: forbid-external-images

espanso upgrade
  content/posts/2026-09-07-espanso-restart-a-stale-daemon-after-upgrading.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

new post: float
  content/posts/coding/2026-09-07-float.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

remove unused CSS styles
  layouts/partials/style.html
Due: forbid-external-images

fix(ci): pin just version
  .github/workflows/gh-pages.yml
  .github/workflows/prek-autoupdate.yml
  .github/workflows/prek.yml
Due: forbid-old-perrotta-dev

deploy: f3ecba0ea2c7246a99b960cf3325a531be005ca7
  2022/01/advent-of-code/index.html
  2025/09/leetcode-#45-jump-game-ii/index.html
  2025/09/leetcode-#55-jump-game/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  it/blogroll.opml
  pt/blogroll.opml
Due: none

address dual-review findings
  content/pt/search-content.md
  content/search-content.md
  docs/adrs/0007-full-text-search.md
  docs/adrs/README.md
  i18n/en.toml
  i18n/it.toml
  i18n/pt.toml
  layouts/_default/search-content.search.json
  layouts/partials/search-modal.html
  layouts/partials/search-widget.html
  layouts/partials/style.html
Due: forbid-double-parens-in-shortcodes, forbid-external-images, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

refactor search module
  assets/js/search.js
  layouts/partials/search-modal.html
  layouts/partials/search-widget.html
Due: forbid-external-images

make calendar a standalone page
  config/_default/config.yml
  i18n/en.toml
  i18n/it.toml
  i18n/pt.toml
  layouts/_default/calendar.html
  layouts/_default/list.html
  layouts/partials/archive-view-toggle.html
  layouts/partials/style.html
Due: forbid-external-images, forbid-old-perrotta-dev

Add upgrade alias to update
  Justfile
Due: none

deploy: 574682b1f4390be7806b6ce73ca9bccd6ac8c722
  2022/01/advent-of-code/index.html
  2025/09/bicycle-squeaky-brakes/index.html
  2025/09/expressing-intervals/index.html
  2025/09/leetcode-#120-triangle/index.html
  2025/09/leetcode-#139-word-break/index.html
  2025/09/leetcode-#198-house-robber/index.html
  2025/09/leetcode-#300-longest-increasing-subsequence/index.html
  2025/09/leetcode-#322-coin-change/index.html
  2025/09/leetcode-#63-unique-paths-ii/index.html
  2025/09/leetcode-#64-minimum-path-sum/index.html
  2025/09/leetcode-#70-climbing-stairs/index.html
  2025/09/llm-as-online-judge/index.html
  2025/09/memoization/index.html
  2025/09/python-collate-assertions/index.html
  blogroll.opml
  blogroll/index.html
  calendar/index.html
  en/sitemap.xml
  it/blogroll.opml
  it/calendar/index.html
  pt/blogroll.opml
Due: none

fix calendar tag filtering
  layouts/_default/calendar.html
Due: forbid-external-images

deploy: fc1160b20bfa77314a620820a6ab3f190f8258f2
  2022/01/advent-of-code/index.html
  2025/09/vim-remove-trailing-whitespace/index.html
  blogroll.opml
  blogroll/index.html
  calendar/index.html
  en/sitemap.xml
  it/blogroll.opml
  it/calendar/index.html
  pt/blogroll.opml
  pt/calendar/index.html
Due: none

lf Enter
  content/posts/2026-09-16-lf-edit-files-and-enter-directories-with-enter.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

claude troubleshoot
  content/posts/2026-09-16-@claude-troubleshoot.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix
