Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-coding-titles, check-duplicate-leetcode, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

check-coding-titles:
  name: Enforce LeetCode and ByteByteGo title format
  entry: ci/check_post_titles.py
  language: system

check-duplicate-leetcode:
  name: Detect duplicate LeetCode posts
  entry: ci/check_duplicate_leetcode_posts.py
  language: system
  pass_filenames: false

forbid-md-extension-in-hugo-internal-links:
  name: Forbid .md extension in hugo internal links
  entry: .*\.md\" >\}\}
  language: pygrep

forbid-old-perrotta-dev:
  name: Forbid old domains
  entry: \\b(https://thiagowfx\.github\.io|www\.perrotta\.dev|blog\.perrotta\.dev)\\b
  language: pygrep

forbid-personal-emails:
  name: Forbid personal emails
  entry: (@perrotta.dev|tbperrotta@gmail.com)
  language: pygrep

forbid-tulip:
  name: Forbid Tulip terms
  entry: (?i)(\btulip\b|@garden)
  language: pygrep

forbid-utm-analytics:
  name: Forbid UTM analytics / tracking
  entry: \\b(utm_source)\\b
  language: pygrep

add indieweb webring
  content/posts/2025-05-17-blog-directories.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 63cc2d76a85fc0ad9176889083b42e044d408522
  2025/05/blog-directories/index.html
  2025/05/blog-directories/index.md
  2025/05/blog-directories/index.txt
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  en/sitemap.xml
  pt/blogroll.opml
  sitemap.xml
  tags/dev/index.html
  tags/index.html
  tags/index.xml
  tags/serenity/index.html
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

Add IndieWeb Webring to blogroll
  content/blogroll.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 67beddd9a2e1ddcd98bf698b9b0ab24bc455b6e9
  blogroll.opml
  blogroll/index.html
  blogroll/index.md
  blogroll/index.txt
  categories/coding/index.html
  en/sitemap.xml
  pt/blogroll.opml
  sitemap.xml
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

chevron points down when year expanded
  layouts/partials/style.html
Due: none

sort all tags
  content/posts/2022-01-03-miniflux-rolling-my-own-rss-reader.md
  content/posts/2022-01-04-alpine-linux-apk-command-not-found-hook.md
  content/posts/2022-01-04-direnv-automate-your-environment-variables.md
  content/posts/2022-01-18-arch-linux-new-pkgbuild-workflow.md
  content/posts/2022-01-23-alpine-linux-new-apkbuild-workflow.md
  content/posts/2022-01-30-watch-files-and-react-to-changes-during-development.md
  content/posts/2022-01-31-systemd-share-environment-variables-with-xorg.md
  content/posts/2022-02-16-nix-env-in-a-nutshell-for-basic-usage-in-macos.md
  content/posts/2022-05-01-tools-you-should-know-about-moreutils.md
  content/posts/2024-01-15-synchronized-in-python.md
  content/posts/2024-10-02-erratic.md
  content/posts/2024-10-13-new-series-raspberry-pi-fun-with-devops.md
  content/posts/2024-10-18-prodaccess.md
  content/posts/2025-05-17-winterbreak-hello-world.md
  content/posts/2025-11-23-personal-blogs-are-back.md
  content/posts/coding/2022-01-28-advent-of-code.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: bbc74b497358c64ee4a1d88ddcec380f23597aaa
  2022/01/advent-of-code/index.html
  2022/01/alpine-linux-apk-command-not-found-hook/index.html
  2022/01/alpine-linux-new-apkbuild-workflow/index.html
  2022/01/arch-linux-new-pkgbuild-workflow/index.html
  2022/01/direnv-automate-your-environment-variables/index.html
  2022/01/miniflux-rolling-my-own-rss-reader/index.html
  2022/01/systemd-share-environment-variables-with-xorg/index.html
  2022/01/watch-files-and-react-to-changes-during-development/index.html
  2022/02/nix-env-in-a-nutshell-for-basic-usage-in-macos/index.html
  2022/05/tools-you-should-know-about-moreutils/index.html
  2024/01/synchronized-in-python/index.html
  2024/10/erratic-human-friendly-google3-piper-snapshots/index.html
  2024/10/new-series-raspberry-pi-fun-with-devops/index.html
  2024/10/prodaccess/index.html
  2025/05/winterbreak-hello-world/index.html
  2025/11/personal-blogs-are-back/index.html
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  categories/index.html
  categories/index.xml
  en/sitemap.xml
  pt/blogroll.opml
  search/index.json
  sitemap.xml
  tags/bestof/index.html
  tags/bestof/index.xml
  tags/dev/index.html
  tags/index.html
  tags/index.xml
  tags/privacy/index.html
  tags/privacy/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

ci: add sort-blog-tags
  .pre-commit-config.yaml
  ci/sort_tags.py
Due: forbid-old-perrotta-dev

deploy: 1452d61c165e7ef1630a1372eb49e3ce1e818077
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  pt/blogroll.opml
Due: none

gitignore: add python
  .gitignore
Due: none

ci: add check-broken-internal-links
  .pre-commit-config.yaml
  ci/check_broken_internal_links.py
Due: forbid-old-perrotta-dev

deploy: 85493f783c4c731bd0fadf78c84b3af487f613c6
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  pt/blogroll.opml
Due: none

fix: remove invalid schema microdata from seo_tags.html
  layouts/partials/seo_tags.html
Due: none

ci: ignore .gitignore in trailing-whitespace
  .pre-commit-config.yaml
Due: forbid-old-perrotta-dev

deploy: 1ae1c6313fc2d2109d21af2df577d68b70152cde
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  pt/blogroll.opml
Due: none

add HTML5 validation badge
  layouts/_default/baseof.html
Due: none

docs: update naming pattern for plan files to SCREAMING_SNAKE_CASE
  CLAUDE.md
  plans/2026_01_01_MICROFORMATS_VALIDATION.md
  plans/2026_01_01_PERFORMANCE_IMPROVEMENTS.md
  plans/2026_01_01_WEBMENTION_SUPPORT.md
  plans/COMPLETED/2026_01_01_CATEGORY_MIGRATION.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

ls-lint
  .ls-lint.yml
Due: forbid-old-perrotta-dev

deploy: dbf49feff219222bebe7a73283cffdb43f7cf3ec
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  pt/blogroll.opml
Due: none

deploy: a616e1245f7bdfb81e8ce6768e23054c104421b9
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  pt/blogroll.opml
Due: none

perf: add preconnect hint to reduce critical path latency
  layouts/partials/style.html
Due: none

serve html5 validator badge locally
  layouts/_default/baseof.html
  static/html5-validator-badge.webp
Due: none

add pre-commit hook to forbid external image URLs
  .pre-commit-config.yaml
  ci/forbid-external-images.py
Due: forbid-old-perrotta-dev

fix: add width/height attributes to footer badge images for CLS improvement
  layouts/_default/baseof.html
Due: none

deploy: 278226b0f4a90207f7f2807740665e9ba0254c3b
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  pt/blogroll.opml
Due: none

disable snowflakes
  config/_default/config.yml
  layouts/_default/baseof.html
  layouts/partials/style.html
  plans/2026_01_01_DOM_OPTIMIZATION.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

plans: get rid of completed
  plans/2026_01_01_CATEGORY_MIGRATION.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: ad9f9020f3629ef667d96242470eef199a5b12f1
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  pt/blogroll.opml
Due: none

perf: async CSS loading to eliminate render-blocking (~150ms savings)
  layouts/partials/style.html
Due: none

add default avatar as og:image for all pages
  layouts/partials/seo_tags.html
Due: none

Revert "perf: async CSS loading to eliminate render-blocking (~150ms savings)"
  layouts/partials/style.html
Due: none

Path conditions:
  check-coding-titles: any of: ^content/posts/.*(leetcode|bytebytego).*\.md$ and \.(md|markdown|mdown)$ and not (^content/posts/2025-12-30-kagi-add-leetcode-bang.md$) and not (^(layouts/partials/openring.html$|schemas|vendor)/)
  check-duplicate-leetcode: any of: ^content/posts/.*leetcode.*\.md$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
  forbid-md-extension-in-hugo-internal-links: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
  forbid-old-perrotta-dev: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$ and not (^(content/posts/2024-02-04-new-domain.md|content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md)$) and not (^(layouts/partials/openring.html$|schemas|vendor)/)
  forbid-personal-emails: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
  forbid-tulip: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
  forbid-utm-analytics: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
