Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-coding-titles, check-duplicate-leetcode, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

check-coding-titles:
  name: Enforce LeetCode and ByteByteGo title format
  entry: ci/check_post_titles.py
  language: system

check-duplicate-leetcode:
  name: Detect duplicate LeetCode posts
  entry: ci/check_duplicate_leetcode_posts.py
  language: system
  pass_filenames: false

forbid-md-extension-in-hugo-internal-links:
  name: Forbid .md extension in hugo internal links
  entry: .*\.md\" >\}\}
  language: pygrep

forbid-old-perrotta-dev:
  name: Forbid old domains
  entry: \\b(https://thiagowfx\.github\.io|www\.perrotta\.dev|blog\.perrotta\.dev)\\b
  language: pygrep

forbid-personal-emails:
  name: Forbid personal emails
  entry: (@perrotta.dev|tbperrotta@gmail.com)
  language: pygrep

forbid-tulip:
  name: Forbid Tulip terms
  entry: (?i)(\btulip\b|@garden)
  language: pygrep

forbid-utm-analytics:
  name: Forbid UTM analytics / tracking
  entry: \\b(utm_source)\\b
  language: pygrep

3 featured posts
  config/_default/config.yml
Due: forbid-old-perrotta-dev

deploy: 5e6a2cf9b86a4b497fd15cc332da87890233ca2b
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  index.html
  pt/blogroll.opml
Due: none

sort radio stations by name instead of id
  layouts/_default/radio.html
Due: none

sort radio stations by name instead of id (#79)
  layouts/_default/radio.html
Due: none

deploy: b4f8a86dd423e02fe42f79678ee377f73f338175
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  pt/blogroll.opml
  radio/index.html
Due: none

delete status tag from blog posts
  content/posts/2013-12-31-wordpress-feed.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

delete status tag from blog posts (#80)
  content/posts/2013-12-31-wordpress-feed.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

fix duplicate related posts for page bundle posts
  ci/precompute_links.py
Due: none

fix duplicate related posts for page bundle posts (#81)
  ci/precompute_links.py
Due: none

radio: switch SomaFM streams from ice4 to ice2
  layouts/_default/radio.html
Due: none

deploy: bf79f9484bb370eba64406e680438641b851ff78
  2022/01/advent-of-code/index.html
  2025/02/crawling-/-indexing-is-wild/index.html
  2025/02/ruby-string-escaping/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  pt/blogroll.opml
  radio/index.html
Due: none

radio: add SomaFM server fallback (ice1 through ice6)
  layouts/_default/radio.html
Due: none

extract blog writing style guide to STYLE.md
  CLAUDE.md
  STYLE.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 6f499f346a6b0571869bfeb618af521fafbb8ab7
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  pt/blogroll.opml
  radio/index.html
Due: none

radio: show error state when a station is unavailable
  layouts/_default/radio.html
Due: none

deploy: 23afb12856d96375b36624482076b6f330dafd9c
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  pt/blogroll.opml
Due: none

deploy: 8d9b7aed7b704864f37385c389333af0ee9813b0
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  pt/blogroll.opml
  radio/index.html
Due: none

radio: clear error states on stop all
  layouts/_default/radio.html
Due: none

radio: fix stop not working due to error handler re-triggering play
  layouts/_default/radio.html
Due: none

deploy: 8027f7f13dd8e3b6d0c1eca4794b6428d38491b3
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  pt/blogroll.opml
  radio/index.html
Due: none

Justfile: strip commas from generated filenames
  Justfile
Due: none

deploy: 6e98c994e55679d66ba1528b51952c7fc8b6eec8
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  pt/blogroll.opml
Due: none

forbid <!--more--> in markdown blog posts
  .pre-commit-config.yaml
Due: forbid-old-perrotta-dev

vpn
  content/posts/2026-02-17-yes-vpn-no-printer.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

fix: move heading inside section to resolve HTML validation warning
  layouts/index.html
Due: none

deploy: 9adb61e1e5c1a0dda6fb2a8246fcf52326397b6a
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  index.html
  pt/blogroll.opml
Due: none

first
  content/posts/2013-10-20-web-privacy-with-firefox.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

btrfs
  content/posts/2014-11-05-btrfs-trouble-trouble-and-troubleshooting.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 8bec8fefb019a1b6f4c154160a839a965cb7638c
  2013/10/web-privacy-with-firefox/index.html
  2013/10/web-privacy-with-firefox/index.md
  2013/11/why-i-love-zsh/index.html
  2013/12/is-it-actually-bad-for-the-battery-of-a-laptop-to-leave-it-plugged-in/index.html
  2013/12/qa-with-nine-great-programmers/index.html
  2013/12/science-is-fun-remix/index.html
  2013/12/wordpress-feed/index.html
  2014/01/custom-search-engines/index.html
  2014/04/my-first-org2blog-post/index.html
  2014/04/pkgbuild-class-@-irc/index.html
  2014/10/how-do-i-blog-with-org2blog/index.html
  2014/11/btrfs-trouble-trouble-and-troubleshooting/index.html
  2014/11/btrfs-trouble-trouble-and-troubleshooting/index.md
  2014/11/i3-window-manager/index.html
  2014/11/vim-shortcuts-everywhere/index.html
  2014/12/using-proxy-servers-on-linux/index.html
  2015/01/c-man-pages/index.html
  2015/01/the-eudyptula-challenge/index.html
  2022/01/advent-of-code/index.html
  2022/01/throwaway-disposable-accounts-for-ephemeral-use-cases/index.html
  2022/02/google-and-duckduckgo/index.html
  2022/03/bypass-news-article-paywalls/index.html
  2022/03/send-emails-straight-to-spam/index.html
  2024/02/whois/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  graph.json
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/blogroll.opml
  random/index.html
  search/index.json
  sitemap.xml
  tags/dev/index.html
  tags/index.html
  tags/index.xml
  tags/legacy/index.html
  tags/legacy/index.xml
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

wrapping
  content/posts/2013-10-26-wrapping-up.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

ctf
  content/posts/2015-02-21-ksnctf.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

formatting
  content/posts/2013-10-20-web-privacy-with-firefox.md
  content/posts/2026-02-04-bravery.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 24bc7c897bae8d436f8dfa458beccfcef1465c71
  2013/10/web-privacy-with-firefox/index.html
  2013/10/web-privacy-with-firefox/index.md
  2022/01/advent-of-code/index.html
  2026/02/bravery/index.html
  2026/02/bravery/index.md
  blogroll.opml
  blogroll/index.html
  categories/commentary/index.xml
  categories/index.xml
  en/sitemap.xml
  index.xml
  posts/index.xml
  pt/blogroll.opml
  sitemap.xml
  tags/bestof/index.xml
  tags/index.xml
  tags/movies/index.xml
  tags/serenity/index.xml
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

tags
  content/posts/2013-11-13-why-i-love-zsh.md
  content/posts/2013-12-12-is-it-actually-bad-for-the-battery-of-a-laptop-to-leave-it-plugged-in.md
  content/posts/2013-12-21-qa-with-nine-great-programmers.md
  content/posts/2013-12-31-science-is-fun-remix.md
  content/posts/2013-12-31-wordpress-feed.md
  content/posts/2014-01-04-custom-search-engines.md
  content/posts/2014-04-24-my-first-org2blog-post.md
  content/posts/2014-05-15-hello-nix-server-world.md
  content/posts/2014-05-18-im-learning-php.md
  content/posts/2014-05-21-everything-orgmode-or-orgmode-everywhere.md
  content/posts/2014-07-04-adb-over-wi-fi-for-adbsync.md
  content/posts/2014-08-01-openpgp-android.md
  content/posts/2014-09-07-all-over-again-shall-we.md
  content/posts/2014-09-15-living-on-ubuntu-instance-1.md
  content/posts/2014-09-20-cool-but-obscure-unix-tools.md
  content/posts/2014-09-28-my-first-ebuild.md
  content/posts/2014-10-09-compiling-installing-pacman-on-ubuntu.md
  content/posts/2014-10-11-video-how-do-i-blog-with-org2blog.md
  content/posts/2014-11-05-btrfs-trouble-trouble-and-troubleshooting.md
  content/posts/2014-11-13-mini-vim-shortcuts-everywhere.md
  content/posts/2014-12-08-using-proxy-servers-on-linux.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

tags
  content/posts/2015-03-02-thoughts-on-instagram.md
  content/posts/2015-03-21-recording-screencasts-on-linux.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

Path conditions:
  check-coding-titles: any of: ^content/posts/.*(leetcode|bytebytego).*\.md$ and \.(md|markdown|mdown)$ and not (^content/posts/2025-12-30-kagi-add-leetcode-bang.md$) and not (^(layouts/partials/openring.html$|schemas|vendor)/)
  check-duplicate-leetcode: any of: ^content/posts/.*leetcode.*\.md$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
  forbid-md-extension-in-hugo-internal-links: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
  forbid-old-perrotta-dev: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$ and not (^(content/posts/2024-02-04-new-domain.md|content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md)$) and not (^(layouts/partials/openring.html$|schemas|vendor)/)
  forbid-personal-emails: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
  forbid-tulip: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
  forbid-utm-analytics: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
