Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

Path conditions:
  forbid-md-extension-in-hugo-internal-links: any of: \.(md|markdown|mdown)$
  forbid-old-perrotta-dev: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$, but not: ^(content/posts/2024-02-04-new-domain.md|content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md)$
  forbid-personal-emails: any of: \.(md|markdown|mdown)$
  forbid-tulip: any of: \.(md|markdown|mdown)$
  forbid-utm-analytics: any of: \.(md|markdown|mdown)$

deploy: c1343b22d7e9a5126a6e5733b8958fbf89494811
  2025/05/blog-directories/index.html
  tags/selfhosted/index.xml
  tags/serenity/index.xml
Due: none

new post: ghostty migrating config to dotfiles
  content/posts/2025-07-21-ghostty-migrating-config-to-dotfiles.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

ghostty list themes
  content/posts/2025-01-09-ghostty-find-popular-themes.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

mv
  content/posts/2025-07-21-ghostty-migrating-config-to-dotfiles.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: eab17d164565a83d7e0a053b1ff054a29ff8b9fe
  2025/07/ghostty-migrating-config-to-dotfiles/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none

just: split update
  Justfile
Due: none

new post: vim join lines without producing a space
  content/posts/2025-07-22-vim-join-lines-without-producing-a-space.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 82c80ff23b24ea0e14ed05e4e7e0790e3737b5dc
  2025/07/vim-join-lines-without-producing-a-space/index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none

prettify markdown blocks
  content/posts/2025-07-22-vim-join-lines-without-producing-a-space.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: a4909d33965d0bd415f733d85020c2a269c26114
  2025/07/vim-join-lines-without-producing-a-space/index.html
  index.xml
  posts/index.xml
  tags/dev/index.xml
Due: none

new post: reader's block
  content/posts/2025-07-23-readers-block.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 234c72d69b13992e045b3c72bfd60aab1551cf50
  2025/07/readers-block/index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

new post: DCO
  content/posts/2025-07-24-git-dco-sign-off.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 9a663c9396f9c77ab0a6dde9f44da0a6aba8db44
  2025/07/git-developer-certificate-of-origin-dco-sign-off/index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none

new post: bicycle inner tube
  content/posts/2025-07-25-bicycle-replacing-an-inner-tube.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 5a9c5a27272f26f14b1328cd0ef0229381a5ccc8
  2025/07/bicycle-replacing-an-inner-tube/index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

pointy
  content/posts/2025-07-25-bicycle-replacing-an-inner-tube.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 2c6a93f43c5d376c9928dbfca5383f35d843f7c3
  2025/07/bicycle-replacing-an-inner-tube/index.html
  index.xml
  posts/index.xml
  tags/serenity/index.xml
Due: none

xournal++
  content/posts/2025-06-01-replace-text-in-pdfs.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

new post: vim spellcheck
  content/posts/2025-07-26-vim-add-word-to-spellchecker.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 734ba19fb62e9691174e98341cf6490bd20041a5
  2025/06/replace-text-in-pdfs/index.html
  2025/07/vim-add-word-to-spellchecker/index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

new post: smartwatches
  content/posts/2025-07-26-smartwatches.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 2846fed7a99f73e7d82985286afaa70edf64f0e7
  2025/07/smartwatches/index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

add end-to-end bike video
  content/posts/2025-07-25-bicycle-replacing-an-inner-tube.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 7426b26066c9fac718d0d2a999c6835818b0e756
  2025/07/bicycle-replacing-an-inner-tube/index.html
  index.xml
  posts/index.xml
  tags/serenity/index.xml
Due: none

new post: okta: enroll into 2fa
  content/posts/2025-07-27-okta-enroll-into-2fa.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 9df2b46ce200ed65c3b2462a2ab6b76e65a7cc81
  2025/07/okta-enroll-into-2fa/index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/privacy/index.html
  tags/privacy/index.xml
Due: none

deploy: bcb6bb341c511db3c79dde950d5d4e0a23536b1c
  green-team.gif
  thiagowfx.png
Due: none

new post: writing blog posts on the go
  content/posts/2025-07-29-writing-blog-posts-on-the-go.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 9165d2921795191607c84b5d48de9e0222af9357
  2025/07/writing-blog-posts-on-the-go/index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

new post: direnv auto dotenv
  content/posts/2025-07-31-direnv-automatically-load-env-everywhere.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: d5ab50938dad2250b84b2561f14643c7b1d6de82
  2025/07/direnv-automatically-load-.env-everywhere/index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none

new post: pr reviews after vacation
  content/posts/2025-08-01-pr-reviews-after-vacation.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 02e3538ef4b671bc42bcc6a023fd188e94124d5e
  2025/08/pr-reviews-after-vacation/index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/bestof/index.html
  tags/bestof/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

prompt
  content/posts/2025-08-01-pr-reviews-after-vacation.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 57882524dc20a6e27980454975c4ee1909930e62
  2025/08/pr-reviews-after-vacation/index.html
  index.xml
  posts/index.xml
  tags/bestof/index.xml
  tags/serenity/index.xml
Due: none

Auto-update pre-commit hooks
  .pre-commit-config.yaml
Due: forbid-old-perrotta-dev

new post: argocd: all apps stuck on refresh
  content/posts/2025-08-01-argocd-all-applications-stuck-on-refresh.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 3e56b88a2d6e74338f296bf497e517a6db68aee9
  2025/08/argocd-all-applications-stuck-on-refresh/index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/selfhosted/index.html
  tags/selfhosted/index.xml
Due: none

deploy: 21ece9d198244b4c3c92ff1440a613f4b930dad8
  robots.txt
Due: none
