Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-coding-titles, check-duplicate-leetcode, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

Path conditions:
  check-coding-titles: any of: ^content/posts/.*(leetcode|bytebytego).*\.md$ and \.(md|markdown|mdown)$ and not (^content/posts/2025-12-30-kagi-add-leetcode-bang.md$) and not (^(layouts/partials/openring.html$|schemas|vendor)/)
  check-duplicate-leetcode: any of: ^content/posts/.*leetcode.*\.md$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
  forbid-md-extension-in-hugo-internal-links: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
  forbid-old-perrotta-dev: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$ and not (^(content/posts/2024-02-04-new-domain.md|content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md)$) and not (^(layouts/partials/openring.html$|schemas|vendor)/)
  forbid-personal-emails: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
  forbid-tulip: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
  forbid-utm-analytics: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/

Revert "add default avatar as og:image for all pages"
  layouts/partials/seo_tags.html
Due: none

add indieweb webring to footer
  layouts/_default/baseof.html
Due: none

make dt-published a link to the post in list view
  layouts/_default/list.html
Due: none

add rel=author attribute to author link in single posts
  layouts/_default/single.html
Due: none

deploy: 534bd2e6603765839a57bded4e2c22c1644616a5
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  categories/recipes/index.html
  posts/index.html
  pt/blogroll.opml
  pt/posts/index.html
  pt/tags/dev/index.html
  pt/tags/meta/index.html
  pt/tags/privacy/index.html
  pt/tags/serenity/index.html
  tags/bestof/index.html
  tags/dev/index.html
  tags/meta/index.html
  tags/privacy/index.html
  tags/security/index.html
  tags/serenity/index.html
Due: none

Allow cdn.jsdelivr.net for Chart.js in forbid-external-images hook
  ci/forbid-external-images.py
Due: none

indieweb
  content/posts/2025-05-17-blog-directories.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 1317464644d8dba89baaefb77a29a892ef03842c
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  pt/blogroll.opml
Due: none

deploy: ca6886a4f7e2b7ecc0165ab114b0a216acf2968d
  2025/05/blog-directories/index.html
  2025/05/blog-directories/index.md
  2025/05/blog-directories/index.txt
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  en/sitemap.xml
  pt/blogroll.opml
  sitemap.xml
  tags/index.xml
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

fix semantic HTML: remove deprecated pubdate and conditional time element
  layouts/_default/list.html
Due: none

deploy: a470d926ca35d9bfba78d259a4dc7b09f477fee2
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  categories/recipes/index.html
  posts/index.html
  pt/blogroll.opml
  pt/posts/index.html
  pt/tags/dev/index.html
  pt/tags/meta/index.html
  pt/tags/privacy/index.html
  pt/tags/serenity/index.html
  tags/bestof/index.html
  tags/dev/index.html
  tags/meta/index.html
  tags/privacy/index.html
  tags/security/index.html
  tags/serenity/index.html
Due: none

clarify p-name placement in h2 heading
  layouts/_default/single.html
Due: none

add webrings to blogroll
  content/blogroll.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 6cdc1ceecd978521d1dcd9ad5db0d32cde5c75fb
  blogroll.opml
  blogroll/index.html
  blogroll/index.md
  blogroll/index.txt
  categories/coding/index.html
  en/sitemap.xml
  pt/blogroll.opml
  sitemap.xml
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

add nested properties to author h-card in single posts
  layouts/_default/single.html
Due: none

pc
  .pre-commit-config.yaml
Due: forbid-old-perrotta-dev

deploy: b1ff720579907e815c571b27feaef1b988879ac0
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  pt/blogroll.opml
Due: none

renovate
  renovate.json
Due: none

deploy: ed9a53034c33294c7d898ab971531919e55cd4ca
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  pt/blogroll.opml
Due: none

Move renovate config to dotfile format (.renovaterc.json5)
  .renovaterc.json5
Due: none

deploy: 51d838d9a83e8ef06fdc05dcd92f3067f032da8b
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  pt/blogroll.opml
Due: none

deploy: cf39f9079e522d45630cfdb19b028834cafaf523
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  pt/blogroll.opml
Due: none

Revert "add indieweb webring to footer"
  layouts/_default/baseof.html
Due: none

fix: remove inline styles from RSS feed for better interoperability
  layouts/_default/rss.xml
Due: none

deploy: 4f02a1e13602aead245dad9a4137a8493c248bb5
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  categories/coding/index.xml
  categories/index.xml
  categories/recipes/index.xml
  index.xml
  posts/index.xml
  posts/recipes/index.xml
  pt/blogroll.opml
  pt/index.xml
  pt/posts/index.xml
  pt/tags/dev/index.xml
  pt/tags/index.xml
  pt/tags/meta/index.xml
  pt/tags/privacy/index.xml
  pt/tags/serenity/index.xml
  tags/bestof/index.xml
  tags/dev/index.xml
  tags/index.xml
  tags/meta/index.xml
  tags/privacy/index.xml
  tags/security/index.xml
  tags/serenity/index.xml
Due: none

rss
  layouts/_default/rss.xml
Due: none

deploy: 41d19de0ce8766f7425afa2a231790db97110d20
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  pt/blogroll.opml
Due: none

no ai webring
  content/posts/2025-05-17-blog-directories.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 61bc255f3b9f4ad3ba951d126a7420b968e2a665
  2025/05/blog-directories/index.html
  2025/05/blog-directories/index.md
  2025/05/blog-directories/index.txt
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  en/sitemap.xml
  pt/blogroll.opml
  sitemap.xml
  tags/index.xml
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

ballot
  content/posts/2025-05-17-blog-directories.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

add keep-sorted with custom prefix ordering to blog list
  content/posts/2025-05-17-blog-directories.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

diffblog
  content/posts/2025-12-31-blog-discovery.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 4dffb5ac8db497cc441e26e3756d692b3de9dcc5
  2025/05/blog-directories/index.html
  2025/05/blog-directories/index.md
  2025/05/blog-directories/index.txt
  2025/12/blog-discovery/index.html
  2025/12/blog-discovery/index.md
  2025/12/blog-discovery/index.txt
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  en/sitemap.xml
  index.xml
  posts/index.xml
  pt/blogroll.opml
  sitemap.xml
  tags/bestof/index.xml
  tags/index.xml
  tags/serenity/index.xml
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics
