Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-coding-titles, check-duplicate-leetcode, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

check-coding-titles:
  name: Enforce LeetCode and ByteByteGo title format
  entry: ci/check_post_titles.py
  language: system

check-duplicate-leetcode:
  name: Detect duplicate LeetCode posts
  entry: ci/check_duplicate_leetcode_posts.py
  language: system
  pass_filenames: false

forbid-md-extension-in-hugo-internal-links:
  name: Forbid .md extension in hugo internal links
  entry: .*\.md\" >\}\}
  language: pygrep

forbid-old-perrotta-dev:
  name: Forbid old domains
  entry: \\b(https://thiagowfx\.github\.io|www\.perrotta\.dev|blog\.perrotta\.dev)\\b
  language: pygrep

forbid-personal-emails:
  name: Forbid personal emails
  entry: (@perrotta.dev|tbperrotta@gmail.com)
  language: pygrep

forbid-tulip:
  name: Forbid Tulip terms
  entry: (?i)(\btulip\b|@garden)
  language: pygrep

forbid-utm-analytics:
  name: Forbid UTM analytics / tracking
  entry: \\b(utm_source)\\b
  language: pygrep

fix: update j178/prek-action to v1.1.1
  .github/workflows/prek-autoupdate.yml
  .github/workflows/prek.yml
  .talismanrc
Due: forbid-old-perrotta-dev

deploy: f28e2f299918a7d1dc9483f877c1a11cb47cf146
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  pt/blogroll.opml
Due: none

Auto-update prek hooks
  .pre-commit-config.yaml
Due: forbid-old-perrotta-dev

deploy: 2689762c970851ff82a6381630dd1f1169d1d4f4
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  pt/blogroll.opml
Due: none

fix: guard RSS link in list template for environments without RSS output
  layouts/_default/list.html
Due: none

claude code insights
  content/posts/2026-02-08-claude-code-insights.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

add per-post mini graph showing immediate connections
  ci/precompute_links.py
  layouts/_default/single.html
  layouts/partials/mini-graph.html
  layouts/partials/style.html
Due: none

graph font size
  layouts/partials/mini-graph.html
Due: none

tighten post list spacing, increase footer gap
  layouts/partials/style.html
Due: none

just: sort search/list output by date
  Justfile
Due: none

deploy: 906508b9462922fa41561d80f1402bb6bd63b132
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  pt/blogroll.opml
Due: none

justfile: add --navigateToChanged to watch recipe
  Justfile
Due: none

deploy: 0928a921789a7d2de0633126c93a1e2f27a733e2
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  pt/blogroll.opml
Due: none

justfile: disallow empty titles in new post recipes
  Justfile
  content/posts/2026-02-09-you-are-absolutely-right.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

mini-graph: improve node spacing and boundary clamping
  layouts/partials/mini-graph.html
Due: none

turn tables
  content/posts/2026-02-09-you-are-absolutely-right.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

dup
  content/posts/2026-02-09-you-are-absolutely-right.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

add anchor links to related posts, backlinks, and connections sections
  layouts/partials/backlinks.html
  layouts/partials/mini-graph.html
  layouts/partials/related-posts.html
Due: none

swarm
  content/posts/2026-02-09-claude-code-swarm-mode.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

claude code verbose
  content/posts/2026-02-12-claude-code--always-be-verbose.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

add upstream images
  content/posts/2026-02-12-claude-code--always-be-verbose.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 6fb5c899d199b7e6c95528843089f3a4dbf8a502
  2022/01/advent-of-code/index.html
  2026/02/claude-code-always-be-verbose/index.html
  2026/02/claude-code-always-be-verbose/index.md
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  index.xml
  posts/index.xml
  pt/blogroll.opml
  sitemap.xml
  tags/ai/index.xml
  tags/dev/index.xml
  tags/index.xml
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

miniflux
  content/posts/2026-02-13-miniflux-block-entry-matching-url.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

new post: new blog post via Claude Code
  content/posts/2026-02-13-new-blog-post-via-claude-code.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

new post: new blog post via Claude Code (#78)
  content/posts/2026-02-13-new-blog-post-via-claude-code.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

em dash woes
  content/posts/2026-01-27-em-dashes.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: cba625b4265a090a1f0087c0f7e7ee96f2d7e6d0
  2022/01/advent-of-code/index.html
  2026/01/emdashes/index.html
  2026/01/emdashes/index.md
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  index.xml
  posts/index.xml
  pt/blogroll.opml
  sitemap.xml
  tags/ai/index.xml
  tags/index.xml
  tags/serenity/index.xml
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

sitemap: add priority tiering based on post age
  layouts/sitemap.xml
Due: none

deploy: 919cd531e82c5569fc5d878b08f84069f0ec8020
  2022/01/advent-of-code/index.html
  2025/02/git-blank-commit/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  pt/blogroll.opml
  pt/sitemap.xml
Due: none

Path conditions:
  check-coding-titles: any of: ^content/posts/.*(leetcode|bytebytego).*\.md$ and \.(md|markdown|mdown)$ and not (^content/posts/2025-12-30-kagi-add-leetcode-bang.md$) and not (^(layouts/partials/openring.html$|schemas|vendor)/)
  check-duplicate-leetcode: any of: ^content/posts/.*leetcode.*\.md$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
  forbid-md-extension-in-hugo-internal-links: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
  forbid-old-perrotta-dev: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$ and not (^(content/posts/2024-02-04-new-domain.md|content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md)$) and not (^(layouts/partials/openring.html$|schemas|vendor)/)
  forbid-personal-emails: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
  forbid-tulip: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
  forbid-utm-analytics: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
