Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

Path conditions:
  forbid-md-extension-in-hugo-internal-links: any of: \.(md|markdown|mdown)$
  forbid-old-perrotta-dev: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$, but not: ^(content/posts/2024-02-04-new-domain.md|content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md)$
  forbid-personal-emails: any of: \.(md|markdown|mdown)$
  forbid-tulip: any of: \.(md|markdown|mdown)$
  forbid-utm-analytics: any of: \.(md|markdown|mdown)$

deploy: 00469a296b098c62ca5422057d23c1675f4c4ab2
  2022/02/screenshot-a-web-page-from-within-chrome-devtools/index.html
  2025/08/midnight-commander-colorscheme/index.html
  index.xml
  posts/index.xml
  tags/dev/index.xml
Due: none

style
  .markdownlint-cli2.yaml
  content/posts/2022-01-28-advent-of-code.md
  content/posts/2025-08-21-kubernetes-list-all-imagepullbackoff-container-images.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

style
  .markdownlint-cli2.yaml
  content/posts/2022-01-14-rss-follow-commit-updates-from-github.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

style
  .markdownlint-cli2.yaml
Due: forbid-old-perrotta-dev

add TODO
  .markdownlint-cli2.yaml
Due: forbid-old-perrotta-dev

deploy: 65b7903986423c1bef7155422d9a6f6f0c8dd74a
  2022/01/rss-follow-commit-updates-from-github/index.html
Due: none

add yamllint
  .pre-commit-config.yaml
  .yamllint.yaml
Due: forbid-old-perrotta-dev

yamllint
  .yamllint.yaml
Due: forbid-old-perrotta-dev

update schemas shortcut
  .pre-commit-config.yaml
  Justfile
Due: forbid-old-perrotta-dev

pre-commit: script-must-have-extension
  .pre-commit-config.yaml
Due: forbid-old-perrotta-dev

Revert "pre-commit: script-must-have-extension"
  .pre-commit-config.yaml
Due: forbid-old-perrotta-dev

update markdownlint
  .markdownlint-cli2.yaml
  .pre-commit-config.yaml
Due: forbid-old-perrotta-dev

schemas
  .pre-commit-config.yaml
Due: forbid-old-perrotta-dev

make it readable
  .pre-commit-config.yaml
  schemas/hugo.json
  schemas/markdownlint-config-schema.json
Due: forbid-old-perrotta-dev

new version
  .pre-commit-config.yaml
Due: forbid-old-perrotta-dev

add set -e
  .pre-commit-config.yaml
Due: forbid-old-perrotta-dev

new post: kyverno
  content/posts/2025-09-05-uninstall-kyverno.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: dd7740157b0b1ed5bf14ebae20dda43de0b5f40b
  2025/09/uninstall-kyverno/index.html
  404.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none

new post: kubectl verbose logging
  content/posts/2025-09-05-kubectl-verbose-logging.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

make pre-commit more strict
  .pre-commit-config.yaml
Due: forbid-old-perrotta-dev

deploy: 1246791ecebfda2a7cf98caae7de3996789c21fe
  2025/09/kubectl-verbose-logging/index.html
  404.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none

deploy: 314fb4041487fb75dcd6116ddd68a24dc60cc0a2
  2024/12/advent-of-code-2024-day-1/index.html
  2024/12/advent-of-code-2024-day-11/index.html
  2024/12/advent-of-code-2024-day-17/index.html
  2024/12/advent-of-code-2024-day-2/index.html
  2024/12/advent-of-code-2024-day-3/index.html
  2024/12/advent-of-code-2024-day-4/index.html
  2024/12/advent-of-code-2024-day-5/index.html
  2024/12/advent-of-code-2024-day-6/index.html
  2024/12/advent-of-code-2024-day-7/index.html
  2024/12/advent-of-code-2024-day-8/index.html
  2024/12/advent-of-code-2024-day-9/index.html
  2025/05/1password-ssh-agent-error/index.html
  2025/09/claude-ccusage/index.html
  index.xml
  posts/index.xml
  tags/aoc/index.xml
  tags/dev/index.xml
Due: none

formatting
  .markdownlint-cli2.yaml
  content/posts/2025-04-03-sentimental-versioning.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

formatting
  .markdownlint-cli2.yaml
  content/posts/2025-02-13-argocd-vertical-pod-autoscaler-sync-loop.md
  content/posts/2025-07-26-vim-add-word-to-spellchecker.md
  content/posts/2025-08-14-gnu-sed-follow-symlinks.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 3c10d9211376345221ee535d223f1b802283ab95
  2025/07/vim-add-word-to-spellchecker/index.html
  2025/08/gnu-sed-follow-symlinks/index.html
  index.xml
  posts/index.xml
  tags/dev/index.xml
  tags/serenity/index.xml
Due: none

formatting
  .markdownlint-cli2.yaml
  content/posts/2022-01-28-advent-of-code.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

fix links
  .markdownlint-cli2.yaml
  content/posts/2025-04-24-the-llm-journey.md
  content/posts/2025-08-22-security-review.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 6d4db0aefa41fe286b52e8f6ce37e23b5b841bd2
  2025/04/the-llm-journey/index.html
  2025/08/security-review/index.html
  index.xml
  posts/index.xml
  tags/dev/index.xml
Due: none

roll on
  .markdownlint-cli2.yaml
Due: forbid-old-perrotta-dev

dd
  .markdownlint-cli2.yaml
  content/posts/2022-01-15-alpine-linux-on-raspberry-pi-diskless-mode-with-persistent-storage.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 5d2a35b322d6718abbd8088fde6f11a69eab5141
  2022/01/alpine-linux-on-raspberry-pi-diskless-mode-with-persistent-storage/index.html
Due: none

comment
  .markdownlint-cli2.yaml
Due: forbid-old-perrotta-dev

clarity
  content/posts/2022-01-05-ventoy-automate-your-distro-hopping.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

clarity
  content/posts/2015-04-03-installing-haiku-from-an-existing-linux.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 0acd6d11d1c97631858c7f1a5921aa4524126568
  2015/04/installing-haiku-from-an-existing-linux/index.html
  2022/01/ventoy-automate-your-distro-hopping/index.html
Due: none

clarity
  content/posts/2022-01-10-alpine-linux-apk-logs-with-etckeeper.md
  content/posts/2022-01-23-alpine-linux-new-apkbuild-workflow.md
  content/posts/2022-02-26-what-is-my-ip.md
  content/posts/2022-02-27-http-a-few-acronyms.md
  content/posts/2024-01-25-chrome-for-testing.md
  content/posts/2024-01-28-sd-world.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

here
  content/posts/2024-10-07-cdtmp.md
  content/posts/2024-12-21-pre-commit.md
  content/posts/2024-12-28-ollama-hello-world.md
  content/posts/2025-02-11-linkedin-chronological-view.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 5ed20f1bcdee139c27c3c63c0239c681f66078c3
  2022/01/alpine-linux-apk-logs-with-etckeeper/index.html
  2022/01/alpine-linux-new-apkbuild-workflow/index.html
  2022/02/http-a-few-acronyms/index.html
  2022/02/what-is-my-ip/index.html
  2024/01/google-chrome-for-testing-reliable-downloads-for-browser-automation/index.html
  2024/01/sd-world-perform-a-full-system-upgrade/index.html
  2024/10/cdtmp-change-to-a-temporary-directory/index.html
  2024/12/ollama-hello-world/index.html
  2024/12/pre-commit/index.html
  2025/02/linkedin-chronological-view/index.html
  tags/privacy/index.xml
  tags/selfhosted/index.xml
Due: none

here
  .markdownlint-cli2.yaml
  content/posts/2024-10-20-performance-reviews.md
  content/posts/2024-12-10-alpine-linux-3-21.md
  content/posts/2024-12-12-advent-of-code-discussion-group.md
  content/posts/2024-12-23-unbuffer.md
  content/posts/2024-12-27-update-dns-ns-servers-from-porkbun-to-cloudflare.md
  content/posts/2025-02-13-argocd-vertical-pod-autoscaler-sync-loop.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics
