Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-coding-titles, check-duplicate-leetcode, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

check-coding-titles:
  name: Enforce LeetCode and ByteByteGo title format
  entry: ci/check_post_titles.py
  language: system

check-duplicate-leetcode:
  name: Detect duplicate LeetCode posts
  entry: ci/check_duplicate_leetcode_posts.py
  language: system
  pass_filenames: false

forbid-md-extension-in-hugo-internal-links:
  name: Forbid .md extension in hugo internal links
  entry: .*\.md\" >\}\}
  language: pygrep

forbid-old-perrotta-dev:
  name: Forbid old domains
  entry: \\b(https://thiagowfx\.github\.io|www\.perrotta\.dev|blog\.perrotta\.dev)\\b
  language: pygrep

forbid-personal-emails:
  name: Forbid personal emails
  entry: (@perrotta.dev|tbperrotta@gmail.com)
  language: pygrep

forbid-tulip:
  name: Forbid Tulip terms
  entry: (?i)(\btulip\b|@garden)
  language: pygrep

forbid-utm-analytics:
  name: Forbid UTM analytics / tracking
  entry: \\b(utm_source)\\b
  language: pygrep

leetcode
  content/posts/coding/2025-11-26-leetcode-144-binary-tree-preorder-traversal.md
Due: check-coding-titles, check-duplicate-leetcode, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: ecdcffcc1912d0cedefaa5f097d9bb329c606d74
  2025/11/leetcode-#144-binary-tree-preorder-traversal/index.html
  2025/11/leetcode-#144-binary-tree-preorder-traversal/index.md
  2025/11/leetcode-#144-binary-tree-preorder-traversal/index.txt
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  categories/index.xml
  en/sitemap.xml
  pt/blogroll.opml
  sitemap.xml
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

leetcode
  content/posts/coding/2025-11-25-leetcode-145-binary-tree-postorder-traversal.md
Due: check-coding-titles, check-duplicate-leetcode, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: e31a7552c1c8fce1d929305c088f3448ed5ad6cf
  2025/11/leetcode-#145-binary-tree-postorder-traversal/index.html
  2025/11/leetcode-#145-binary-tree-postorder-traversal/index.md
  2025/11/leetcode-#145-binary-tree-postorder-traversal/index.txt
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  categories/index.xml
  en/sitemap.xml
  pt/blogroll.opml
  sitemap.xml
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

leetcode
  content/posts/coding/2026-01-02-leetcode-102-binary-tree-level-order-traversal.md
Due: check-coding-titles, check-duplicate-leetcode, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

strings
  content/posts/coding/2026-01-02-string.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

queue
  content/posts/coding/2026-01-02-queue.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

array
  content/posts/coding/2026-01-02-array.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

comments
  content/posts/coding/2026-01-02-comments.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

tree
  content/posts/coding/2026-01-02-tree.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

__add__
  content/posts/coding/2026-01-02-tree.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

fix just last
  Justfile
Due: none

fix `just last` to find most recent post in subdirectories (prefer fd for speed)
  Justfile
Due: none

deploy: 8ee518a860b58909cf18a1a71bf6acc791d0bee3
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  pt/blogroll.opml
Due: none

deploy: 30ea83953326b5dfa9a2f18c8f9c5e35d3c8b02a
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  pt/blogroll.opml
Due: none

star import dunder methods
  content/posts/coding/2026-01-03-star-import-dunder-methods.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 9d34c845b486e987720e88265de2bb9127b9410f
  2025/08/hello-world/index.html
  2025/09/expressing-intervals/index.html
  2025/09/llm-as-online-judge/index.html
  2025/09/memoization/index.html
  2025/11/bisect/index.html
  2025/11/copying-lists/index.html
  2025/11/default-arguments-evaluated-once-when-defined/index.html
  2025/11/duck.ai/index.html
  2025/11/enumerate-a-slice/index.html
  2025/11/global-nonlocal/index.html
  2025/11/id/index.html
  2025/11/set-and-dict-are-not-ordered/index.html
  2025/12/aoc-2025-day-1-secret-entrance/index.html
  2025/12/stack/index.html
  2026/01/comments/index.html
  2026/01/queue/index.html
  2026/01/star-import-dunder-methods/index.html
  2026/01/star-import-dunder-methods/index.md
  2026/01/star-import-dunder-methods/index.txt
  2026/01/tree/index.html
  404.html
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  categories/coding/index.xml
  categories/index.html
  categories/index.xml
  en/sitemap.xml
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/blogroll.opml
  search/index.json
  sitemap.xml
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

leetcode
  content/posts/coding/2026-01-03-operator.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: a7aeac688f52f8738abaeeeb669ecd2c4f67f9c2
  2025/08/hello-world/index.html
  2025/09/expressing-intervals/index.html
  2025/09/llm-as-online-judge/index.html
  2025/09/memoization/index.html
  2025/11/bisect/index.html
  2025/11/copying-lists/index.html
  2025/11/default-arguments-evaluated-once-when-defined/index.html
  2025/11/duck.ai/index.html
  2025/11/enumerate-a-slice/index.html
  2025/11/global-nonlocal/index.html
  2025/11/id/index.html
  2025/11/set-and-dict-are-not-ordered/index.html
  2025/12/aoc-2025-day-1-secret-entrance/index.html
  2025/12/stack/index.html
  2026/01/comments/index.html
  2026/01/operator/index.html
  2026/01/operator/index.md
  2026/01/operator/index.txt
  2026/01/queue/index.html
  2026/01/star-import-dunder-methods/index.html
  404.html
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  categories/coding/index.xml
  categories/index.html
  categories/index.xml
  en/sitemap.xml
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/blogroll.opml
  search/index.json
  sitemap.xml
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

leetcode
  content/posts/coding/2026-01-03-set.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 4062c64d29b543777d99a4846029ed8c09b3aba0
  2025/08/hello-world/index.html
  2025/09/expressing-intervals/index.html
  2025/09/llm-as-online-judge/index.html
  2025/09/memoization/index.html
  2025/11/bisect/index.html
  2025/11/copying-lists/index.html
  2025/11/default-arguments-evaluated-once-when-defined/index.html
  2025/11/duck.ai/index.html
  2025/11/enumerate-a-slice/index.html
  2025/11/global-nonlocal/index.html
  2025/11/id/index.html
  2025/11/set-and-dict-are-not-ordered/index.html
  2025/12/aoc-2025-day-1-secret-entrance/index.html
  2025/12/stack/index.html
  2026/01/comments/index.html
  2026/01/operator/index.html
  2026/01/queue/index.html
  2026/01/set/index.html
  2026/01/set/index.md
  2026/01/set/index.txt
  2026/01/star-import-dunder-methods/index.html
  404.html
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  categories/coding/index.xml
  categories/index.html
  categories/index.xml
  en/sitemap.xml
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/blogroll.opml
  search/index.json
  sitemap.xml
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

leetcode
  content/posts/coding/2026-01-03-leetcode-314-binary-tree-vertical-order-traversal.md
Due: check-coding-titles, check-duplicate-leetcode, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

leetcode
  content/posts/coding/2026-01-03-leetcode-590-n-ary-tree-postorder-traversal.md
Due: check-coding-titles, check-duplicate-leetcode, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

leetcode
  content/posts/coding/2026-01-03-leetcode-429-n-ary-tree-level-order-traversal.md
Due: check-coding-titles, check-duplicate-leetcode, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

leetcode
  content/posts/coding/2026-01-03-leetcode-563-binary-tree-tilt.md
Due: check-coding-titles, check-duplicate-leetcode, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

leetcode
  content/posts/coding/2026-01-03-leetcode-965-univalued-binary-tree.md
Due: check-coding-titles, check-duplicate-leetcode, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

new post: Advent of Code 2023: Day 1
  content/posts/coding/2023-12-04-advent-of-code-2023-day-1.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 1ecec56f5372cdfec820393fb020cdde90a106b9
  2022/01/advent-of-code/index.html
  2023/12/advent-of-code-2023-day-1/index.html
  2023/12/advent-of-code-2023-day-1/index.md
  2023/12/advent-of-code-2023-day-1/index.txt
  2023/12/maccy-macos-clipboard-manager/index.html
  2023/12/macos-sudo-with-touch-id-survive-upgrades/index.html
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  categories/index.html
  categories/index.xml
  en/sitemap.xml
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/blogroll.opml
  search/index.json
  sitemap.xml
  tags/dev/index.html
  tags/index.html
  tags/index.xml
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

aoc
  content/posts/coding/2022-11-26-advent-of-code-2021-day-1.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 8698424e801e4ac667b164e6333e22915522d515
  2022/10/do-i-still-remember-how-to-blog/index.html
  2022/11/advent-of-code-2021-day-1/index.html
  2022/11/advent-of-code-2021-day-1/index.md
  2022/11/advent-of-code-2021-day-1/index.txt
  2022/12/ais-galore/index.html
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  categories/index.html
  categories/index.xml
  en/sitemap.xml
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/blogroll.opml
  search/index.json
  sitemap.xml
  tags/dev/index.html
  tags/index.html
  tags/index.xml
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

new posts: Advent of Code 2021 (Days 1-8)
  content/posts/coding/2022-11-26-advent-of-code-2021-day-2.md
  content/posts/coding/2022-11-26-advent-of-code-2021-day-3.md
  content/posts/coding/2022-11-26-advent-of-code-2021-day-4.md
  content/posts/coding/2022-11-26-advent-of-code-2021-day-5.md
  content/posts/coding/2022-11-26-advent-of-code-2021-day-6.md
  content/posts/coding/2022-11-26-advent-of-code-2021-day-7.md
  content/posts/coding/2022-11-26-advent-of-code-2021-day-8.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 7c507a33153066fc85e17f54254d8f6316f85acd
  2022/11/advent-of-code-2021-day-1/index.html
  2022/11/advent-of-code-2021-day-2/index.html
  2022/11/advent-of-code-2021-day-2/index.md
  2022/11/advent-of-code-2021-day-2/index.txt
  2022/11/advent-of-code-2021-day-3/index.html
  2022/11/advent-of-code-2021-day-3/index.md
  2022/11/advent-of-code-2021-day-3/index.txt
  2022/11/advent-of-code-2021-day-4/index.html
  2022/11/advent-of-code-2021-day-4/index.md
  2022/11/advent-of-code-2021-day-4/index.txt
  2022/11/advent-of-code-2021-day-5/index.html
  2022/11/advent-of-code-2021-day-5/index.md
  2022/11/advent-of-code-2021-day-5/index.txt
  2022/11/advent-of-code-2021-day-6/index.html
  2022/11/advent-of-code-2021-day-6/index.md
  2022/11/advent-of-code-2021-day-6/index.txt
  2022/11/advent-of-code-2021-day-7/index.html
  2022/11/advent-of-code-2021-day-7/index.md
  2022/11/advent-of-code-2021-day-7/index.txt
  2022/11/advent-of-code-2021-day-8/index.html
  2022/11/advent-of-code-2021-day-8/index.md
  2022/11/advent-of-code-2021-day-8/index.txt
  2025/01/git-update-master-to-main/index.html
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  categories/index.html
  categories/index.xml
  en/sitemap.xml
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/blogroll.opml
  search/index.json
  sitemap.xml
  tags/dev/index.html
  tags/index.html
  tags/index.xml
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

ci(pre-commit): new hook: replace-shell-prompt
  .pre-commit-config.yaml
  ci/replace_shell_prompt.py
  content/posts/2025-05-05-do-you-like-to-live-in-danger.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

Path conditions:
  check-coding-titles: any of: ^content/posts/.*(leetcode|bytebytego).*\.md$ and \.(md|markdown|mdown)$ and not (^content/posts/2025-12-30-kagi-add-leetcode-bang.md$) and not (^(layouts/partials/openring.html$|schemas|vendor)/)
  check-duplicate-leetcode: any of: ^content/posts/.*leetcode.*\.md$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
  forbid-md-extension-in-hugo-internal-links: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
  forbid-old-perrotta-dev: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$ and not (^(content/posts/2024-02-04-new-domain.md|content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md)$) and not (^(layouts/partials/openring.html$|schemas|vendor)/)
  forbid-personal-emails: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
  forbid-tulip: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
  forbid-utm-analytics: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
