Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-coding-titles, check-duplicate-leetcode, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

check-coding-titles:
  name: Enforce LeetCode and ByteByteGo title format
  entry: ci/check_post_titles.py
  language: system

check-duplicate-leetcode:
  name: Detect duplicate LeetCode posts
  entry: ci/check_duplicate_leetcode_posts.py
  language: system
  pass_filenames: false

forbid-md-extension-in-hugo-internal-links:
  name: Forbid .md extension in hugo internal links
  entry: .*\.md\" >\}\}
  language: pygrep

forbid-old-perrotta-dev:
  name: Forbid old domains
  entry: \\b(https://thiagowfx\.github\.io|www\.perrotta\.dev|blog\.perrotta\.dev)\\b
  language: pygrep

forbid-personal-emails:
  name: Forbid personal emails
  entry: (@perrotta.dev|tbperrotta@gmail.com)
  language: pygrep

forbid-tulip:
  name: Forbid Tulip terms
  entry: (?i)(\btulip\b|@garden)
  language: pygrep

forbid-utm-analytics:
  name: Forbid UTM analytics / tracking
  entry: \\b(utm_source)\\b
  language: pygrep

terraform import arrays
  content/posts/2026-01-24-terraform-import-arrays.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

em-dashes
  content/posts/2026-01-27-em-dashes.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

summer
  content/posts/2026-01-27-500-days-of-summer.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

github coding agent
  content/posts/2026-01-28-github-disable-coding-agent.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

starship: add github pr
  content/posts/2026-01-30-starship-github-pr.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

clarify
  content/posts/2026-01-30-starship-github-pr.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 62fd2f55d1f9f3a7f4d8a0aa298dd34e39afd581
  2022/01/advent-of-code/index.html
  2026/01/starship-github-pr-prompt/index.html
  2026/01/starship-github-pr-prompt/index.md
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  en/sitemap.xml
  index.xml
  posts/index.xml
  pt/blogroll.opml
  sitemap.xml
  tags/dev/index.xml
  tags/git/index.xml
  tags/index.xml
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

miniflux themes
  content/posts/2026-01-30-miniflux-themes.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

draft
  content/posts/2026-01-27-pancake-workflow.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 58d4d09389451cc63c1a77df536e30699cac513b
  2021/12/findboost.cmake/index.html
  2022/01/advent-of-code/index.html
  2022/12/ais-galore/index.html
  2024/01/synchronized-in-python/index.html
  2024/05/github-actions-workflow/index.html
  2024/06/xy-problem-xyproblem/index.html
  2024/08/self-documented-makefiles/index.html
  2024/10/ack-match-and-return-only-the-matched-string/index.html
  2024/10/erratic-human-friendly-google3-piper-snapshots/index.html
  2024/10/performance-reviews/index.html
  2024/12/cookiecutter/index.html
  2025/01/git-configure-identities-for-work/index.html
  2025/01/sscce/index.html
  2025/03/llm-remove-stored-key/index.html
  2025/03/unemployment-is-not-the-problem/index.html
  2025/04/the-ack--xargs--sed-pattern/index.html
  2025/04/the-llm-journey/index.html
  2025/05/fpp-facebook-path-picker/index.html
  2025/09/broot/index.html
  2025/09/pancake-potpourri-scripts/index.html
  2025/10/oncall-workflow-with-ios-shortcuts/index.html
  2025/11/shell-memoization-lazy-load-llm-api-keys/index.html
  2025/11/stow/index.html
  2025/12/nginx-caddy/index.html
  2025/12/try/index.html
  2025/12/vim-nvim/index.html
  2026/01/adrs-and-llms/index.html
  2026/01/github-disable-coding-agent/index.html
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  graph.json
  pt/blogroll.opml
  sitemap.xml
Due: none

new post: atuin new machine setup
  content/posts/2026-01-24-atuin-new-machine-setup.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

Auto-update pre-commit hooks
  .pre-commit-config.yaml
Due: forbid-old-perrotta-dev

deploy: c479a06a75bc33051afbb49692abcec15d66b935
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  pt/blogroll.opml
Due: none

just apply it
  content/posts/2026-02-04-just-apply-it.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

github pr cli
  content/posts/2026-02-04-github-approve-prs-from-cli.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

ci(pre-commit): address replace-shell-prompt
  content/posts/2026-02-04-github-approve-prs-from-cli.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 373b46928f3430cabfed4f864a0933447a9fd649
  1/01/github-approve-prs-from-cli/index.html
  1/01/github-approve-prs-from-cli/index.md
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  en/sitemap.xml
  pt/blogroll.opml
  sitemap.xml
  tags/index.xml
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

add missing date
  content/posts/2026-02-04-github-approve-prs-from-cli.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

ci: add pre-commit hook to enforce required frontmatter fields
  .pre-commit-config.yaml
  ci/check_required_frontmatter.py
Due: forbid-old-perrotta-dev

deploy: 6ab96ede015bf0f30097e814860b770da4b4421b
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  pt/blogroll.opml
Due: none

clarify
  content/posts/2026-02-04-just-apply-it.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 24decfcd9f2cea7746c6ebea8d14cfeeface037a
  2022/01/advent-of-code/index.html
  2026/02/just-apply-it/index.html
  2026/02/just-apply-it/index.md
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  en/sitemap.xml
  index.xml
  posts/coding/index.html
  posts/index.html
  posts/index.xml
  posts/recipes/index.html
  pt/blogroll.opml
  search/index.json
  sitemap.xml
  tags/dev/index.xml
  tags/index.html
  tags/index.xml
  tags/serenity/index.xml
  tags/terraform/index.html
  tags/terraform/index.xml
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

en-dashes
  content/posts/2026-01-27-em-dashes.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: b21b35911f5309611bd3b48c0f2a6543a309d5af
  2022/01/advent-of-code/index.html
  2026/01/em-dashes/index.html
  2026/01/em-dashes/index.md
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  en/sitemap.xml
  index.xml
  posts/index.xml
  pt/blogroll.opml
  sitemap.xml
  tags/ai/index.xml
  tags/index.xml
  tags/serenity/index.xml
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

bravery
  content/posts/2026-02-04-bravery.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

ci: add shellcheck
  .pre-commit-config.yaml
Due: forbid-old-perrotta-dev

deploy: f5c9cbe6e15fa9192a2d30e9ef53d47a34235a33
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  pt/blogroll.opml
Due: none

Path conditions:
  check-coding-titles: any of: ^content/posts/.*(leetcode|bytebytego).*\.md$ and \.(md|markdown|mdown)$ and not (^content/posts/2025-12-30-kagi-add-leetcode-bang.md$) and not (^(layouts/partials/openring.html$|schemas|vendor)/)
  check-duplicate-leetcode: any of: ^content/posts/.*leetcode.*\.md$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
  forbid-md-extension-in-hugo-internal-links: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
  forbid-old-perrotta-dev: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$ and not (^(content/posts/2024-02-04-new-domain.md|content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md)$) and not (^(layouts/partials/openring.html$|schemas|vendor)/)
  forbid-personal-emails: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
  forbid-tulip: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
  forbid-utm-analytics: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
