Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-broken-internal-links, check-coding-titles, check-duplicate-coding, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-external-images, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

check-broken-internal-links:
  name: Check for broken Hugo ref shortcode links
  entry: ci/check_broken_internal_links.py
  language: system

check-coding-titles:
  name: Enforce LeetCode and ByteByteGo title format
  entry: ci/check_post_titles.py
  language: system

check-duplicate-coding:
  name: Detect duplicate coding problem posts
  entry: ci/check_duplicate_coding_posts.py
  language: system
  pass_filenames: false

check-required-frontmatter:
  name: Enforce required frontmatter fields (date, title)
  entry: ci/check_required_frontmatter.py
  language: python
  additional_dependencies:
  - PyYAML

check-single-category:
  name: Enforce single category per post
  entry: ci/check_single_category.py
  language: python
  additional_dependencies:
  - PyYAML

forbid-double-more:
  name: Forbid <!--more--> in blog posts
  entry: <!--more-->
  language: pygrep

forbid-double-parens-in-shortcodes:
  name: Forbid double parentheses around Hugo shortcodes
  entry: \(\(\{\{[<|%]
  language: pygrep

forbid-external-images:
  name: Forbid external image URLs in layouts
  entry: ci/forbid-external-images.py
  language: system

forbid-md-extension-in-hugo-internal-links:
  name: Forbid .md extension in hugo internal links
  entry: .*\.md\" >\}\}
  language: pygrep

forbid-old-perrotta-dev:
  name: Forbid old domains
  entry: \\b(https://thiagowfx\.github\.io|www\.perrotta\.dev|blog\.perrotta\.dev)\\b
  language: pygrep

forbid-personal-emails:
  name: Forbid personal emails
  entry: (@perrotta\.dev|\w*perrotta\d*@gmail\.com)
  language: pygrep

forbid-tulip:
  name: Forbid Tulip terms
  entry: (?i)(\btulip\b|@garden)
  language: pygrep

forbid-utm-analytics:
  name: Forbid UTM analytics / tracking
  entry: \\b(utm_source)\\b
  language: pygrep

replace-em-dashes:
  name: Replace ' - ' with em dashes in prose
  entry: ci/replace_em_dashes.py
  language: python

replace-shell-prompt:
  name: Replace ❯ with % in shell prompts
  entry: ci/replace_shell_prompt.py
  language: python

sort-blog-tags:
  name: Sort blog post tags alphabetically
  entry: ci/sort_tags.py
  language: python
  additional_dependencies:
  - PyYAML

strip-content-posts-prefix:
  name: Strip content/posts/ prefix from Hugo ref links
  entry: ci/strip_content_posts_prefix.py
  language: python

allow Git commit SHAs in talisman
  .talismanrc
Due: none

talisman: be more precise when targeting git SHAs
  .talismanrc
Due: none

deploy: aa331bf7c28ffd9ccb62208b05ffa56fdeeee8d6
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  it/blogroll.opml
  pt/blogroll.opml
Due: none

deploy: 321dfabf78b73cbf1b9ecb7b4883c2ba7cc44e34
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  it/blogroll.opml
  pt/blogroll.opml
Due: none

Allow LLM crawlers
  .gitmodules
  layouts/robots.txt
Due: none

deploy: cd66f1997bb6e1472e45625acfb5cc51a627d244
  2022/01/advent-of-code/index.html
  2025/07/okta-enroll-into-2fa/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  it/blogroll.opml
  pt/blogroll.opml
  robots.txt
Due: none

pi block dangerous commands
  content/posts/2025-12-23-pi.md
  content/posts/2026-01-03-oneshot-prompting.md
  content/posts/2026-07-22-caveman-mode-in-pi.md
  content/posts/2026-07-22-pi-auto-retry-stalled-requests.md
  content/posts/2026-07-22-pi-btw-side-chat.md
  content/posts/2026-07-22-pi-cycle-models-backward.md
  content/posts/2026-07-24-pi-asynchronous-exit-summaries.md
  content/posts/2026-07-26-pi-test-drive-an-extension.md
  content/posts/2026-07-27-pi-update-pinned-npm-packages.md
  content/posts/2026-07-28-pi-block-dangerous-commands-syntax-aware.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

drskill
  content/posts/2026-07-28-drkill-lint-claude-skills.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

uk
  content/posts/2025-06-05-apple-app-store-geo-blocking.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

deploy: 8c0f8cd5298cdb5010d2d643247acbe2a5d6b80f
  2022/01/advent-of-code/index.html
  2025/06/apple-app-store-geo-blocking/index.html
  2025/06/apple-app-store-geo-blocking/index.md
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  it/blogroll.opml
  pt/blogroll.opml
  sitemap.xml
  tags/index.xml
  tags/privacy/index.xml
  tags/security/index.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

pi cd
  content/posts/2026-07-29-pi-change-directories-mid-session.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

posts: link /bloggify footer to the skill source
  content/posts/2026-06-09-bloggify.md
  content/posts/2026-06-14-git-switch-to-default-with-wt.md
  content/posts/2026-06-18-pre-commit-authentication-in-internal-github-repos.md
  content/posts/2026-06-20-keychron-k2-bluetooth-always-on.md
  content/posts/2026-06-24-espanso-reload-config-after-editing.md
  content/posts/2026-06-25-caveman-talk-like-caveman-save-tokens.md
  content/posts/2026-06-25-claude-code-ship-your-skills-as-a-plugin-marketplace.md
  content/posts/2026-07-16-claude-code-replace-a-hand-rolled-loop-with-goal.md
  content/posts/2026-07-16-myrepos-a-wip-action-to-find-unfinished-work.md
  content/posts/2026-07-16-when-gen-ai-cites-docs-that-do-not-exist.md
  content/posts/2026-07-22-caveman-mode-in-pi.md
  content/posts/2026-07-22-pi-auto-retry-stalled-requests.md
  content/posts/2026-07-22-pi-btw-side-chat.md
  content/posts/2026-07-22-pi-cycle-models-backward.md
  content/posts/2026-07-24-pi-asynchronous-exit-summaries.md
  content/posts/2026-07-27-pi-update-pinned-npm-packages.md
  content/posts/2026-07-28-drkill-lint-claude-skills.md
  content/posts/2026-07-28-pi-block-dangerous-commands-syntax-aware.md
  content/posts/2026-07-29-pi-change-directories-mid-session.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

obsidian TODOs
  content/posts/2026-07-28-obsidian-logseq-compatible-tasks.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

remove warrant canary
  content/canary.md
  content/posts/2025-11-24-canary.md
  content/posts/2026-02-09-claude-code-swarm-mode.md
  layouts/_default/baseof.html
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-external-images, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

cursed-knowledge: expand TOC by default
  content/cursed-knowledge.md
  layouts/_default/single.html
Due: forbid-double-parens-in-shortcodes, forbid-external-images, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

cursed-knowledge: restore nav menu entry dropped by rebase
  config/_default/config.yml
Due: forbid-old-perrotta-dev

cursed-knowledge: link pi to pi.dev
  content/cursed-knowledge.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

cursed-knowledge: drop 'is cursed' from entry headings
  content/cursed-knowledge.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

immich cursed knowledge
  content/cursed-knowledge.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

justfile: add cursed target to open Cursed Knowledge in editor
  Justfile
Due: none

pre-commit: add vale
  .gitignore
  .pre-commit-config.yaml
  .vale.ini
Due: forbid-old-perrotta-dev

fix typos
  content/posts/2014-09-07-all-over-again-shall-we.md
  content/posts/2024-12-21-default-apps-2024.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

deploy: 7de2c1f6059c3e8a88603e3572e600121df4d8e3
  2014/09/all-over-again-shall-we/index.html
  2014/09/all-over-again-shall-we/index.md
  2022/01/advent-of-code/index.html
  2024/12/default-apps-2024/index.html
  2024/12/default-apps-2024/index.md
  blogroll.opml
  blogroll/index.html
  cursed-knowledge/index.html
  cursed-knowledge/index.md
  en/sitemap.xml
  it/blogroll.opml
  pt/blogroll.opml
  sitemap.xml
  tags/index.xml
  tags/pkm/index.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

linkify
  content/posts/2026-07-20-logseq-to-obsidian.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

deploy: d9bb3236e260454861055df7b93b2a1a9a15c1f4
  2022/01/advent-of-code/index.html
  2026/07/logseq-obsidian/index.html
  2026/07/logseq-obsidian/index.md
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  index.xml
  it/blogroll.opml
  posts/index.xml
  pt/blogroll.opml
  sitemap.xml
  tags/ai/index.xml
  tags/bestof/index.xml
  tags/dev/index.xml
  tags/index.xml
  tags/pkm/index.xml
  tags/serenity/index.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

config: show two featured posts
  config/_default/config.yml
Due: forbid-old-perrotta-dev

deploy: 46de18ac6c732827d721f47ee02f72c935681acc
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  index.html
  it/blogroll.opml
  pt/blogroll.opml
  pt/index.html
Due: none

deploy: 81089fcd487aee73c08188cf492adc1ce4082771
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  it/blogroll.opml
  pt/blogroll.opml
Due: none

free pi
  .vale.ini
  content/posts/2026-07-31-pi-with-free-models.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

hackergroup
  content/pt/posts/2014-11-01-encontro-hackergroup-ufrj-diario-1.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: 27062898fbc24487c5ab3025d4cc1c8f82d8fde6
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  it/blogroll.opml
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/2014/07/meus-dois-minutos-de-fama/index.html
  pt/2014/11/encontro-hackergroup-ufrj-diário-#1/index.html
  pt/2014/11/encontro-hackergroup-ufrj-diário-#1/index.md
  pt/2015/03/mulheres-na-computação-cadê-vocês/index.html
  pt/404.html
  pt/blogroll.opml
  pt/index.xml
  pt/llms.txt
  pt/posts/2014-07-25-meus-dois-minutos-de-fama/index.html
  pt/posts/2014-11-01-encontro-hackergroup-ufrj-diario-1/index.html
  pt/posts/2014-11-01-encontro-hackergroup-ufrj-diario-1/index.md
  pt/posts/2015-03-08-mulheres-na-computacao-cade-voces/index.html
  pt/posts/index.html
  pt/posts/index.xml
  pt/search/index.json
  pt/sitemap.md
  pt/sitemap.xml
  pt/tags/dev/index.html
  pt/tags/dev/index.xml
  pt/tags/index.html
  pt/tags/index.xml
  pt/tags/legacy/index.html
  pt/tags/legacy/index.xml
  pt/tags/serenity/index.html
  pt/tags/serenity/index.xml
  sitemap.md
  sitemap.xml
  tags/dev/index.html
  tags/index.html
  tags/index.xml
  tags/legacy/index.html
  tags/legacy/index.xml
  tags/serenity/index.html
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

Path conditions:
  check-broken-internal-links: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  check-coding-titles: any of: ^content/posts/.*(leetcode|bytebytego).*\.md$ and \.(md|markdown|mdown)$ and not (^content/posts/2025-12-30-kagi-add-leetcode-bang.md$) and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  check-duplicate-coding: any of: ^content/posts/.*(leetcode|bytebytego).*\.md$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  check-required-frontmatter: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (_index\.md$) and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  check-single-category: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  forbid-double-more: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  forbid-double-parens-in-shortcodes: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-external-images: any of: ^layouts/.*\.html$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-md-extension-in-hugo-internal-links: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-old-perrotta-dev: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$ and not (^(content/posts/2024-02-04-new-domain.md|content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md)$) and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  forbid-personal-emails: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-tulip: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-utm-analytics: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  replace-em-dashes: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  replace-shell-prompt: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  sort-blog-tags: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  strip-content-posts-prefix: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
