Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-coding-titles, check-duplicate-leetcode, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

check-coding-titles:
  name: Enforce LeetCode and ByteByteGo title format
  entry: ci/check_post_titles.py
  language: system

check-duplicate-leetcode:
  name: Detect duplicate LeetCode posts
  entry: ci/check_duplicate_leetcode_posts.py
  language: system
  pass_filenames: false

forbid-md-extension-in-hugo-internal-links:
  name: Forbid .md extension in hugo internal links
  entry: .*\.md\" >\}\}
  language: pygrep

forbid-old-perrotta-dev:
  name: Forbid old domains
  entry: \\b(https://thiagowfx\.github\.io|www\.perrotta\.dev|blog\.perrotta\.dev)\\b
  language: pygrep

forbid-personal-emails:
  name: Forbid personal emails
  entry: (@perrotta.dev|tbperrotta@gmail.com)
  language: pygrep

forbid-tulip:
  name: Forbid Tulip terms
  entry: (?i)(\btulip\b|@garden)
  language: pygrep

forbid-utm-analytics:
  name: Forbid UTM analytics / tracking
  entry: \\b(utm_source)\\b
  language: pygrep

shared categories
  layouts/partials/related-posts.html
Due: none

refactor: improve language switcher with dropdown and country flags
  layouts/_default/baseof.html
  layouts/partials/lang-switcher.html
  layouts/partials/style.html
Due: none

feat: split blogroll into blogroll and blogroll_friends shortcodes
  content/blogroll.md
  layouts/shortcodes/blogroll_friends.html
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 442d795307a4f25f685e20d436cc2aecf216e0f4
  blogroll.opml
  blogroll/index.html
  blogroll/index.md
  blogroll/index.txt
  categories/coding/index.html
  en/sitemap.xml
  pt/blogroll.opml
  sitemap.xml
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

style: fix header layout on mobile to prevent title wrapping
  layouts/partials/style.html
Due: none

style: reduce spacing between header buttons on mobile
  layouts/partials/style.html
Due: none

feat: add status link to footer
  layouts/_default/baseof.html
Due: none

style: redesign post collapsing with modern UI theme
  layouts/_default/list.html
  layouts/partials/style.html
Due: none

style: remove hr lines between year groups
  layouts/_default/list.html
Due: none

add separator between categories and tags in search results
  layouts/partials/search-widget.html
Due: none

deploy: a7865fe84b98d70204543572f93462b848529780
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  categories/recipes/index.html
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/blogroll.opml
  pt/posts/index.html
  pt/search/index.html
  pt/tags/dev/index.html
  pt/tags/meta/index.html
  pt/tags/privacy/index.html
  pt/tags/serenity/index.html
  search/index.html
  tags/bestof/index.html
  tags/dev/index.html
  tags/meta/index.html
  tags/privacy/index.html
  tags/serenity/index.html
Due: none

fix: properly exclude category section pages and coding/recipes posts from main listing
  layouts/_default/list.html
Due: none

deploy: 9335be6d8a425699616b8ab8a0dbdba5f3a7189b
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/blogroll.opml
  pt/posts/index.html
Due: none

rss: remove Tags label from feed metadata
  layouts/_default/rss.xml
  static/rss.xsl
Due: none

deploy: c931cea5efbfcae9ef8fdb33409888b5b961ae43
  2025/01/scan-for-markdown-broken-links-in-your-blog/index.html
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  categories/coding/index.xml
  categories/recipes/index.xml
  posts/recipes/index.xml
  pt/blogroll.opml
  rss.xsl
Due: none

fix: convert / and : to - in 'just new' filename
  Justfile
Due: none

fix: sort posts by date in just last command
  Justfile
Due: none

deploy: 7da05b87000aca95a7a84e0f484e294bc578ae23
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  pt/blogroll.opml
Due: none

deploy: 53f6b2e188393a2c433555bfec8dc4c404befb31
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  pt/blogroll.opml
Due: none

amp queue
  content/posts/2026-01-01-amp-code--queue-unqueue-messages.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

add webmention plan
  plans/2026-01-01-webmention-support.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

exclude plans from markdownlint
  .pre-commit-config.yaml
Due: forbid-old-perrotta-dev

deploy: 2771fd7b17a345f43274c56c4378451567a8b008
  2025/01/git-configure-identities-for-work/index.html
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  pt/blogroll.opml
Due: none

docs: organize plans
  plans/2026-01-01-webmention-support.md
  plans/COMPLETED/2026-01-01-CATEGORY_MIGRATION.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 8b1235dc08f07bf5888f8601dea3073a34b202a8
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  pt/blogroll.opml
Due: none

indieweb: add microformats (h-card, h-entry, h-feed)
  config/_default/config.yml
  layouts/_default/baseof.html
  layouts/_default/list.html
  layouts/_default/single.html
Due: forbid-old-perrotta-dev

deploy: 880e20e05d7f3779538eb57a8a00c0ea8fd06433
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  pt/blogroll.opml
Due: none

add webmention support plan
  plans/2026-01-01-WEBMENTION-SUPPORT.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

docs: add microformats validation plan
  plans/2026-01-01-MICROFORMATS-VALIDATION.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 95e27ecc670bdcd3dd2da1a05fac94a25fcc7eea
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  pt/blogroll.opml
Due: none

add security tag
  content/posts/2021-12-28-ufw-firewall.md
  content/posts/2022-01-26-throwaway-disposable-accounts-for-ephemeral-use-cases.md
  content/posts/2022-02-13-ssh-plus-tmux-automatically.md
  content/posts/2022-03-22-https-everywhere-so-long-and-thanks-for-all-the-fish.md
  content/posts/2024-05-03-beware-your-public-ssh-keys.md
  content/posts/2024-05-07-pritunl-log-in-via-cli.md
  content/posts/2024-06-06-bcrypt-hash-a-password.md
  content/posts/2024-09-09-diceware-passphrases.md
  content/posts/2025-01-07-nginx-add-basic-auth.md
  content/posts/2025-01-09-quick-and-dirty-random-password-generator.md
  content/posts/2025-03-11-have-i-been-pwned.md
  content/posts/2025-03-26-1password-cli-direnv-integration.md
  content/posts/2025-04-23-hashicorp-vault-from-helm-values.md
  content/posts/2025-05-07-1password-ssh-agent-error.md
  content/posts/2025-06-15-ssh-hash-known-hosts.md
  content/posts/2025-07-27-okta-enroll-into-2fa.md
  content/posts/2025-08-22-security-review.md
  content/posts/2025-10-04-new-script-aws-china-mfa-login.md
  content/posts/2025-11-10-shell-memoization-lazy-load-llm-api-keys.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

Path conditions:
  check-coding-titles: any of: ^content/posts/.*(leetcode|bytebytego).*\.md$ and \.(md|markdown|mdown)$ and not (^content/posts/2025-12-30-kagi-add-leetcode-bang.md$) and not (^(layouts/partials/openring.html$|schemas|vendor)/)
  check-duplicate-leetcode: any of: ^content/posts/.*leetcode.*\.md$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
  forbid-md-extension-in-hugo-internal-links: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
  forbid-old-perrotta-dev: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$ and not (^(content/posts/2024-02-04-new-domain.md|content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md)$) and not (^(layouts/partials/openring.html$|schemas|vendor)/)
  forbid-personal-emails: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
  forbid-tulip: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
  forbid-utm-analytics: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
