Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-broken-internal-links, check-coding-titles, check-duplicate-coding, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-external-images, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

Path conditions:
  check-broken-internal-links: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  check-coding-titles: any of: ^content/posts/.*(leetcode|bytebytego).*\.md$ and \.(md|markdown|mdown)$ and not (^content/posts/2025-12-30-kagi-add-leetcode-bang.md$) and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  check-duplicate-coding: any of: ^content/posts/.*(leetcode|bytebytego).*\.md$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  check-required-frontmatter: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (_index\.md$) and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  check-single-category: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  forbid-double-more: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  forbid-double-parens-in-shortcodes: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-external-images: any of: ^layouts/.*\.html$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-md-extension-in-hugo-internal-links: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-old-perrotta-dev: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$ and not (^(content/posts/2024-02-04-new-domain.md|content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md)$) and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  forbid-personal-emails: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-tulip: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-utm-analytics: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  replace-em-dashes: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  replace-shell-prompt: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  sort-blog-tags: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  strip-content-posts-prefix: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)

uninstall amp code
  content/posts/2026-03-25-how-to-uninstall-amp-code.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

previously
  content/posts/2026-03-25-goodbye-amp-code.md
  content/posts/2026-03-25-how-to-uninstall-amp-code.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

claude kitty
  content/posts/2026-03-25-claude-code-kitty-keyboard-protocol-garbage.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

mr update
  content/posts/2026-03-26-mr-update.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

format: use filename property in fenced blocks
  content/posts/2022-01-04-alpine-linux-apk-command-not-found-hook.md
  content/posts/2022-01-04-direnv-automate-your-environment-variables.md
  content/posts/2022-01-18-arch-linux-new-pkgbuild-workflow.md
  content/posts/2022-01-31-systemd-share-environment-variables-with-xorg.md
  content/posts/2022-02-13-ssh-plus-tmux-automatically.md
  content/posts/2022-02-19-wayland-from-i3-to-sway.md
  content/posts/2024-02-01-integrating-terraform-with-ansible.md
  content/posts/2024-09-04-git-create-a-throwaway-branch.md
  content/posts/2024-10-18-prodaccess.md
  content/posts/2025-01-01-git-configure-identities-for-work.md
  content/posts/2025-01-03-git-update-master-to-main.md
  content/posts/2025-03-17-terraform-generate-diagrams.md
  content/posts/2025-03-19-npm-install-before-test.md
  content/posts/2025-05-28-golang-fuzzing.md
  content/posts/2025-06-12-git-commit-automatically-add-pull-request-template.md
  content/posts/2025-06-12-gitignore-claude-settings-local-json.md
  content/posts/2025-07-08-markdown-headings-and-git-comments.md
  content/posts/2025-07-31-direnv-automatically-load-env-everywhere.md
  content/posts/2025-10-06-claude-code-custom-commands.md
  content/posts/2025-10-16-pipx-run-uvx.md
  content/posts/2025-11-23-claude-new-slash-commands.md
  content/posts/2025-12-03-jj-hello-world.md
  content/posts/2025-12-27-uptime-kuma.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

potpourri
  content/posts/2026-03-27-potpourri.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

nuvem
  content/pt/posts/2013-10-05-movendo-quase-todas-as-musicas-para-a-nuvem.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: 412311639612f6ff7720f280a5a72ce19230d3ce
  2022/01/advent-of-code/index.html
  2025/03/amphetamine-keep-awake/index.html
  2025/03/badminton/index.html
  2025/03/unemployment-is-not-the-problem/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  posts/coding/index.html
  posts/index.html
  pt/2013/10/movendo-quase-todas-as-músicas-para-a-nuvem/index.html
  pt/2013/10/movendo-quase-todas-as-músicas-para-a-nuvem/index.md
  pt/2013/10/removendo-crapbloatware-de-um-windows-oem/index.html
  pt/2013/10/triple-booting-yay/index.html
  pt/blogroll.opml
  pt/posts/2013-10-02-removendo-crapbloatware-de-um-windows-oem/index.html
  pt/posts/2013-10-05-movendo-quase-todas-as-musicas-para-a-nuvem/index.html
  pt/posts/2013-10-05-movendo-quase-todas-as-musicas-para-a-nuvem/index.md
  pt/posts/2013-10-16-triple-booting-yay/index.html
  pt/posts/index.html
  pt/search/index.json
  pt/sitemap.xml
  pt/tags/dev/index.html
  pt/tags/index.html
  pt/tags/index.xml
  pt/tags/legacy/index.html
  pt/tags/serenity/index.html
  pt/tags/serenity/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/index.html
  tags/index.xml
  tags/legacy/index.html
  tags/serenity/index.html
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

spotify
  content/pt/posts/2014-04-15-spotify.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: 998e72a6153712eedcea505bdeb7a42cd93d5e69
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/2014/04/android-dev-summary/index.html
  pt/2014/04/recovery-típico-via-usb/index.html
  pt/2014/04/spotify/index.html
  pt/2014/04/spotify/index.md
  pt/blogroll.opml
  pt/index.xml
  pt/posts/2014-04-12-android-dev-summary/index.html
  pt/posts/2014-04-15-spotify/index.html
  pt/posts/2014-04-15-spotify/index.md
  pt/posts/index.html
  pt/posts/index.xml
  pt/search/index.json
  pt/sitemap.xml
  pt/tags/dev/index.html
  pt/tags/dev/index.xml
  pt/tags/index.html
  pt/tags/index.xml
  pt/tags/legacy/index.html
  pt/tags/legacy/index.xml
  pt/tags/serenity/index.html
  pt/tags/serenity/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/index.html
  tags/index.xml
  tags/legacy/index.html
  tags/serenity/index.html
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

android games
  content/pt/posts/2014-01-02-android-games-2013.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: 68ec92fd97126c37f9449f25c65e2996aecdd6a1
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  posts/index.html
  posts/recipes/index.html
  pt/2014/01/android-games-2013/index.html
  pt/2014/01/android-games-2013/index.md
  pt/2014/01/por-que-o-arch-linux/index.html
  pt/2014/01/testando-uma-iso-no-linux-sem-o-virtualbox/index.html
  pt/blogroll.opml
  pt/posts/2014-01-02-android-games-2013/index.html
  pt/posts/2014-01-02-android-games-2013/index.md
  pt/posts/2014-01-02-por-que-o-arch-linux/index.html
  pt/posts/2014-01-07-testando-uma-iso-no-linux-sem-o-virtualbox/index.html
  pt/posts/index.html
  pt/search/index.json
  pt/sitemap.xml
  pt/tags/dev/index.html
  pt/tags/dev/index.xml
  pt/tags/index.html
  pt/tags/index.xml
  pt/tags/legacy/index.html
  sitemap.xml
  tags/dev/index.html
  tags/index.html
  tags/index.xml
  tags/legacy/index.html
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

search: handle timeouts gracefully
  layouts/partials/search-modal.html
  layouts/partials/search-widget.html
Due: forbid-external-images

cpbr
  content/pt/posts/2014-02-03-cpbr7-parte-1-hackatons-firefox-os-cert-br.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

bestof
  content/pt/posts/2014-02-03-cpbr7-parte-1-hackatons-firefox-os-cert-br.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: 14ed710ef85fada16cbf93134eb0cbd59f4c0eea
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/2014/02/#cpbr7-parte-1-hackatons-firefox-os--cert.br/index.html
  pt/2014/02/#cpbr7-parte-1-hackatons-firefox-os--cert.br/index.md
  pt/2014/02/renew-my-arch-please/index.html
  pt/2014/02/software-e-outras-coisas-livres-revisitados-parte-0.0.01/index.html
  pt/blogroll.opml
  pt/index.xml
  pt/posts/2014-02-03-cpbr7-parte-1-hackatons-firefox-os-cert-br/index.html
  pt/posts/2014-02-03-cpbr7-parte-1-hackatons-firefox-os-cert-br/index.md
  pt/posts/2014-02-05-renew-my-arch-please/index.html
  pt/posts/index.html
  pt/posts/index.xml
  pt/search/index.json
  pt/sitemap.xml
  pt/tags/dev/index.html
  pt/tags/dev/index.xml
  pt/tags/index.html
  pt/tags/index.xml
  pt/tags/legacy/index.html
  pt/tags/legacy/index.xml
  pt/tags/serenity/index.html
  pt/tags/serenity/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/index.html
  tags/index.xml
  tags/legacy/index.html
  tags/serenity/index.html
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

visio
  content/pt/posts/2013-10-10-microsoft-visio-ou-funcionalidade-cade-voce.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: 72733d28e5eafcab0318b291ffccf6ee8811fe94
  2022/01/advent-of-code/index.html
  2025/03/llm-remove-stored-key/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  posts/coding/index.html
  posts/index.html
  pt/2013/10/microsoft-visio...ou-funcionalidade-cadê-você/index.html
  pt/2013/10/microsoft-visio...ou-funcionalidade-cadê-você/index.md
  pt/2013/10/movendo-quase-todas-as-músicas-para-a-nuvem/index.html
  pt/2013/10/triple-booting-yay/index.html
  pt/blogroll.opml
  pt/posts/2013-10-05-movendo-quase-todas-as-musicas-para-a-nuvem/index.html
  pt/posts/2013-10-10-microsoft-visio-ou-funcionalidade-cade-voce/index.html
  pt/posts/2013-10-10-microsoft-visio-ou-funcionalidade-cade-voce/index.md
  pt/posts/2013-10-16-triple-booting-yay/index.html
  pt/posts/index.html
  pt/search/index.json
  pt/sitemap.xml
  pt/tags/dev/index.html
  pt/tags/index.html
  pt/tags/index.xml
  pt/tags/legacy/index.html
  sitemap.xml
  tags/dev/index.html
  tags/index.html
  tags/index.xml
  tags/legacy/index.html
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

linux ssd
  content/pt/posts/2013-11-10-linux-no-ssd-minhas-configuracoes.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

w
  content/pt/posts/2015-03-08-mulheres-na-computacao-cade-voces.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

shell
  content/posts/2026-03-29-shell-tricks-that-actually-make-life-easier.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

fix hugo deprecation warnings for v0.156+
  .github/workflows/gh-pages.yml
  content/posts/_index.md
  layouts/_default/graph.graphdata.json
  layouts/index.opml.opml
  layouts/partials/backlinks.html
  layouts/partials/lang-switcher.html
  layouts/partials/mini-graph.html
  layouts/partials/related-posts.html
  layouts/shortcodes/blogroll.html
  layouts/shortcodes/blogroll_friends.html
Due: check-broken-internal-links, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-external-images, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

pkgbuild
  content/pt/posts/2014-02-13-meu-primeiro-pkgbuild.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: 69e10a4e01f64318730d133c89a49bac5acaf556
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/2014/02/meu-primeiro-pkgbuild/index.html
  pt/2014/02/meu-primeiro-pkgbuild/index.md
  pt/2014/02/novo-blog-icpc-journal/index.html
  pt/2014/02/renew-my-arch-please/index.html
  pt/blogroll.opml
  pt/index.xml
  pt/posts/2014-02-05-renew-my-arch-please/index.html
  pt/posts/2014-02-13-meu-primeiro-pkgbuild/index.html
  pt/posts/2014-02-13-meu-primeiro-pkgbuild/index.md
  pt/posts/2014-02-22-novo-blog-icpc-journal/index.html
  pt/posts/index.html
  pt/posts/index.xml
  pt/search/index.json
  pt/sitemap.xml
  pt/tags/dev/index.html
  pt/tags/dev/index.xml
  pt/tags/index.html
  pt/tags/index.xml
  pt/tags/legacy/index.html
  pt/tags/legacy/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/index.xml
  tags/legacy/index.html
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

fix broken wordpress link in pull-request post
  content/pt/posts/2014-03-16-pull-request.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

journal
  content/pt/posts/2013-10-16-triple-booting-yay.md
  content/pt/posts/2013-12-01-economizando-um-pouco-de-bateria-no-linux.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

journal
  content/pt/posts/2013-10-10-microsoft-visio-ou-funcionalidade-cade-voce.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

add hugo ref shortcode convention to CLAUDE.md
  CLAUDE.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt
