Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

forbid-md-extension-in-hugo-internal-links:
  name: Forbid usage of .md extension in hugo internal links
  entry: .*\.md\" >\}\}
  language: pygrep

forbid-old-perrotta-dev:
  name: Forbid usage of previous domains
  entry: \b(https://thiagowfx\.github\.io|www\.perrotta\.dev|blog\.perrotta\.dev)\b
  language: pygrep

forbid-personal-emails:
  name: Forbid usage of my personal emails
  entry: tbperrotta@gmail.com
  language: pygrep

forbid-tulip:
  name: Forbid usage of Tulip
  entry: tulip
  language: pygrep

forbid-utm-analytics:
  name: Forbid usage of UTM analytics / tracking
  entry: \b(utm_source)\b
  language: pygrep

deploy: 2387c6b344f5bbe433da2b7d9a989b65a34f8938
  2025/06/m1-macbook-air-keeps-disconnecting-from-wi-fi/index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none

new post: avatar
  content/posts/2025-06-24-resize-image-to-make-an-avatar.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 6be4f27c109d7666750b29dc4873a148ae9b6a79
  2025/06/resize-image-to-make-an-avatar/index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none

new post: steam ratings
  content/posts/2025-06-30-steam-ratings.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 5912ce8cb1ffb10d4e0806d44194224cacaf6fc6
  2025/06/steam-ratings/index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

new post: argocd deployment immutable
  content/posts/2025-06-30-argocd-deployment-spec-selector-field-is-immutable.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 043f9763fb4d347d8641fc2c6dfbb59faae3099d
  2025/06/argocd-deployment-spec.selector-field-is-immutable/index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/selfhosted/index.html
  tags/selfhosted/index.xml
Due: none

Auto-update pre-commit hooks
  .pre-commit-config.yaml
Due: forbid-old-perrotta-dev

justfile
  Justfile
Due: none

update pre-commit
  .pre-commit-config.yaml
Due: forbid-old-perrotta-dev

deploy: 2f609071af266f9c215d7f1b4a9177113b638e3c
  robots.txt
Due: none

just new: support colons
  Justfile
Due: none

just new: support colons
  content/posts/2025-07-08-markdown-headings-and-git-comments.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: bc77a3ca936facd572a9174f1a2ca76d8dccfc37
  2025/07/markdown-headings-and-git-comments/index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none

add another workaround for git comment char
  content/posts/2025-07-08-markdown-headings-and-git-comments.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: d6683eb73264773c62773512ac043cbd3ca9a299
  2025/07/markdown-headings-and-git-comments/index.html
  index.xml
  posts/index.xml
  tags/dev/index.xml
Due: none

new post: pq libdir dict snowball
  content/posts/2025-07-10-pq-could-not-access-file-libdir-dict-snowball.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 4929889d6d130f28d519a05e056b8c69c894d056
  2025/07/pq-could-not-access-file-libdir/dict_snowball-no-such-file-or-directory/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/selfhosted/index.html
  tags/selfhosted/index.xml
Due: none

ci: just-format
  .pre-commit-config.yaml
Due: forbid-old-perrotta-dev

deploy: 1fdc279323dceb6d75c393207e734eb6d7ecfcd1
  robots.txt
Due: none

new post: check-json-schema pre-commit hook
  content/posts/2025-07-11-check-json-schema-pre-commit-hook.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 03fac3c48129e10b164ab3fde407746e9bcc8a9d
  2025/07/check-json-schema-pre-commit-hook/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/bestof/index.html
  tags/bestof/index.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none

linkify
  content/posts/2025-07-11-check-json-schema-pre-commit-hook.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: f70734eec69f57e647e5da3a54478b167b6a48a4
  2025/07/check-json-schema-pre-commit-hook/index.html
  index.xml
  posts/index.xml
  tags/bestof/index.xml
  tags/dev/index.xml
Due: none

new post: alpine linux: remove broken packages
  content/posts/2025-07-20-alpine-linux-remove-broken-packages.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 8e36b1ee379c3c3d8fbb05067557fd75187d43ee
  2025/07/alpine-linux-remove-broken-packages/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/selfhosted/index.html
  tags/selfhosted/index.xml
Due: none

time upkeep
  content/posts/2025-07-20-alpine-linux-remove-broken-packages.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: fae0f73ddb4eba0a5b316b28fd94b0497dd3b1e1
  2025/07/alpine-linux-remove-broken-packages/index.html
  index.xml
  posts/index.xml
  tags/dev/index.xml
  tags/selfhosted/index.xml
Due: none

new post: steam deck 640x480
  content/posts/2025-07-20-steam-deck-640x480-external-monitor-resolution.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 2307a48dcc7ac3d099d51c085463505952c34ed7
  2025/07/steam-deck-640x480-external-monitor-resolution/index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none

forbid colon in filenames
  .pre-commit-config.yaml
Due: forbid-old-perrotta-dev

remove colon from filename
  content/posts/2025-05-12-slack-github-bot-post-notifications.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

archive.is
  content/posts/2022-03-06-bypass-news-article-paywalls.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 12d7537ba9d36ac17f6d235918099cef9e70b213
  2022/03/bypass-news-article-paywalls/index.html
  tags/privacy/index.xml
Due: none

add marginalia search
  content/posts/2025-05-17-blog-directories.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 4f6e27deb9626137d162a78ef768109c9c5f14e0
  2025/05/blog-directories/index.html
  tags/selfhosted/index.xml
  tags/serenity/index.xml
Due: none

add kagi small web to blog directories
  content/posts/2025-05-17-blog-directories.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

Path conditions:
  forbid-md-extension-in-hugo-internal-links: any of: \.(md|markdown|mdown)$
  forbid-old-perrotta-dev: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$, but not: ^(content/posts/2024-02-04-new-domain.md|content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md)$
  forbid-personal-emails: any of: \.(md|markdown|mdown)$
  forbid-tulip: any of: \.(md|markdown|mdown)$
  forbid-utm-analytics: any of: \.(md|markdown|mdown)$
