Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-broken-internal-links, check-coding-titles, check-duplicate-coding, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-external-images, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

check-broken-internal-links:
  name: Check for broken Hugo ref shortcode links
  entry: ci/check_broken_internal_links.py
  language: system

check-coding-titles:
  name: Enforce LeetCode and ByteByteGo title format
  entry: ci/check_post_titles.py
  language: system

check-duplicate-coding:
  name: Detect duplicate coding problem posts
  entry: ci/check_duplicate_coding_posts.py
  language: system
  pass_filenames: false

check-required-frontmatter:
  name: Enforce required frontmatter fields (date, title)
  entry: ci/check_required_frontmatter.py
  language: python
  additional_dependencies:
  - PyYAML

check-single-category:
  name: Enforce single category per post
  entry: ci/check_single_category.py
  language: python
  additional_dependencies:
  - PyYAML

forbid-double-more:
  name: Forbid <!--more--> in blog posts
  entry: <!--more-->
  language: pygrep

forbid-double-parens-in-shortcodes:
  name: Forbid double parentheses around Hugo shortcodes
  entry: \(\(\{\{[<|%]
  language: pygrep

forbid-external-images:
  name: Forbid external image URLs in layouts
  entry: ci/forbid-external-images.py
  language: system

forbid-md-extension-in-hugo-internal-links:
  name: Forbid .md extension in hugo internal links
  entry: .*\.md\" >\}\}
  language: pygrep

forbid-old-perrotta-dev:
  name: Forbid old domains
  entry: \\b(https://thiagowfx\.github\.io|www\.perrotta\.dev|blog\.perrotta\.dev)\\b
  language: pygrep

forbid-personal-emails:
  name: Forbid personal emails
  entry: (@perrotta\.dev|\w*perrotta\d*@gmail\.com)
  language: pygrep

forbid-tulip:
  name: Forbid Tulip terms
  entry: (?i)(\btulip\b|@garden)
  language: pygrep

forbid-utm-analytics:
  name: Forbid UTM analytics / tracking
  entry: \\b(utm_source)\\b
  language: pygrep

replace-em-dashes:
  name: Replace ' - ' with em dashes in prose
  entry: ci/replace_em_dashes.py
  language: python

replace-shell-prompt:
  name: Replace ❯ with % in shell prompts
  entry: ci/replace_shell_prompt.py
  language: python

sort-blog-tags:
  name: Sort blog post tags alphabetically
  entry: ci/sort_tags.py
  language: python
  additional_dependencies:
  - PyYAML

strip-content-posts-prefix:
  name: Strip content/posts/ prefix from Hugo ref links
  entry: ci/strip_content_posts_prefix.py
  language: python

unix
  content/posts/2014-10-21-my-last-nix-setup.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

deploy: 4c5e000c0e51cbb71dcc3b3dd3f56c8efdcae6a8
  2014/12/tmux-a-gentle-introduction/index.html
  2014/12/tmux-a-gentle-introduction/index.md
  2014/12/using-proxy-servers-on-linux/index.html
  2015/01/c-man-pages/index.html
  2015/01/the-eudyptula-challenge/index.html
  2015/02/from-orgmode-to-asciidoc-or-ditching-emacs/index.html
  2022/01/advent-of-code/index.html
  blogroll.opml
  en/sitemap.xml
  graph.json
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/blogroll.opml
  random/index.html
  search/index.json
  sitemap.xml
  tags/dev/index.html
  tags/index.html
  tags/index.xml
  tags/legacy/index.html
  tags/legacy/index.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

wikimedia
  content/posts/2015-02-23-thoughts-and-notes-on-deploying-wikimedia.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

deploy: dd796547d3ed595e512a30f2d79f248ae2b79326
  2014/10/from-emacs-to-vim-chapter-#2-philosophy/index.html
  2014/10/my-last-nix-setup/index.html
  2014/10/my-last-nix-setup/index.md
  2014/11/btrfs-trouble-trouble-and-troubleshooting/index.html
  2014/11/i3-window-manager/index.html
  2014/11/matlab-debootstrapping-#1/index.html
  2014/11/vim-shortcuts-everywhere/index.html
  2022/01/advent-of-code/index.html
  blogroll.opml
  en/sitemap.xml
  graph.json
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/blogroll.opml
  random/index.html
  search/index.json
  sitemap.xml
  tags/dev/index.html
  tags/index.html
  tags/index.xml
  tags/legacy/index.html
  tags/legacy/index.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: 2861785f65a1c9c61df754a3a1ce4dc75ec1bcd5
  2015/02/ksnctf/index.html
  2015/02/thoughts-and-notes-on-deploying-wikimedia/index.html
  2015/02/thoughts-and-notes-on-deploying-wikimedia/index.md
  2015/03/account-deletion-request/index.html
  2015/03/recording-screencasts-on-linux/index.html
  2015/03/running-ogre3d-locally-without-installing-it/index.html
  2015/03/thoughts-on-instagram/index.html
  2015/04/installing-haiku-from-an-existing-linux/index.html
  2022/01/advent-of-code/index.html
  2026/01/atuin-new-machine-setup/index.html
  2026/02/miniflux-block-entry-matching-url/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  graph.json
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/blogroll.opml
  random/index.html
  search/index.json
  sitemap.xml
  tags/dev/index.html
  tags/index.html
  tags/index.xml
  tags/legacy/index.html
  tags/legacy/index.xml
  tags/selfhosted/index.html
  tags/selfhosted/index.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

pw
  content/posts/2014-08-08-storing-passwords-as-plain-text-no-wait.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

deploy: a63518df594a671312cf7ce759e569f70d2b9771
  2014/08/mail-from-emacs-part-#1/index.html
  2014/08/open-pgp-@-android/index.html
  2014/08/serendipity...why-not/index.html
  2014/08/storing-passwords-as-plain-text...no-wait/index.html
  2014/08/storing-passwords-as-plain-text...no-wait/index.md
  2014/09/all-over-again-shall-we/index.html
  2014/09/cool-but-obscure-unix-tools/index.html
  2014/09/everyday-podcasting-#1/index.html
  2014/09/living-on-ubuntu-instance-#1/index.html
  2014/09/what-is-taking-much-space-on-your-linux/bsd-system/index.html
  2015/02/ksnctf/index.html
  2021/12/ufw-firewall/index.html
  2022/01/advent-of-code/index.html
  2022/01/debian-enable-unattended-upgrades/index.html
  2022/01/throwaway-disposable-accounts-for-ephemeral-use-cases/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  graph.json
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/blogroll.opml
  random/index.html
  search/index.json
  sitemap.xml
  tags/dev/index.html
  tags/index.html
  tags/index.xml
  tags/legacy/index.html
  tags/legacy/index.xml
  tags/security/index.html
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

fix: featured posts heading to full-width
  layouts/partials/style.html
Due: forbid-external-images

ubuntu
  content/posts/2014-10-11-living-on-ubuntu-instance-2-creating-a-new-package.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

openbox
  content/posts/2013-10-29-openbox-challenge-day-3.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

deploy: b151eff4c85f2875199d4a5d81d3018e1d4851c7
  2014/09/living-on-ubuntu-instance-#1/index.html
  2014/10/everyday-podcasting-#2/index.html
  2014/10/from-emacs-to-vim-chapter-#2-philosophy/index.html
  2014/10/how-do-i-blog-with-org2blog/index.html
  2014/10/living-on-ubuntu-instance-#2-creating-a-new-package/index.html
  2014/10/living-on-ubuntu-instance-#2-creating-a-new-package/index.md
  2014/10/my-last-nix-setup/index.html
  2014/11/btrfs-trouble-trouble-and-troubleshooting/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  graph.json
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/blogroll.opml
  random/index.html
  search/index.json
  sitemap.xml
  tags/dev/index.html
  tags/index.html
  tags/index.xml
  tags/legacy/index.html
  tags/legacy/index.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

freebsd
  content/posts/2014-07-20-here-be-dragons-freebsd-overview-part-i.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

deploy: 32c19815b831af2c612ae213c68db174f629f253
  2013/10/openbox-challenge-day-1/index.html
  2013/10/openbox-challenge-day-2/index.html
  2013/10/openbox-challenge-day-3/index.html
  2013/10/openbox-challenge-day-3/index.md
  2013/11/some-ssd-benchmarking/index.html
  2013/11/trying-to-be-keyboard-centric/index.html
  2013/12/is-it-actually-bad-for-the-battery-of-a-laptop-to-leave-it-plugged-in/index.html
  2013/12/qa-with-nine-great-programmers/index.html
  2014/01/custom-search-engines/index.html
  2014/03/web-challenge-#0/index.html
  2015/01/the-eudyptula-challenge/index.html
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  graph.json
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/blogroll.opml
  random/index.html
  search/index.json
  sitemap.xml
  tags/dev/index.html
  tags/index.html
  tags/index.xml
  tags/legacy/index.html
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

openbox-challenge-day-4: add ref link to day-3
  content/posts/2013-10-30-openbox-challenge-day-4.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

deploy: 8112aaf1f23b96863a4686b81b7fd881af632a48
  2014/07/adb-over-wi-fi-for-adbsync/index.html
  2014/07/emacs-no-usable-browser-found-error/index.html
  2014/07/here-be-dragons-free-bsd-overview-part-i/index.html
  2014/07/here-be-dragons-free-bsd-overview-part-i/index.md
  2014/08/mail-from-emacs-part-#1/index.html
  2014/08/open-pgp-@-android/index.html
  2014/08/serendipity...why-not/index.html
  2014/08/storing-passwords-as-plain-text...no-wait/index.html
  2014/09/all-over-again-shall-we/index.html
  2014/11/i3-window-manager/index.html
  2021/12/findboost.cmake/index.html
  2021/12/keychron-k2-linux-setup/index.html
  2022/01/advent-of-code/index.html
  2022/01/direnv-automate-your-environment-variables/index.html
  2022/01/miniflux-rolling-my-own-rss-reader/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  graph.json
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/blogroll.opml
  random/index.html
  search/index.json
  sitemap.xml
  tags/bestof/index.html
  tags/dev/index.html
  tags/index.xml
  tags/legacy/index.html
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

openbox-challenge-day-3: add ref link to day-2
  content/posts/2013-10-29-openbox-challenge-day-3.md
  content/posts/2013-10-30-openbox-challenge-day-4.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

deploy: 2f43737d2a41a415b4a3f71ea01acbf038fc2ba8
  2013/10/openbox-challenge-day-1/index.html
  2013/10/openbox-challenge-day-2/index.html
  2013/10/openbox-challenge-day-3/index.html
  2013/10/openbox-challenge-day-3/index.md
  2013/10/openbox-challenge-day-4/index.html
  2013/10/openbox-challenge-day-4/index.md
  2013/11/some-ssd-benchmarking/index.html
  2013/11/trying-to-be-keyboard-centric/index.html
  2013/11/why-i-love-zsh/index.html
  2013/12/is-it-actually-bad-for-the-battery-of-a-laptop-to-leave-it-plugged-in/index.html
  2013/12/qa-with-nine-great-programmers/index.html
  2014/01/custom-search-engines/index.html
  2014/03/web-challenge-#0/index.html
  2015/01/the-eudyptula-challenge/index.html
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  graph.json
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/blogroll.opml
  search/index.json
  sitemap.xml
  tags/dev/index.html
  tags/index.html
  tags/index.xml
  tags/legacy/index.html
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

ci: personal usernames
  .pre-commit-config.yaml
  ci/replace_personal_usernames.py
  content/posts/2025-10-08-vim-reflow-current-paragraph.md
  content/posts/2025-11-16-bash-shebang.md
  content/posts/2025-11-30-python-is-python3-macos-homebrew.md
  content/posts/2025-12-02-try.md
  content/posts/2025-12-03-jj-hello-world.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

deploy: b35f82453307e873c22e82a4ea5cd3c1dba59a29
  2022/01/advent-of-code/index.html
  2022/02/nix-env-in-a-nutshell-for-basic-usage-in-macos/index.html
  2022/02/python-interactive-completion/index.html
  2022/03/macos-sudo-with-touch-id/index.html
  2022/04/keychron-k2-on-macos-fix-home-and-end-keys/index.html
  2023/12/macos-sudo-with-touch-id-survive-upgrades/index.html
  2024/01/python-debugging-tip-with-print-and-f-strings/index.html
  2024/01/synchronized-in-python/index.html
  2024/11/compress-a-.pdf-in-macos-with-preview.app/index.html
  2024/12/default-apps-2024/index.html
  2025/02/notify-search-engines-of-new-posts/index.html
  2025/02/quick-look-preview-yaml-files-on-macos/index.html
  2025/09/homebrew-command-not-found/index.html
  2025/10/macos-homebrew-downgrade-a-package/index.html
  2025/10/vim-reflow-current-paragraph/index.html
  2025/10/vim-reflow-current-paragraph/index.md
  2025/11/bash-shebang-/index.html
  2025/11/bash-shebang-/index.md
  2025/11/homebrew-bin.install-mv-instead-of-cp/index.html
  2025/11/python-is-python3-with-macos-homebrew/index.html
  2025/11/python-is-python3-with-macos-homebrew/index.md
  2025/12/jj-hello-world/index.html
  2025/12/jj-hello-world/index.md
  2025/12/try/index.html
  2025/12/try/index.md
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  pt/blogroll.opml
  search/index.json
  sitemap.xml
  tags/bestof/index.xml
  tags/index.xml
  tags/macos/index.xml
  tags/serenity/index.xml
  tags/vim/index.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

apkbuild
  content/posts/2026-02-18-new-apkbuild-llm-edition.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

typo
  content/posts/2026-02-18-new-apkbuild-llm-edition.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

deploy: 374c1f71fa1bb02e317c7887ac29a42dceae4b34
  2022/01/advent-of-code/index.html
  2026/02/new-apkbuild-llm-edition/index.html
  2026/02/new-apkbuild-llm-edition/index.md
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  index.xml
  posts/index.xml
  pt/blogroll.opml
  sitemap.xml
  tags/ai/index.xml
  tags/alpine-linux/index.xml
  tags/bestof/index.xml
  tags/dev/index.xml
  tags/index.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

graph: click labels too
  layouts/partials/mini-graph.html
Due: forbid-external-images

openbox
  content/posts/2013-10-31-openbox-challenge-day-5.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

blogging
  content/posts/2014-03-14-about-blogging-here-and-everywhere.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

deploy: 28fc97460df8712c2d1b07fe4eb77e89e78464c3
  2014/03/about-blogging-here-and-everywhere/index.html
  2014/03/about-blogging-here-and-everywhere/index.md
  2014/04/pkgbuild-class-@-irc/index.html
  2014/08/serendipity...why-not/index.html
  2014/11/m-x-review-this-blog/index.html
  2021/12/hello-world-from-hugo/index.html
  2022/01/advent-of-code/index.html
  2022/02/hugo-compose-or-edit-blog-posts-from-the-web/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  graph.json
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/blogroll.opml
  random/index.html
  search/index.json
  sitemap.xml
  tags/index.html
  tags/index.xml
  tags/legacy/index.html
  tags/meta/index.html
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

openbox
  content/posts/2013-11-01-openbox-challenge-day-6.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

fisica 3
  content/pt/posts/2014-05-11-fisica-3-ufrj-sugestao-de-referencias.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: 6f1f30bfee91b36eef240db9c6a6e1e3e9f3aafe
  2013/10/openbox-challenge-day-1/index.html
  2013/10/openbox-challenge-day-5/index.html
  2013/11/openbox-challenge-day-6-now-with-xfce-/-goodbye/index.html
  2013/11/openbox-challenge-day-6-now-with-xfce-/-goodbye/index.md
  2013/11/some-ssd-benchmarking/index.html
  2013/11/trying-to-be-keyboard-centric/index.html
  2013/11/why-i-love-zsh/index.html
  2013/12/is-it-actually-bad-for-the-battery-of-a-laptop-to-leave-it-plugged-in/index.html
  2013/12/qa-with-nine-great-programmers/index.html
  2014/01/custom-search-engines/index.html
  2015/01/the-eudyptula-challenge/index.html
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  graph.json
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/blogroll.opml
  random/index.html
  search/index.json
  sitemap.xml
  tags/dev/index.html
  tags/index.html
  tags/index.xml
  tags/legacy/index.html
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

calculo
  content/pt/posts/2013-12-15-calculo-ufrj-sugestao-de-referencias.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: a71c1de5123ac9925813a8d02f6a047e54141ca2
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/2013/12/cálculo-@-ufrj-sugestão-de-referências/index.html
  pt/2013/12/cálculo-@-ufrj-sugestão-de-referências/index.md
  pt/2014/05/física-3-@-ufrj-sugestão-de-referências/index.html
  pt/2014/05/física-3-@-ufrj-sugestão-de-referências/index.md
  pt/2014/05/instalando-o-gentoo-a-partir-do-arch/index.html
  pt/2014/06/asciinema/index.html
  pt/404.html
  pt/blogroll.opml
  pt/index.xml
  pt/posts/2013-12-15-calculo-ufrj-sugestao-de-referencias/index.html
  pt/posts/2013-12-15-calculo-ufrj-sugestao-de-referencias/index.md
  pt/posts/2014-01-02-por-que-o-arch-linux/index.html
  pt/posts/2014-05-01-instalando-o-gentoo-a-partir-do-arch/index.html
  pt/posts/2014-05-11-fisica-3-ufrj-sugestao-de-referencias/index.html
  pt/posts/2014-05-11-fisica-3-ufrj-sugestao-de-referencias/index.md
  pt/posts/2014-06-29-asciinema/index.html
  pt/posts/index.html
  pt/posts/index.xml
  pt/search/index.json
  pt/sitemap.xml
  pt/tags/index.html
  pt/tags/index.xml
  pt/tags/legacy/index.html
  pt/tags/legacy/index.xml
  pt/tags/serenity/index.html
  pt/tags/serenity/index.xml
  sitemap.xml
  tags/index.html
  tags/index.xml
  tags/legacy/index.html
  tags/serenity/index.html
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

ads
  content/pt/posts/2014-03-02-bloqueando-websites-ads-malware-no-linux.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

ogre3d
  content/posts/2015-03-05-getting-started-with-ogre3d.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

deploy: baa93aa0fff77ac50d79aa28de7e2708b9900919
  2015/03/documented-dotfiles/index.html
  2015/03/getting-started-with-ogre3d/index.html
  2015/03/getting-started-with-ogre3d/index.md
  2015/03/recording-screencasts-on-linux/index.html
  2015/03/running-ogre3d-locally-without-installing-it/index.html
  2015/04/installing-haiku-from-an-existing-linux/index.html
  2016/09/linux-goodness-in-your-chromebook/index.html
  2017/02/arch-linux-on-macbook-installation-notes/index.html
  2022/01/advent-of-code/index.html
  blogroll.opml
  en/sitemap.xml
  graph.json
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/blogroll.opml
  random/index.html
  search/index.json
  sitemap.xml
  tags/dev/index.html
  tags/index.html
  tags/index.xml
  tags/legacy/index.html
  tags/legacy/index.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

xmonad
  content/posts/2015-03-04-faqflow-1-xmonad.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

root
  content/posts/2015-03-11-faqflow-2-android-upgrading-rooting-notes.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

Path conditions:
  check-broken-internal-links: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  check-coding-titles: any of: ^content/posts/.*(leetcode|bytebytego).*\.md$ and \.(md|markdown|mdown)$ and not (^content/posts/2025-12-30-kagi-add-leetcode-bang.md$) and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  check-duplicate-coding: any of: ^content/posts/.*(leetcode|bytebytego).*\.md$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  check-required-frontmatter: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (_index\.md$) and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  check-single-category: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  forbid-double-more: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  forbid-double-parens-in-shortcodes: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-external-images: any of: ^layouts/.*\.html$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-md-extension-in-hugo-internal-links: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-old-perrotta-dev: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$ and not (^(content/posts/2024-02-04-new-domain.md|content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md)$) and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  forbid-personal-emails: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-tulip: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-utm-analytics: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  replace-em-dashes: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  replace-shell-prompt: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  sort-blog-tags: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  strip-content-posts-prefix: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
