Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

Path conditions:
  forbid-md-extension-in-hugo-internal-links: any of: \.(md|markdown|mdown)$, but not: ^(schemas|vendor)/
  forbid-old-perrotta-dev: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$ and not (^(content/posts/2024-02-04-new-domain.md|content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md)$) and not (^(schemas|vendor)/)
  forbid-personal-emails: any of: \.(md|markdown|mdown)$, but not: ^(schemas|vendor)/
  forbid-tulip: any of: \.(md|markdown|mdown)$, but not: ^(schemas|vendor)/
  forbid-utm-analytics: any of: \.(md|markdown|mdown)$, but not: ^(schemas|vendor)/

less emojis
  layouts/_default/baseof.html
Due: none

no email on blogroll, canary
  content/blogroll.md
  content/canary.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 459608f996c248b5162fd97ce0ad737bdbfe8e4a
  blogroll.opml
  blogroll/index.html
  canary/index.html
  sitemap.xml
  tags/coding/index.html
Due: none

add projects
  config/_default/config.yml
  content/projects.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

add homebrew taps
  content/projects.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 88de0288e0e86220ce3b4fce403edc4ebaf96b1e
  blogroll.opml
  index.xml
  projects/index.html
  sitemap.xml
  tags/coding/index.html
Due: none

add projects page with git repos and open source packages
  content/projects.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 7415120d7c5ed8b34dbb919557a19d9eda691e17
  blogroll.opml
  index.xml
  projects/index.html
  sitemap.xml
  tags/coding/index.html
Due: none

claude: test changes before committing
  CLAUDE.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 471675d244d621bb408aa5d27e4dc587d452c940
  blogroll.opml
  tags/coding/index.html
Due: none

remove date from Coding, Projects, and Blogroll pages
  content/blogroll.md
  content/projects.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

last updated at
  layouts/_default/single.html
Due: none

deploy: 3a1eeacf60f30f35de8b098874d38701aa22b40d
  404.html
  ai/index.html
  blogroll.opml
  blogroll/index.html
  canary/index.html
  index.xml
  projects/index.html
  sitemap.xml
  tags/coding/index.html
Due: none

update old docs
  ci/check_post_titles.py
Due: none

enable openring integration
  .pre-commit-config.yaml
  content/blogroll.md
  layouts/partials/openring.html
  layouts/shortcodes/openring.html
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

prepare openring for CI
  .github/workflows/gh-pages.yml
  Justfile
  ci/build-openring.sh
Due: forbid-old-perrotta-dev

feat: add OpenRing webring integration
  .github/workflows/gh-pages.yml
  content/blogroll.md
  content/projects.md
  layouts/partials/openring.html
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: f28572afdbb10635e04711e1b6b0f22567afdab9
  blogroll.opml
  blogroll/index.html
  projects/index.html
  sitemap.xml
  tags/coding/index.html
Due: none

feat: make openring build optional in justfile
  .github/workflows/gh-pages.yml
  Justfile
Due: forbid-old-perrotta-dev

deploy: a7cbbbb13ef896d4d1cc7be6e08888a076f45d18
  blogroll.opml
  tags/coding/index.html
Due: none

fix: restore openring script with timeout and error handling
  ci/build-openring.sh
Due: none

deploy: bc958814c9dd21b8a8827e9a85dfc7dcca95254f
  blogroll.opml
  tags/coding/index.html
Due: none

fix: ensure openring is installed before use
  ci/build-openring.sh
Due: none

deploy: e890afb69e1c4317e368112d2ae5b467c138340b
  blogroll.opml
  blogroll/index.html
  tags/coding/index.html
Due: none

improve: add progress feedback to openring build script
  ci/build-openring.sh
Due: none

fix: improve error handling in openring script
  ci/build-openring.sh
Due: none

deploy: f94b8a90b2dd9485c6c359cf27487ae7069db356
  blogroll.opml
  blogroll/index.html
  tags/coding/index.html
Due: none

add openring post
  content/posts/2025-12-26-openring.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 8ee1e720de43d2d6b120acd8d112c6ffea467065
  2025/12/openring/index.html
  2025/12/ranger-lf/index.html
  404.html
  blogroll.opml
  blogroll/index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/meta/index.html
  tags/meta/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

add placeholder text to openring partial
  layouts/partials/openring.html
Due: none

deploy: b2f23bdefbefd823d06c8ecadc9db64620c2d837
  blogroll.opml
  blogroll/index.html
  tags/coding/index.html
Due: none

pre-commit.com
  content/projects.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 8706c5c172a61de942587d380ccf9a90cad051f4
  blogroll.opml
  blogroll/index.html
  projects/index.html
  sitemap.xml
  tags/coding/index.html
Due: none

2026
  config/_default/config.yml
Due: forbid-old-perrotta-dev

update footer social icons: cleaner email, RSS, GitHub icons
  layouts/_default/baseof.html
Due: none

standardize footer social icon sizes
  layouts/_default/baseof.html
Due: none
