Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

Path conditions:
  forbid-md-extension-in-hugo-internal-links: any of: \.(md|markdown|mdown)$
  forbid-old-perrotta-dev: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$, but not: ^(content/posts/2024-02-04-new-domain.md|content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md)$
  forbid-personal-emails: any of: \.(md|markdown|mdown)$
  forbid-tulip: any of: \.(md|markdown|mdown)$
  forbid-utm-analytics: any of: \.(md|markdown|mdown)$

deploy: b06585a87b5289de61432eeb51b3f25241042080
  2025/09/leetcode-#189-rotate-array/index.html
  404.html
  tags/coding/index.html
  tags/coding/index.xml
Due: none

leetcode 121
  content/posts/2025-09-07-leetcode-121-best-time-to-buy-and-sell-stock.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: c07731729a400d63c55e51b3f10232a4af3f75db
  2025/09/leetcode-#121-best-time-to-buy-and-sell-stock/index.html
  404.html
  index.html
  posts/index.html
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

add missing return
  content/posts/2025-09-07-leetcode-121-best-time-to-buy-and-sell-stock.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 393ee2b39ca119dce2b48ede05ecfe103c18ee33
  2025/09/leetcode-#121-best-time-to-buy-and-sell-stock/index.html
  tags/coding/index.xml
Due: none

fix
  content/posts/2025-09-05-leetcode-80-duplicate-from-sorted-array-ii.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 15471bd69ef8fa067b1b0ddf18b89998fa21defd
  2025/09/leetcode-#80-duplicate-from-sorted-array-ii/index.html
  tags/coding/index.xml
Due: none

new post: leetcode stock ii
  content/posts/2025-09-07-leetcode-122-best-time-to-buy-and-sell-stock-ii.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 9b1e70b7dbc847a738d396f981cc0de81135079c
  2025/09/leetcode-#122-best-time-to-buy-and-sell-stock-ii/index.html
  404.html
  index.html
  posts/index.html
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

glass oats
  content/posts/2025-04-20-overnight-oats.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

challenge
  content/posts/2025-09-06-leetcode-169-majority-element.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 7ebd2afea315fe196a336741ba97a3a6143333e9
  2025/04/overnight-oats/index.html
  2025/09/leetcode-#169-majority-element/index.html
  tags/bestof/index.xml
  tags/coding/index.xml
  tags/recipe/index.xml
  tags/serenity/index.xml
Due: none

new post: git delta
  content/posts/2025-06-16-git-delta.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: eba1e3d2d2a9a15c29ca8ab63c53eae7dd475120
  2025/06/git-delta/index.html
  posts/index.html
  sitemap.xml
  tags/bestof/index.html
  tags/bestof/index.xml
  tags/dev/index.html
Due: none

new post: career leverage
  content/posts/2025-09-07-career-leverage-as-a-developer.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 82efe6d2617bd245e6ecd56f11829d9bc20d7bb9
  2025/09/career-leverage-as-a-developer/index.html
  404.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

new post: hello?
  content/posts/2025-09-07-hello.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 126f74668ad80903d4564454fc3bf3e47f89e4e8
  2025/09/hello/index.html
  404.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

posts -> blog
  Justfile
  archetypes/blog.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

add aliases
  Justfile
Due: none

try XSLT indentation
  static/rss.xsl
Due: none

deploy: 5cfe2966e9430ecdcf92d8e3825327ed853f887b
  rss.xsl
Due: none

try XSLT indentation again
  static/rss.xsl
Due: none

deploy: f1a5ca8a440a11f3f5a4cd03dd1229ce90f28e74
  rss.xsl
Due: none

markdownlint
  .markdownlint-cli2.yaml
Due: forbid-old-perrotta-dev

# This is a combination of 2 commits. # This is the 1st commit message:
  static/rss.xsl
Due: none

deploy: 67c5d0f4fb54e77591f047e4d6da8d6ecdae2849
  rss.xsl
Due: none

new post: leetcode: jump game
  content/posts/2025-09-07-leetcode-55-jump-game.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 54e4df2aee67f47340e86890f00ccd62c398d362
  2025/09/leetcode-#55-jump-game/index.html
  404.html
  index.html
  posts/index.html
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

jump game greedy
  content/posts/2025-09-07-leetcode-55-jump-game.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 4488dd7bc6c982822f996c3ebc1cb8b09b44bdba
  2025/09/leetcode-#55-jump-game/index.html
  tags/coding/index.xml
Due: none

jump game ii
  content/posts/2025-09-07-leetcode-45-jump-game-ii.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: dc297fff2fad15660f48f27ce9eabf57958fdea9
  2025/09/leetcode-#45-jump-game-ii/index.html
  404.html
  index.html
  posts/index.html
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

new post: leetcode 68 text justification
  content/posts/2025-09-09-leetcode-68-text-justification.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: cead3dfbf60abe9821c55e61cf00bfb03b9dfe53
  2025/09/leetcode-#68-text-justification/index.html
  404.html
  index.html
  posts/index.html
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

new post: reverse words in a string
  content/posts/2025-09-10-leetcode-151-reverse-words-in-a-string.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: f6956e8c017df993ff2aaedd70a900ad91a5dba0
  2025/09/leetcode-#151-reverse-words-in-a-string/index.html
  404.html
  index.html
  posts/index.html
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

zigzag conversion
  content/posts/2025-09-10-leetcode-6-zigzag-conversion.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 60f2fd4dd4015a4244fda435d6bf63870bd07c07
  2025/09/leetcode-#6-zigzag-conversion/index.html
  404.html
  index.html
  posts/index.html
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

perl
  content/posts/2025-09-10-leetcode-6-zigzag-conversion.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics
