Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
# Install pre-commit itself:
#   $ pip install pre-commit
#     OR
#   $ brew install pre-commit
#
# Update all pre-commit hooks to latest version:
#   $ pre-commit autoupdate
#
# Install all default pre-commit hooks locally:
#   $ pre-commit install
#
# Apply a given pre-commit hook to all files:
#   $ pre-commit run --all-files <id>
#
# Apply all pre-commit hooks to all files:
#   $ pre-commit run --all-files
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # keep-sorted start
      - id: check-executables-have-shebangs
      - id: check-yaml
      - id: detect-private-key
      - id: trailing-whitespace
        # keep-sorted end
  # keep-sorted start
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        exclude: ^(content/posts/(2014|2015|2016)|content/posts/2024-07-09-kubectl-get-secret-with-jsonpath-add-newline.md|content/posts/2024-06-27-a-little.md|content/posts/2024-12-22-new-post-workflow.md)
        args:
          # keep-sorted start
          - -L=DeVault
          - -L=als
          - -L=ist
          - -L=sive
          # keep-sorted end
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.22.1
    hooks:
      - id: gitleaks
  - repo: https://github.com/google/keep-sorted
    rev: v0.5.1
    hooks:
      - id: keep-sorted
  - repo: https://github.com/google/yamlfmt
    rev: v0.15.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/lalten/check-gha-pinning
    rev: v1.3.0
    hooks:
      - id: check-gha-pinning
  - repo: https://github.com/shssoichiro/oxipng
    rev: v9.1.3
    hooks:
      - id: oxipng
  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.8
    hooks:
      - id: fix-ligatures
      - id: fix-smartquotes
  # Only run it every once in a while.
  # - repo: https://github.com/tcort/markdown-link-check
  #   rev: v3.13.6
  #   hooks:
  #     - id: markdown-link-check
  #       files: '^content/posts/2025-.*'
  #       args:
  #         - -q
  - repo: local
    hooks:
      - id: forbid-utm-analytics
        name: Forbid usage of UTM analytics / tracking
        entry: '\b(utm_source)\b'
        language: pygrep
        types:
          - markdown
      - id: forbid-old-perrotta-dev
        name: Forbid usage of previous domains
        entry: '\b(https://thiagowfx\.github\.io|www\.perrotta\.dev|blog\.perrotta\.dev)\b'
        language: pygrep
        types_or:
          - markdown
          - yaml
        exclude: ^(content/posts/2024-02-04-new-domain.md|content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md)$
      - id: forbid-md-extension-in-hugo-internal-links
        name: Forbid .md extension in hugo internal links
        entry: '.*\.md\" >\}\}'
        language: pygrep
        types:
          - markdown
# keep-sorted end

add just ping
  .github/workflows/gh-pages.yml
Due: forbid-old-perrotta-dev

deploy: b2449f8309ec1d5c4ba7fad936a60db8d934a6b9
  2025/02/ruby-string-escaping/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none

new post: ruby string escaping
  content/posts/2025-02-17-ruby-string-escaping.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: 6027f02d6101cbefd99ce8d1982a44aa337825c2
  2025/02/ruby-string-escaping/index.html
  index.xml
  posts/index.xml
  tags/dev/index.xml
Due: none

pre-commit
  content/posts/2025-02-11-linkedin-chronological-view.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: 6e245e4c261dc60f5619997aa4f0479188d4433c
  2025/02/linkedin-chronological-view/index.html
  index.xml
  posts/index.xml
  tags/privacy/index.xml
  tags/serenity/index.xml
Due: none

more pre-commit
  content/posts/2025-02-05-resetting-an-airtag.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: 5138629da1184022194d8cb2ceff8836ec152c23
  2025/02/no-printer-yes-paper/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

deploy: a3653ca6c71cb924677e8f7903992b3d78369d6d
  2025/02/no-printer-yes-paper/index.html
  index.xml
  posts/index.xml
  tags/serenity/index.xml
Due: none

deploy: 2a19091cf7c14805a3dfa876a2f13861e1a9529e
  2025/02/no-printer-yes-paper/index.html
  index.xml
  posts/index.xml
  tags/serenity/index.xml
Due: none

new post: no printer, yes paper
  content/posts/2025-02-18-no-printer-yes-paper.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: 582766773282abbb20428b8cda6c265171efed03
  2025/02/no-printer-yes-paper/index.html
  index.xml
  posts/index.xml
  tags/serenity/index.xml
Due: none

new post: notify search engines of new posts
  content/posts/2025-02-18-notify-search-engines-of-new-posts.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: 87c7bba1ee6e5ccc049fdbc8ba0730b2d532e225
  2025/02/notify-search-engines-of-new-posts/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/bestof/index.html
  tags/bestof/index.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/meta/index.html
  tags/meta/index.xml
  tags/selfhosted/index.html
  tags/selfhosted/index.xml
Due: none

new post: quick look preview yaml
  content/posts/2025-02-18-quick-look-preview-yaml-files-on-macos.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: 49dd250d4f8729880e54577eddaa44488e7e0742
  2025/02/quick-look-preview-yaml-files-on-macos/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/bestof/index.html
  tags/bestof/index.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/macos/index.html
  tags/macos/index.xml
Due: none

new post: zsh magic equal subst
  content/posts/2025-02-18-zsh-setopt-magic-equal-subst.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: 66fc2f996b97d20ee2bffe34d433e52f0aa3acf7
  2025/02/zsh-setopt-magic_equal_subst/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/linux/index.html
  tags/linux/index.xml
  tags/macos/index.html
  tags/macos/index.xml
Due: none

add missing prefix
  content/posts/2025-02-18-zsh-setopt-magic-equal-subst.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: ca495577735da9707116286a3e6c043ef6d9c544
  2025/02/zsh-setopt-magic_equal_subst/index.html
  index.xml
  posts/index.xml
  tags/dev/index.xml
  tags/linux/index.xml
  tags/macos/index.xml
Due: none

deploy: 70b43664f177e4db284b486811ac72cd2f44c3d4
  2025/02/git-prune-gone-upstream-branches/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none

new post: gone upstream branches
  content/posts/2025-02-20-git-prune-gone-upstream-branches.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: 29f179d3cfc97f73090ffa4c8b2724312879163a
  2025/02/git-prune-gone-upstream-branches/index.html
  index.xml
  posts/index.xml
  tags/dev/index.xml
Due: none

new post: kill the newsletter
  content/posts/2025-02-20-kill-the-newsletter.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: d7510f34537f5e067c947b8c35cb5927f1883b10
  2025/02/kill-the-newsletter/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/privacy/index.html
  tags/privacy/index.xml
  tags/selfhosted/index.html
  tags/selfhosted/index.xml
Due: none

new post: google meet dashes
  content/posts/2025-02-21-google-meet-dashes.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: bfd757392994a874a04fe1f8de075bbff6c3a242
  2025/02/google-meet-dashes/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

insert
  content/posts/2024-12-21-default-apps-2024.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: fe213e0437cbdb257e47590f6cf3026eba39633b
  2024/12/default-apps-2024/index.html
  tags/bestof/index.xml
  tags/linux/index.xml
  tags/macos/index.xml
Due: none

new post: coffee
  content/posts/2025-02-25-coffee.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: 633d4a6c1667796ae76fa10755f7708fe11b4b81
  2025/02/coffee/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

deploy: df2c644613b73efd1e9f6008038ccacbb06e340f
  2025/02/gh-pr-view/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/linux/index.html
  tags/linux/index.xml
  tags/macos/index.html
  tags/macos/index.xml
Due: none

new post: gh pr view
  content/posts/2025-02-25-gh-pr-view.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: 6c4e105e4d64e65c61079c8592b2666130b768ef
  2025/02/gh-pr-view/index.html
  index.xml
  posts/index.xml
  tags/dev/index.xml
  tags/linux/index.xml
  tags/macos/index.xml
Due: none

Auto-update pre-commit hooks
  .pre-commit-config.yaml
Due: forbid-old-perrotta-dev

new post: logseq aliases
  content/posts/2025-03-01-logseq-aliases.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: 49e34c24897f386d2395237e47d19448a1b18226
  2025/03/logseq-aliases/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/pkm/index.html
  tags/pkm/index.xml
Due: none

formatting
  content/posts/2025-03-01-logseq-aliases.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: 9be000c5d544ae99d5a6574ec67dfa906fc5fddf
  2025/03/logseq-aliases/index.html
  index.xml
  posts/index.xml
  tags/pkm/index.xml
Due: none

new post: grayjay
  content/posts/2025-03-02-grayjay.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links
