Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

Path conditions:
  forbid-md-extension-in-hugo-internal-links: any of: \.(md|markdown|mdown)$, but not: ^(schemas|vendor)/
  forbid-old-perrotta-dev: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$ and not (^(content/posts/2024-02-04-new-domain.md|content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md)$) and not (^(schemas|vendor)/)
  forbid-personal-emails: any of: \.(md|markdown|mdown)$, but not: ^(schemas|vendor)/
  forbid-tulip: any of: \.(md|markdown|mdown)$, but not: ^(schemas|vendor)/
  forbid-utm-analytics: any of: \.(md|markdown|mdown)$, but not: ^(schemas|vendor)/

deploy: 6cf502c7bf6c42bd9fc4e02ab7eb7dee480d3311
  2024/12/docker-image-size/index.html
  2025/12/reordering-mobile-editing-icons-in-logseq/index.html
  404.html
  blogroll.opml
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

toolbar
  content/posts/2025-12-06-reordering-mobile-editing-icons-in-logseq.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

offloading ios apps
  content/posts/2025-12-06-offloading-ios-apps.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: a8c0194764214482472eb90546d7008e802fb736
  2025/12/offloading-ios-apps/index.html
  2025/12/reordering-mobile-editing-icons-in-logseq/index.html
  404.html
  blogroll.opml
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
  tags/privacy/index.html
  tags/privacy/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

simplify minification
  Justfile
Due: none

deploy: 75f3ab86099e2265171b55e4dc4309b11d11da8e
  blogroll.opml
  tags/coding/index.html
Due: none

leetcode 22
  content/posts/2025-12-06-leetcode-22-generate-parentheses.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: b5efc910fefb72f631a3c8ee2dd617cdc0906f3f
  2025/12/leetcode-#22-generate-parentheses/index.html
  404.html
  blogroll.opml
  posts/index.html
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

leetcode 195
  content/posts/2025-12-06-leetcode-195-tenth-line.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: da006e9677dcb0325bf73846fb24ef4c007e05c6
  2025/12/leetcode-#195-tenth-line/index.html
  404.html
  blogroll.opml
  posts/index.html
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

leetcode 257
  content/posts/2025-12-06-leetcode-257-binary-tree-paths.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 90c254b8bcd0970cd66a0b4c91598f3057288ae7
  2025/12/leetcode-#257-binary-tree-paths/index.html
  404.html
  blogroll.opml
  posts/index.html
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

deploy: 8e0abed6f51bca59608e8d9c89534db70d2301ca
  2024/12/advent-of-code-2024-day-4/index.html
  2024/12/advent-of-code-2024-day-5/index.html
  2024/12/bash-glob-hidden-files-recursively/index.html
  2024/12/finding-linters/index.html
  blogroll.opml
  tags/coding/index.html
Due: none

Fix link formatting in cdtmp.md
  content/posts/2024-10-07-cdtmp.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: a7fff9b2ca3e40ac32c1348d10c4ab0da51f691d
  2024/10/cdtmp-change-to-a-temporary-directory/index.html
  2024/12/.gitignore-without-.gitignore/index.html
  2024/12/advent-of-code-2024-day-11/index.html
  2024/12/advent-of-code-2024-day-6/index.html
  2024/12/advent-of-code-2024-day-7/index.html
  2024/12/advent-of-code-discussion-group/index.html
  2024/12/alpine-linux-3.21/index.html
  2024/12/docker-build-ignore-cache/index.html
  2024/12/just/index.html
  2024/12/semantic-versioning-constraints/index.html
  blogroll.opml
  sitemap.xml
  tags/bestof/index.html
  tags/coding/index.html
  tags/dev/index.html
Due: none

fix typo
  content/posts/2025-11-30-python-is-python3-macos-homebrew.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 936e132eb861788eb95e0ea248993e94715d2dc5
  2024/12/git-push--force-with-style/index.html
  2024/12/hugo-merge-two-tags/index.html
  2024/12/kubernetes-debugging-services/index.html
  2024/12/kubernetes-tail-logs-from-pods-with-stern/index.html
  2024/12/manage-your-kindle-library-online/index.html
  2024/12/pre-commit-create-hooks-for-unsupported-tools/index.html
  2024/12/skopeo-operate-container-images-and-registries/index.html
  2025/11/python-is-python3-with-macos-homebrew/index.html
  blogroll.opml
  index.xml
  posts/index.xml
  sitemap.xml
  tags/bestof/index.html
  tags/bestof/index.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
Due: none

miniflux and netnewswire
  content/posts/2025-12-20-miniflux-netnewswire.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: b4e112f2528df3edd563e4986568f272a0335a75
  2025/12/miniflux-netnewswire-integration/index.html
  404.html
  blogroll.opml
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
  tags/selfhosted/index.html
  tags/selfhosted/index.xml
Due: none

word order
  content/posts/2025-12-20-miniflux-netnewswire.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 9b365274002e72f87bbc5c8f3c952c85d9bdca78
  2025/12/miniflux-netnewswire-integration/index.html
  blogroll.opml
  index.xml
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
  tags/selfhosted/index.html
  tags/selfhosted/index.xml
Due: none

claude context window percentage
  content/posts/2025-12-20-claude-code-add-context-window-percentage-to-status-bar.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 6d3338c76f4c5f131dff18f25327ca66a10230eb
  2025/12/claude-code-add-context-window-to-status-line/index.html
  404.html
  blogroll.opml
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
Due: none

vi navigation
  content/posts/2025-12-21-j-k-navigation.md
  layouts/_default/single.html
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

arrows
  content/posts/2025-12-21-j-k-navigation.md
  layouts/_default/single.html
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

add light/dark mode toggle
  layouts/_default/baseof.html
  layouts/partials/style.html
  static/theme.css
Due: none

fix contrast
  static/theme.css
Due: none

deploy: ece92018ed1d18c44d01b1b132d6af80975cd8f8
  blogroll.opml
  tags/coding/index.html
  theme.css
Due: none

add friends section to blogroll
  data/blogroll.yaml
  layouts/index.opml.opml
  layouts/shortcodes/blogroll.html
  schemas/blogroll.json
Due: forbid-old-perrotta-dev

deploy: 07519c5cc9183656079c67fd29b51808016b7fa1
  blogroll.opml
  blogroll/index.html
  index.xml
  tags/coding/index.html
Due: none

claude code stash
  content/posts/2025-12-21-claude-code-stash.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: dce5973bb33c75eb49706a3a4ed284d8301097b6
  2024/12/default-apps-2024/index.html
  2025/12/claude-code-stash/index.html
  2025/12/jk-for-navigation/index.html
  404.html
  blogroll.opml
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
Due: none

256kb.club
  content/posts/2025-05-17-blog-directories.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: f28e2ed8be80b1c49e53957b2fdb4a1ec8f8162a
  2025/05/blog-directories/index.html
  blogroll.opml
  sitemap.xml
  tags/coding/index.html
  tags/selfhosted/index.html
  tags/selfhosted/index.xml
  tags/serenity/index.html
Due: none

Add separator before reply via email section
  layouts/_default/single.html
Due: none

Add separator to RSS feed items
  layouts/_default/rss.xml
Due: none
