Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

Path conditions:
  forbid-md-extension-in-hugo-internal-links: any of: \.(md|markdown|mdown)$
  forbid-old-perrotta-dev: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$, but not: ^(content/posts/2024-02-04-new-domain.md|content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md)$
  forbid-personal-emails: any of: \.(md|markdown|mdown)$
  forbid-tulip: any of: \.(md|markdown|mdown)$
  forbid-utm-analytics: any of: \.(md|markdown|mdown)$

however
  content/posts/2025-09-21-taking-oncall.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: a4101d45582fdb757ab18674e9db4318a6879a48
  2025/09/taking-oncall/index.html
  index.xml
  posts/index.xml
  tags/coding/index.html
  tags/dev/index.xml
Due: none

new post: losing an air tag
  content/posts/2025-09-21-losing-an-airtag.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 450710ab1d51f68cc041ec26babcb77288b5543d
  2025/09/losing-an-airtag/index.html
  404.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

keep-sorted again
  content/posts/2025-09-22-go-keep-sorted.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 028dc5ba1b128ce014c72c348e74d768ac6750d9
  2025/09/go/keep-sorted/index.html
  404.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
Due: none

new post: homebrew command not found
  content/posts/2025-09-23-homebrew-command-not-found.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 8c29f0328fa35e421fae37a1eba7432c5104e914
  2025/09/homebrew-command-not-found/index.html
  404.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/bestof/index.html
  tags/bestof/index.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

claude
  content/posts/2025-09-24-an-ordinary-day-with-claude.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 512dcd02590830bcdddf390d196285bd9d947221
  2025/09/an-ordinary-day-with-claude/index.html
  404.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

new post: whiteboard mark colors
  content/posts/2025-09-25-whiteboard-mark-colors.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 81a04958bfefdbe8a5859031fd36d0ce440878ae
  2025/09/whiteboard-mark-colors/index.html
  404.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

new post: mv case sensitivity
  content/posts/2025-09-25-mv-case-sensitivity.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: be8040865c1445db965cefb78f53ab1a2e86aa8f
  2025/09/mv-case-sensitivity/index.html
  404.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
Due: none

new post: pancake
  content/posts/2025-09-25-pancake-potpourri-scripts.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 5e469514e997106d8101ad811c465c68e1b91497
  2025/09/pancake-potpourri-scripts/index.html
  404.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/bestof/index.html
  tags/bestof/index.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

new post: responsible adult
  content/posts/2025-09-26-responsible-adult-with-a-digital-calendar.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 766d949223d34f61c421af7b5eb9178bf747d834
  2025/09/responsible-adult-with-a-digital-calendar/index.html
  404.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

just clean: git clean -x -f -d
  Justfile
Due: none

deploy: b77d9ae0b42f47e7d928672da332a6ef0c8f37fa
  tags/coding/index.html
Due: none

new post: kube memory usage
  content/posts/2025-09-26-kubernetes-pod-memory-usage.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 535d4d558ffd4c142c3fb0f7a68cbe67c6b1d3ff
  2025/09/kubernetes-pod-memory-usage/index.html
  404.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
Due: none

new post: get your shit together
  content/posts/2025-09-27-the-get-your-shit-together-day.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: fd8c5bf2fb4da5f0c8ca30ea5cd40bbea1e567b9
  2025/09/the-get-your-shit-together-day/index.html
  404.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
  tags/meta/index.html
  tags/meta/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

pancake pritunl
  content/posts/2025-09-28-new-script-pritunl-login-via-cli.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 4b38f09fb8a55e788556c61f93a095d52cde2ae1
  2025/09/new-script-pritunl-login-via-cli/index.html
  404.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
Due: none

new post: git blame
  content/posts/2025-09-29-git-blame-prior-commits.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 4a912b756ff33638bece2eedcc88509661b62d22
  2025/09/git-blame-prior-commits/index.html
  404.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
Due: none

add source
  content/posts/2025-09-29-git-blame-prior-commits.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: e613442ac15252eafdc29f0c4c9be4f3f820b389
  2025/09/git-blame-prior-commits/index.html
  index.xml
  posts/index.xml
  tags/coding/index.html
  tags/dev/index.xml
Due: none

deploy: bfc2d4a6e9dc1a200c016142d4490e963bccc296
  2024/07/rejection/index.html
  tags/coding/index.html
Due: none

sd-world
  content/posts/2024-01-28-sd-world.md
  content/posts/2025-10-01-new-script-sd-world.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 90c053f2fa98d191ea62ed67ab5e95e04400eb61
  2024/01/sd-world-perform-a-full-system-upgrade/index.html
  2025/10/new-script-sd-world-perform-a-full-system-upgrade/index.html
  404.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/bestof/index.html
  tags/bestof/index.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
Due: none

Auto-update pre-commit hooks
  .pre-commit-config.yaml
Due: forbid-old-perrotta-dev

deploy: 2c5fe9200dc1775e4108a5b72f406a5f1542abff
  tags/coding/index.html
Due: none

deploy: b03b36be1b6cf4cf68509760b2fcc9b268f8fa34
  tags/coding/index.html
Due: none

deploy: 086eac60453440933c45cd42512dc52b0d617849
  robots.txt
  tags/coding/index.html
Due: none

new post: hushlogin
  content/posts/2025-10-02-hushlogin.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: b882ba45a310e8aff3dbb72e2196d03923faa5f4
  2025/10/.hushlogin/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
Due: none

new post: claude code cheatsheet
  content/posts/2025-09-20-hacking-comments-with-json.md
  content/posts/2025-10-01-claude-code-cheatsheet.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics
