Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbid-utm-analytics, forbid-www-perrotta-dev

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
# Install pre-commit itself:
#   $ pip install pre-commit
#     OR
#   $ brew install pre-commit
#
# Update all pre-commit hooks to latest version:
#   $ pre-commit autoupdate
#
# Install all default pre-commit hooks locally:
#   $ pre-commit install
#
# Apply a given pre-commit hook to all files:
#   $ pre-commit run --all-files <id>
#
# Apply all pre-commit hooks to all files:
#   $ pre-commit run --all-files
repos:
  # keep-sorted start
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        exclude: ^(content/posts/(2014|2015|2016)|content/posts/2024-07-09-kubectl-get-secret-with-jsonpath-add-newline.md|content/posts/2024-06-27-a-little.md|content/posts/2024-12-22-new-post-workflow.md)
        args:
          # keep-sorted start
          - -L=DeVault
          - -L=als
          - -L=ist
          - -L=sive
          # keep-sorted end
  - repo: https://github.com/google/keep-sorted
    rev: v0.5.1
    hooks:
      - id: keep-sorted
  - repo: https://github.com/google/yamlfmt
    rev: v0.14.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # keep-sorted start
      - id: check-executables-have-shebangs
      - id: check-symlinks
      - id: check-yaml
      - id: detect-private-key
      - id: pretty-format-json
        args:
          - --autofix
          - --no-sort-keys
      - id: sort-simple-yaml
      - id: trailing-whitespace
        # keep-sorted end
  - repo: https://github.com/shssoichiro/oxipng
    rev: v9.1.3
    hooks:
      - id: oxipng
  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.8
    hooks:
      - id: fix-ligatures
      - id: fix-smartquotes
  - repo: local
    hooks:
      - id: forbid-utm-analytics
        name: Forbid usage of UTM analytics / tracking
        entry: '\b(utm_source)\b'
        language: pygrep
        types:
          - markdown
      - id: forbid-www-perrotta-dev
        name: Forbid usage of previous domains
        entry: '\b(thiagowfx\.github\.io|www\.perrotta\.dev)\b'
        language: pygrep
        types_or:
          - markdown
          - yaml
        exclude: ^(README\.md|\.pre-commit-config\.yaml|content/posts/2024-02-04-new-domain.md|content/posts/2022-02-18-hugo-compose-or-edit-blog-posts-from-the-web.md|content/posts/2022-10-09-do-i-still-remember-how-to-blog.md)$
# keep-sorted end

fix h3 before h2
  layouts/_default/list.html
Due: none

deploy: 066cd1083c0532cd70b1806f5b038c4aeda02966
  posts/index.html
  tags/aoc/index.html
  tags/bestof/index.html
  tags/dev/index.html
  tags/linux/index.html
  tags/macos/index.html
  tags/meta/index.html
  tags/portuguese/index.html
  tags/privacy/index.html
  tags/selfhosted/index.html
  tags/serenity/index.html
Due: none

skopeo: add note about source
  content/posts/2024-12-17-skopeo-operate-container-images-and-registries.md
Due: forbid-utm-analytics, forbid-www-perrotta-dev

deploy: 1017acb88bcce153e7a853cc253f96c799e2d254
  2024/12/skopeo-operate-container-images-and-registries/index.html
  tags/bestof/index.xml
Due: none

new post: immersion
  content/posts/2025-01-02-fiction.md
Due: forbid-utm-analytics, forbid-www-perrotta-dev

deploy: 8f8d7e8b7aaf15e95448faf776bf0ed2e0be8a7b
  2025/01/fiction/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

new post: corpspeak bingo
  content/posts/2025-01-02-corpspeak-bingo.md
Due: forbid-utm-analytics, forbid-www-perrotta-dev

deploy: c95fffac7ea7221f606f2a161b8ff601c20c4a41
  2025/01/corpspeak-bingo/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

deploy: 7d31f84214c4a8843657194a54e34f7772982ebc
  2025/01/100-days-to-offload/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/meta/index.html
  tags/meta/index.xml
Due: none

deploy: 80676281e82f188eb9c0fb16830b0ff4d042e47c
  2025/01/100-days-to-offload/index.html
  index.xml
  posts/index.xml
  tags/meta/index.xml
Due: none

new post: 100 days to offload
  content/posts/2025-01-03-100-days-to-offload.md
Due: forbid-utm-analytics, forbid-www-perrotta-dev

slightly increase font size, adjust gray color contrast
  layouts/_default/list.html
  layouts/partials/style.html
Due: none

deploy: 9d9c7d73c72ffb07201d7cbe7677fba9a23b2274
  2025/01/100-days-to-offload/index.html
  index.xml
  posts/index.xml
  tags/meta/index.xml
Due: none

new post: git: update master to main
  content/posts/2025-01-03-git-update-master-to-main.md
Due: forbid-utm-analytics, forbid-www-perrotta-dev

deploy: 4fd633bff7dea23a5e17dd7996cdc0f17df93510
  2025/01/git-update-master-to-main/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none

deploy: f8e1985218e4509a9c4488746693c4a7ef14e2ab
  2025/01/cookiecutter-document-variables/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none

new post: cookiecutter: document variables
  content/posts/2025-01-03-cookiecutter-document-variables.md
Due: forbid-utm-analytics, forbid-www-perrotta-dev

deploy: efdfb9634601071ec7cbb1f8db571ca836e46dcd
  2025/01/cookiecutter-document-variables/index.html
  index.xml
  posts/index.xml
  tags/dev/index.xml
Due: none

trains amend
  content/posts/2024-12-30-trains-in-europe.md
Due: forbid-utm-analytics, forbid-www-perrotta-dev

deploy: d166472a735539c075913ff3227601a0bd13d352
  2024/12/trains-in-europe/index.html
  index.xml
  posts/index.xml
  tags/bestof/index.xml
  tags/serenity/index.xml
Due: none

decrease title font size
  layouts/_default/baseof.html
  layouts/partials/style.html
Due: none

new post: wallpaper
  content/posts/2025-01-03-unsplash-wallpapers.md
Due: forbid-utm-analytics, forbid-www-perrotta-dev

deploy: 62a4317acd5fd84ed91fed9d0e67165007cb7655
  2025/01/unsplash-wallpapers/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

Update config.yml
  config.yml
Due: forbid-www-perrotta-dev

deploy: 18bfcd44795a65c13d60aa22df5b9f4c513292fd
  index.xml
  posts/index.xml
  tags/bestof/index.xml
  tags/dev/index.xml
  tags/linux/index.xml
  tags/meta/index.xml
  tags/selfhosted/index.xml
  tags/serenity/index.xml
Due: none

Update 2024-12-31-devops-career-progression.md
  content/posts/2024-12-31-devops-career-progression.md
Due: forbid-utm-analytics, forbid-www-perrotta-dev

deploy: 4a204b01148a2af6e61c9cbe16f007417bf10ee4
  2024/12/devops-career-progression/index.html
  posts/index.html
  tags/bestof/index.html
  tags/bestof/index.xml
  tags/dev/index.html
Due: none

old post: thiagowfx/arch-installation-notes-macbook.markdown
  content/posts/2017-02-11-arch-linux-on-macbook-installation-notes.md
Due: forbid-utm-analytics, forbid-www-perrotta-dev

deploy: 41fcbef48c0d4388374d9631b481bdaaf84a2b45
  2025/01/arch-linux-on-macbook-installation-notes/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/linux/index.html
  tags/linux/index.xml
Due: none

new post: find boost cmake
  content/posts/2021-12-12-find-boost-cmake.md
Due: forbid-utm-analytics, forbid-www-perrotta-dev

fix dates
  content/posts/2017-02-11-arch-linux-on-macbook-installation-notes.md
  content/posts/2021-12-12-find-boost-cmake.md
Due: forbid-utm-analytics, forbid-www-perrotta-dev

deploy: a36ac4910d67d064ca966dd48bd67cdc18c78012
  2025/01/findboost.cmake/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/bestof/index.html
  tags/bestof/index.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/linux/index.html
  tags/linux/index.xml
Due: none

deploy: 9a4f24d3bc6c97731ec849e6a9d11758959076d7
  2017/02/arch-linux-on-macbook-installation-notes/index.html
  2021/12/findboost.cmake/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/bestof/index.html
  tags/bestof/index.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/linux/index.html
  tags/linux/index.xml
Due: none

deploy: 5da32e1832828dd164ebbbf58426341bf9e977e3
  2025/01/ios-lockdown-mode/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/privacy/index.html
  tags/privacy/index.xml
Due: none

new post: ios lockdown mode
  content/posts/2025-01-04-ios-lockdown-mode.md
Due: forbid-utm-analytics, forbid-www-perrotta-dev

deploy: a45f4e9533aa3b39ba5cd1af4c63057016d5cb71
  2025/01/ios-lockdown-mode/index.html
  index.xml
  posts/index.xml
  tags/dev/index.xml
  tags/privacy/index.xml
Due: none

new post: my approach to running a link blog
  content/posts/2025-01-05-reply-to-my-approach-to-running-a-link-blog.md
Due: forbid-utm-analytics, forbid-www-perrotta-dev

deploy: a88f22397db1a2cf6ca471113ca4553bd0423f60
  2025/01/reply-to-my-approach-to-running-a-link-blog/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/meta/index.html
  tags/meta/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none
