Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-tulip, forbid-utm-analytics

forbid-md-extension-in-hugo-internal-links:
  name: Forbid usage of .md extension in hugo internal links
  entry: .*\.md\" >\}\}
  language: pygrep

forbid-old-perrotta-dev:
  name: Forbid usage of previous domains
  entry: \b(https://thiagowfx\.github\.io|www\.perrotta\.dev|blog\.perrotta\.dev)\b
  language: pygrep

forbid-tulip:
  name: Forbid usage of Tulip
  entry: tulip
  language: pygrep

forbid-utm-analytics:
  name: Forbid usage of UTM analytics / tracking
  entry: \b(utm_source)\b
  language: pygrep

deploy: 3554af9bf7e6de244b5868551bb3f5a7b23a10ab
  2025/06/pdb-minavailable-and-maxunavailable-cannot-be-both-set/index.html
  index.xml
  posts/index.xml
  tags/dev/index.xml
  tags/selfhosted/index.xml
Due: none

new post: argocd: upgrade to v3
  content/posts/2025-06-02-argocd-upgrade-to-v3,-remove-helm-labels.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-tulip, forbid-utm-analytics

deploy: 62dfaa7196731d47f41acbbe14fb0e2b98857e0f
  2025/06/argocd-upgrade-to-v3-remove-helm-labels/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/selfhosted/index.html
  tags/selfhosted/index.xml
Due: none

new post: anitya
  content/posts/2025-06-03-alpine-linux-packaging-track-new-software-releases.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-tulip, forbid-utm-analytics

deploy: ce731f4898749e52b7f5146be9b0f67a15136455
  2025/06/alpine-linux-packaging-track-new-software-releases/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/bestof/index.html
  tags/bestof/index.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/linux/index.html
  tags/linux/index.xml
Due: none

new post: git pull: auth issues
  content/posts/2025-06-03-git-pull-authentication-issues.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-tulip, forbid-utm-analytics

deploy: 18a7f67c752256c3ee7891b35e9711777650a5f9
  2025/06/git-pull-authentication-issues/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none

new post: alpine linux package is gone
  content/posts/2025-06-04-alpine-linux-package-is-gone.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-tulip, forbid-utm-analytics

deploy: b4c165ab3689839848775471643d90334bccb301
  2025/06/alpine-linux-package-is-gone/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/linux/index.html
  tags/linux/index.xml
Due: none

new post: alpine: install package from edge
  content/posts/2025-06-04-alpine-linux-dockerfile-install-package-from-edge.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-tulip, forbid-utm-analytics

deploy: 48c045813899cff8f5be40c8a421e1f97911d6ff
  2025/06/alpine-linux-dockerfile-install-package-from-edge/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/linux/index.html
  tags/linux/index.xml
Due: none

new post: golang fuzzing
  content/posts/2025-05-28-golang-fuzzing.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-tulip, forbid-utm-analytics

deploy: 1be44af875a0fd39c68e54aec95a651663ebaeb7
  2025/05/golang-fuzzing/index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none

adjust format justfile hook
  .pre-commit-config.yaml
Due: forbid-old-perrotta-dev

ci(pre-commit): use my own repo for format-justfile
  .pre-commit-config.yaml
Due: forbid-old-perrotta-dev

ci(pre-commit): update SHA
  .pre-commit-config.yaml
Due: forbid-old-perrotta-dev

new post: app store geo blocking
  content/posts/2025-06-05-apple-app-store-geo-blocking.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-tulip, forbid-utm-analytics

deploy: d725cbd2d7a006e17d3a9c9e3398ee3dd30061fe
  2025/06/apple-app-store-geo-blocking/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/privacy/index.html
  tags/privacy/index.xml
Due: none

amend post
  content/posts/2025-01-09-argocd-cache-key-is-missing.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-tulip, forbid-utm-analytics

deploy: bc6b8eede2d6ba9c9e5d61efdc0c24f587f64081
  2025/01/argocd-cache-key-is-missing/index.html
  tags/selfhosted/index.xml
Due: none

ci(pre-commit): add prettier for html
  .pre-commit-config.yaml
  layouts/404.html
  layouts/_default/list.html
  layouts/_default/single.html
  layouts/index.html
  layouts/partials/style.html
Due: forbid-old-perrotta-dev

ci(pre-commit): add prettier for yaml
  .github/workflows/gh-pages.yml
  .pre-commit-config.yaml
Due: forbid-old-perrotta-dev

fix prettier exclusion list
  .pre-commit-config.yaml
Due: forbid-old-perrotta-dev

update CLAUDE guidelines
  CLAUDE.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-tulip, forbid-utm-analytics

new post: bad interpreter
  content/posts/2025-06-08-bad-interpreter-perl-no-such-file.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-tulip, forbid-utm-analytics

deploy: c501eccc8d9fd4b4f07a30170900636b63799196
  2025/06/bad-interpreter-perl-no-such-file-or-directory/index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none

new post: jira service management
  content/posts/2025-06-10-jira-service-management-search-is-terrible.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-tulip, forbid-utm-analytics

deploy: 482645c6c7e9e3f73669d835c2682a0ac4c5f32b
  2025/06/jira-service-management-search-is-terrible/index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none

new post: argocd stuck in unknown
  content/posts/2025-06-12-argocd-application-stuck-in-unknown.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-tulip, forbid-utm-analytics

deploy: 24953709d57b7efa7744a5b3b878f9abca0c6c67
  2025/06/argocd-application-stuck-in-unknown/index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/selfhosted/index.html
  tags/selfhosted/index.xml
Due: none

add shell prompts
  content/posts/2025-06-12-argocd-application-stuck-in-unknown.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-tulip, forbid-utm-analytics

deploy: d8e1df69bf9a85a039d15941518b2384c674f784
  2025/06/argocd-application-stuck-in-unknown/index.html
  index.xml
  posts/index.xml
  tags/dev/index.xml
  tags/selfhosted/index.xml
Due: none

gitmessage
  content/posts/2025-06-12-git-commit-automatically-add-pull-request-template.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-tulip, forbid-utm-analytics

deploy: 35e4e64ac9642e32598279efb6fa7733767e77d9
  2025/06/git-commit-automatically-add-pull-request-template/index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/bestof/index.html
  tags/bestof/index.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none

new post: paolo the plumber
  content/posts/2025-06-12-paolo-the-plumber.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-tulip, forbid-utm-analytics

deploy: 30151d5b7c7387e3dc3fe03aa802848268bb90e6
  2025/06/paolo-the-plumber/index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

new post: gitignore claude code
  content/posts/2025-06-12-git-ignore-claude-settings-local-json.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-tulip, forbid-utm-analytics

fix
  content/posts/2025-06-12-gitignore-claude-settings-local-json.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-tulip, forbid-utm-analytics

deploy: 8d31cac540903ef53545d78345d9eaba6648fd69
  2025/06/.gitignore-.claude/settings.local.json/index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none

Path conditions:
  forbid-md-extension-in-hugo-internal-links: any of: \.(md|markdown|mdown)$
  forbid-old-perrotta-dev: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$, but not: ^(content/posts/2024-02-04-new-domain.md|content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md)$
  forbid-tulip: any of: \.(md|markdown|mdown)$
  forbid-utm-analytics: any of: \.(md|markdown|mdown)$
