Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-broken-internal-links, check-coding-titles, check-duplicate-coding, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-external-images, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

Path conditions:
  check-broken-internal-links: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  check-coding-titles: any of: ^content/posts/.*(leetcode|bytebytego).*\.md$ and \.(md|markdown|mdown)$ and not (^content/posts/2025-12-30-kagi-add-leetcode-bang.md$) and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  check-duplicate-coding: any of: ^content/posts/.*(leetcode|bytebytego).*\.md$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  check-required-frontmatter: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (_index\.md$) and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  check-single-category: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  forbid-double-more: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  forbid-double-parens-in-shortcodes: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-external-images: any of: ^layouts/.*\.html$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-md-extension-in-hugo-internal-links: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-old-perrotta-dev: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$ and not (^(content/posts/2024-02-04-new-domain.md|content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md)$) and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  forbid-personal-emails: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-tulip: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-utm-analytics: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  replace-em-dashes: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  replace-shell-prompt: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  sort-blog-tags: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  strip-content-posts-prefix: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)

deploy: e5f52c8906e2d9074964bfc1cf4f7b576c0690e6
  2022/01/advent-of-code/index.html
  2025/03/reply-to-growth-at-bigtech/index.html
  2025/03/using-keep-sorted-to-keep-your-~/.gitconfig-tidy/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/2014/03/erro-de-sincronização-no-chromium/index.html
  pt/2014/04/séries-com-finais-ruins/index.html
  pt/2014/04/séries-com-finais-ruins/index.md
  pt/blogroll.opml
  pt/index.xml
  pt/posts/2014-03-29-status-erro-de-sincronizacao-no-chromium/index.html
  pt/posts/2014-04-10-btrfs-lets-go/index.html
  pt/posts/2014-04-10-series-com-finais-ruins/index.html
  pt/posts/2014-04-10-series-com-finais-ruins/index.md
  pt/posts/index.html
  pt/posts/index.xml
  pt/search/index.json
  pt/sitemap.xml
  pt/tags/index.html
  pt/tags/index.xml
  pt/tags/legacy/index.html
  pt/tags/legacy/index.xml
  pt/tags/serenity/index.html
  pt/tags/serenity/index.xml
  sitemap.xml
  tags/index.html
  tags/index.xml
  tags/legacy/index.html
  tags/serenity/index.html
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

bateria
  content/pt/posts/2013-12-01-economizando-um-pouco-de-bateria-no-linux.md
  content/pt/posts/2013-12-01-journal-7-economizando-um-pouco-de-bateria-no-linux.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: 58e2a8c991b55ec1ec8184c928477fc310a8d5d5
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/2013/12/cálculo-@-ufrj-sugestão-de-referências/index.html
  pt/2013/12/economizando-um-pouco-de-bateria-no-linux/index.html
  pt/2013/12/economizando-um-pouco-de-bateria-no-linux/index.md
  pt/blogroll.opml
  pt/index.xml
  pt/posts/2013-11-21-ah-orgulho/index.html
  pt/posts/2013-12-01-economizando-um-pouco-de-bateria-no-linux/index.html
  pt/posts/2013-12-01-economizando-um-pouco-de-bateria-no-linux/index.md
  pt/posts/2013-12-01-journal-7-economizando-um-pouco-de-bateria-no-linux/index.html
  pt/posts/2013-12-01-journal-7-economizando-um-pouco-de-bateria-no-linux/index.md
  pt/posts/2013-12-15-calculo-ufrj-sugestao-de-referencias/index.html
  pt/posts/index.html
  pt/posts/index.xml
  pt/search/index.json
  pt/sitemap.xml
  pt/tags/dev/index.html
  pt/tags/dev/index.xml
  pt/tags/index.html
  pt/tags/index.xml
  pt/tags/legacy/index.html
  pt/tags/legacy/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/index.html
  tags/index.xml
  tags/legacy/index.html
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

imagetextos
  content/pt/posts/2014-01-26-imagetextos.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

icpc
  content/pt/posts/2014-02-22-novo-blog-icpc-journal.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

bateria
  content/pt/posts/2013-12-01-journal-7-economizando-um-pouco-de-bateria-no-linux.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: acd09aeb894ae2fba49dd29c4c933bca1742ed93
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/2014/01/imagetextos/index.html
  pt/2014/01/imagetextos/index.md
  pt/2014/01/sugestão-de-guia-de-instalação-do-windows-8.1/index.html
  pt/2014/02/consertando-caracteres-estranhos-em-markdown/index.html
  pt/2014/02/novo-blog-icpc-journal/index.html
  pt/2014/02/novo-blog-icpc-journal/index.md
  pt/blogroll.opml
  pt/index.xml
  pt/posts/2014-01-26-imagetextos/index.html
  pt/posts/2014-01-26-imagetextos/index.md
  pt/posts/2014-02-22-novo-blog-icpc-journal/index.html
  pt/posts/2014-02-22-novo-blog-icpc-journal/index.md
  pt/posts/2014-02-27-consertando-caracteres-estranhos-em-markdown/index.html
  pt/posts/index.html
  pt/posts/index.xml
  pt/search/index.json
  pt/sitemap.xml
  pt/tags/dev/index.html
  pt/tags/dev/index.xml
  pt/tags/index.html
  pt/tags/index.xml
  pt/tags/legacy/index.html
  pt/tags/legacy/index.xml
  pt/tags/serenity/index.html
  pt/tags/serenity/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/index.html
  tags/index.xml
  tags/legacy/index.html
  tags/serenity/index.html
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

android
  content/posts/2014-04-12-android-dev-summary.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

deploy: 64a4942b7f8f2bfa6617083ab45329c13781e3b6
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/blogroll.opml
  pt/index.xml
  pt/posts/2013-12-01-journal-7-economizando-um-pouco-de-bateria-no-linux/index.html
  pt/posts/2013-12-01-journal-7-economizando-um-pouco-de-bateria-no-linux/index.md
  pt/posts/index.html
  pt/posts/index.xml
  pt/search/index.json
  pt/sitemap.xml
  pt/tags/dev/index.html
  pt/tags/dev/index.xml
  pt/tags/index.html
  pt/tags/legacy/index.html
  pt/tags/legacy/index.xml
  tags/dev/index.html
  tags/index.html
  tags/legacy/index.html
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: 4d77f77e864a7c7f7fa05d746e70195496b9d49a
  2014/04/android-dev-summary/index.html
  2014/04/android-dev-summary/index.md
  2014/04/dota-2-@-linux/index.html
  2014/04/emacs-i-just-love-you/index.html
  2014/04/i3lock-wrapper-pkgbuild/index.html
  2014/04/my-first-org2blog-post/index.html
  2014/04/pkgbuild-class-@-irc/index.html
  2014/04/server-challenge-instance-#1-installation-of-distros/index.html
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  graph.json
  posts/coding/index.html
  posts/index.html
  pt/blogroll.opml
  random/index.html
  search/index.json
  sitemap.xml
  tags/dev/index.html
  tags/index.html
  tags/index.xml
  tags/legacy/index.html
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

social pricing
  content/pt/posts/2013-12-29-status-social-pricing.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

software livre
  content/pt/posts/2014-02-01-software-e-outras-coisas-livres-revisitados-parte-0-0-01.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

arch
  content/pt/posts/2014-06-14-hello-my-little-ol-arch-server.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

redshift
  content/pt/posts/2014-01-09-redshift-ajustar-a-temperatura-de-cor-do-monitor-dianoite.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: 1ccf13bb499e34edf626ed66836b9a0f3daa13c6
  2022/01/advent-of-code/index.html
  blogroll.opml
  en/sitemap.xml
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/2014/05/física-3-@-ufrj-sugestão-de-referências/index.html
  pt/2014/06/hello-my-little-ol-arch-server/index.html
  pt/2014/06/hello-my-little-ol-arch-server/index.md
  pt/2014/06/olá-desenvolvimento-web/index.html
  pt/404.html
  pt/blogroll.opml
  pt/index.xml
  pt/posts/2014-05-11-fisica-3-ufrj-sugestao-de-referencias/index.html
  pt/posts/2014-06-14-hello-my-little-ol-arch-server/index.html
  pt/posts/2014-06-14-hello-my-little-ol-arch-server/index.md
  pt/posts/2014-06-21-ola-desenvolvimento-web/index.html
  pt/posts/index.html
  pt/posts/index.xml
  pt/search/index.json
  pt/sitemap.xml
  pt/tags/dev/index.html
  pt/tags/dev/index.xml
  pt/tags/index.html
  pt/tags/index.xml
  pt/tags/legacy/index.html
  pt/tags/legacy/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/index.html
  tags/index.xml
  tags/legacy/index.html
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

2 minutos
  content/pt/posts/2014-07-25-meus-dois-minutos-de-fama.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

flash
  content/posts/2013-09-19-youtube-flash-player-issues-firefox-linux.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

som
  content/pt/posts/2014-04-06-sugestao-de-app-de-gravacao-de-som.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

redesign
  content/pt/posts/2014-05-09-redesign-do-blog.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: f45cc6e2e45fb8c04246fcc567ff136ff93da77b
  2013/09/youtube-flash-player-issues-@-firefox-@-linux/index.html
  2013/09/youtube-flash-player-issues-@-firefox-@-linux/index.md
  2013/10/openbox-challenge-day-1/index.html
  2013/10/openbox-challenge-day-3/index.html
  2013/10/openbox-challenge-day-4/index.html
  2013/10/web-privacy-with-firefox/index.html
  2013/10/wrapping-up/index.html
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  graph.json
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/blogroll.opml
  random/index.html
  search/index.json
  sitemap.xml
  tags/dev/index.html
  tags/index.html
  tags/index.xml
  tags/legacy/index.html
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

android
  content/pt/posts/2013-05-31-4-dicas-sobre-apps-de-android.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: f5e97fe3a1cdf175fc9080b0966d4ca1a04e5985
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/2013/05/4-dicas-sobre-apps-de-android/index.html
  pt/2013/05/4-dicas-sobre-apps-de-android/index.md
  pt/2013/05/uma-palavra-sobre-o-dia-das-mães/index.html
  pt/2013/09/como-rodar-jnlp-no-linux/index.html
  pt/blogroll.opml
  pt/posts/2013-05-12-uma-palavra-sobre-o-dia-das-maes/index.html
  pt/posts/2013-05-31-4-dicas-sobre-apps-de-android/index.html
  pt/posts/2013-05-31-4-dicas-sobre-apps-de-android/index.md
  pt/posts/2013-09-02-como-rodar-jnlp-no-linux/index.html
  pt/posts/index.html
  pt/search/index.json
  pt/sitemap.xml
  pt/tags/dev/index.html
  pt/tags/dev/index.xml
  pt/tags/index.xml
  pt/tags/legacy/index.html
  pt/tags/legacy/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/index.html
  tags/index.xml
  tags/legacy/index.html
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

screenshot
  content/posts/2013-10-27-openbox-challenge-day-1.md
  content/posts/2013-10-28-openbox-challenge-day-2.md
  content/posts/2013-10-29-openbox-challenge-day-3.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

deploy: 8250fd2d0bf8aaf8f1beae5b5f3d9b57b6b53d82
  2013/10/openbox-challenge-day-1/index.html
  2013/10/openbox-challenge-day-1/index.md
  2013/10/openbox-challenge-day-2/index.html
  2013/10/openbox-challenge-day-2/index.md
  2013/10/openbox-challenge-day-3/index.html
  2013/10/openbox-challenge-day-3/index.md
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  pt/blogroll.opml
  sitemap.xml
  tags/index.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

cpbr7
  content/posts/2014-01-29-cpbr7-random-musings.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

deploy: ee62a3050637990ed97d73147e5ca00e77be0591
  2014/01/#cpbr7-random-musings/index.html
  2014/01/#cpbr7-random-musings/index.md
  2014/01/custom-search-engines/index.html
  2014/03/about-blogging-here-and-everywhere/index.html
  2014/03/emacs-must-have-libraries/packages/index.html
  2014/09/everyday-podcasting-#1/index.html
  2014/10/everyday-podcasting-#2/index.html
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  graph.json
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/blogroll.opml
  random/index.html
  search/index.json
  sitemap.xml
  tags/index.html
  tags/index.xml
  tags/legacy/index.html
  tags/serenity/index.html
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

opengl
  content/pt/posts/2013-12-09-opengl-development.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: 41adfedd7a269b4bb2a59bc440b8d8676a6fbde7
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/2013/12/cálculo-@-ufrj-sugestão-de-referências/index.html
  pt/2013/12/economizando-um-pouco-de-bateria-no-linux/index.html
  pt/2013/12/opengl-development/index.html
  pt/2013/12/opengl-development/index.md
  pt/blogroll.opml
  pt/index.xml
  pt/posts/2013-12-01-economizando-um-pouco-de-bateria-no-linux/index.html
  pt/posts/2013-12-09-opengl-development/index.html
  pt/posts/2013-12-09-opengl-development/index.md
  pt/posts/2013-12-15-calculo-ufrj-sugestao-de-referencias/index.html
  pt/posts/index.html
  pt/posts/index.xml
  pt/search/index.json
  pt/sitemap.xml
  pt/tags/dev/index.html
  pt/tags/dev/index.xml
  pt/tags/index.html
  pt/tags/index.xml
  pt/tags/legacy/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/index.html
  tags/index.xml
  tags/legacy/index.html
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

new tag: degoogling
  content/posts/2013-10-20-web-privacy-with-firefox.md
  content/posts/2022-02-01-google-and-duckduckgo.md
  content/posts/2024-02-21-organic-maps.md
  content/posts/2024-12-24-switching-from-google-to-chatgpt-search.md
  content/posts/2025-05-04-kagi.md
  content/posts/2025-05-31-kagi-trial-expires.md
  content/posts/2025-08-02-block-sign-in-to-xxx-with-google.com.md
  content/posts/2025-11-30-chrome-orion.md
  content/posts/2026-01-24-chrome-brave.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

add radio playlist
  content/radio.md
  layouts/_default/radio.html
Due: forbid-double-parens-in-shortcodes, forbid-external-images, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: e03a880151e0df5f9361f88562840cb5c9876a0b
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  pt/blogroll.opml
  radio/index.html
  radio/index.md
  sitemap.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

fn + shift + del
  content/posts/2024-09-18-chromium-delete-entry-in-url-bar.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

google translate, kagi translate, deepl
  content/posts/2026-03-10-google-translate-kagi-translate-deepl.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

ghostty
  content/posts/2026-03-10-ghostty-1.3.0-released.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix
