Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-broken-internal-links, check-coding-titles, check-duplicate-coding, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-external-images, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

check-broken-internal-links:
  name: Check for broken Hugo ref shortcode links
  entry: ci/check_broken_internal_links.py
  language: system

check-coding-titles:
  name: Enforce LeetCode and ByteByteGo title format
  entry: ci/check_post_titles.py
  language: system

check-duplicate-coding:
  name: Detect duplicate coding problem posts
  entry: ci/check_duplicate_coding_posts.py
  language: system
  pass_filenames: false

check-required-frontmatter:
  name: Enforce required frontmatter fields (date, title)
  entry: ci/check_required_frontmatter.py
  language: python
  additional_dependencies:
  - PyYAML

check-single-category:
  name: Enforce single category per post
  entry: ci/check_single_category.py
  language: python
  additional_dependencies:
  - PyYAML

forbid-double-more:
  name: Forbid <!--more--> in blog posts
  entry: <!--more-->
  language: pygrep

forbid-double-parens-in-shortcodes:
  name: Forbid double parentheses around Hugo shortcodes
  entry: \(\(\{\{[<|%]
  language: pygrep

forbid-external-images:
  name: Forbid external image URLs in layouts
  entry: ci/forbid-external-images.py
  language: system

forbid-md-extension-in-hugo-internal-links:
  name: Forbid .md extension in hugo internal links
  entry: .*\.md\" >\}\}
  language: pygrep

forbid-old-perrotta-dev:
  name: Forbid old domains
  entry: \\b(https://thiagowfx\.github\.io|www\.perrotta\.dev|blog\.perrotta\.dev)\\b
  language: pygrep

forbid-personal-emails:
  name: Forbid personal emails
  entry: (@perrotta\.dev|\w*perrotta\d*@gmail\.com)
  language: pygrep

forbid-tulip:
  name: Forbid Tulip terms
  entry: (?i)(\btulip\b|@garden)
  language: pygrep

forbid-utm-analytics:
  name: Forbid UTM analytics / tracking
  entry: \\b(utm_source)\\b
  language: pygrep

replace-em-dashes:
  name: Replace ' - ' with em dashes in prose
  entry: ci/replace_em_dashes.py
  language: python

replace-shell-prompt:
  name: Replace ❯ with % in shell prompts
  entry: ci/replace_shell_prompt.py
  language: python

sort-blog-tags:
  name: Sort blog post tags alphabetically
  entry: ci/sort_tags.py
  language: python
  additional_dependencies:
  - PyYAML

strip-content-posts-prefix:
  name: Strip content/posts/ prefix from Hugo ref links
  entry: ci/strip_content_posts_prefix.py
  language: python

just: fix double-dash in just code
  Justfile
Due: none

fix: rename posts with double dashes in filenames
  content/posts/coding/2025-11-22-bytebytego-pair-sum-unsorted.md
  content/posts/coding/2026-01-06-leetcode-167-two-sum-ii-input-array-is-sorted.md
  content/posts/coding/2026-01-11-leetcode-170-two-sum-iii-data-structure-design.md
Due: check-broken-internal-links, check-coding-titles, check-duplicate-coding, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

deploy: 4d97b265988cd8a5130041707310f1b6fa88990c
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  pt/blogroll.opml
Due: none

fix: rename posts with double dashes in filenames
  content/posts/2025-11-23-git-stash-m.md
  content/posts/2025-11-30-chrome-orion.md
  content/posts/2026-01-24-chrome-brave.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

deploy: 67e66c425378eae917eae5a92849b8ca4e88c9dd
  2022/01/advent-of-code/index.html
  2025/11/bytebytego-pair-sum-unsorted/index.html
  2026/01/leetcode-#167-two-sum-ii-input-array-is-sorted/index.html
  2026/01/leetcode-#170-two-sum-iii-data-structure-design/index.html
  blogroll.opml
  blogroll/index.html
  categories/coding/index.xml
  categories/index.xml
  en/sitemap.xml
  graph.json
  pt/blogroll.opml
  sitemap.xml
  tags/bytebytego/index.xml
  tags/index.xml
  tags/leetcode/index.xml
Due: none

fix: rename posts with double dashes in filenames
  content/posts/2026-01-01-amp-code-queue-unqueue-messages.md
  content/posts/2026-01-03-neovim-inline-git-hunk-control.md
  content/posts/2026-01-03-oneshot-prompting.md
  content/posts/2026-01-08-ghostty-splits.md
  content/posts/2026-01-10-git-shell-prompt-worktrees.md
  content/posts/2026-01-17-new-series-raspberry-pi-fun-with-devops-redux.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

fix: rename posts with double dashes in filenames
  content/posts/2026-02-05-why-am-i-doing-the-thinking-for-you.md
  content/posts/2026-02-06-pre-commit-hazmat-n1.md
  content/posts/2026-02-12-claude-code-always-be-verbose.md
  content/posts/2026-02-16-chromium-bidi-my-contributions-to-browser-automation.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

deploy: bb25e31623a122401afad1041239aae82fbb6fc9
  2022/01/advent-of-code/index.html
  2024/12/switching-from-google-to-chatgpt-search/index.html
  2025/05/kagi/index.html
  2025/11/chrome-orion/index.html
  2025/11/git-stash-m/index.html
  2026/01/chrome-brave/index.html
  2026/01/chrome-brave/index.md
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  graph.json
  pt/blogroll.opml
  sitemap.xml
  tags/dev/index.xml
  tags/git/index.xml
  tags/index.xml
  tags/privacy/index.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: 60f27eeaa465cb1e6101209323544f43a8393ef3
  2022/01/advent-of-code/index.html
  2024/01/google-chrome-for-testing-reliable-downloads-for-browser-automation/index.html
  2024/10/new-series-raspberry-pi-fun-with-devops/index.html
  2024/12/pre-commit/index.html
  2025/07/ghostty-migrating-config-to-dotfiles/index.html
  2025/11/ghostty-shaders/index.html
  2025/12/starship/index.html
  2025/12/vim-nvim/index.html
  2026/01/amp-code-queue/unqueue-messages/index.html
  2026/01/ghostty-splits/index.html
  2026/01/git-shell-prompt-worktrees/index.html
  2026/01/neovim-inline-git-hunk-control/index.html
  2026/01/new-series-raspberry-pi-fun-with-devops-redux/index.html
  2026/01/oneshot-prompting/index.html
  2026/01/oneshot-prompting/index.md
  2026/02/claude-code-always-be-verbose/index.html
  2026/02/pre-commit-hazmat-n1/index.html
  2026/02/reply-to-why-am-i-doing-the-thinking-for-you/index.html
  2026/02/webdriver-bidi-from-spec-to-implementation/index.html
  blogroll.opml
  blogroll/index.html
  categories/commentary/index.xml
  en/sitemap.xml
  graph.json
  posts/2026-02-05-reply-to-why-am-i-doing-the-thinking-for-you/index.html
  pt/blogroll.opml
  tags/ai/index.xml
  tags/alpine-linux/index.xml
  tags/bestof/index.xml
  tags/ghostty/index.xml
  tags/macos/index.xml
  tags/meta/index.xml
  tags/pre-commit/index.xml
  tags/serenity/index.xml
  tags/vim/index.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

justfile groups: improve
  Justfile
Due: none

deploy: 466b9eefd8297a8b45573e14480aeac35eac7b7d
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  pt/blogroll.opml
Due: none

google home usage
  content/posts/2026-02-22-google-home-usage.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

github script
  content/posts/2026-02-22-github-workflow-external-script.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

typo
  content/posts/2026-02-22-github-workflow-external-script.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

deploy: 8cd42ee2fdf1bf6df8975cce874e8feef922fec6
  2022/01/advent-of-code/index.html
  2026/02/github-workflow-external-script/index.html
  2026/02/github-workflow-external-script/index.md
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  index.xml
  posts/index.xml
  pt/blogroll.opml
  sitemap.xml
  tags/dev/index.xml
  tags/git/index.xml
  tags/index.xml
  tags/pre-commit/index.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

fix: remove extra blank line in alpine-linux-update-timezone post
  content/posts/2026-02-20-alpine-linux-update-timezone.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

deploy: 9155a7847cd25bd6f67598ec1295951836031ae0
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  pt/blogroll.opml
Due: none

deploy: 144c938387c109cc9f58847b8a966adba662192f
  2022/01/advent-of-code/index.html
  2026/02/alpine-linux-update-timezone/index.html
  2026/02/alpine-linux-update-timezone/index.md
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  pt/blogroll.opml
  sitemap.xml
  tags/alpine-linux/index.xml
  tags/dev/index.xml
  tags/index.xml
  tags/selfhosted/index.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

radio: add WFMU
  layouts/_default/radio.html
Due: forbid-external-images

deploy: 2ec6b92e95986fd2376bef3efd406d323883d70b
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  pt/blogroll.opml
  radio/index.html
Due: none

leetcode: phone directory
  content/posts/coding/2026-02-23-leetcode-379-design-phone-directory.md
Due: check-broken-internal-links, check-coding-titles, check-duplicate-coding, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

subagents
  content/posts/2026-02-23-gimme-subagents.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

multi
  content/posts/2026-02-23-gimme-subagents.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

terrateam
  content/posts/2026-02-23-gimme-subagents.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

deploy: 6f27e769b63c41e4bf7f0baa616d98a040875ff9
  2022/01/advent-of-code/index.html
  2026/02/gimme-subagents/index.html
  2026/02/gimme-subagents/index.md
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  index.xml
  posts/index.xml
  pt/blogroll.opml
  sitemap.xml
  tags/ai/index.xml
  tags/bestof/index.xml
  tags/dev/index.xml
  tags/index.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: 1c38dbc642a1e6840284cf9bc18d97cdb31e4bca
  2022/01/advent-of-code/index.html
  2026/02/gimme-subagents/index.html
  2026/02/gimme-subagents/index.md
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  index.xml
  posts/index.xml
  pt/blogroll.opml
  sitemap.xml
  tags/ai/index.xml
  tags/bestof/index.xml
  tags/dev/index.xml
  tags/index.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

ee
  content/posts/2026-02-23-ee-exit-all-shells.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

below
  content/posts/2026-02-23-ee-exit-all-shells.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

function
  content/posts/2026-02-23-ee-exit-all-shells.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

deploy: 7dda88b1e6bf201bef90e68e2bc430eea0da8123
  2022/01/advent-of-code/index.html
  2026/02/ee-exit-all-shells/index.html
  2026/02/ee-exit-all-shells/index.md
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  index.xml
  posts/index.xml
  pt/blogroll.opml
  sitemap.xml
  tags/dev/index.xml
  tags/git/index.xml
  tags/index.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: 801ade90e88dd691bcdd1ffd0fba0a5151174717
  2022/01/advent-of-code/index.html
  2026/02/ee-exit-all-shells/index.html
  2026/02/ee-exit-all-shells/index.md
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  index.xml
  posts/index.xml
  pt/blogroll.opml
  sitemap.xml
  tags/dev/index.xml
  tags/git/index.xml
  tags/index.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

formatting
  content/posts/2026-02-23-gimme-subagents.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

deploy: f70655991cc7e20c370f55e7446285ff63461201
  2022/01/advent-of-code/index.html
  2026/02/gimme-subagents/index.html
  2026/02/gimme-subagents/index.md
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  index.xml
  posts/index.xml
  pt/blogroll.opml
  sitemap.xml
  tags/ai/index.xml
  tags/bestof/index.xml
  tags/dev/index.xml
  tags/index.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

rendering
  content/pt/posts/2014-07-12-melhorando-a-renderizacao-de-fontes-no-windows.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: f5dfb4874e7021eba400aafd2f872c40d5747365
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/2014/06/setups-no-windows-nunca-mais/index.html
  pt/2014/07/melhorando-a-renderização-de-fontes-no-windows/index.html
  pt/2014/07/melhorando-a-renderização-de-fontes-no-windows/index.md
  pt/2016/10/matroshka/index.html
  pt/404.html
  pt/blogroll.opml
  pt/index.xml
  pt/posts/2014-06-30-setups-no-windows-nunca-mais/index.html
  pt/posts/2014-07-12-melhorando-a-renderizacao-de-fontes-no-windows/index.html
  pt/posts/2014-07-12-melhorando-a-renderizacao-de-fontes-no-windows/index.md
  pt/posts/2016-10-16-matroshka/index.html
  pt/posts/index.html
  pt/posts/index.xml
  pt/search/index.json
  pt/sitemap.xml
  pt/tags/dev/index.html
  pt/tags/dev/index.xml
  pt/tags/index.html
  pt/tags/index.xml
  pt/tags/legacy/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/index.html
  tags/index.xml
  tags/legacy/index.html
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

Path conditions:
  check-broken-internal-links: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  check-coding-titles: any of: ^content/posts/.*(leetcode|bytebytego).*\.md$ and \.(md|markdown|mdown)$ and not (^content/posts/2025-12-30-kagi-add-leetcode-bang.md$) and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  check-duplicate-coding: any of: ^content/posts/.*(leetcode|bytebytego).*\.md$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  check-required-frontmatter: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (_index\.md$) and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  check-single-category: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  forbid-double-more: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  forbid-double-parens-in-shortcodes: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-external-images: any of: ^layouts/.*\.html$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-md-extension-in-hugo-internal-links: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-old-perrotta-dev: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$ and not (^(content/posts/2024-02-04-new-domain.md|content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md)$) and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  forbid-personal-emails: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-tulip: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-utm-analytics: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  replace-em-dashes: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  replace-shell-prompt: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  sort-blog-tags: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  strip-content-posts-prefix: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
