Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-broken-internal-links, check-coding-titles, check-duplicate-coding, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-external-images, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

check-broken-internal-links:
  name: Check for broken Hugo ref shortcode links
  entry: ci/check_broken_internal_links.py
  language: system

check-coding-titles:
  name: Enforce LeetCode and ByteByteGo title format
  entry: ci/check_post_titles.py
  language: system

check-duplicate-coding:
  name: Detect duplicate coding problem posts
  entry: ci/check_duplicate_coding_posts.py
  language: system
  pass_filenames: false

check-required-frontmatter:
  name: Enforce required frontmatter fields (date, title)
  entry: ci/check_required_frontmatter.py
  language: python
  additional_dependencies:
  - PyYAML

check-single-category:
  name: Enforce single category per post
  entry: ci/check_single_category.py
  language: python
  additional_dependencies:
  - PyYAML

forbid-double-more:
  name: Forbid <!--more--> in blog posts
  entry: <!--more-->
  language: pygrep

forbid-double-parens-in-shortcodes:
  name: Forbid double parentheses around Hugo shortcodes
  entry: \(\(\{\{[<|%]
  language: pygrep

forbid-external-images:
  name: Forbid external image URLs in layouts
  entry: ci/forbid-external-images.py
  language: system

forbid-md-extension-in-hugo-internal-links:
  name: Forbid .md extension in hugo internal links
  entry: .*\.md\" >\}\}
  language: pygrep

forbid-old-perrotta-dev:
  name: Forbid old domains
  entry: \\b(https://thiagowfx\.github\.io|www\.perrotta\.dev|blog\.perrotta\.dev)\\b
  language: pygrep

forbid-personal-emails:
  name: Forbid personal emails
  entry: (@perrotta\.dev|\w*perrotta\d*@gmail\.com)
  language: pygrep

forbid-tulip:
  name: Forbid Tulip terms
  entry: (?i)(\btulip\b|@garden)
  language: pygrep

forbid-utm-analytics:
  name: Forbid UTM analytics / tracking
  entry: \\b(utm_source)\\b
  language: pygrep

replace-em-dashes:
  name: Replace ' - ' with em dashes in prose
  entry: ci/replace_em_dashes.py
  language: python

replace-shell-prompt:
  name: Replace ❯ with % in shell prompts
  entry: ci/replace_shell_prompt.py
  language: python

sort-blog-tags:
  name: Sort blog post tags alphabetically
  entry: ci/sort_tags.py
  language: python
  additional_dependencies:
  - PyYAML

strip-content-posts-prefix:
  name: Strip content/posts/ prefix from Hugo ref links
  entry: ci/strip_content_posts_prefix.py
  language: python

deploy: 16c35f3ab831f89728ef8121f3af2dca87c2c500
  2015/03/documented-dotfiles/index.html
  2015/03/faqflow-#1-xmonad/index.html
  2015/03/faqflow-#1-xmonad/index.md
  2015/03/getting-started-with-ogre3d/index.html
  2015/03/recording-screencasts-on-linux/index.html
  2015/03/running-ogre3d-locally-without-installing-it/index.html
  2015/03/thoughts-on-instagram/index.html
  2015/04/installing-haiku-from-an-existing-linux/index.html
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  graph.json
  posts/coding/index.html
  posts/index.html
  pt/blogroll.opml
  random/index.html
  search/index.json
  sitemap.xml
  tags/dev/index.html
  tags/index.html
  tags/index.xml
  tags/legacy/index.html
  tags/legacy/index.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

saltstack
  content/posts/2015-03-26-faqflow-3-hello-saltstack-for-arch.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

server
  content/posts/2014-03-29-server-challenge-instance-0.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

deploy: 10d0d809a7f890696be85bc304f6ce4454fce99d
  2014/07/here-be-dragons-free-bsd-overview-part-i/index.html
  2014/08/open-pgp-@-android/index.html
  2014/11/i3-window-manager/index.html
  2015/02/thoughts-and-notes-on-deploying-wikimedia/index.html
  2015/03/faqflow-#1-xmonad/index.html
  2015/03/faqflow-#2-android-upgrading/rooting-notes/index.html
  2015/03/faqflow-#2-android-upgrading/rooting-notes/index.md
  2015/03/recording-screencasts-on-linux/index.html
  2015/03/running-ogre3d-locally-without-installing-it/index.html
  2015/04/installing-haiku-from-an-existing-linux/index.html
  2016/09/linux-goodness-in-your-chromebook/index.html
  2017/02/arch-linux-on-macbook-installation-notes/index.html
  2021/12/findboost.cmake/index.html
  2021/12/keychron-k2-linux-setup/index.html
  2022/01/advent-of-code/index.html
  2022/01/alpine-linux-apk-command-not-found-hook/index.html
  2022/01/direnv-automate-your-environment-variables/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  graph.json
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/blogroll.opml
  random/index.html
  search/index.json
  sitemap.xml
  tags/bestof/index.html
  tags/dev/index.html
  tags/index.html
  tags/index.xml
  tags/legacy/index.html
  tags/legacy/index.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

privacy
  content/posts/2014-06-06-privacy-resetthenet-paradise.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

deploy: 3c144a409244d4e250f61344562d8b0e12e1f64c
  2014/03/about-blogging-here-and-everywhere/index.html
  2014/03/server-challenge-instance-#0/index.html
  2014/03/server-challenge-instance-#0/index.md
  2014/03/web-challenge-#0/index.html
  2014/04/my-first-org2blog-post/index.html
  2014/04/pacman-gpgme-error-no-data/index.html
  2014/04/pkgbuild-class-@-irc/index.html
  2014/05/goodbye-linux-desktop/index.html
  2014/05/status-hello-nix-server-world/index.html
  2015/02/thoughts-and-notes-on-deploying-wikimedia/index.html
  2015/03/faqflow-#1-xmonad/index.html
  2015/03/faqflow-#2-android-upgrading/rooting-notes/index.html
  2015/03/faqflow-#3-hello-saltstack-for-arch/index.html
  2015/03/faqflow-#3-hello-saltstack-for-arch/index.md
  2015/03/recording-screencasts-on-linux/index.html
  2015/04/installing-haiku-from-an-existing-linux/index.html
  2016/09/linux-goodness-in-your-chromebook/index.html
  2017/02/arch-linux-on-macbook-installation-notes/index.html
  2022/01/advent-of-code/index.html
  2026/02/miniflux-block-entry-matching-url/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  graph.json
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/blogroll.opml
  random/index.html
  search/index.json
  sitemap.xml
  tags/dev/index.html
  tags/index.html
  tags/index.xml
  tags/legacy/index.html
  tags/legacy/index.xml
  tags/selfhosted/index.html
  tags/selfhosted/index.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

server
  content/posts/2014-04-04-server-challenge-instance-1-installation-of-distros.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

deploy: 200ec64d4c67d531af3b97f3cfac28901a761c95
  2014/03/server-challenge-instance-#0/index.html
  2014/04/my-first-org2blog-post/index.html
  2014/04/pacman-gpgme-error-no-data/index.html
  2014/04/pkgbuild-class-@-irc/index.html
  2014/04/server-challenge-instance-#1-installation-of-distros/index.html
  2014/04/server-challenge-instance-#1-installation-of-distros/index.md
  2014/05/goodbye-linux-desktop/index.html
  2014/05/status-hello-nix-server-world/index.html
  2015/01/the-eudyptula-challenge/index.html
  2015/02/thoughts-and-notes-on-deploying-wikimedia/index.html
  2022/01/advent-of-code/index.html
  2026/02/miniflux-block-entry-matching-url/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  graph.json
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/blogroll.opml
  random/index.html
  search/index.json
  sitemap.xml
  tags/dev/index.html
  tags/index.html
  tags/index.xml
  tags/legacy/index.html
  tags/selfhosted/index.html
  tags/selfhosted/index.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

netvirtua
  content/pt/posts/2014-04-26-cuidado-os-servidores-de-dns-da-netvirtua-foram-hackeados.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: 7d27abb819c3c21dabcc14cb1c89f23de3986a5e
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/2014/04/os-servidores-de-dns-da-net/virtua-foram-hackeados/index.html
  pt/2014/04/os-servidores-de-dns-da-net/virtua-foram-hackeados/index.md
  pt/2014/04/recovery-típico-via-usb/index.html
  pt/2014/05/instalando-o-gentoo-a-partir-do-arch/index.html
  pt/404.html
  pt/blogroll.opml
  pt/index.xml
  pt/posts/2014-04-18-recovery-tipico-via-usb/index.html
  pt/posts/2014-04-26-cuidado-os-servidores-de-dns-da-netvirtua-foram-hackeados/index.html
  pt/posts/2014-04-26-cuidado-os-servidores-de-dns-da-netvirtua-foram-hackeados/index.md
  pt/posts/2014-05-01-instalando-o-gentoo-a-partir-do-arch/index.html
  pt/posts/index.html
  pt/posts/index.xml
  pt/search/index.json
  pt/sitemap.xml
  pt/tags/dev/index.html
  pt/tags/dev/index.xml
  pt/tags/index.xml
  pt/tags/legacy/index.html
  pt/tags/legacy/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/index.html
  tags/index.xml
  tags/legacy/index.html
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

fb
  content/posts/2013-11-01-aaaaaargh-facebook.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

deploy: 34f51d02b2ff661de50af9b6d390dc86374e3ea4
  2013/11/aaaaaargh-facebook/index.html
  2013/11/aaaaaargh-facebook/index.md
  2013/11/openbox-challenge-day-6-now-with-xfce-/-goodbye/index.html
  2013/11/trying-to-be-keyboard-centric/index.html
  2013/12/is-it-actually-bad-for-the-battery-of-a-laptop-to-leave-it-plugged-in/index.html
  2022/03/bypass-news-article-paywalls/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  graph.json
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/blogroll.opml
  random/index.html
  search/index.json
  sitemap.xml
  tags/index.html
  tags/index.xml
  tags/legacy/index.html
  tags/privacy/index.html
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

2014
  content/posts/2014-12-24-2014-small-review-of-a-really-nice-year.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

deploy: 3c820b526bda9dbf39de25fbce38c3e8b7e21140
  2014/08/serendipity...why-not/index.html
  2014/11/m-x-review-this-blog/index.html
  2014/12/2014-small-review-of-a-really-nice-year/index.html
  2014/12/2014-small-review-of-a-really-nice-year/index.md
  2014/12/tmux-a-gentle-introduction/index.html
  2015/01/the-eudyptula-challenge/index.html
  2021/12/hello-world-from-hugo/index.html
  2022/01/advent-of-code/index.html
  2022/02/website-fonts-just-use-the-system-font-stack/index.html
  2022/10/do-i-still-remember-how-to-blog/index.html
  2024/06/xy-problem-xyproblem/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  graph.json
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/blogroll.opml
  random/index.html
  search/index.json
  sitemap.xml
  tags/bestof/index.html
  tags/index.html
  tags/index.xml
  tags/legacy/index.html
  tags/legacy/index.xml
  tags/meta/index.html
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

setup
  content/pt/posts/2014-06-30-setups-no-windows-nunca-mais.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: 6755f03e5bed61c28c92c2646a2c9841a12bf053
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/2014/06/asciinema/index.html
  pt/2014/06/setups-no-windows-nunca-mais/index.html
  pt/2014/06/setups-no-windows-nunca-mais/index.md
  pt/2016/10/matroshka/index.html
  pt/404.html
  pt/blogroll.opml
  pt/index.xml
  pt/posts/2014-06-29-asciinema/index.html
  pt/posts/2014-06-30-setups-no-windows-nunca-mais/index.html
  pt/posts/2014-06-30-setups-no-windows-nunca-mais/index.md
  pt/posts/2016-10-16-matroshka/index.html
  pt/posts/index.html
  pt/posts/index.xml
  pt/search/index.json
  pt/sitemap.xml
  pt/tags/dev/index.html
  pt/tags/dev/index.xml
  pt/tags/index.html
  pt/tags/index.xml
  pt/tags/legacy/index.html
  pt/tags/legacy/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/index.xml
  tags/legacy/index.html
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

bidi
  content/posts/2026-02-16-chromium-bidi--my-contributions-to-browser-automation.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

hallucinations
  content/posts/2026-02-16-chromium-bidi--my-contributions-to-browser-automation.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

deploy: d48990f9ed05b0c70e78149c1606195dec6a0544
  2022/01/advent-of-code/index.html
  2026/02/webdriver-bidi-from-spec-to-implementation/index.html
  2026/02/webdriver-bidi-from-spec-to-implementation/index.md
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  index.xml
  posts/index.xml
  pt/blogroll.opml
  sitemap.xml
  tags/bestof/index.xml
  tags/dev/index.xml
  tags/index.xml
  tags/meta/index.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

add image-rendering: pixelated to footer badges
  layouts/partials/style.html
Due: forbid-external-images

add image-rendering: pixelated to footer badges (#82)
  layouts/partials/style.html
Due: forbid-external-images

new post: alpine linux timezone
  content/posts/2026-02-20-alpine-linux-update-timezone.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

flameshot
  content/posts/2026-02-20-flameshot-collating-multiple-screenshots.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

fix timestapm
  content/posts/2026-02-20-flameshot-collating-multiple-screenshots.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

come
  content/posts/2026-02-20-flameshot-collating-multiple-screenshots.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

deploy: cb442c8aa79f5471adcc94cc85f2d70fd523e0bb
  2022/01/advent-of-code/index.html
  2026/02/flameshot-collating-multiple-screenshots/index.html
  2026/02/flameshot-collating-multiple-screenshots/index.md
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  index.xml
  posts/index.xml
  pt/blogroll.opml
  sitemap.xml
  tags/dev/index.xml
  tags/index.xml
  tags/macos/index.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

superwhisper
  content/posts/2026-02-20-superwhisper.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

just: add doc and group
  Justfile
Due: none

deploy: 58354acc91ae45e0b84c22cd192e30aa008423ba
  2022/01/advent-of-code/index.html
  2025/02/google-meet-dashes/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  pt/blogroll.opml
Due: none

justfile groups
  content/posts/2026-02-21-justfile-groups.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

fix: squeeze repeated dashes in post filename generation
  Justfile
Due: none

deploy: 429587f8c72ca77b86b099018cfa41df564c5c0a
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  pt/blogroll.opml
Due: none

Path conditions:
  check-broken-internal-links: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  check-coding-titles: any of: ^content/posts/.*(leetcode|bytebytego).*\.md$ and \.(md|markdown|mdown)$ and not (^content/posts/2025-12-30-kagi-add-leetcode-bang.md$) and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  check-duplicate-coding: any of: ^content/posts/.*(leetcode|bytebytego).*\.md$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  check-required-frontmatter: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (_index\.md$) and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  check-single-category: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  forbid-double-more: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  forbid-double-parens-in-shortcodes: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-external-images: any of: ^layouts/.*\.html$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-md-extension-in-hugo-internal-links: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-old-perrotta-dev: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$ and not (^(content/posts/2024-02-04-new-domain.md|content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md)$) and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  forbid-personal-emails: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-tulip: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-utm-analytics: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  replace-em-dashes: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  replace-shell-prompt: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  sort-blog-tags: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  strip-content-posts-prefix: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
