Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

forbid-md-extension-in-hugo-internal-links:
  name: Forbid usage of .md extension in hugo internal links
  entry: .*\.md\" >\}\}
  language: pygrep

forbid-old-perrotta-dev:
  name: Forbid usage of previous domains
  entry: \b(https://thiagowfx\.github\.io|www\.perrotta\.dev|blog\.perrotta\.dev)\b
  language: pygrep

forbid-personal-emails:
  name: Forbid usage of my personal emails
  entry: tbperrotta@gmail.com
  language: pygrep

forbid-tulip:
  name: Forbid usage of Tulip
  entry: tulip
  language: pygrep

forbid-utm-analytics:
  name: Forbid usage of UTM analytics / tracking
  entry: \b(utm_source)\b
  language: pygrep

deploy: d8df0aee086bd4528941f19f89103802b619fc17
  2025/09/github-disable-dependabot-cli-notifications/index.html
  404.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none

add missing link
  content/posts/2025-09-03-github-disable-dependabot-cli-notifications.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

integer space
  content/posts/2025-08-29-reverse-integer.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

rename consistently
  content/posts/2025-08-29-leetcode-7-reverse-integer.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 216f46bd2ba1d3d79fe4179dea4521107d932bac
  2025/08/leetcode-#7-reverse-integer/index.html
  2025/09/github-disable-dependabot-cli-notifications/index.html
  index.xml
  posts/index.xml
  tags/coding/index.xml
  tags/dev/index.xml
Due: none

consistency
  content/posts/2025-08-29-leetcode-7-reverse-integer.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 2c337b36f33e5eea7ffe119bbfa2c0451885a770
  2025/08/leetcode-#7-reverse-integer/index.html
  404.html
  tags/coding/index.html
  tags/coding/index.xml
Due: none

new post: ccusage
  content/posts/2025-09-04-claude-usage.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 610949e7fcb5154620247b162d7cf3b8775c3a85
  2025/09/claude-usage/index.html
  404.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none

rename
  content/posts/2025-09-04-claude-ccusage.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 348a48ec50ac7e1b8197a1e6dccdb84c8b678af2
  2025/09/claude-ccusage/index.html
  404.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none

claude: compact context
  content/posts/2025-09-04-claude-compact-context.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: d462a00c6f8a16df92b8b1febe4b6665a048ff14
  2025/09/claude-compact-context/index.html
  404.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none

expand
  content/posts/2025-09-04-claude-compact-context.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 1ecb79b7f6e009a83dd6a14c2a7856f53b62476e
  2025/09/claude-compact-context/index.html
  index.xml
  posts/index.xml
  tags/dev/index.xml
Due: none

new post: escape json pointers
  content/posts/2025-09-04-json-pointers-escaping.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 8bdb582d0bd836aa04b773203c5c71f0905def2e
  2025/09/json-pointers-escaping/index.html
  404.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none

add markdownlint
  .markdownlint-cli2.yaml
  .pre-commit-config.yaml
  content/posts/2025-03-03-create-a-git-commit-with-multiple-contributors.md
  content/posts/2025-06-22-logseq-template-for-working-out.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

exempt markdownlint
  .markdownlint-cli2.yaml
  content/posts/2022-01-02-ephemeral-linux-shell-access-in-the-cloud.md
  content/posts/2024-10-06-tracking-cheap-flights-from-munich.md
  content/posts/2024-10-13-new-series-raspberry-pi-fun-with-devops.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

hash
  .markdownlint-cli2.yaml
  content/posts/2025-08-09-silence-unknown-callers.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 43e0eec37579604688c7c6ee73ad35b02fad1db2
  2025/08/silence-unknown-callers/index.html
  index.xml
  posts/index.xml
  tags/bestof/index.xml
  tags/serenity/index.xml
Due: none

heading
  .markdownlint-cli2.yaml
  content/posts/2024-05-28-github-actions-workflow.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

trailing punctuation in heading
  .markdownlint-cli2.yaml
  content/posts/2022-01-12-keychron-k2-review.md
  content/posts/2025-08-09-silence-unknown-callers.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 92efb2deca219395c74cac593d777ca1e345feb9
  2024/05/github-actions-workflow/index.html
Due: none

fix
  content/posts/2024-12-21-reply-to-i-hate-the-news.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 1c60bfcc5971eee8ea5e0bbbe69d6767eb116325
  2022/01/keychron-k2-review/index.html
  2025/08/silence-unknown-callers/index.html
  index.xml
  posts/index.xml
  tags/bestof/index.xml
  tags/serenity/index.xml
Due: none

more fixes
  .markdownlint-cli2.yaml
  content/posts/2016-09-01-linux-goodness-in-your-chromebook.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 154e047372aa6ee2a974b3d9379e67d73dbe78f7
  2016/09/linux-goodness-in-your-chromebook/index.html
Due: none

cache schema
  .markdownlint-cli2.yaml
  .pre-commit-config.yaml
  schemas/markdownlint-config-schema.json
Due: forbid-old-perrotta-dev

more fixes
  .markdownlint-cli2.yaml
  content/posts/2021-12-11-hello-world.md
  content/posts/2024-10-11-convert-json-to-yaml.md
  content/posts/2024-11-01-jellyfin-trakt.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 97af035d98715868d61d3762b7968c5c17d604e3
  2024/11/jellyfin-trakt-plug-in/index.html
Due: none

end-of-file-fixer
  .pre-commit-config.yaml
Due: forbid-old-perrotta-dev

more fixes
  archetypes/posts.md
  content/posts/2022-01-26-chromeos-hterm-customize-fonts.md
  content/posts/2022-02-19-screenshot-a-web-page-from-within-chrome-devtools.md
  content/posts/2023-12-23-gerrit-v3.9-is-out.md
  content/posts/2024-02-21-organic-maps.md
  content/posts/2024-07-04-github-flavoured-markdown-callouts.md
  content/posts/2024-07-20-alpine-linux-how-to-install-all-manpages-idiomatically.md
  content/posts/2024-12-09-bash-glob-hidden-files-recursively.md
  content/posts/2025-01-19-deutschland-ticket-in-2025.md
  content/posts/2025-02-21-google-meet-dashes.md
  content/posts/2025-03-26-disclosing-ai-in-pull-requests.md
  content/posts/2025-04-30-the-ack-xargs-sed-pattern.md
  content/posts/2025-05-19-ack-with-context.md
  layouts/404.html
  schemas/markdownlint-config-schema.json
  static/rss.xsl
  static/theme.css
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: f3cb364d49f0892d2ae611877518170abefed0c7
  rss.xsl
  theme.css
Due: none

more fixes
  .markdownlint-cli2.yaml
  content/posts/2025-05-17-winterbreak-hello-world.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 141477be288ae321efaf00d1e69ca39620b39685
  2025/05/winterbreak-hello-world/index.html
  tags/bestof/index.xml
  tags/privacy/index.xml
  tags/selfhosted/index.xml
  tags/serenity/index.xml
Due: none

more fixes
  .markdownlint-cli2.yaml
  content/posts/2024-12-20-hugo-merge-two-tags.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 757dc0d631e1d06a3e63d958736cd4f0625ebba4
  tags/meta/index.xml
Due: none

empty link
  .markdownlint-cli2.yaml
  content/posts/2022-02-19-screenshot-a-web-page-from-within-chrome-devtools.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

alt text for images
  .markdownlint-cli2.yaml
  content/posts/2025-08-26-midnight-commander-colorscheme.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

Path conditions:
  forbid-md-extension-in-hugo-internal-links: any of: \.(md|markdown|mdown)$
  forbid-old-perrotta-dev: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$, but not: ^(content/posts/2024-02-04-new-domain.md|content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md)$
  forbid-personal-emails: any of: \.(md|markdown|mdown)$
  forbid-tulip: any of: \.(md|markdown|mdown)$
  forbid-utm-analytics: any of: \.(md|markdown|mdown)$
