Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

Path conditions:
  forbid-md-extension-in-hugo-internal-links: any of: \.(md|markdown|mdown)$, but not: ^(schemas|vendor)/
  forbid-old-perrotta-dev: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$ and not (^(content/posts/2024-02-04-new-domain.md|content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md)$) and not (^(schemas|vendor)/)
  forbid-personal-emails: any of: \.(md|markdown|mdown)$, but not: ^(schemas|vendor)/
  forbid-tulip: any of: \.(md|markdown|mdown)$, but not: ^(schemas|vendor)/
  forbid-utm-analytics: any of: \.(md|markdown|mdown)$, but not: ^(schemas|vendor)/

markdown lint
  content/posts/2025-08-01-pr-reviews-after-vacation.md
  content/posts/2025-11-05-you-are-absolutely-right.md
  content/posts/2025-11-30-ghostty-shaders.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 1ebb9da62c615905f73bc26ada1e26072a52b19c
  2025/08/pr-reviews-after-vacation/index.html
  2025/11/ghostty-shaders/index.html
  2025/11/you-are-absolutely-right/index.html
  blogroll.opml
  index.xml
  posts/index.xml
  sitemap.xml
  tags/bestof/index.html
  tags/bestof/index.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

Auto-update pre-commit hooks
  .pre-commit-config.yaml
Due: forbid-old-perrotta-dev

matrix
  content/posts/2025-11-30-bytebytego-largest-square-in-a-matrix.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 4df84fabb20e711343453e0331eb0a72fb6193e5
  2025/11/bytebytego-largest-square-in-a-matrix/index.html
  404.html
  blogroll.opml
  posts/index.html
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

cooldown
  .github/dependabot.yml
Due: forbid-old-perrotta-dev

deploy: 12d23598db5853972c35921befd8a688d470834a
  blogroll.opml
  tags/coding/index.html
Due: none

deploy: 4a950e0edc09bf1973cd5638bc6f9af42b9925b8
  blogroll.opml
  robots.txt
  tags/coding/index.html
Due: none

deploy: 811e7fa78bf0a2df6f2fdce4e728317d96535d66
  blogroll.opml
  tags/coding/index.html
Due: none

add powrss badge: convert to webp
  layouts/_default/baseof.html
  static/powrss-88-31.gif
  static/powrss-88-31.webp
Due: none

add powrss badge
  layouts/_default/baseof.html
  static/powrss-88-31.gif
Due: none

convert all images to webp
  config.yml
  layouts/_default/baseof.html
  static/apple-touch-icon.png
  static/apple-touch-icon.webp
  static/green-team.gif
  static/green-team.webp
  static/thiagowfx.png
  static/thiagowfx.webp
  static/vim.gif
  static/vim.webp
Due: forbid-old-perrotta-dev

hugo: minify output
  config.yml
Due: forbid-old-perrotta-dev

deploy: eb12aa427a0db2a9aa3a7dd0b70e4aabed8c8347
  blogroll.opml
  tags/coding/index.html
Due: none

use webp
  content/posts/2025-11-23-no-adblocker-detected/ad.jpg
  content/posts/2025-11-23-no-adblocker-detected/ad.webp
  content/posts/2025-11-23-no-adblocker-detected/index.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: d061bcf81991f4feabbd4ef8f6e3745a6f7b16c5
  2025/11/no-adblocker-detected/ad.jpg
  2025/11/no-adblocker-detected/ad.webp
  2025/11/no-adblocker-detected/index.html
  blogroll.opml
  index.xml
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
  tags/selfhosted/index.html
  tags/selfhosted/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

rss: reduce from 50 -> 40 feeds
  config.yml
Due: forbid-old-perrotta-dev

deploy: d5d30ca40cf8fd74c9b18f12b83a59371fa57033
  blogroll.opml
  index.xml
  posts/index.xml
  tags/bestof/index.xml
  tags/coding/index.html
  tags/coding/index.xml
  tags/dev/index.xml
  tags/privacy/index.xml
  tags/selfhosted/index.xml
  tags/serenity/index.xml
Due: none

fix contrast: onedark
  layouts/partials/style.html
  static/theme.css
Due: none

new post: aoc part 1
  content/posts/2025-12-01-aoc-2025-day-1-secret-entrance.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

support aoc
  Justfile
  archetypes/coding.md
  ci/check_post_titles.py
  content/posts/2025-12-01-aoc-2025-day-1-secret-entrance.md
  layouts/_default/list.html
  static/coding-chart.js
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: b08350b50ed2163cc0a2ce5d56f3ce1d3e156002
  2025/12/aoc-2025-day-1-secret-entrance/index.html
  404.html
  blogroll.opml
  coding-chart.js
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

grammar
  content/posts/2025-12-01-aoc-2025-day-1-secret-entrance.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: afe221557d2cc77482b8b7149e57bdd3d0980c94
  2025/12/aoc-2025-day-1-secret-entrance/index.html
  blogroll.opml
  index.xml
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

code
  content/posts/2025-11-30-bytebytego-josephus.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 78fb982e94cd43becac7ea6712ed8c094c8aeaec
  2025/11/bytebytego-josephus/index.html
  blogroll.opml
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

fix broken image link
  content/posts/2025-11-30-ghostty-shaders.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 04083fd7971f23b25ef5e8810728d0e6f907ab62
  2025/11/ghostty-shaders/index.html
  blogroll.opml
  index.xml
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

atuin delete history
  content/posts/2025-12-01-atuin-delete-history-entries.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 2fe289087b818698fc585c9649e2bc2bfdfb7a33
  2025/12/atuin-delete-history-entries/index.html
  404.html
  blogroll.opml
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
Due: none

amend
  content/posts/2025-12-01-atuin-delete-history-entries.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: dd7723ac1597ea692805ba5bf77bc2f911a842f8
  2025/12/atuin-delete-history-entries/index.html
  blogroll.opml
  index.xml
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
Due: none

deploy: a3ba0a2fea023e486d797701c3174ebf1f8b8d38
  blogroll.opml
  tags/coding/index.html
Due: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: forbid-old-perrotta-dev

deploy: 8a5f5df551a63b411c715fcd82ca14c329244403
  blogroll.opml
  tags/coding/index.html
Due: none

deploy: 93fc2d37c898576de0c3cdcb3f80567a086e7ceb
  2024/12/advent-of-code-2024-day-1/index.html
  blogroll.opml
  robots.txt
  tags/coding/index.html
Due: none

deploy: 0c00cc1ba339048f532b87f3f8fce6aba3bbacf4
  blogroll.opml
  tags/coding/index.html
Due: none
