Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-coding-titles, check-duplicate-leetcode, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

check-coding-titles:
  name: Enforce LeetCode and ByteByteGo title format
  entry: ci/check_post_titles.py
  language: system

check-duplicate-leetcode:
  name: Detect duplicate LeetCode posts
  entry: ci/check_duplicate_leetcode_posts.py
  language: system
  pass_filenames: false

forbid-md-extension-in-hugo-internal-links:
  name: Forbid .md extension in hugo internal links
  entry: .*\.md\" >\}\}
  language: pygrep

forbid-old-perrotta-dev:
  name: Forbid old domains
  entry: \\b(https://thiagowfx\.github\.io|www\.perrotta\.dev|blog\.perrotta\.dev)\\b
  language: pygrep

forbid-personal-emails:
  name: Forbid personal emails
  entry: (@perrotta.dev|tbperrotta@gmail.com)
  language: pygrep

forbid-tulip:
  name: Forbid Tulip terms
  entry: (?i)(\btulip\b|@garden)
  language: pygrep

forbid-utm-analytics:
  name: Forbid UTM analytics / tracking
  entry: \\b(utm_source)\\b
  language: pygrep

add tag filtering to graph page
  layouts/_default/graph.graphdata.json
  layouts/_default/graph.html
Due: none

deploy: fd20aea2161a1f328a941cbd920102ce40768fe9
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  graph.json
  graph/index.html
  pt/blogroll.opml
Due: none

graph: hide filtered-out nodes instead of dimming them
  layouts/_default/graph.html
Due: none

deploy: c8e5961823cbf34e2f473288b06d75490a41d736
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  graph/index.html
  pt/blogroll.opml
Due: none

add year range filtering to graph page
  layouts/_default/graph.html
Due: none

deploy: c233c16354db3948369b5510c1eb94217ea56aea
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  graph/index.html
  pt/blogroll.opml
Due: none

fix prompts
  content/posts/2026-01-11-adrs-and-llms.md
  content/posts/2026-01-30-starship-github-pr.md
  content/posts/2026-02-05-alpine-linux-clear-tmp-upon-reboot.md
  content/posts/2026-02-05-npm-error-code-ebadf.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

pre-commit hazmat
  content/posts/2026-02-06-pre-commit--hazmat-n1.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

add file ref
  content/posts/2026-02-06-pre-commit--hazmat-n1.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

fix: plainify and truncate meta description to avoid HTML markup
  layouts/partials/seo_tags.html
Due: none

deploy: 0d9a0c708e62db3211dc76c0b199cc28edb1a0ee
  2022/01/advent-of-code/index.html
  2026/02/pre-commit-hazmat-n1/index.html
  2026/02/pre-commit-hazmat-n1/index.md
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  en/sitemap.xml
  index.xml
  posts/index.xml
  pt/blogroll.opml
  sitemap.xml
  tags/dev/index.xml
  tags/index.xml
  tags/pre-commit/index.xml
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

fix: fingerprint theme.css via Hugo Pipes for proper cache-busting
  assets/theme.css
  layouts/partials/style.html
Due: none

fix: fingerprint coding-chart.js via Hugo Pipes, replacing now.Unix hack
  assets/coding-chart.js
  layouts/_default/list.html
Due: none

deploy: 601b581c5ef3ed85b19087299481ad30d1479baa
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  coding-chart.js
  coding-chart.min.2e178c2c47721ab213805a1f979dbc9e5705d5ee07168e130095a82053eaa363.js
  pt/blogroll.opml
Due: none

fix: remove obsolete pubdate attribute from time elements
  layouts/404.html
  layouts/_default/single.html
Due: none

fix: correct theme toggle label to reflect auto/light/dark cycle
  layouts/_default/baseof.html
Due: none

augment CLAUDE.md with writing style
  CLAUDE.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

fix: replace duplicate h-card with minimal p-author h-card in articles
  layouts/_default/single.html
Due: none

fix: replace invalid <content> element with <div class=content>
  assets/theme.css
  layouts/404.html
  layouts/_default/list.html
  layouts/_default/random.html
  layouts/_default/search.html
  layouts/_default/terms.html
  layouts/partials/style.html
Due: none

fix: remove stray </div> closing tag from RSS feed
  layouts/_default/rss.xml
Due: none

fix: use relLangURL for menu links instead of brittle manual prefixing
  layouts/_default/baseof.html
Due: none

promote
  content/posts/2025-04-23-github-prs-do-not-submit.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 9e467eedec454025db1b0138351bef2871522898
  2022/01/advent-of-code/index.html
  2025/04/github-prs-do-not-submit/index.html
  2025/04/the-ack--xargs--sed-pattern/index.html
  2025/05/fpp-facebook-path-picker/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  graph.json
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/2014/01/testando-uma-iso-no-linux-sem-o-virtualbox/index.html
  pt/2014/04/recovery-típico-via-usb/index.html
  pt/2014/05/instalando-o-gentoo-a-partir-do-arch/index.html
  pt/2016/10/matroshka/index.html
  pt/2024/12/new-post-workflow/index.html
  pt/2025/01/emissor-nfe-sebrae-v4.01-para-emissão-de-notas-fiscais/index.html
  pt/2025/01/pare-de-receber-telemarketing-não-me-perturbe/index.html
  pt/404.html
  pt/blogroll.opml
  pt/categories/index.html
  pt/index.html
  pt/posts/index.html
  pt/search/index.html
  pt/tags/dev/index.html
  pt/tags/index.html
  pt/tags/meta/index.html
  pt/tags/privacy/index.html
  pt/tags/serenity/index.html
  search/index.json
  sitemap.xml
  tags/bestof/index.html
  tags/dev/index.html
  tags/index.html
  tags/index.xml
Due: none

daniel stenberg
  content/posts/2026-02-07-open-source-security-in-spite-of-ai/index.md
  content/posts/2026-02-07-open-source-security-in-spite-of-ai/open-source-security-in-spite-of-ai-daniel-stenberg.webp
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

pre-commit: use lossless compression for optimize-webp
  .pre-commit-config.yaml
Due: forbid-old-perrotta-dev

deploy: a579de63effad02cff97f03eec25ef3cf4c1ace7
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  pt/blogroll.opml
Due: none

add link to recording
  content/posts/2026-02-07-open-source-security-in-spite-of-ai/index.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 0a20919a621d2f9d15885210a870948e8cfce193
  2022/01/advent-of-code/index.html
  2026/02/open-source-security-in-spite-of-ai/index.html
  2026/02/open-source-security-in-spite-of-ai/index.md
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  index.xml
  posts/index.xml
  pt/blogroll.opml
  sitemap.xml
  tags/ai/index.xml
  tags/bestof/index.xml
  tags/dev/index.xml
  tags/index.xml
  tags/meta/index.xml
  tags/security/index.xml
  tags/serenity/index.xml
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

curl
  content/posts/2026-02-07-open-source-security-in-spite-of-ai/index.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

blogroll: add Daniel Stenberg
  data/blogroll.yaml
Due: forbid-old-perrotta-dev

deploy: 3434887b5f7f5d0e002b1d2dc8372a3529fcbc7b
  2022/01/advent-of-code/index.html
  2026/02/open-source-security-in-spite-of-ai/index.html
  2026/02/open-source-security-in-spite-of-ai/index.md
  blogroll.opml
  en/sitemap.xml
  index.xml
  posts/index.xml
  pt/blogroll.opml
  search/index.json
  sitemap.xml
  tags/ai/index.xml
  tags/bestof/index.xml
  tags/dev/index.xml
  tags/index.xml
  tags/meta/index.xml
  tags/security/index.xml
  tags/serenity/index.xml
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

feat: support filename attribute in code block headers
  content/posts/2026-02-05-alpine-linux-clear-tmp-upon-reboot.md
  layouts/_default/_markup/render-codeblock.html
  layouts/_default/_markup/render-codeblock.rss.xml
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

Path conditions:
  check-coding-titles: any of: ^content/posts/.*(leetcode|bytebytego).*\.md$ and \.(md|markdown|mdown)$ and not (^content/posts/2025-12-30-kagi-add-leetcode-bang.md$) and not (^(layouts/partials/openring.html$|schemas|vendor)/)
  check-duplicate-leetcode: any of: ^content/posts/.*leetcode.*\.md$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
  forbid-md-extension-in-hugo-internal-links: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
  forbid-old-perrotta-dev: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$ and not (^(content/posts/2024-02-04-new-domain.md|content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md)$) and not (^(layouts/partials/openring.html$|schemas|vendor)/)
  forbid-personal-emails: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
  forbid-tulip: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
  forbid-utm-analytics: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
