Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-coding-titles, check-duplicate-leetcode, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

Path conditions:
  check-coding-titles: any of: ^content/posts/.*(leetcode|bytebytego).*\.md$ and \.(md|markdown|mdown)$ and not (^content/posts/2025-12-30-kagi-add-leetcode-bang.md$) and not (^(layouts/partials/openring.html$|schemas|vendor)/)
  check-duplicate-leetcode: any of: ^content/posts/.*leetcode.*\.md$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
  forbid-md-extension-in-hugo-internal-links: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
  forbid-old-perrotta-dev: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$ and not (^(content/posts/2024-02-04-new-domain.md|content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md)$) and not (^(layouts/partials/openring.html$|schemas|vendor)/)
  forbid-personal-emails: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
  forbid-tulip: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
  forbid-utm-analytics: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/

leetcode
  content/posts/coding/2026-01-06-leetcode-1533-find-the-index-of-the-large-integer.md
Due: check-coding-titles, check-duplicate-leetcode, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

leetcode
  content/posts/coding/2026-01-06-leetcode-1065-index-pairs-of-a-string.md
Due: check-coding-titles, check-duplicate-leetcode, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

leetcode
  content/posts/coding/2026-01-06-leetcode-2057-smallest-index-with-equal-value.md
Due: check-coding-titles, check-duplicate-leetcode, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

leetcode
  content/posts/coding/2026-01-06-leetcode-747-largest-number-at-least-twice-of-others.md
Due: check-coding-titles, check-duplicate-leetcode, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

leetcode
  content/posts/coding/2026-01-06-leetcode-3595-once-twice.md
Due: check-coding-titles, check-duplicate-leetcode, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

leetcode
  content/posts/coding/2026-01-06-leetcode-66-plus-one.md
Due: check-coding-titles, check-duplicate-leetcode, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

leetcode
  content/posts/coding/2026-01-06-leetcode-2666-allow-one-function.md
Due: check-coding-titles, check-duplicate-leetcode, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

leetcode
  content/posts/coding/2026-01-06-leetcode-2085-count-common-words-with-one-occurrence.md
Due: check-coding-titles, check-duplicate-leetcode, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

blog posts are draft by default
  archetypes/blog.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

leetcode
  content/posts/coding/2026-01-06-leetcode-3683-earliest-time-to-finish-one-task.md
Due: check-coding-titles, check-duplicate-leetcode, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 6c0d5080052b672397533dfe23111f94beb944f0
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  pt/blogroll.opml
Due: none

leetcode
  content/posts/coding/2026-01-06-leetcode-1180-count-substrings-with-only-one-distinct.md
Due: check-coding-titles, check-duplicate-leetcode, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

fix: search coding subdirectory for duplicate leetcode posts
  ci/check_duplicate_leetcode_posts.py
Due: none

extend duplicate check to bytebytego posts
  Justfile
  ci/check_duplicate_leetcode_posts.py
Due: none

rename: check_duplicate_leetcode_posts.py -> check_duplicate_coding_posts.py
  Justfile
  ci/check_duplicate_coding_posts.py
Due: none

update pre-commit hook for renamed duplicate check script
  .pre-commit-config.yaml
Due: forbid-old-perrotta-dev

deploy: 6dbf47413e0a34f8931a03a78b5e1377d7aa5a90
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  pt/blogroll.opml
Due: none

deploy: 602d2b2433b0f788dcc3fde496a84b3019d50f9b
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  pt/blogroll.opml
Due: none

leetcode
  content/posts/coding/2026-01-06-leetcode-1790-check-if-one-string-swap-can-make-strings-equal.md
Due: check-coding-titles, check-duplicate-leetcode, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

leetcode
  content/posts/coding/2026-01-06-leetcode-54-spiral-matrix.md
Due: check-coding-titles, check-duplicate-leetcode, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

leetcode
  content/posts/coding/2026-01-06-leetcode-67-add-binary.md
Due: check-coding-titles, check-duplicate-leetcode, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

leetcode
  content/posts/coding/2026-01-06-leetcode-167-two-sum-ii---input-array-is-sorted.md
Due: check-coding-titles, check-duplicate-leetcode, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

leetcode
  content/posts/coding/2025-12-30-leetcode-485-max-consecutive-ones.md
Due: check-coding-titles, check-duplicate-leetcode, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics
