Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

Path conditions:
  forbid-md-extension-in-hugo-internal-links: any of: \.(md|markdown|mdown)$
  forbid-old-perrotta-dev: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$, but not: ^(content/posts/2024-02-04-new-domain.md|content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md)$
  forbid-personal-emails: any of: \.(md|markdown|mdown)$
  forbid-tulip: any of: \.(md|markdown|mdown)$
  forbid-utm-analytics: any of: \.(md|markdown|mdown)$

new post: git lock argocd repo server issue
  content/posts/2025-08-23-argocd-git-index.lock-issue.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: dd9da2e982913aa474eb5acba7ffd99f41829b9a
  2025/08/argocd-git-index.lock-issue/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/selfhosted/index.html
  tags/selfhosted/index.xml
Due: none

new post: email
  content/posts/2025-08-26-what-is-a-valid-email-address.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: e0c674435c3d968c0131f9e8a1184c8eff7f64aa
  2025/08/what-is-a-valid-email-address/index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

add skyr, speisequark
  content/posts/2025-04-20-overnight-oats.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: c7d238c75ec64759e1598ad6417191686aa0dc35
  2025/04/overnight-oats/index.html
  tags/bestof/index.xml
  tags/recipe/index.xml
  tags/serenity/index.xml
Due: none

soak
  content/posts/2025-04-20-overnight-oats.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 514e625321832ea937f8207953f5b93b15d4d494
  2025/04/overnight-oats/index.html
  tags/bestof/index.xml
  tags/recipe/index.xml
  tags/serenity/index.xml
Due: none

more hacker news
  content/posts/2022-02-17-praise-for-blog-aggregators.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: d1b95220cea77887add97b06c162b7caa6191bca
  2022/02/praise-for-blog-aggregators/index.html
Due: none

marginalia
  content/posts/2025-05-17-blog-directories.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: c8eca6ad28e891cad8cf43733a9024ee2a7578b0
  2025/05/blog-directories/index.html
  tags/selfhosted/index.xml
  tags/serenity/index.xml
Due: none

midnight commander colorscheme
  content/posts/2025-08-26-midnight-commander-colorscheme.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

gnu is not linux
  content/posts/2025-08-26-midnight-commander-colorscheme.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 64a61017055738401a9aa2df8d7790003a52e731
  2025/08/midnight-commander-colorscheme/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none

add credits
  content/posts/2025-08-26-midnight-commander-colorscheme.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: b0d629e539155d44001aae9d6eefa9b99fdd9cf3
  2025/08/midnight-commander-colorscheme/index.html
  index.xml
  posts/index.xml
  tags/dev/index.xml
Due: none

deploy: e876880b61b9ebcad99fccca80e013b09cb19939
  2025/08/midnight-commander-colorscheme/index.html
  index.xml
  posts/index.xml
  tags/dev/index.xml
Due: none

new post: git ignore changes to tracked files
  content/posts/2025-08-26-git-ignore-changes-to-tracked-files.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: afe1f8ba2d05d08df950935c8597e80263d480b0
  2025/08/git-ignore-changes-to-tracked-files/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none

new post: mcedit
  content/posts/2025-08-26-midnight-commander-use-default-editor.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: d4e0d7d13c10a15150fc1fc02b8e65130a7a8ef9
  2025/08/midnight-commander-use-default-editor/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none

fix(rss): use absolute paths in xslt
  static/rss.xsl
Due: none

deploy: bb62997798b917f561624d87a1244edae9c55696
  rss.xsl
Due: none

feat: better 404 page
  layouts/404.html
Due: none

deploy: 354a36ae0bcd3402e4ab394396d534dbc6f358b5
  404.html
Due: none

new post: yazi
  content/posts/2025-08-27-yazi.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: b631943a57d55547924c02384517ee700c56cae3
  2025/08/yazi/index.html
  404.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none

midnight commander: fn
  content/posts/2025-08-28-midnight-commander-fn-keys.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: c357609db330cd02721ac32a00b82286a7b21e0d
  2025/08/midnight-commander-fn-keys/index.html
  404.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none

talisman: medium+ severity only
  .talismanrc
Due: none

add schema to talisman
  .talismanrc
Due: none

new hook: check-yamlschema
  .pre-commit-config.yaml
Due: forbid-old-perrotta-dev

add pre-commit schema validation
  .pre-commit-config.yaml
Due: forbid-old-perrotta-dev

new post: fact-checking
  content/posts/2025-08-28-fact-checking-when-blogging.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 389f63a022980a30f4e162f72a6137fcbc7d95b2
  2025/08/fact-checking-when-blogging/index.html
  404.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

new post: helm diff
  content/posts/2025-08-28-helm-diff-manifests.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 29309dd638f94840e1cdcd412c05696a42e082c1
  2025/08/helm-diff-manifests/index.html
  404.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none

deploy: af1b7c95581d0d55018b8f7f99593c2ba13e4a54
  posts/index.html
  tags/aoc/index.html
  tags/bestof/index.html
  tags/dev/index.html
  tags/meta/index.html
  tags/privacy/index.html
  tags/pt/index.html
  tags/recipe/index.html
  tags/selfhosted/index.html
  tags/serenity/index.html
Due: none

bestof
  content/posts/2025-08-21-kubernetes-list-all-imagepullbackoff-container-images.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics
