Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-tulip, forbid-utm-analytics

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
# Install pre-commit itself:
#   $ pip install pre-commit
#     OR
#   $ brew install pre-commit
#
# Update all pre-commit hooks to latest version:
#   $ pre-commit autoupdate
#
# Install all default pre-commit hooks locally:
#   $ pre-commit install
#
# Apply a given pre-commit hook to all files:
#   $ pre-commit run --all-files <id>
#
# Apply all pre-commit hooks to all files:
#   $ pre-commit run --all-files
ci:
  autoupdate_schedule: monthly
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: cef0300fd0fc4d2a87a85fa2093c6b283ea36f4b # frozen: v5.0.0
    hooks:
      # keep-sorted start
      - id: check-executables-have-shebangs
      - id: check-yaml
      - id: detect-private-key
      - id: trailing-whitespace
        # keep-sorted end
  # keep-sorted start
  - repo: https://github.com/codespell-project/codespell
    rev: 63c8f8312b7559622c0d82815639671ae42132ac # frozen: v2.4.1
    hooks:
      - id: codespell
        exclude: ^(content/posts/(2014|2015|2016)|content/posts/2024-07-09-kubectl-get-secret-with-jsonpath-add-newline.md|content/posts/2024-06-27-a-little.md|content/posts/2024-12-22-new-post-workflow.md|content/posts/2025-01-13-pare-de-receber-telemarketing-nÃ£o-me-perturbe.md)
        args:
          - -D .codespell-dictionary.txt
          - -I .codespell-ignore-words.txt
  - repo: https://github.com/gitleaks/gitleaks
    rev: a2a447c39b8e87ea803c140b4c58a2b9804e42f8 # frozen: v8.25.1
    hooks:
      - id: gitleaks
  - repo: https://github.com/google/keep-sorted
    rev: 3f9cf7d52cc6832a6752433472925981f89d516f # frozen: v0.6.1
    hooks:
      - id: keep-sorted
  - repo: https://github.com/google/yamlfmt
    rev: ac76bb931851dda64a55ef746ca9b8bb41634b98 # frozen: v0.16.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/lalten/check-gha-pinning
    rev: 225deee5dff16fae532978007ce6e37045e14c68 # frozen: v1.3.0
    hooks:
      - id: check-gha-pinning
  - repo: https://github.com/shssoichiro/oxipng
    rev: c7d462f909e9c6ebc8d32820d83a6119b681cad6 # frozen: v9.1.5
    hooks:
      - id: oxipng
  - repo: https://github.com/sirosen/texthooks
    rev: 13a42592dd28b6b688bb1c23fa769234984d4ca7 # frozen: 0.6.8
    hooks:
      - id: fix-ligatures
      - id: fix-smartquotes
  # Only run it every once in a while.
  # - repo: https://github.com/tcort/markdown-link-check
  #   rev: v3.13.6
  #   hooks:
  #     - id: markdown-link-check
  #       files: '^content/posts/2025-.*'
  #       args:
  #         - -q
  - repo: local
    hooks:
      # keep-sorted start
      - id: forbid-md-extension-in-hugo-internal-links
        name: Forbid usage of .md extension in hugo internal links
        entry: '.*\.md\" >\}\}'
        language: pygrep
        types:
          - markdown
      - id: forbid-old-perrotta-dev
        name: Forbid usage of previous domains
        entry: '\b(https://thiagowfx\.github\.io|www\.perrotta\.dev|blog\.perrotta\.dev)\b'
        language: pygrep
        types_or:
          - markdown
          - yaml
        exclude: ^(content/posts/2024-02-04-new-domain.md|content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md)$
      - id: forbid-tulip
        name: Forbid usage of Tulip
        entry: 'tulip'
        language: pygrep
        types:
          - markdown
      - id: forbid-utm-analytics
        name: Forbid usage of UTM analytics / tracking
        entry: '\b(utm_source)\b'
        language: pygrep
        types:
          - markdown
          # keep-sorted end
# keep-sorted end

deploy: 334548951996b0d77fb08c1048817190c65b6d1d
  2025/05/our-most-powerful-model-yet/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

typo
  content/posts/2025-05-24-our-most-powerful-model-yet.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-tulip, forbid-utm-analytics

deploy: 834b49bd23f3043e0256ed56b3d92af4712d92d1
  2025/05/our-most-powerful-model-yet/index.html
  index.xml
  posts/index.xml
  tags/serenity/index.xml
Due: none

mention story graph
  content/posts/2025-03-18-goodreads.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-tulip, forbid-utm-analytics

deploy: 33b8e0440bc6c1da1052d7eaab947f17517bc9fe
  2025/03/goodreads/index.html
  tags/serenity/index.xml
Due: none

new post: next read
  content/posts/2025-05-24-which-book-should-i-read-next.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-tulip, forbid-utm-analytics

deploy: 005acf5ee09aa679372bf685a4d8553c80aef956
  2025/05/which-book-should-i-read-next/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

fix typos
  content/posts/2024-12-22-new-post-workflow.md
  content/posts/2025-05-16-espanso-hello-world.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-tulip, forbid-utm-analytics

deploy: 2cc8f06c3e100369cb302db9d16491527a8b52e2
  2024/12/new-post-workflow/index.html
  2025/05/espanso-hello-world/index.html
  index.xml
  posts/index.xml
  tags/dev/index.xml
  tags/linux/index.xml
  tags/meta/index.xml
Due: none

add manual hooks
  .pre-commit-config.yaml
Due: forbid-old-perrotta-dev

add see also
  content/posts/2025-01-09-argocd-cache-key-is-missing.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-tulip, forbid-utm-analytics

deploy: c680f08240db467d4ba06dff82e3fd7567f932e9
  2025/01/argocd-cache-key-is-missing/index.html
  tags/selfhosted/index.xml
Due: none

new post: limited creativity
  content/posts/2025-05-31-limited-creativity.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-tulip, forbid-utm-analytics

deploy: 89d36ba57ca611998b9042aa26b0b98e4cfd0065
  2025/05/limited-creativity/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/meta/index.html
  tags/meta/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

tweak
  content/posts/2025-05-31-limited-creativity.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-tulip, forbid-utm-analytics

deploy: efe8dd2ad97f41a04125ce28c3092bba12f9ee38
  2025/05/limited-creativity/index.html
  index.xml
  posts/index.xml
  tags/dev/index.xml
  tags/meta/index.xml
  tags/serenity/index.xml
Due: none

deploy: 463e22554c5b90c192f97a2064f43c157f30ec2f
  2025/05/limited-creativity/index.html
  index.xml
  posts/index.xml
  tags/dev/index.xml
  tags/meta/index.xml
  tags/serenity/index.xml
Due: none

deploy: 01979a483397c2868fe463790436b313929d6ca3
  2025/05/limited-creativity/index.html
  index.xml
  posts/index.xml
  tags/dev/index.xml
  tags/meta/index.xml
  tags/serenity/index.xml
Due: none

why don't I use a spellchecker?
  content/posts/2025-05-31-limited-creativity.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-tulip, forbid-utm-analytics

deploy: a66a1ae9858eb85b0404741e7f6a5f9f31352b18
  2025/05/limited-creativity/index.html
  index.xml
  posts/index.xml
  tags/dev/index.xml
  tags/meta/index.xml
  tags/serenity/index.xml
Due: none

new post: kagi trial ends
  content/posts/2025-05-31-kagi-trial-expires.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-tulip, forbid-utm-analytics

deploy: d16810d8e325f0eff1f2d2f6624cf3b704295fe1
  2025/05/kagi-trial-expires/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/privacy/index.html
  tags/privacy/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

add just to pre-commit gha
  .github/workflows/pre-commit.yml
Due: forbid-old-perrotta-dev

add hugo to pre-commit gha
  .github/workflows/pre-commit.yml
Due: forbid-old-perrotta-dev

add just, hugo to pre-commit autoupdate gha
  .github/workflows/pre-commit-autoupdate.yml
Due: forbid-old-perrotta-dev

pre-commit autoupdate: always pass pre-commit step
  .github/workflows/pre-commit-autoupdate.yml
Due: forbid-old-perrotta-dev

new post: replace text in PDFs
  content/posts/2025-06-01-replace-text-in-pdfs.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-tulip, forbid-utm-analytics

deploy: 6e4e7b9480adfa3310a524df014a0f861485504c
  2025/06/replace-text-in-pdfs/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none

move always() to the right place
  .github/workflows/pre-commit-autoupdate.yml
Due: forbid-old-perrotta-dev

Auto-update pre-commit hooks
  .pre-commit-config.yaml
Due: forbid-old-perrotta-dev

use continue-on-error instead of if: always()
  .github/workflows/pre-commit-autoupdate.yml
Due: forbid-old-perrotta-dev

add pre-commit-just
  .pre-commit-config.yaml
  Justfile
Due: forbid-old-perrotta-dev

add sha
  .pre-commit-config.yaml
Due: forbid-old-perrotta-dev

deploy: c91d81ba0be66a87f1527c89d20286cb1a6e45a7
  robots.txt
Due: none

new post: pdb
  content/posts/2025-06-02-pdb-minavailable-and-maxunavailable-cannot-be-both-set.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-tulip, forbid-utm-analytics

deploy: ba2ede237b432d16bcad5796c493cdd44ad2b633
  2025/06/pdb-minavailable-and-maxunavailable-cannot-be-both-set/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/selfhosted/index.html
  tags/selfhosted/index.xml
Due: none

grammar
  content/posts/2025-06-02-pdb-minavailable-and-maxunavailable-cannot-be-both-set.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-tulip, forbid-utm-analytics
