Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

Path conditions:
  forbid-md-extension-in-hugo-internal-links: any of: \.(md|markdown|mdown)$, but not: ^(schemas|vendor)/
  forbid-old-perrotta-dev: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$ and not (^(content/posts/2024-02-04-new-domain.md|content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md)$) and not (^(schemas|vendor)/)
  forbid-personal-emails: any of: \.(md|markdown|mdown)$, but not: ^(schemas|vendor)/
  forbid-tulip: any of: \.(md|markdown|mdown)$, but not: ^(schemas|vendor)/
  forbid-utm-analytics: any of: \.(md|markdown|mdown)$, but not: ^(schemas|vendor)/

deploy: 1dcf0a8a54d2f6f839a36686d95bcc63be182237
  2025/09/leetcoding/index.html
  coding-chart.js
  sitemap.xml
  tags/bestof/index.html
  tags/bestof/index.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

bytebytego
  Justfile
  archetypes/coding.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 287980186beb781b41c4983e58f8fe8c00914f93
  tags/coding/index.html
Due: none

add link to xslt
  static/rss.xsl
Due: none

styling
  static/rss.xsl
Due: none

deploy: e6e4691031855d2c71753b0ffdfa8ed348c63ebd
  rss.xsl
  tags/coding/index.html
Due: none

deploy: f58d5efe4767048df39a24800174fd9aa8bb8c11
  rss.xsl
  tags/coding/index.html
Due: none

last link
  layouts/_default/rss.xml
Due: none

deploy: d50170d976f0a014c7573042d26ec79e5a9aca7e
  posts/index.xml
  tags/aoc/index.xml
  tags/bestof/index.xml
  tags/coding/index.html
  tags/coding/index.xml
  tags/dev/index.xml
  tags/meta/index.xml
  tags/privacy/index.xml
  tags/pt/index.xml
  tags/recipe/index.xml
  tags/selfhosted/index.xml
  tags/serenity/index.xml
Due: none

pair sum sorted
  content/posts/2025-11-22-bytebytego-pair-sum-sorted.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: b5f666598d258ec8c63d3e2414227f8d4c86d605
  2025/11/bytebytego-pair-sum-sorted/index.html
  404.html
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

bytebytego: is palindrome valid
  content/posts/2025-11-22-bytebytego-is-palindrome-valid.md
  content/posts/2025-11-22-bytebytego-pair-sum-sorted.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 2fe856e29edd43bbbb69f5ffa400d97173bc78e7
  2025/11/bytebytego-is-palindrome-valid/index.html
  2025/11/bytebytego-pair-sum-sorted/index.html
  404.html
  posts/index.html
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

new post: pair sum unsorted
  content/posts/2025-11-22-bytebytego-pair-sum---unsorted.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 285495fb6e756fbadb4a04ecac32469de7f65ddc
  2025/11/bytebytego-pair-sum-unsorted/index.html
  404.html
  posts/index.html
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

more examples
  content/posts/2025-11-22-bytebytego-pair-sum---unsorted.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: e2512ead9646d21eb7b6ef4080a47d1ac745311b
  2025/11/bytebytego-pair-sum-unsorted/index.html
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

new post: radio
  content/posts/2025-11-22-radio.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: e46a02278a542218f1d69e5fe2ee775a710c26bb
  2025/11/radio/index.html
  404.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

suggestions
  content/posts/2025-11-22-radio.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 373a70ac7e8edffa02ad6eb151619f6fb54fc13a
  2025/11/radio/index.html
  index.xml
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

add bestof to radio
  content/posts/2025-11-22-radio.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 4f21482c61d3292f5750a18e7954ebf47de880ae
  2025/11/radio/index.html
  404.html
  posts/index.html
  sitemap.xml
  tags/bestof/index.html
  tags/bestof/index.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

ci: more pre-commit hooks
  .pre-commit-config.yaml
Due: forbid-old-perrotta-dev

deploy: 30d8dd0c27c4793723700b1e00a1d81fa442d254
  tags/coding/index.html
Due: none

ci: add strip-exif
  .pre-commit-config.yaml
Due: forbid-old-perrotta-dev

deploy: 72c07347f8f94c7177974acb0a1b046670c50602
  tags/coding/index.html
Due: none

new post: I hope
  content/posts/2025-11-23-i-hope.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: f8d8850b5c4b958a6e505e38b59fcecb5692689a
  2025/11/i-hope/index.html
  404.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

new post: ad
  content/posts/2025-11-23-no-adblocker-detected/ad.jpg
  content/posts/2025-11-23-no-adblocker-detected/index.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 6d20637063faf373855cd078d70b405005d94d97
  2025/11/no-adblocker-detected/ad.jpg
  2025/11/no-adblocker-detected/index.html
  404.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
  tags/selfhosted/index.html
  tags/selfhosted/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

pre-commit: add optimize-jpg
  .pre-commit-config.yaml
Due: forbid-old-perrotta-dev

deploy: 499600018767ddb581c4849ac8b2caa35303d7dd
  tags/coding/index.html
Due: none

tweak
  content/posts/2025-11-23-help2man.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

pre-commit: add optimize-jpg
  content/posts/2025-11-23-help2man.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

quote
  content/posts/2025-11-23-i-hope.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 4871cb2ac5ea6ad7b99622f4158d574f9f68f668
  2025/11/help2man/index.html
  404.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/bestof/index.html
  tags/bestof/index.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

deploy: 126c3249ba2220760ed3540eaa377949f124eb77
  2025/11/i-hope/index.html
  index.xml
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

formatting
  content/posts/2025-11-23-no-adblocker-detected/index.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 8f66aa1373491659f59c260154252fbb057fdd4f
  2025/11/no-adblocker-detected/index.html
  index.xml
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
  tags/selfhosted/index.html
  tags/selfhosted/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none
