Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-coding-titles, check-duplicate-leetcode, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

Path conditions:
  check-coding-titles: any of: ^content/posts/.*(leetcode|bytebytego).*\.md$ and \.(md|markdown|mdown)$ and not (^content/posts/2025-12-30-kagi-add-leetcode-bang.md$) and not (^(layouts/partials/openring.html$|schemas|vendor)/)
  check-duplicate-leetcode: any of: ^content/posts/.*leetcode.*\.md$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
  forbid-md-extension-in-hugo-internal-links: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
  forbid-old-perrotta-dev: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$ and not (^(content/posts/2024-02-04-new-domain.md|content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md)$) and not (^(layouts/partials/openring.html$|schemas|vendor)/)
  forbid-personal-emails: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
  forbid-tulip: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
  forbid-utm-analytics: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/

deploy: 5ee8e999aa2f6e2a9ac56ca83c45231a0d3fee1f
  2014/08/serendipity...why-not/index.html
  2014/10/compiling-/-installing-pacman-on-ubuntu/index.html
  2014/10/how-do-i-blog-with-org2blog/index.html
  2014/10/how-do-i-blog-with-org2blog/index.md
  2014/11/i3-window-manager/index.html
  2014/11/vim-shortcuts-everywhere/index.html
  2014/12/using-proxy-servers-on-linux/index.html
  2015/01/the-eudyptula-challenge/index.html
  2015/02/from-orgmode-to-asciidoc-or-ditching-emacs/index.html
  2021/12/hello-world-from-hugo/index.html
  2022/01/advent-of-code/index.html
  2022/02/hugo-compose-or-edit-blog-posts-from-the-web/index.html
  2022/02/website-fonts-just-use-the-system-font-stack/index.html
  2022/03/miniflux-v2.0.36-is-out/index.html
  2022/10/do-i-still-remember-how-to-blog/index.html
  2023/12/gerrit-v3.9-is-out/index.html
  2024/01/hugo-rename-a-tag/index.html
  2024/02/new-domain/index.html
  2024/12/hugo-merge-two-tags/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  graph.json
  posts/index.html
  posts/recipes/index.html
  pt/blogroll.opml
  random/index.html
  search/index.json
  sitemap.xml
  tags/dev/index.html
  tags/index.html
  tags/index.xml
  tags/legacy/index.html
  tags/legacy/index.xml
  tags/meta/index.html
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

arch
  content/pt/posts/2014-01-02-por-que-o-arch-linux.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 6eefca10b57dd7ce4901fdcda53fee4a3bb097ed
  2014/04/my-first-org2blog-post/index.html
  2014/04/my-first-org2blog-post/index.md
  2014/04/pkgbuild-class-@-irc/index.html
  2014/05/im-learning-php/index.html
  2014/07/adb-over-wi-fi-for-adbsync/index.html
  2014/07/emacs-no-usable-browser-found-error/index.html
  2014/08/open-pgp-@-android/index.html
  2014/09/my-first-ebuild/index.html
  2014/10/how-do-i-blog-with-org2blog/index.html
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  graph.json
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/blogroll.opml
  random/index.html
  search/index.json
  sitemap.xml
  tags/dev/index.html
  tags/index.html
  tags/index.xml
  tags/legacy/index.html
  tags/legacy/index.xml
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

search
  content/posts/2014-01-04-custom-search-engines.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 98d181d334be04def2cab5f4cce7f5b7c7356108
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  posts/coding/index.html
  posts/index.html
  pt/2014/01/por-que-o-arch-linux/index.html
  pt/2014/01/por-que-o-arch-linux/index.md
  pt/2014/01/testando-uma-iso-no-linux-sem-o-virtualbox/index.html
  pt/404.html
  pt/blogroll.opml
  pt/index.xml
  pt/posts/2014-01-02-por-que-o-arch-linux/index.html
  pt/posts/2014-01-02-por-que-o-arch-linux/index.md
  pt/posts/2014-01-07-testando-uma-iso-no-linux-sem-o-virtualbox/index.html
  pt/posts/index.html
  pt/posts/index.xml
  pt/search/index.json
  pt/sitemap.xml
  pt/tags/dev/index.html
  pt/tags/dev/index.xml
  pt/tags/index.html
  pt/tags/index.xml
  pt/tags/legacy/index.html
  pt/tags/legacy/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/index.html
  tags/index.xml
  tags/legacy/index.html
  tags/legacy/index.xml
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 469f944b16f9c827c2e8950f73f1f7c088675dfe
  2013/12/science-is-fun-remix/index.html
  2014/01/custom-search-engines/index.html
  2014/01/custom-search-engines/index.md
  2014/04/my-first-org2blog-post/index.html
  2014/04/pacman-gpgme-error-no-data/index.html
  2014/04/pkgbuild-class-@-irc/index.html
  2014/07/adb-over-wi-fi-for-adbsync/index.html
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  graph.json
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/blogroll.opml
  random/index.html
  search/index.json
  sitemap.xml
  tags/dev/index.html
  tags/index.html
  tags/index.xml
  tags/legacy/index.html
  tags/legacy/index.xml
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

extend ADR
  docs/adrs/0005-webmention-support.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

docs
  docs/adrs/0005-webmention-support.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 3ec93287ac0a4021addec1dcab6d76ef09139769
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  pt/blogroll.opml
Due: none

deploy: 5f5ef9c1993f92caf30a208c5ae1ffbe7f976a85
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  pt/blogroll.opml
Due: none

cppman
  content/posts/2015-01-15-c-man-pages.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

em-dashes
  .pre-commit-config.yaml
  ci/replace_em_dashes.py
Due: forbid-old-perrotta-dev

deploy: 9a521a37e4d2551818ab95150ee6a7674d65a6d4
  2015/01/c-man-pages/index.html
  2015/01/c-man-pages/index.md
  2015/01/the-eudyptula-challenge/index.html
  2015/02/from-orgmode-to-asciidoc-or-ditching-emacs/index.html
  2015/03/account-deletion-request/index.html
  2015/03/documented-dotfiles/index.html
  2015/03/recording-screencasts-on-linux/index.html
  2015/03/running-ogre3d-locally-without-installing-it/index.html
  2015/03/thoughts-on-instagram/index.html
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  graph.json
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/blogroll.opml
  random/index.html
  search/index.json
  sitemap.xml
  tags/dev/index.html
  tags/index.html
  tags/index.xml
  tags/legacy/index.xml
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

a few em dashes
  content/posts/2015-01-15-c-man-pages.md
  content/posts/2022-01-04-direnv-automate-your-environment-variables.md
  content/posts/2022-01-05-ventoy-automate-your-distro-hopping.md
  content/posts/2023-12-02-maccy-macos-clipboard-manager.md
  content/posts/2024-07-03-pipes-rss-manipulation.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 832d6b4cc3191b4f0df4340215b32a807b22654f
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  pt/blogroll.opml
Due: none

orgmode
  content/posts/2014-05-21-everything-orgmode-or-orgmode-everywhere.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 5eb549610d7af72d762201ace344650414b27446
  2015/01/c-man-pages/index.html
  2015/01/c-man-pages/index.md
  2022/01/advent-of-code/index.html
  2022/01/direnv-automate-your-environment-variables/index.html
  2022/01/direnv-automate-your-environment-variables/index.md
  2022/01/ventoy-automate-your-distro-hopping/index.html
  2022/01/ventoy-automate-your-distro-hopping/index.md
  2023/12/maccy-macos-clipboard-manager/index.html
  2023/12/maccy-macos-clipboard-manager/index.md
  2024/07/pipes-rss-manipulation/index.html
  2024/07/pipes-rss-manipulation/index.md
  2025/03/maccy-pin-items/index.html
  2025/10/clipboard-as-backup/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  pt/blogroll.opml
  search/index.json
  sitemap.xml
  tags/advent-of-code/index.xml
  tags/index.xml
  tags/legacy/index.xml
  tags/macos/index.xml
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: edc25b44ed8b3d3b6de7ac1e874bdf683022ba5f
  2014/05/everything-orgmode-or-orgmode-everywhere/index.html
  2014/05/everything-orgmode-or-orgmode-everywhere/index.md
  2014/05/im-learning-php/index.html
  2014/07/adb-over-wi-fi-for-adbsync/index.html
  2014/07/emacs-no-usable-browser-found-error/index.html
  2014/08/mail-from-emacs-part-#1/index.html
  2014/08/open-pgp-@-android/index.html
  2014/08/serendipity...why-not/index.html
  2014/09/what-is-taking-much-space-on-your-linux/bsd-system/index.html
  2014/11/vim-shortcuts-everywhere/index.html
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  graph.json
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/blogroll.opml
  random/index.html
  search/index.json
  sitemap.xml
  tags/dev/index.html
  tags/index.xml
  tags/legacy/index.html
  tags/legacy/index.xml
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

new page: radio
  config/_default/config.yml
  content/radio.md
  layouts/_default/radio.html
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

radio: add station links, SomaFM attribution, drop HTTP-only stations
  layouts/_default/radio.html
Due: none

fix em-dash replacement: only match prose dashes between letters
  ci/replace_em_dashes.py
Due: none

em-dashes
  content/posts/2024-08-01-disallow-ai-scraping.md
  content/posts/2024-12-05-docker-image-size.md
  content/posts/2025-03-06-growth-at-bigtech.md
  content/posts/2025-03-11-have-i-been-pwned.md
  content/posts/2025-04-01-apple-script-discoverability-more-amphetamine.md
  content/posts/2025-04-21-bracket-city.md
  content/posts/2025-04-30-the-ack-xargs-sed-pattern.md
  content/posts/2025-05-04-kagi.md
  content/posts/2025-05-17-winterbreak-hello-world.md
  content/posts/2025-08-26-midnight-commander-use-default-editor.md
  content/posts/2025-09-11-schufa.md
  content/posts/2025-10-12-git-merge-two-repositories.md
  content/posts/2025-11-20-realpath.md
  content/posts/2025-11-23-personal-blogs-are-back.md
  content/posts/2025-11-30-atuin.md
  content/posts/2025-12-03-jj-hello-world.md
  content/posts/2026-02-07-open-source-security-in-spite-of-ai/index.md
  content/posts/coding/2025-11-22-bytebytego-pair-sum---unsorted.md
  content/posts/coding/2025-11-22-bytebytego-pair-sum-sorted.md
  content/posts/coding/2026-01-06-leetcode-167-two-sum-ii---input-array-is-sorted.md
  content/posts/coding/2026-01-11-leetcode-170-two-sum-iii---data-structure-design.md
  content/posts/coding/2026-01-14-rca.md
Due: check-coding-titles, check-duplicate-leetcode, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

new post: radio
  content/posts/2026-02-16-web-radio-player/index.md
  content/posts/2026-02-16-web-radio-player/radio.png
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

radio: add starred stations, mark DEF CON as favorite
  layouts/_default/radio.html
Due: none

radio: add mute button to volume control
  layouts/_default/radio.html
Due: none

emojis
  layouts/_default/radio.html
Due: none

deploy: 9e3f04c5a828d27d55d37245a0ca9955f7a2ddae
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  pt/blogroll.opml
  radio/index.html
Due: none

fullscreen
  layouts/_default/radio.html
Due: none

deploy: 96cb91e342ccc640ca84ae36d6944fe3f8e54e12
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  pt/blogroll.opml
  radio/index.html
Due: none

deploy: 7c28330d4d56319b37be09856b1386a3522f6fde
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  pt/blogroll.opml
  radio/index.html
Due: none

update screenshot, somafm
  content/posts/2026-02-16-web-radio-player/radio.png
  layouts/_default/radio.html
Due: none

deploy: bf962b41c67201cddfed71ffb73a715583b246c9
  2022/01/advent-of-code/index.html
  2026/02/web-radio-player/radio.png
  blogroll.opml
  blogroll/index.html
  pt/blogroll.opml
  radio/index.html
Due: none

projects
  content/projects.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 6156ebf62234fa4ae178c4eb38db31353fae30c9
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  projects/index.html
  projects/index.md
  pt/blogroll.opml
  sitemap.xml
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

pomodoro: add interactive timer page
  config/_default/config.yml
  content/pomodoro.md
  layouts/_default/pomodoro.html
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

pomodoro: add spacebar to start/pause
  layouts/_default/pomodoro.html
Due: none

pomodoro: show session progress as visual dots
  layouts/_default/pomodoro.html
Due: none

pomodoro: add progress bar under timer
  layouts/_default/pomodoro.html
Due: none
