Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

Path conditions:
  forbid-md-extension-in-hugo-internal-links: any of: \.(md|markdown|mdown)$, but not: ^(schemas|vendor)/
  forbid-old-perrotta-dev: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$ and not (^(content/posts/2024-02-04-new-domain.md|content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md)$) and not (^(schemas|vendor)/)
  forbid-personal-emails: any of: \.(md|markdown|mdown)$, but not: ^(schemas|vendor)/
  forbid-tulip: any of: \.(md|markdown|mdown)$, but not: ^(schemas|vendor)/
  forbid-utm-analytics: any of: \.(md|markdown|mdown)$, but not: ^(schemas|vendor)/

deploy: 8b47c259d3fdb17328aacbee3c5fc37b65fbb6f2
  2025/12/leetcode-#278-first-bad-version/index.html
  blogroll.opml
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

leet code 217
  content/posts/2025-12-25-leetcode-217-contains-duplicate.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 0498dcbd4e95fcf1fbb180575c74f58b7b394cbd
  2025/12/leetcode-#217-contains-duplicate/index.html
  2025/12/leetcode-#278-first-bad-version/index.html
  404.html
  blogroll.opml
  posts/index.html
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

lazy commit
  content/posts/2025-12-25-leetcode-217-contains-duplicate.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: afa8c4a3a2a582dbcfd63076386a322b426a4109
  2025/12/leetcode-#217-contains-duplicate/index.html
  blogroll.opml
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

leet code 231
  content/posts/2025-12-25-leetcode-231-power-of-two.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 94c85a34550fbb5273fb0fba613cacfa54c7b87a
  2025/12/leetcode-#217-contains-duplicate/index.html
  2025/12/leetcode-#231-power-of-two/index.html
  404.html
  blogroll.opml
  posts/index.html
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

leet code 243
  content/posts/2025-12-25-leetcode-243-shortest-word-distance.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: e48824a87f9062cf89ac153fef9a7f88c20d16af
  2025/12/leetcode-#231-power-of-two/index.html
  2025/12/leetcode-#243-shortest-word-distance/index.html
  404.html
  blogroll.opml
  posts/index.html
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

leet code 246
  content/posts/2025-12-25-leetcode-246-strobogrammatic-number.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: b6406df58c7be6f28e6854a911fcab3081033e97
  2025/12/leetcode-#243-shortest-word-distance/index.html
  2025/12/leetcode-#246-strobogrammatic-number/index.html
  404.html
  blogroll.opml
  posts/index.html
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

leet code 247
  content/posts/2025-12-25-leetcode-247-strobogrammatic-number-ii.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

amend
  content/posts/2025-12-25-leetcode-247-strobogrammatic-number-ii.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 2a9b5718b7e5014ac5c38928a667ec652ea6aefa
  2025/12/leetcode-#246-strobogrammatic-number/index.html
  2025/12/leetcode-#247-strobogrammatic-number-ii/index.html
  404.html
  blogroll.opml
  posts/index.html
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

leet code 248
  content/posts/2025-12-25-leetcode-248-strobogrammatic-number-iii.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 6e23af7a013aa94b850e82133b881034d6b72295
  2025/12/leetcode-#247-strobogrammatic-number-ii/index.html
  2025/12/leetcode-#248-strobogrammatic-number-iii/index.html
  404.html
  blogroll.opml
  posts/index.html
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

fix: exclude copy button from RSS feed code blocks
  layouts/_default/_markup/render-codeblock.html
Due: none

fix: exclude copy button from RSS feed code blocks
  layouts/_default/_markup/render-codeblock.rss.xml
Due: none

deploy: d2b0f5fd66558371c772d3d9698fcec902e7b1dc
  blogroll.opml
  index.xml
  posts/index.xml
  tags/aoc/index.xml
  tags/bestof/index.xml
  tags/coding/index.html
  tags/coding/index.xml
  tags/dev/index.xml
  tags/meta/index.xml
  tags/privacy/index.xml
  tags/pt/index.xml
  tags/selfhosted/index.xml
  tags/serenity/index.xml
Due: none

nginx-caddy: normalize filename
  content/posts/2025-12-24-nginx-caddy.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 6fdf59bf3f33211aa70628ec01d2ecbd2cb9f122
  2025/12/nginx-caddy/index.html
  blogroll.opml
  index.xml
  posts/index.xml
  sitemap.xml
  tags/bestof/index.html
  tags/bestof/index.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
Due: none

normalize git config in code blocks
  content/posts/2025-01-01-git-configure-identities-for-work.md
  content/posts/2025-08-11-docker-dive-into-images.md
  content/posts/2025-08-12-git-ll.md
  content/posts/2025-10-15-git-list-branches-by-recent-activity.md
  content/posts/2025-10-15-git-partially-cherry-pick-a-commit.md
  content/posts/2025-11-27-git-prune-stale-branches.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 44d5cb72237bb54b93fb98039645940e8a4808c3
  2025/01/git-configure-identities-for-work/index.html
  2025/08/docker-dive-into-images/index.html
  2025/08/git-ll/index.html
  2025/10/git-list-branches-by-recent-activity/index.html
  2025/10/git-partially-cherry-pick-a-commit/index.html
  2025/11/git-prune-stale-branches/index.html
  blogroll.opml
  index.xml
  posts/index.xml
  sitemap.xml
  tags/bestof/index.html
  tags/bestof/index.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
Due: none

normalize code blocks languages
  content/posts/2024-02-01-integrating-terraform-with-ansible.md
  content/posts/2024-02-03-anki-custom-language-card.md
  content/posts/2024-11-26-logseq-backlog.md
  content/posts/2025-01-07-nginx-add-basic-auth.md
  content/posts/2025-02-18-notify-search-engines-of-new-posts.md
  content/posts/2025-05-04-logseq-list-all-pages-of-a-tag.md
  content/posts/2025-08-12-argocd-app-version-notifications.md
  content/posts/2025-09-15-broot.md
  layouts/_default/_markup/render-codeblock.html
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

more code block normalizations
  content/posts/2015-01-07-the-eudyptula-challenge.md
  content/posts/2022-01-23-introspect-the-local-network-for-pihole.md
  content/posts/2022-01-26-chromeos-hterm-customize-fonts.md
  content/posts/2022-02-19-wayland-from-i3-to-sway.md
  content/posts/2024-01-19-create-a-family-tree-with-dot/index.md
  layouts/_default/_markup/render-codeblock.rss.xml
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: bd0c6a4293ff588a6e8a9f76cc1083561da7c3ef
  2015/01/the-eudyptula-challenge/index.html
  2022/01/chromeos-hterm-customize-fonts/index.html
  2022/01/introspect-the-local-network-for-pihole/index.html
  2022/02/wayland-from-i3-to-sway/index.html
  2024/01/create-a-family-tree-with-graphviz/index.html
  2024/02/anki-custom-language-card/index.html
  2024/02/integrating-terraform-with-ansible/index.html
  2024/11/logseq-backlog/index.html
  2025/01/nginx-add-basic-auth/index.html
  2025/02/notify-search-engines-of-new-posts/index.html
  2025/05/logseq-list-all-pages-of-a-tag/index.html
  2025/08/argocd-app-version-notifications/index.html
  2025/09/broot/index.html
  2025/12/vim-nvim/index.html
  blogroll.opml
  index.xml
  posts/index.xml
  sitemap.xml
  tags/bestof/index.html
  tags/bestof/index.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
  tags/meta/index.html
  tags/meta/index.xml
  tags/selfhosted/index.html
  tags/selfhosted/index.xml
Due: none

ranger to lf
  content/posts/2025-12-25-ranger-lf.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 7d75e36b9c558d6f29bb330f4c5414392fe9c2a0
  2025/12/nginx-caddy/index.html
  2025/12/ranger-lf/index.html
  404.html
  blogroll.opml
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
Due: none

reduce date font size in blog post listings
  layouts/partials/style.html
Due: none

xmas: add snowflake effect
  config/_default/config.yml
  layouts/_default/baseof.html
  layouts/partials/style.html
Due: forbid-old-perrotta-dev

gradient
  layouts/_default/baseof.html
Due: none

blogroll wording
  content/blogroll.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 3f8c6550e970d3f004c584460708c94c39d1d4da
  blogroll.opml
  blogroll/index.html
  sitemap.xml
  tags/coding/index.html
Due: none

space
  content/blogroll.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 9f4246b051c141535e5e1bc8935e6645513fc567
  blogroll.opml
  blogroll/index.html
  sitemap.xml
  tags/coding/index.html
Due: none
