Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-coding-titles, check-duplicate-leetcode, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

Path conditions:
  check-coding-titles: any of: ^content/posts/.*(leetcode|bytebytego).*\.md$ and \.(md|markdown|mdown)$ and not (^content/posts/2025-12-30-kagi-add-leetcode-bang.md$) and not (^(layouts/partials/openring.html$|schemas|vendor)/)
  check-duplicate-leetcode: any of: ^content/posts/.*leetcode.*\.md$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
  forbid-md-extension-in-hugo-internal-links: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
  forbid-old-perrotta-dev: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$ and not (^(content/posts/2024-02-04-new-domain.md|content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md)$) and not (^(layouts/partials/openring.html$|schemas|vendor)/)
  forbid-personal-emails: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
  forbid-tulip: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
  forbid-utm-analytics: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/

add claude teleport
  content/posts/2026-01-10-claude-teleport.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

typo
  content/posts/2026-01-10-claude-teleport.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

example
  content/posts/2026-01-10-claude-teleport.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: e2c4b72d643cd8c9419fcb7b268bc6fcfd4fff18
  2026/01/claude--teleport/index.html
  2026/01/claude--teleport/index.md
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  en/sitemap.xml
  index.xml
  posts/index.xml
  pt/blogroll.opml
  sitemap.xml
  tags/ai/index.xml
  tags/dev/index.xml
  tags/index.xml
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

jwz-style 'previously' links: bump to 7
  layouts/partials/previously.html
Due: none

feat: add jwz-style 'previously' links for related posts
  config/_default/config.yml
  layouts/partials/previously.html
Due: forbid-old-perrotta-dev

deploy: 747a874596c9e8e3474173256ea5a46fa9d03a40
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  pt/blogroll.opml
Due: none

uwatch
  content/posts/2026-01-10-new-script-uwatch.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

fix: broken hyperlink in starship post
  content/posts/2026-01-10-git--shell-prompt--worktrees.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 87889928758ef8ad55a99c639a86c0818d10ac44
  2026/01/git-shell-prompt-worktrees/index.html
  2026/01/git-shell-prompt-worktrees/index.md
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  en/sitemap.xml
  index.xml
  posts/index.xml
  pt/blogroll.opml
  sitemap.xml
  tags/ai/index.xml
  tags/dev/index.xml
  tags/git/index.xml
  tags/index.xml
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

pre-commit: add hook to forbid double parentheses around shortcodes
  .pre-commit-config.yaml
Due: forbid-old-perrotta-dev

deploy: 9ff4b92dc71ca9aa6e02752082d857ec15f0c5f9
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  pt/blogroll.opml
Due: none

robots.txt: allow /tags
  layouts/robots.txt
Due: none

deploy: f0e7047bf166aa86886c9ab49f892529374cc5a0
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  pt/blogroll.opml
  robots.txt
Due: none

Fix formatting issue in unbuffer reference
  content/posts/2026-01-10-new-script-uwatch.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 25acbee0e65aa3f78c716d635f57384c6994a62b
  2025/01/.gitkeep/index.html
  2025/01/anki-insert-emoji-on-macos/index.html
  2025/01/cloudflare-email-workers/index.html
  2025/01/sscce/index.html
  2026/01/new-script-uwatch/index.html
  2026/01/new-script-uwatch/index.md
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  en/sitemap.xml
  index.xml
  posts/index.xml
  pt/blogroll.opml
  sitemap.xml
  tags/dev/index.xml
  tags/git/index.xml
  tags/index.xml
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deque
  content/posts/coding/2026-01-11-deque.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

leetcode
  content/posts/coding/2026-01-11-leetcode-170-two-sum-iii---data-structure-design.md
Due: check-coding-titles, check-duplicate-leetcode, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

leetcode
  content/posts/coding/2026-01-10-leetcode-347-top-k-frequent-elements.md
Due: check-coding-titles, check-duplicate-leetcode, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: d233821180ef172431832ff4dbb344466df323f9
  2026/01/leetcode-#347-top-k-frequent-elements/index.html
  2026/01/leetcode-#347-top-k-frequent-elements/index.md
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  categories/coding/index.xml
  categories/index.xml
  en/sitemap.xml
  pt/blogroll.opml
  sitemap.xml
  tags/dev/index.xml
  tags/index.xml
  tags/leetcode/index.xml
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

ADRs
  content/posts/2026-01-11-adrs-and-llms.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

heap
  content/posts/coding/2026-01-11-heap.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

feat(hugo): move inline JS to external file with Hugo Pipes minification
  assets/js/main.js
  layouts/_default/baseof.html
Due: none

new post: ghostty keybindings
  content/posts/2026-01-11-ghostty-keybindings.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

leetcode
  content/posts/coding/2026-01-11-leetcode-692-top-k-frequent-words.md
Due: check-coding-titles, check-duplicate-leetcode, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

Fix typo in 'resonated' in ADRs and LLMs post
  content/posts/2026-01-11-adrs-and-llms.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: d002fdce47c0b058f942f946c4ee38e8de1126a7
  2026/01/adrs-and-llms/index.html
  2026/01/adrs-and-llms/index.md
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  en/sitemap.xml
  index.xml
  posts/index.xml
  pt/blogroll.opml
  sitemap.xml
  tags/ai/index.xml
  tags/bestof/index.xml
  tags/dev/index.xml
  tags/index.xml
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

add 2026
  content/posts/2026-01-12-2026.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics
