Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
# Install pre-commit itself:
#   $ pip install pre-commit
#     OR
#   $ brew install pre-commit
#
# Update all pre-commit hooks to latest version:
#   $ pre-commit autoupdate
#
# Install all default pre-commit hooks locally:
#   $ pre-commit install
#
# Apply a given pre-commit hook to all files:
#   $ pre-commit run --all-files <id>
#
# Apply all pre-commit hooks to all files:
#   $ pre-commit run --all-files
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # keep-sorted start
      - id: check-executables-have-shebangs
      - id: check-yaml
      - id: detect-private-key
      - id: trailing-whitespace
        # keep-sorted end
  # keep-sorted start
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        exclude: ^(content/posts/(2014|2015|2016)|content/posts/2024-07-09-kubectl-get-secret-with-jsonpath-add-newline.md|content/posts/2024-06-27-a-little.md|content/posts/2024-12-22-new-post-workflow.md)
        args:
          # keep-sorted start
          - -L=DeVault
          - -L=als
          - -L=ist
          - -L=sive
          # keep-sorted end
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.22.1
    hooks:
      - id: gitleaks
  - repo: https://github.com/google/keep-sorted
    rev: v0.5.1
    hooks:
      - id: keep-sorted
  - repo: https://github.com/google/yamlfmt
    rev: v0.15.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/lalten/check-gha-pinning
    rev: v1.3.0
    hooks:
      - id: check-gha-pinning
  - repo: https://github.com/shssoichiro/oxipng
    rev: v9.1.3
    hooks:
      - id: oxipng
  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.8
    hooks:
      - id: fix-ligatures
      - id: fix-smartquotes
  # Only run it every once in a while.
  # - repo: https://github.com/tcort/markdown-link-check
  #   rev: v3.13.6
  #   hooks:
  #     - id: markdown-link-check
  #       files: '^content/posts/2025-.*'
  #       args:
  #         - -q
  - repo: local
    hooks:
      - id: forbid-utm-analytics
        name: Forbid usage of UTM analytics / tracking
        entry: '\b(utm_source)\b'
        language: pygrep
        types:
          - markdown
      - id: forbid-old-perrotta-dev
        name: Forbid usage of previous domains
        entry: '\b(https://thiagowfx\.github\.io|www\.perrotta\.dev|blog\.perrotta\.dev)\b'
        language: pygrep
        types_or:
          - markdown
          - yaml
        exclude: ^(content/posts/2024-02-04-new-domain.md|content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md)$
      - id: forbid-md-extension-in-hugo-internal-links
        name: Forbid .md extension in hugo internal links
        entry: '.*\.md\" >\}\}'
        language: pygrep
        types:
          - markdown
# keep-sorted end

deploy: 77119625f30d2f940ae6893a0417c4ed851ee5f2
  2025/04/overnight-oats/index.html
  404.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/aoc/index.html
  tags/bestof/index.html
  tags/bestof/index.xml
  tags/dev/index.html
  tags/linux/index.html
  tags/macos/index.html
  tags/meta/index.html
  tags/pkm/index.html
  tags/privacy/index.html
  tags/recipe/index.html
  tags/recipe/index.xml
  tags/selfhosted/index.html
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: forbid-old-perrotta-dev

update keep-sorted
  .pre-commit-config.yaml
Due: forbid-old-perrotta-dev

italics
  content/posts/2025-04-20-overnight-oats.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: 4398afce568cb72a0ac5e223c4fe1329682ff4ff
  2025/04/overnight-oats/index.html
  index.xml
  posts/index.xml
  tags/bestof/index.xml
  tags/recipe/index.xml
  tags/serenity/index.xml
Due: none

fix pre-commit
  content/posts/2025-03-20-pre-commit-pin-dependencies-with-freeze.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: 212c67b6f408bd5bc3528fc6a4db611bb1bf00d7
  2025/03/pre-commit-pin-dependencies-with--freeze/index.html
  index.xml
  posts/index.xml
  tags/dev/index.xml
Due: none

typo
  content/posts/2025-04-20-overnight-oats.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: b472aa454bda87f66f6360263078b7436b07a6c7
  2025/04/overnight-oats/index.html
  index.xml
  posts/index.xml
  tags/bestof/index.xml
  tags/recipe/index.xml
  tags/serenity/index.xml
Due: none

new post: small talk
  content/posts/2025-04-20-the-smalltalk-question.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: d8270622ec54fac67a194540172f4856f00818e9
  2025/04/the-smalltalk-question/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/bestof/index.html
  tags/bestof/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

new post: alpine linux: the maintainer workflow
  content/posts/2025-04-20-alpine-linux-the-maintainer-workflow.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: 41bcadede5bc53a58318f8af9ef0102806cbd16a
  2025/04/alpine-linux-the-maintainer-workflow/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/bestof/index.html
  tags/bestof/index.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/linux/index.html
  tags/linux/index.xml
  tags/selfhosted/index.html
  tags/selfhosted/index.xml
Due: none

add missing <a> titles
  layouts/_default/baseof.html
Due: none

haferflocken
  content/posts/2025-04-20-overnight-oats.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: dd441fdc41b79e87097d6cba6b30f2bf695b28b0
  2025/04/overnight-oats/index.html
  index.xml
  posts/index.xml
  tags/bestof/index.xml
  tags/recipe/index.xml
  tags/serenity/index.xml
Due: none

table
  content/posts/2025-04-20-finding-the-table-manual.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: 6d0fbc42f4bf968d108cd5be20ac804c6258cfbd
  2025/04/finding-the-table-manual/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

new post: bracket city
  content/posts/2025-04-21-bracket-city.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: 55cd7e62224f1ba739d1428e1b0e43e40e8ae18a
  2025/04/bracket-city/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

pre-commit: auto-update monthly
  .pre-commit-config.yaml
Due: forbid-old-perrotta-dev

pre-commit: freeze
  .github/workflows/pre-commit-autoupdate.yml
Due: forbid-old-perrotta-dev

new post: do not submit
  content/posts/2025-04-23-github-prs-do-not-submit.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: 4737623c8187b8ac06dfbdc7f6bdc0f372501f29
  2025/04/github-prs-do-not-submit/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none

oats: more ingredients
  content/posts/2025-04-20-overnight-oats.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: 485ca8ef0ffd4ec31207c2bafc714c27098f2851
  2025/04/overnight-oats/index.html
  index.xml
  posts/index.xml
  tags/bestof/index.xml
  tags/recipe/index.xml
  tags/serenity/index.xml
Due: none

llm journey
  content/posts/2025-04-24-the-llm-journey.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: 16f50deacebca8973ac0031105d70d1ab996392a
  2025/04/the-llm-journey/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none

justfile
  Justfile
Due: none

update justfile case logic
  Justfile
Due: none

add CLAUDE.md
  CLAUDE.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

new post: hashicorp vault from helm values
  content/posts/2025-04-23-hashicorp-vault-from-helm-values.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: 3b6aa72f8033263b91e2cc8947a3dcbe812ab927
  2025/04/hashicorp-vault-from-helm-values/index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/selfhosted/index.html
  tags/selfhosted/index.xml
Due: none

new post: delete newlines in a pipe
  content/posts/2025-04-25-delete-newlines-in-a-pipe.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: 93cd092d15dea7208d4d488bbd2b4aa367b44442
  2025/04/delete-newlines-in-a-pipe/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/linux/index.html
  tags/linux/index.xml
  tags/macos/index.html
  tags/macos/index.xml
Due: none

parallelize pre-commit autoupdate
  .github/workflows/pre-commit-autoupdate.yml
  Justfile
Due: forbid-old-perrotta-dev

deploy: 9f9fd70fde863387e7599c8637fef797839ebefe
  robots.txt
Due: none

new post: macos delete file bypass trash
  content/posts/2025-04-25-macos-delete-file-bypass-trash.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: d3a311148f95e6aa4cbe20045d46f56878b6a81f
  2025/04/macos-delete-file-bypass-trash/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/macos/index.html
  tags/macos/index.xml
Due: none
