Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-broken-internal-links, check-coding-titles, check-duplicate-coding, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-external-images, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

check-broken-internal-links:
  name: Check for broken Hugo ref shortcode links
  entry: ci/check_broken_internal_links.py
  language: system

check-coding-titles:
  name: Enforce LeetCode and ByteByteGo title format
  entry: ci/check_post_titles.py
  language: system

check-duplicate-coding:
  name: Detect duplicate coding problem posts
  entry: ci/check_duplicate_coding_posts.py
  language: system
  pass_filenames: false

check-required-frontmatter:
  name: Enforce required frontmatter fields (date, title)
  entry: ci/check_required_frontmatter.py
  language: python
  additional_dependencies:
  - PyYAML

check-single-category:
  name: Enforce single category per post
  entry: ci/check_single_category.py
  language: python
  additional_dependencies:
  - PyYAML

forbid-double-more:
  name: Forbid <!--more--> in blog posts
  entry: <!--more-->
  language: pygrep

forbid-double-parens-in-shortcodes:
  name: Forbid double parentheses around Hugo shortcodes
  entry: \(\(\{\{[<|%]
  language: pygrep

forbid-external-images:
  name: Forbid external image URLs in layouts
  entry: ci/forbid-external-images.py
  language: system

forbid-md-extension-in-hugo-internal-links:
  name: Forbid .md extension in hugo internal links
  entry: .*\.md\" >\}\}
  language: pygrep

forbid-old-perrotta-dev:
  name: Forbid old domains
  entry: \\b(https://thiagowfx\.github\.io|www\.perrotta\.dev|blog\.perrotta\.dev)\\b
  language: pygrep

forbid-personal-emails:
  name: Forbid personal emails
  entry: (@perrotta\.dev|\w*perrotta\d*@gmail\.com)
  language: pygrep

forbid-tulip:
  name: Forbid Tulip terms
  entry: (?i)(\btulip\b|@garden)
  language: pygrep

forbid-utm-analytics:
  name: Forbid UTM analytics / tracking
  entry: \\b(utm_source)\\b
  language: pygrep

replace-em-dashes:
  name: Replace ' - ' with em dashes in prose
  entry: ci/replace_em_dashes.py
  language: python

replace-shell-prompt:
  name: Replace ❯ with % in shell prompts
  entry: ci/replace_shell_prompt.py
  language: python

sort-blog-tags:
  name: Sort blog post tags alphabetically
  entry: ci/sort_tags.py
  language: python
  additional_dependencies:
  - PyYAML

strip-content-posts-prefix:
  name: Strip content/posts/ prefix from Hugo ref links
  entry: ci/strip_content_posts_prefix.py
  language: python

maratona
  content/pt/posts/2013-09-15-ontem-maratona-de-programacao.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

ct
  content/pt/posts/2014-03-22-ct-sem-luz-vamos-indexar-isso.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: 8ff15ae565e436e5d6e6b058f3d094413c737812
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/2013/09/ontem-maratona-de-programação/index.html
  pt/2013/09/ontem-maratona-de-programação/index.md
  pt/2013/12/cálculo-@-ufrj-sugestão-de-referências/index.html
  pt/404.html
  pt/blogroll.opml
  pt/categories/index.html
  pt/index.html
  pt/index.xml
  pt/posts/2013-09-15-ontem-maratona-de-programacao/index.html
  pt/posts/2013-09-15-ontem-maratona-de-programacao/index.md
  pt/posts/2013-12-15-calculo-ufrj-sugestao-de-referencias/index.html
  pt/posts/index.html
  pt/posts/index.xml
  pt/search/index.json
  pt/sitemap.xml
  pt/tags/dev/index.html
  pt/tags/dev/index.xml
  pt/tags/index.html
  pt/tags/index.xml
  pt/tags/leetcode/index.html
  pt/tags/leetcode/index.xml
  pt/tags/legacy/index.html
  pt/tags/legacy/index.xml
  pt/tags/privacy/index.html
  pt/tags/security/index.html
  pt/tags/serenity/index.html
  sitemap.xml
  tags/dev/index.html
  tags/index.html
  tags/index.xml
  tags/leetcode/index.html
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: b21b20e14f38718767ce74e3c0ee9942656accc1
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/2014/03/bloqueando-websitesadsmalware-no-linux/index.html
  pt/2014/03/ct-sem-luz-vamos-indexar-isso/index.html
  pt/2014/03/ct-sem-luz-vamos-indexar-isso/index.md
  pt/2014/04/recovery-típico-via-usb/index.html
  pt/blogroll.opml
  pt/index.xml
  pt/posts/2014-03-22-ct-sem-luz-vamos-indexar-isso/index.html
  pt/posts/2014-03-22-ct-sem-luz-vamos-indexar-isso/index.md
  pt/posts/2014-04-18-recovery-tipico-via-usb/index.html
  pt/posts/index.html
  pt/posts/index.xml
  pt/search/index.json
  pt/sitemap.xml
  pt/tags/dev/index.html
  pt/tags/dev/index.xml
  pt/tags/index.html
  pt/tags/index.xml
  pt/tags/legacy/index.html
  pt/tags/legacy/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/index.html
  tags/index.xml
  tags/legacy/index.html
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

i3lock
  content/posts/2014-04-21-i3lock-wrapper-pkgbuild.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

deploy: 3777f5db7cf22bd84a01b6b287b37b29d2f108d7
  2014/04/i3lock-wrapper-pkgbuild/index.html
  2014/04/i3lock-wrapper-pkgbuild/index.md
  2014/04/my-first-org2blog-post/index.html
  2014/04/pacman-gpgme-error-no-data/index.html
  2014/04/pkgbuild-class-@-irc/index.html
  2014/05/goodbye-linux-desktop/index.html
  2014/05/im-learning-php/index.html
  2014/05/status-hello-nix-server-world/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  graph.json
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/blogroll.opml
  random/index.html
  search/index.json
  sitemap.xml
  tags/dev/index.html
  tags/index.html
  tags/index.xml
  tags/legacy/index.html
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

emacs
  content/pt/posts/2014-07-22-emacs-e-golang-uma-dupla-perfeita.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: c44f75968f952c678aca2c56bb4d910dc01be9f2
  2022/01/advent-of-code/index.html
  blogroll.opml
  en/sitemap.xml
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/2014/07/emacs-e-golang-uma-dupla-perfeita/index.html
  pt/2014/07/emacs-e-golang-uma-dupla-perfeita/index.md
  pt/2014/07/melhorando-a-renderização-de-fontes-no-windows/index.html
  pt/2016/10/matroshka/index.html
  pt/404.html
  pt/blogroll.opml
  pt/index.xml
  pt/posts/2014-07-12-melhorando-a-renderizacao-de-fontes-no-windows/index.html
  pt/posts/2014-07-22-emacs-e-golang-uma-dupla-perfeita/index.html
  pt/posts/2014-07-22-emacs-e-golang-uma-dupla-perfeita/index.md
  pt/posts/2016-10-16-matroshka/index.html
  pt/posts/index.html
  pt/posts/index.xml
  pt/search/index.json
  pt/sitemap.xml
  pt/tags/dev/index.html
  pt/tags/dev/index.xml
  pt/tags/index.html
  pt/tags/index.xml
  pt/tags/legacy/index.html
  pt/tags/legacy/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/index.html
  tags/index.xml
  tags/legacy/index.html
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

usb
  content/pt/posts/2014-05-07-reformatando-um-pen-drive-linux.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: 80c0ff782eb460fb3020bc8e766f0ec3b89650a4
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/2014/05/física-3-@-ufrj-sugestão-de-referências/index.html
  pt/2014/05/instalando-o-gentoo-a-partir-do-arch/index.html
  pt/2014/05/reformatando-um-pen-drive-@-linux/index.html
  pt/2014/05/reformatando-um-pen-drive-@-linux/index.md
  pt/blogroll.opml
  pt/index.xml
  pt/posts/2014-05-01-instalando-o-gentoo-a-partir-do-arch/index.html
  pt/posts/2014-05-07-reformatando-um-pen-drive-linux/index.html
  pt/posts/2014-05-07-reformatando-um-pen-drive-linux/index.md
  pt/posts/2014-05-11-fisica-3-ufrj-sugestao-de-referencias/index.html
  pt/posts/index.html
  pt/posts/index.xml
  pt/search/index.json
  pt/sitemap.xml
  pt/tags/dev/index.html
  pt/tags/dev/index.xml
  pt/tags/index.html
  pt/tags/index.xml
  pt/tags/legacy/index.html
  pt/tags/legacy/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/index.html
  tags/index.xml
  tags/legacy/index.html
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

windows
  content/pt/posts/2014-01-22-sugestao-de-guia-de-instalacao-do-windows-8-1.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: 1551e07fc1192a06eaca483cc3a59f154f880f96
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/2014/01/sugestão-de-guia-de-instalação-do-windows-8.1/index.html
  pt/2014/01/sugestão-de-guia-de-instalação-do-windows-8.1/index.md
  pt/2014/01/testando-uma-iso-no-linux-sem-o-virtualbox/index.html
  pt/2014/02/consertando-caracteres-estranhos-em-markdown/index.html
  pt/blogroll.opml
  pt/index.xml
  pt/posts/2014-01-07-testando-uma-iso-no-linux-sem-o-virtualbox/index.html
  pt/posts/2014-01-22-sugestao-de-guia-de-instalacao-do-windows-8-1/index.html
  pt/posts/2014-01-22-sugestao-de-guia-de-instalacao-do-windows-8-1/index.md
  pt/posts/2014-02-27-consertando-caracteres-estranhos-em-markdown/index.html
  pt/posts/index.html
  pt/posts/index.xml
  pt/search/index.json
  pt/sitemap.xml
  pt/tags/dev/index.html
  pt/tags/dev/index.xml
  pt/tags/index.html
  pt/tags/index.xml
  pt/tags/legacy/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/index.html
  tags/index.xml
  tags/legacy/index.html
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

hibernation
  content/pt/posts/2013-12-22-habilitando-hibernacao-no-arch.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

emacs
  content/posts/2014-04-24-emacs-i-just-love-you.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

deploy: a5cd14853bee4100f0aad8ccdefb1e620d259f78
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/2013/12/cálculo-@-ufrj-sugestão-de-referências/index.html
  pt/2013/12/habilitando-hibernação-no-arch/index.html
  pt/2013/12/habilitando-hibernação-no-arch/index.md
  pt/2014/01/por-que-o-arch-linux/index.html
  pt/blogroll.opml
  pt/index.xml
  pt/posts/2013-12-15-calculo-ufrj-sugestao-de-referencias/index.html
  pt/posts/2013-12-22-habilitando-hibernacao-no-arch/index.html
  pt/posts/2013-12-22-habilitando-hibernacao-no-arch/index.md
  pt/posts/2014-01-02-por-que-o-arch-linux/index.html
  pt/posts/index.html
  pt/posts/index.xml
  pt/search/index.json
  pt/sitemap.xml
  pt/tags/dev/index.html
  pt/tags/dev/index.xml
  pt/tags/index.html
  pt/tags/index.xml
  pt/tags/legacy/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/index.html
  tags/index.xml
  tags/legacy/index.html
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: 48ee422857790cdff804da8cadad1fa9b7209f98
  2013/11/why-i-love-zsh/index.html
  2014/04/emacs-i-just-love-you/index.html
  2014/04/emacs-i-just-love-you/index.md
  2014/04/my-first-org2blog-post/index.html
  2014/04/pacman-gpgme-error-no-data/index.html
  2014/05/everything-orgmode-or-orgmode-everywhere/index.html
  2014/05/goodbye-linux-desktop/index.html
  2014/05/im-learning-php/index.html
  2014/05/status-hello-nix-server-world/index.html
  2022/01/advent-of-code/index.html
  blogroll.opml
  en/sitemap.xml
  graph.json
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/blogroll.opml
  random/index.html
  search/index.json
  sitemap.xml
  tags/dev/index.html
  tags/index.html
  tags/index.xml
  tags/legacy/index.html
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

cmake
  content/pt/posts/2014-04-12-integrando-qt-creator-com-cmake.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: adbcf3e50d91e3cc3afa8ef2f0c3927f98f6467d
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/2014/03/ct-sem-luz-vamos-indexar-isso/index.html
  pt/2014/04/integrando-qt-creator-com-cmake/index.html
  pt/2014/04/integrando-qt-creator-com-cmake/index.md
  pt/2014/04/recovery-típico-via-usb/index.html
  pt/blogroll.opml
  pt/index.xml
  pt/posts/2014-03-22-ct-sem-luz-vamos-indexar-isso/index.html
  pt/posts/2014-04-12-integrando-qt-creator-com-cmake/index.html
  pt/posts/2014-04-12-integrando-qt-creator-com-cmake/index.md
  pt/posts/index.html
  pt/posts/index.xml
  pt/search/index.json
  pt/sitemap.xml
  pt/tags/dev/index.html
  pt/tags/dev/index.xml
  pt/tags/index.html
  pt/tags/index.xml
  pt/tags/legacy/index.html
  pt/tags/legacy/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/index.html
  tags/index.xml
  tags/legacy/index.html
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

dota
  content/posts/2014-04-20-dota-2-linux.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

deploy: c514e11f971c5eb7bdef91aadcc871c61a3cd47e
  2014/04/dota-2-@-linux/index.html
  2014/04/dota-2-@-linux/index.md
  2014/04/emacs-i-just-love-you/index.html
  2014/04/i3lock-wrapper-pkgbuild/index.html
  2014/04/my-first-org2blog-post/index.html
  2014/04/pacman-gpgme-error-no-data/index.html
  2014/04/pkgbuild-class-@-irc/index.html
  2014/04/server-challenge-instance-#1-installation-of-distros/index.html
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  graph.json
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/blogroll.opml
  random/index.html
  search/index.json
  sitemap.xml
  tags/dev/index.html
  tags/index.xml
  tags/legacy/index.html
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

kindle
  content/posts/2026-02-25-kindle-file-transfer.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

formatting
  content/posts/2026-02-25-kindle-file-transfer.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

typo
  content/posts/2026-02-25-kindle-file-transfer.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

deploy: 1f5f9013ecb6cc8c5d0385cab9ac9829e90d7d57
  2022/01/advent-of-code/index.html
  2026/02/kindle-file-transfer/index.html
  2026/02/kindle-file-transfer/index.md
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  index.xml
  posts/index.xml
  pt/blogroll.opml
  sitemap.xml
  tags/dev/index.xml
  tags/index.xml
  tags/serenity/index.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: 25d55f67ddf505af9efdaf583c13b5b072b1ce29
  2022/01/advent-of-code/index.html
  2026/02/kindle-file-transfer/index.html
  2026/02/kindle-file-transfer/index.md
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  index.xml
  posts/index.xml
  pt/blogroll.opml
  sitemap.xml
  tags/dev/index.xml
  tags/index.xml
  tags/serenity/index.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

sandbox
  content/posts/2026-02-26-cco-claude-condom-sandbox.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

sync fullscreen URL param and localStorage on page load
  assets/js/main.js
Due: none

fix: show loading indicator while search index is fetching
  i18n/en.toml
  i18n/pt.toml
  layouts/partials/search-modal.html
  layouts/partials/search-widget.html
Due: forbid-external-images

animate loading dots with CSS ellipsis animation
  i18n/en.toml
  i18n/pt.toml
  layouts/partials/search-modal.html
  layouts/partials/search-widget.html
  layouts/partials/style.html
Due: forbid-external-images

fix: show loading indicator while search index is fetching (#86)
  i18n/en.toml
  i18n/pt.toml
  layouts/partials/search-modal.html
  layouts/partials/search-widget.html
  layouts/partials/style.html
Due: forbid-external-images

Auto-update prek hooks
  .pre-commit-config.yaml
Due: forbid-old-perrotta-dev

deploy: 472c22c7ba24c62b23912d38f53e526bb17a7d4a
  2022/01/advent-of-code/index.html
  2025/03/logseq-aliases/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  pt/blogroll.opml
Due: none

lru cache
  content/posts/coding/2026-03-01-leetcode-146-lru-cache.md
Due: check-broken-internal-links, check-coding-titles, check-duplicate-coding, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

deploy: 405f31e5fb809ab0570bd87b4f101d07a8494c95
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  pt/blogroll.opml
  robots.txt
Due: none

Path conditions:
  check-broken-internal-links: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  check-coding-titles: any of: ^content/posts/.*(leetcode|bytebytego).*\.md$ and \.(md|markdown|mdown)$ and not (^content/posts/2025-12-30-kagi-add-leetcode-bang.md$) and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  check-duplicate-coding: any of: ^content/posts/.*(leetcode|bytebytego).*\.md$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  check-required-frontmatter: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (_index\.md$) and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  check-single-category: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  forbid-double-more: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  forbid-double-parens-in-shortcodes: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-external-images: any of: ^layouts/.*\.html$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-md-extension-in-hugo-internal-links: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-old-perrotta-dev: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$ and not (^(content/posts/2024-02-04-new-domain.md|content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md)$) and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  forbid-personal-emails: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-tulip: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-utm-analytics: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  replace-em-dashes: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  replace-shell-prompt: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  sort-blog-tags: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  strip-content-posts-prefix: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
