Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

Path conditions:
  forbid-md-extension-in-hugo-internal-links: any of: \.(md|markdown|mdown)$
  forbid-old-perrotta-dev: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$, but not: ^(content/posts/2024-02-04-new-domain.md|content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md)$
  forbid-personal-emails: any of: \.(md|markdown|mdown)$
  forbid-tulip: any of: \.(md|markdown|mdown)$
  forbid-utm-analytics: any of: \.(md|markdown|mdown)$

here
  content/posts/2024-12-28-miniflux-global-blocklist.md
  content/posts/2025-05-08-helm-secrets-vals-string-interpolation.md
  content/posts/2025-08-26-midnight-commander-colorscheme.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

leetcode 26
  content/posts/2025-09-03-leetcode-26-duplicate-from-sorted-array.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: e066b8b7a12f5a2828f4a4e21b815c3060ddc0cf
  2024/10/performance-reviews/index.html
  2024/12/advent-of-code-discussion-group/index.html
  2024/12/alpine-linux-3.21/index.html
  2024/12/miniflux-global-blocklist/index.html
  2024/12/unbuffer/index.html
  2024/12/update-dns-ns-servers-from-porkbun-to-cloudflare/index.html
  2025/02/argocd-vertical-pod-autoscaler-sync-loop/index.html
  2025/05/helm-secrets--vals-string-interpolation/index.html
  2025/08/midnight-commander-colorscheme/index.html
  2025/09/leetcode-#26-duplicate-from-sorted-array/index.html
  404.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/aoc/index.xml
  tags/coding/index.html
  tags/coding/index.xml
  tags/dev/index.xml
  tags/privacy/index.xml
  tags/selfhosted/index.xml
Due: none

fix link
  content/posts/2025-09-03-leetcode-26-duplicate-from-sorted-array.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: b4b5296c36ba91eea6073e6dd5b2473d2478d234
  2025/09/leetcode-#26-duplicate-from-sorted-array/index.html
  tags/coding/index.xml
Due: none

new post: leetcode 80
  .pre-commit-config.yaml
  archetypes/coding.md
  content/posts/2025-09-05-leetcode-80-duplicate-from-sorted-array-ii.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 99086fc32129b288542b14c70c4a41e6616bb460
  2025/09/leetcode-80-duplicate-from-sorted-array-ii/index.html
  404.html
  index.html
  posts/index.html
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

Update _index.md
  content/_index.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: ec1fbb786089063c8bf13c55e52da1f938c2554e
  index.html
Due: none

second part
  content/posts/2025-09-05-leetcode-80-duplicate-from-sorted-array-ii.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 9f66d4c49536d37e6af91c084e5b8cdb552bfe33
  2025/09/leetcode-#80-duplicate-from-sorted-array-ii/index.html
  404.html
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

exclude vendor from pre-commit
  .pre-commit-config.yaml
Due: forbid-old-perrotta-dev

majority element
  content/posts/2025-09-06-leetcode-169-majority-element.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 0fdc9fea36e17ff4525496082757447f7cdb8ed3
  2025/09/leetcode-#169-majority-element/index.html
  404.html
  index.html
  posts/index.html
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

counter
  content/posts/2025-09-06-leetcode-169-majority-element.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 5ad5cb6465a75984b058ebd59784e058223fb94e
  2025/09/leetcode-#169-majority-element/index.html
  tags/coding/index.xml
Due: none

leetcoding
  content/posts/2025-09-06-leetcoding.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

no hard-coding
  content/posts/2025-09-06-leetcoding.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 957ed7cd1d2ebd8cded78355ba26958522f5376d
  2025/09/leetcoding/index.html
  404.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

bestof
  content/posts/2025-09-06-leetcoding.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 5bb67d953a8b541005853fc4dec301af2d989b3b
  2025/09/leetcoding/index.html
  404.html
  posts/index.html
  sitemap.xml
  tags/bestof/index.html
  tags/bestof/index.xml
  tags/dev/index.html
  tags/serenity/index.html
Due: none

consistency
  content/posts/2025-09-03-leetcode-26-duplicate-from-sorted-array.md
  content/posts/2025-09-05-leetcode-80-duplicate-from-sorted-array-ii.md
  content/posts/2025-09-06-leetcode-169-majority-element.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 9d61a1bcd7038888cf8cf49369dab701b13f9764
  2025/09/leetcode-#169-majority-element/index.html
  2025/09/leetcode-#26-duplicate-from-sorted-array/index.html
  2025/09/leetcode-#80-duplicate-from-sorted-array-ii/index.html
  404.html
  tags/coding/index.html
  tags/coding/index.xml
Due: none

more counters
  content/posts/2025-09-06-leetcode-169-majority-element.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 48a90cb6e083b14a16a03a8b7bbb0296767348e8
  2025/09/leetcode-#169-majority-element/index.html
  tags/coding/index.xml
Due: none

even better
  content/posts/2025-09-06-leetcode-169-majority-element.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: e944422b59a32ee5c091290cc07202d6a90e4920
  2025/09/leetcode-#169-majority-element/index.html
  tags/coding/index.xml
Due: none

new post: leetcode: rotate array
  content/posts/2025-09-06-leetcode-189-rotate-array.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 30dc096abf0b44b88bbf9a9410fc9afefee79e60
  2025/09/leetcode-#189-rotate-array/index.html
  404.html
  index.html
  posts/index.html
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

properly indent code. Maybe
  static/rss.xsl
Due: none

deploy: 8c1eeadd7d34316d5a4e00733d20c7a1982d78bc
  rss.xsl
Due: none

mobile safari is hard
  static/rss.xsl
Due: none

deploy: 717e0e3fbb3c6e08e2e03147fe893b50e5d73b9e
  rss.xsl
Due: none

# This is a combination of 2 commits. # This is the 1st commit message:
  static/rss.xsl
Due: none

deploy: b848743058c24a03c30f903a80e2f33cc97b8030
  rss.xsl
Due: none

remove new
  config.yml
Due: forbid-old-perrotta-dev

adjust font size of title dynamically
  layouts/partials/style.html
  static/theme.css
Due: none

case
  content/posts/2025-09-06-leetcode-189-rotate-array.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics
