Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
# Install pre-commit itself:
#   $ pip install pre-commit
#     OR
#   $ brew install pre-commit
#
# Update all pre-commit hooks to latest version:
#   $ pre-commit autoupdate
#
# Install all default pre-commit hooks locally:
#   $ pre-commit install
#
# Apply a given pre-commit hook to all files:
#   $ pre-commit run --all-files <id>
#
# Apply all pre-commit hooks to all files:
#   $ pre-commit run --all-files
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # keep-sorted start
      - id: check-executables-have-shebangs
      - id: check-yaml
      - id: detect-private-key
      - id: trailing-whitespace
        # keep-sorted end
  # keep-sorted start
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        exclude: ^(content/posts/(2014|2015|2016)|content/posts/2024-07-09-kubectl-get-secret-with-jsonpath-add-newline.md|content/posts/2024-06-27-a-little.md|content/posts/2024-12-22-new-post-workflow.md)
        args:
          # keep-sorted start
          - -L=DeVault
          - -L=als
          - -L=ist
          - -L=sive
          # keep-sorted end
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.22.1
    hooks:
      - id: gitleaks
  - repo: https://github.com/google/keep-sorted
    rev: v0.5.1
    hooks:
      - id: keep-sorted
  - repo: https://github.com/google/yamlfmt
    rev: v0.15.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/lalten/check-gha-pinning
    rev: v1.3.0
    hooks:
      - id: check-gha-pinning
  - repo: https://github.com/shssoichiro/oxipng
    rev: v9.1.3
    hooks:
      - id: oxipng
  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.8
    hooks:
      - id: fix-ligatures
      - id: fix-smartquotes
  # Only run it every once in a while.
  # - repo: https://github.com/tcort/markdown-link-check
  #   rev: v3.13.6
  #   hooks:
  #     - id: markdown-link-check
  #       files: '^content/posts/2025-.*'
  #       args:
  #         - -q
  - repo: local
    hooks:
      - id: forbid-utm-analytics
        name: Forbid usage of UTM analytics / tracking
        entry: '\b(utm_source)\b'
        language: pygrep
        types:
          - markdown
      - id: forbid-old-perrotta-dev
        name: Forbid usage of previous domains
        entry: '\b(https://thiagowfx\.github\.io|www\.perrotta\.dev|blog\.perrotta\.dev)\b'
        language: pygrep
        types_or:
          - markdown
          - yaml
        exclude: ^(content/posts/2024-02-04-new-domain.md|content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md)$
      - id: forbid-md-extension-in-hugo-internal-links
        name: Forbid .md extension in hugo internal links
        entry: '.*\.md\" >\}\}'
        language: pygrep
        types:
          - markdown
# keep-sorted end

deploy: 671efd71645ae466a24971a16cae553a6d129675
  2025/01/bestof/index.html
  2025/01/deutschland-ticket-in-2025/index.html
  2025/01/yaml-enforce-schema-linting/index.html
  posts/index.html
  tags/bestof/index.html
  tags/bestof/index.xml
  tags/dev/index.html
  tags/serenity/index.html
Due: none

new post: smarttube
  content/posts/2025-01-30-smarttube.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: 6f7eedb149482ce37819dfe862207cc954b4757f
  2025/01/smarttube/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/linux/index.html
  tags/linux/index.xml
  tags/privacy/index.html
  tags/privacy/index.xml
  tags/selfhosted/index.html
  tags/selfhosted/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

Auto-update pre-commit hooks
  .pre-commit-config.yaml
Due: forbid-old-perrotta-dev

new post: splitwise couch surfing
  content/posts/2025-02-04-how-much-to-charge-or-pay-for-couch-surfing.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: c713829b3a2e5f0af3e93c49aa62b16d37c1fb3d
  2025/02/how-much-to-charge-or-pay-for-couch-surfing/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

deploy: d8fd57248cf34fd8eaa996e313697fd812559220
  robots.txt
Due: none

new post: resetting an airtag
  content/posts/2025-02-05-resetting-an-airtag.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: d3f8035fd98d316d228bf9b8ff497879f37a52e1
  2025/02/resetting-an-airtag/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/privacy/index.html
  tags/privacy/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

new post: kubernetes create a pod in pending state
  content/posts/2025-02-07-kubernetes-create-a-pod-in-pending-state.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: 5a69271e5f354a2e8794930a1dfebf99a8194488
  2025/02/kubernetes-create-a-pod-in-pending-state/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/linux/index.html
  tags/linux/index.xml
Due: none

deploy: a3ae18a8bca29b1a81a07a5bddd2486f7ead25ba
  2025/02/upcoming-calendar-meeting-in-macos-menu-bar-with-raycast/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/macos/index.html
  tags/macos/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

new post: raycast + calendar
  content/posts/2025-02-08-upcoming-calendar-meeting-in-mac-os-menu-bar-with-raycast.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: f45f07802b595b348558c2c7862f4b9c380428bd
  2025/02/upcoming-calendar-meeting-in-macos-menu-bar-with-raycast/index.html
  index.xml
  posts/index.html
  posts/index.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/macos/index.html
  tags/macos/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

codespell improvements
  .codespell-dictionary.txt
  .codespell-ignore-words.txt
  .pre-commit-config.yaml
  content/posts/2022-02-01-google-and-duckduckgo.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: 2b638395a31cfe716188f84b7ef2950e24889138
  2022/02/google-and-duckduckgo/index.html
  posts/index.html
  tags/privacy/index.html
  tags/privacy/index.xml
  tags/selfhosted/index.html
  tags/selfhosted/index.xml
Due: none

new post: duckduckgo email protection
  content/posts/2022-01-26-throwaway-disposable-accounts-for-ephemeral-use-cases.md
  content/posts/2025-02-08-duckduckgo-email-protection.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: e2ffaf57116d76bdee2510dbf6ec7189890877ff
  2025/02/duckduckgo-email-protection/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/bestof/index.html
  tags/bestof/index.xml
  tags/privacy/index.html
  tags/privacy/index.xml
Due: none

add instagram link
  layouts/_default/baseof.html
Due: none

case
  content/posts/2025-02-07-kubernetes-create-a-pod-in-pending-state.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

new post: mlc chat
  content/posts/2025-02-08-mlc-chat-offline-llms-in-your-iphone.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: b423d00c346535f6afa16f87e437e569bca1ee7f
  2025/02/mlc-chat-off-line-llms-in-your-iphone/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/privacy/index.html
  tags/privacy/index.xml
  tags/selfhosted/index.html
  tags/selfhosted/index.xml
Due: none

new post: instagram: get rid of all posts
  content/posts/2025-02-07-instagram-get-rid-of-all-posts.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: afb385bcacd7f2b657dab6a4c6ac84d9abf61acc
  2025/02/instagram-get-rid-of-all-posts/index.html
  index.xml
  instagram/index.html
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/meta/index.html
  tags/meta/index.xml
  tags/privacy/index.html
  tags/privacy/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

blank lines
  content/posts/2024-10-02-erratic.md
  content/posts/2024-10-20-performance-reviews.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: 9c6e427ea0b1162c55802b9cf0c004f14c586de2
  2025/02/linkedin-chronological-view/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/privacy/index.html
  tags/privacy/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

new post: chronological linkedin
  content/posts/2025-02-11-linkedin-chronological-view.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: d040ca3d0da1b2fbc3b558631cd0f8eb0085b605
  2025/02/linkedin-chronological-view/index.html
  index.xml
  posts/index.xml
  tags/privacy/index.xml
  tags/serenity/index.xml
Due: none

new post: date your whiteboard notes
  content/posts/2025-02-11-date-your-whiteboard-notes.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: d6807581ebba62378a85691ba21c106b8d45aa4a
  2025/02/date-your-whiteboard-notes/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

new post: github distributed codeowners
  content/posts/2025-02-12-github-distributed-codeowners.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: db4a144fe32379ae89073c0b5e657f526ced1560
  2025/02/github-distributed-codeowners/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/bestof/index.html
  tags/bestof/index.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none

deploy: 36c14086134da15f172b67501e92da57eaf46607
  2025/02/argocd-vertical-pod-autoscaler-sync-loop/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/selfhosted/index.html
  tags/selfhosted/index.xml
Due: none

new post: vpa sync loop
  content/posts/2025-02-13-argocd-vertical-pod-autoscaler-sync-loop.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: 2294074d5afaee400ffc1f7b8936987a8f167174
  2025/02/argocd-vertical-pod-autoscaler-sync-loop/index.html
  index.xml
  posts/index.xml
  tags/dev/index.xml
  tags/selfhosted/index.xml
Due: none

new post: git blank
  content/posts/2025-02-14-git-blank-commit.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: 8f3dfde6888c7a3a74361585d3eb294c2e0bdeed
  2025/02/git-blank-commit/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none

new post: crawling
  content/posts/2025-02-17-crawling-indexing-is-wild.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: 465649a363161c18d792a85ca774a0b6cff4619e
  2025/02/crawling-/-indexing-is-wild/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/meta/index.html
  tags/meta/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none
