Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

forbid-md-extension-in-hugo-internal-links:
  name: Forbid .md extension in hugo internal links
  entry: .*\.md\" >\}\}
  language: pygrep

forbid-old-perrotta-dev:
  name: Forbid old domains
  entry: \b(https://thiagowfx\.github\.io|www\.perrotta\.dev|blog\.perrotta\.dev)\b
  language: pygrep

forbid-personal-emails:
  name: Forbid personal emails
  entry: (@perrotta.dev|tbperrotta@gmail.com)
  language: pygrep

forbid-tulip:
  name: Forbid Tulip terms
  entry: "\b(garden|[Tt]ulip)\b"
  language: pygrep

forbid-utm-analytics:
  name: Forbid UTM analytics / tracking
  entry: \b(utm_source)\b
  language: pygrep

deploy: e05ec4932fd5ab16b59b084e02b1a1f8e64a8511
  2025/10/github-the-organization-has-enabled-or-enforced-saml-sso/index.html
  404.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
Due: none

new post: brew head
  content/posts/2025-10-23-brew-upgrade-head-formulas.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 1c66942c2c81f2544cd888202d1adbe39e94fb7f
  2025/10/brew-upgrade-head-formulas/index.html
  404.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
  tags/selfhosted/index.html
  tags/selfhosted/index.xml
Due: none

new post: terraform-version
  content/posts/2025-10-24-terraform-version.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 0b5128ebf86f1d4a28403d97d05314392dc5012c
  2025/10/.terraform-version/index.html
  404.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
Due: none

fix docs for Justfile
  Justfile
Due: none

new post: postgresql: get database size
  content/posts/2025-10-27-postgresql-get-database-size.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 0e21f1ed5b42b4d1c6929c99e6a49bd6da33d6f4
  2025/10/postgresql-get-database-size/index.html
  404.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
Due: none

typo
  content/posts/2025-10-27-postgresql-get-database-size.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 100e6891aafdd083cf768136ab1f7a02c222dc2e
  2025/10/postgresql-get-database-size/index.html
  index.xml
  posts/index.xml
  tags/coding/index.html
  tags/dev/index.xml
Due: none

blame the ssh agent
  content/posts/2025-10-21-github-the-organization-has-enabled-or-enforced-saml-sso.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 20f45cab93069aac1755c149a4d12bf4e2b2ea8d
  2025/10/github-the-organization-has-enabled-or-enforced-saml-sso/index.html
  index.xml
  posts/index.xml
  tags/coding/index.html
  tags/dev/index.xml
Due: none

new post: grep in pdfs
  content/posts/2025-10-29-grep-in-pdfs.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 010391476cd0ec615578ea279566e1b4cd33a145
  2025/10/grep-in-pdfs/index.html
  404.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
Due: none

new post: claude code with images
  content/posts/2025-10-29-claude-code-paste-in-images.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: d9b24a87e9e8ff33af00df7a3e24a272656d586d
  2025/10/claude-code-paste-in-images/index.html
  404.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
Due: none

new script: ssh mux restart
  content/posts/2025-10-30-new-script-ssh-mux-restart.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 7e06044c3614f851bd0adc018ad96e242942dd60
  2025/10/new-script-ssh-mux-restart/index.html
  404.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/bestof/index.html
  tags/bestof/index.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
Due: none

new post: basic badminton
  content/posts/2025-10-30-basic-badminton.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

new post: clipboard as backup
  content/posts/2025-10-30-clipboard-as-backup.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 9a2b0d8362666bc3ddca7c5828011089525d0516
  2025/10/basic-badminton/index.html
  2025/10/clipboard-as-backup/index.html
  404.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

new post: oncall workflow with ios shortcuts
  content/posts/2025-10-31-oncall-workflow-with-ios-shortcuts.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

new post: highlighting text in drafts
  content/posts/2025-10-31-highlighting-text-in-drafts.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

gh pr create with --draft
  content/posts/2025-04-28-github-create-a-pull-request-from-cli.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 8ef8f0ca8a87d7b784d6d10509357a8c95268ae7
  2025/04/github-create-a-pull-request-from-cli/index.html
  2025/10/highlighting-text-in-drafts/index.html
  2025/10/oncall-workflow-with-ios-shortcuts/index.html
  404.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

Auto-update pre-commit hooks
  .pre-commit-config.yaml
Due: forbid-old-perrotta-dev

deploy: e42f8477e965673afb25ef5209744f9ab501e092
  tags/coding/index.html
Due: none

deploy: 3b1f59fa156d8cdaca007e62ece8d920fcddad1d
  robots.txt
  tags/coding/index.html
Due: none

bash: use brace expansion
  content/posts/2025-09-25-mv-case-sensitivity.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

vim: spellchecker suggestions
  content/posts/2025-11-02-vim-spellchecker-suggestions.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: ab60c0344fb9423d0004f5e7bc6f305424ff4d8b
  2025/09/mv-case-sensitivity/index.html
  2025/11/vim-spellchecker-suggestions/index.html
  404.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
Due: none

chrome: hide bookmarks bar
  content/posts/2025-11-02-chrome-hide-bookmarks-bar.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

fix typo
  content/posts/2025-11-02-vim-spellchecker-suggestions.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: d58340e0eb84de35c891f2c402e57f277bd458fa
  2025/11/chrome-hide-bookmarks-bar/index.html
  2025/11/vim-spellchecker-suggestions/index.html
  404.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
Due: none

deploy: 42c2634423b86871da259b597d0198244605fa0b
  tags/coding/index.html
Due: none

new post: desk
  content/posts/2025-11-04-desk.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

add powrss
  content/posts/2025-05-17-blog-directories.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

new post: git diff interactively
  content/posts/2025-11-04-git-diff-interactively.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: cda78928414a13a80384aed26a3e95c0e4346a66
  2025/05/blog-directories/index.html
  2025/11/desk/index.html
  2025/11/git-diff-interactively/index.html
  404.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
  tags/selfhosted/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

pre-commit: fix markdownlint-cli
  content/posts/2025-11-02-vim-spellchecker-suggestions.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

Path conditions:
  forbid-md-extension-in-hugo-internal-links: any of: \.(md|markdown|mdown)$, but not: ^(schemas|vendor)/
  forbid-old-perrotta-dev: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$ and not (^(content/posts/2024-02-04-new-domain.md|content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md)$) and not (^(schemas|vendor)/)
  forbid-personal-emails: any of: \.(md|markdown|mdown)$, but not: ^(schemas|vendor)/
  forbid-tulip: any of: \.(md|markdown|mdown)$, but not: ^(schemas|vendor)/
  forbid-utm-analytics: any of: \.(md|markdown|mdown)$, but not: ^(schemas|vendor)/
