Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
# Install pre-commit itself:
#   $ pip install pre-commit
#     OR
#   $ brew install pre-commit
#
# Update all pre-commit hooks to latest version:
#   $ pre-commit autoupdate
#
# Install all default pre-commit hooks locally:
#   $ pre-commit install
#
# Apply a given pre-commit hook to all files:
#   $ pre-commit run --all-files <id>
#
# Apply all pre-commit hooks to all files:
#   $ pre-commit run --all-files
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # keep-sorted start
      - id: check-executables-have-shebangs
      - id: check-yaml
      - id: detect-private-key
      - id: trailing-whitespace
        # keep-sorted end
  # keep-sorted start
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        exclude: ^(content/posts/(2014|2015|2016)|content/posts/2024-07-09-kubectl-get-secret-with-jsonpath-add-newline.md|content/posts/2024-06-27-a-little.md|content/posts/2024-12-22-new-post-workflow.md)
        args:
          # keep-sorted start
          - -L=DeVault
          - -L=als
          - -L=ist
          - -L=sive
          # keep-sorted end
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.22.1
    hooks:
      - id: gitleaks
  - repo: https://github.com/google/keep-sorted
    rev: v0.5.1
    hooks:
      - id: keep-sorted
  - repo: https://github.com/google/yamlfmt
    rev: v0.15.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/lalten/check-gha-pinning
    rev: v1.3.0
    hooks:
      - id: check-gha-pinning
  - repo: https://github.com/shssoichiro/oxipng
    rev: v9.1.3
    hooks:
      - id: oxipng
  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.8
    hooks:
      - id: fix-ligatures
      - id: fix-smartquotes
  # Only run it every once in a while.
  # - repo: https://github.com/tcort/markdown-link-check
  #   rev: v3.13.6
  #   hooks:
  #     - id: markdown-link-check
  #       files: '^content/posts/2025-.*'
  #       args:
  #         - -q
  - repo: local
    hooks:
      - id: forbid-utm-analytics
        name: Forbid usage of UTM analytics / tracking
        entry: '\b(utm_source)\b'
        language: pygrep
        types:
          - markdown
      - id: forbid-old-perrotta-dev
        name: Forbid usage of previous domains
        entry: '\b(https://thiagowfx\.github\.io|www\.perrotta\.dev|blog\.perrotta\.dev)\b'
        language: pygrep
        types_or:
          - markdown
          - yaml
        exclude: ^(content/posts/2024-02-04-new-domain.md|content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md)$
      - id: forbid-md-extension-in-hugo-internal-links
        name: Forbid .md extension in hugo internal links
        entry: '.*\.md\" >\}\}'
        language: pygrep
        types:
          - markdown
# keep-sorted end

deploy: 9c414e83a05c70441172444eec5b2046d79c14c4
  2025/05/kagi-small-web/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

indieweb def
  content/posts/2025-05-10-kagi-small-web.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: 847424c217c3992ca1bd163ec571b31708bbc31e
  2025/05/kagi-small-web/index.html
  index.xml
  posts/index.xml
  tags/dev/index.xml
  tags/serenity/index.xml
Due: none

add exponential idle wiki
  content/posts/2024-10-07-exponential-idle.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: 9f94611e1919e8d8872f185a9e4972d384466681
  2024/10/exponential-idle/index.html
Due: none

deploy: 13b035262f933c8d2c9239c48b7e8691cd088dbd
  robots.txt
Due: none

new post: slack and github bot integration
  content/posts/2025-05-12-slack-github-bot:-post-notifications.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: 5f70fc724b0f54191413792c98bdb2b5cfa47906
  2025/05/slack-github-bot-post-notifications/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none

logseq: open page in sidebar
  content/posts/2025-05-14-logseq:-open-page-in-sidebar.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: 1338d6363f6f2105da35caf7763493bff12aa9e7
  2025/05/logseq-open-page-in-sidebar/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/pkm/index.xml
Due: none

new post: how to file a great fr
  content/posts/2025-05-14-how-to-file-a-great-feature-request.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: 011b6344cd8b0c65bc730ff43a24b9f6c844a31b
  2025/05/how-to-file-a-great-feature-request/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/bestof/index.html
  tags/bestof/index.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

add funtoo keychain
  content/posts/2025-05-14-how-to-file-a-great-feature-request.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: c3358591fd9451841851e6c094a43897773d0a5d
  2025/05/how-to-file-a-great-feature-request/index.html
  index.xml
  posts/index.xml
  tags/bestof/index.xml
  tags/dev/index.xml
  tags/serenity/index.xml
Due: none

new post: vscode github pr plugin
  content/posts/2025-05-14-vscode-github-pull-requests-plugin-collapse-all-comments-by-default.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: f378be3fb328da58c3cf31fa92d04a7a3da3624c
  2025/05/vscode-github-pull-requests-plug-in-collapse-all-comments-by-default/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/linux/index.html
  tags/linux/index.xml
  tags/macos/index.html
  tags/macos/index.xml
Due: none

group dependabot updates
  .github/dependabot.yml
Due: forbid-old-perrotta-dev

github: dependabot: group updates
  content/posts/2025-05-14-github-dependabot-group-updates.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: e6d7d73ce47cd4f31fec5e0b1c903b726d136e33
  2025/05/github-dependabot-group-updates/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none

forbid tulip
  .pre-commit-config.yaml
Due: forbid-old-perrotta-dev

new post: kagi
  content/posts/2025-05-04-kagi.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

no colons in filenames
  content/posts/2025-05-14-logseq-open-page-in-sidebar.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: a46303f4db466e8251e98026fdafda54e9d65d35
  2025/05/kagi/index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/bestof/index.html
  tags/bestof/index.xml
  tags/privacy/index.html
  tags/privacy/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

new post: cursor
  content/posts/2025-05-15-cursor.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: d82e11252f49efeb561b78925759fce81527f98b
  2025/05/cursor/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

new pre-commit hook: remove 200b
  .pre-commit-config.yaml
Due: forbid-old-perrotta-dev

new old post: linux rig
  content/posts/2025-05-15-nostalgia-the-linux-setup-thiago-perrotta-student.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

more hooks
  .pre-commit-config.yaml
  content/posts/2024-01-16-why-do-you-need-to-know-my-last-name.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: 309e68c63c71e6178636ea2fc1d5427428a9bc09
  2024/01/why-do-you-need-to-know-my-last-name/index.html
  2025/05/nostalgia-the-linux-setup-thiago-perrotta-student/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/linux/index.html
  tags/linux/index.xml
  tags/privacy/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

add bestof tag
  content/posts/2025-05-15-nostalgia-the-linux-setup-thiago-perrotta-student.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: 1ecce9e78308d488fcc38b5f0155e24972e8c883
  2025/05/nostalgia-the-linux-setup-thiago-perrotta-student/index.html
  posts/index.html
  sitemap.xml
  tags/bestof/index.html
  tags/bestof/index.xml
  tags/linux/index.html
  tags/serenity/index.html
Due: none

new post: stack overflow is almost dead
  content/posts/2025-05-15-stack-overflow-is-almost-dead.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: fc4feae39fcf4582bb79f67942b1d5e9e1ee6f3c
  2025/05/stack-overflow-is-almost-dead/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

typo
  content/posts/2025-05-15-stack-overflow-is-almost-dead.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: 2cd3891815aa11a1812b9ede760673f32db2dce1
  2025/05/stack-overflow-is-almost-dead/index.html
  index.xml
  posts/index.xml
  tags/dev/index.xml
  tags/serenity/index.xml
Due: none

new post: espanso
  content/posts/2025-05-16-espanso-hello-world.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: fbd2b0eb0984ed35afff172f778dd76484eae9d0
  2025/05/espanso-hello-world/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/linux/index.html
  tags/linux/index.xml
  tags/macos/index.html
  tags/macos/index.xml
Due: none

fix
  content/posts/2025-05-16-espanso-hello-world.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: 5012e3f713e35a070860cb69c18ca6d2d68f7268
  2025/05/espanso-hello-world/index.html
  index.xml
  posts/index.xml
  tags/dev/index.xml
  tags/linux/index.xml
  tags/macos/index.xml
Due: none
