Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-broken-internal-links, check-coding-titles, check-duplicate-coding, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-external-images, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

check-broken-internal-links:
  name: Check for broken Hugo ref shortcode links
  entry: ci/check_broken_internal_links.py
  language: system

check-coding-titles:
  name: Enforce LeetCode and ByteByteGo title format
  entry: ci/check_post_titles.py
  language: system

check-duplicate-coding:
  name: Detect duplicate coding problem posts
  entry: ci/check_duplicate_coding_posts.py
  language: system
  pass_filenames: false

check-required-frontmatter:
  name: Enforce required frontmatter fields (date, title)
  entry: ci/check_required_frontmatter.py
  language: python
  additional_dependencies:
  - PyYAML

check-single-category:
  name: Enforce single category per post
  entry: ci/check_single_category.py
  language: python
  additional_dependencies:
  - PyYAML

forbid-double-more:
  name: Forbid <!--more--> in blog posts
  entry: <!--more-->
  language: pygrep

forbid-double-parens-in-shortcodes:
  name: Forbid double parentheses around Hugo shortcodes
  entry: \(\(\{\{[<|%]
  language: pygrep

forbid-external-images:
  name: Forbid external image URLs in layouts
  entry: ci/forbid-external-images.py
  language: system

forbid-md-extension-in-hugo-internal-links:
  name: Forbid .md extension in hugo internal links
  entry: .*\.md\" >\}\}
  language: pygrep

forbid-old-perrotta-dev:
  name: Forbid old domains
  entry: \\b(https://thiagowfx\.github\.io|www\.perrotta\.dev|blog\.perrotta\.dev)\\b
  language: pygrep

forbid-personal-emails:
  name: Forbid personal emails
  entry: (@perrotta\.dev|\w*perrotta\d*@gmail\.com)
  language: pygrep

forbid-tulip:
  name: Forbid Tulip terms
  entry: (?i)(\btulip\b|@garden)
  language: pygrep

forbid-utm-analytics:
  name: Forbid UTM analytics / tracking
  entry: \\b(utm_source)\\b
  language: pygrep

replace-em-dashes:
  name: Replace ' - ' with em dashes in prose
  entry: ci/replace_em_dashes.py
  language: python

replace-shell-prompt:
  name: Replace ❯ with % in shell prompts
  entry: ci/replace_shell_prompt.py
  language: python

sort-blog-tags:
  name: Sort blog post tags alphabetically
  entry: ci/sort_tags.py
  language: python
  additional_dependencies:
  - PyYAML

strip-content-posts-prefix:
  name: Strip content/posts/ prefix from Hugo ref links
  entry: ci/strip_content_posts_prefix.py
  language: python

add anki tag to relevant posts
  content/posts/2024-01-29-anki-find-all-notes-with-an-empty-field.md
  content/posts/2024-02-03-anki-custom-language-card.md
  content/posts/2024-09-22-anki-custom-language-card-ii.md
  content/posts/2024-12-23-anki-workflow.md
  content/posts/2025-01-11-anki-insert-emoji-on-macos.md
  content/posts/2025-10-08-anki-find-all-suspended-cards.md
  content/posts/2026-04-08-anki-corrupted-database.md
  content/posts/2026-04-12-anki-auto-sync.md
  content/posts/2026-04-13-anki-api-access.md
  content/posts/2026-04-15-anki-flashcards-with-claude-code.md
  content/posts/2026-07-27-anki-archive-a-deck.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

devise a plan
  content/posts/2026-08-22-llm-devise-a-plan.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

add shared-tag links to post connections
  ci/precompute_links.py
  ci/test_precompute_links.py
  docs/adrs/0006-precomputed-post-relationships.md
  layouts/partials/mini-graph.html
  layouts/partials/style.html
Due: forbid-double-parens-in-shortcodes, forbid-external-images, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

document shared-tag connection ranking
  docs/adrs/0006-precomputed-post-relationships.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: 2de408abb9e2589387272805f8bfd60088f04f53
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  it/blogroll.opml
  pt/blogroll.opml
Due: none

new post: hugo tags
  content/posts/2026-08-22-hugo-tag-based-post-connections.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

add arrows to shared-tag connections
  content/posts/2026-08-22-hugo-tag-based-post-connections.md
  docs/adrs/0006-precomputed-post-relationships.md
  layouts/partials/mini-graph.html
  layouts/partials/style.html
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-external-images, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

email
  content/contact.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

link homepage to contact page
  content/_index.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

move status link to end of footer
  layouts/_default/baseof.html
Due: forbid-external-images

deploy: 17f96082c704b27cef4a453c26a58347fd0b7a54
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  contact/index.html
  contact/index.md
  en/sitemap.xml
  index.html
  it/blogroll.opml
  pt/blogroll.opml
  sitemap.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

contact
  content/_index.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

style homepage handle
  static/theme.css
Due: none

connect
  content/_index.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: b68b79486cd735f797fe834c340f802e56c3f937
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  index.html
  it/blogroll.opml
  pt/blogroll.opml
  sitemap.xml
Due: none

azure
  content/posts/2026-08-22-azure-disk-resize-needs-the-pvc-patch-too.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

prometheus
  content/posts/2026-08-22-prometheus-a-117gb-wal-that-could-not-truncate.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

anki english
  content/posts/2026-08-22-anki-migrate-english-notes-to-tts-note-types.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

codeburn
  content/posts/2026-08-23-codeburn.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

tchau wordpress
  content/pt/posts/2014-07-07-tchau-wordpress.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: 2a04b156c89e6709ac49d1019ae0d34c96ad6952
  2022/01/advent-of-code/index.html
  2025/08/argocd-git-index.lock-issue/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  it/blogroll.opml
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/2014/06/setups-no-windows-nunca-mais/index.html
  pt/2014/07/melhorando-a-renderização-de-fontes-no-windows/index.html
  pt/2014/07/tchau-wordpress/index.html
  pt/2014/07/tchau-wordpress/index.md
  pt/404.html
  pt/blogroll.opml
  pt/index.xml
  pt/llms.txt
  pt/posts/2014-06-30-setups-no-windows-nunca-mais/index.html
  pt/posts/2014-07-07-tchau-wordpress/index.html
  pt/posts/2014-07-07-tchau-wordpress/index.md
  pt/posts/2014-07-12-melhorando-a-renderizacao-de-fontes-no-windows/index.html
  pt/posts/index.html
  pt/posts/index.xml
  pt/search/index.json
  pt/sitemap.md
  pt/sitemap.xml
  pt/tags/index.xml
  pt/tags/legacy/index.html
  pt/tags/legacy/index.xml
  pt/tags/meta/index.html
  pt/tags/meta/index.xml
  sitemap.md
  sitemap.xml
  tags/index.html
  tags/index.xml
  tags/legacy/index.html
  tags/meta/index.html
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

triple
  content/pt/posts/2013-10-16-triple-booting-yay.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

obrigado
  content/pt/posts/2013-09-02-como-rodar-jnlp-no-linux.md
  content/pt/posts/2013-09-15-ontem-maratona-de-programacao.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: 34e9daaaa0bd1d51ae77cc6d453a71f3523f0e9f
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  it/blogroll.opml
  pt/2013/09/como-rodar-jnlp-no-linux/index.html
  pt/2013/09/como-rodar-jnlp-no-linux/index.md
  pt/2013/09/ontem-maratona-de-programação/index.html
  pt/2013/09/ontem-maratona-de-programação/index.md
  pt/2013/10/triple-booting-yay/index.html
  pt/2013/10/triple-booting-yay/index.md
  pt/blogroll.opml
  pt/posts/2013-09-02-como-rodar-jnlp-no-linux/index.html
  pt/posts/2013-09-02-como-rodar-jnlp-no-linux/index.md
  pt/posts/2013-09-15-ontem-maratona-de-programacao/index.html
  pt/posts/2013-09-15-ontem-maratona-de-programacao/index.md
  pt/posts/2013-10-16-triple-booting-yay/index.html
  pt/posts/2013-10-16-triple-booting-yay/index.md
  pt/sitemap.xml
  pt/tags/index.xml
  pt/tags/leetcode/index.xml
  sitemap.xml
  tags/index.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

fix en dash replacement in translated posts
  .pre-commit-config.yaml
  ci/replace_en_dashes.py
  ci/test_replace_en_dashes.py
  content/pt/posts/2013-09-15-ontem-maratona-de-programacao.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

pre-commit: update all hooks
  .pre-commit-config.yaml
  content/posts/2015-03-02-thoughts-on-instagram.md
  content/posts/2026-02-16-chromium-bidi-my-contributions-to-browser-automation.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

deploy: 546790c2fd4a1eef550a9644d0857dc9223dfdb1
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  it/blogroll.opml
  pt/2013/09/ontem-maratona-de-programação/index.html
  pt/2013/09/ontem-maratona-de-programação/index.md
  pt/blogroll.opml
  pt/posts/2013-09-15-ontem-maratona-de-programacao/index.html
  pt/posts/2013-09-15-ontem-maratona-de-programacao/index.md
  pt/sitemap.xml
  pt/tags/index.xml
  pt/tags/leetcode/index.xml
  sitemap.xml
  tags/index.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: d91ef09d807f8933f2bac5998a786c3392ec5e8c
  2015/03/thoughts-on-instagram/index.html
  2015/03/thoughts-on-instagram/index.md
  2022/01/advent-of-code/index.html
  2026/02/webdriver-bidi-from-spec-to-implementation/index.html
  2026/02/webdriver-bidi-from-spec-to-implementation/index.md
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  it/blogroll.opml
  pt/blogroll.opml
  sitemap.xml
  tags/bestof/index.xml
  tags/index.xml
  tags/legacy/index.xml
  tags/meta/index.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

Path conditions:
  check-broken-internal-links: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  check-coding-titles: any of: ^content/posts/.*(leetcode|bytebytego).*\.md$ and \.(md|markdown|mdown)$ and not (^content/posts/2025-12-30-kagi-add-leetcode-bang.md$) and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  check-duplicate-coding: any of: ^content/posts/.*(leetcode|bytebytego).*\.md$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  check-required-frontmatter: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (_index\.md$) and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  check-single-category: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  forbid-double-more: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  forbid-double-parens-in-shortcodes: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-external-images: any of: ^layouts/.*\.html$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-md-extension-in-hugo-internal-links: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-old-perrotta-dev: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$ and not (^(content/posts/2024-02-04-new-domain.md|content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md)$) and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  forbid-personal-emails: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-tulip: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-utm-analytics: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  replace-em-dashes: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  replace-shell-prompt: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  sort-blog-tags: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  strip-content-posts-prefix: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
