Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
# Install pre-commit itself:
#   $ pip install pre-commit
#     OR
#   $ brew install pre-commit
#
# Update all pre-commit hooks to latest version:
#   $ pre-commit autoupdate
#
# Install all default pre-commit hooks locally:
#   $ pre-commit install
#
# Apply a given pre-commit hook to all files:
#   $ pre-commit run --all-files <id>
#
# Apply all pre-commit hooks to all files:
#   $ pre-commit run --all-files
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # keep-sorted start
      - id: check-executables-have-shebangs
      - id: check-yaml
      - id: detect-private-key
      - id: trailing-whitespace
        # keep-sorted end
  # keep-sorted start
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        exclude: ^(content/posts/(2014|2015|2016)|content/posts/2024-07-09-kubectl-get-secret-with-jsonpath-add-newline.md|content/posts/2024-06-27-a-little.md|content/posts/2024-12-22-new-post-workflow.md)
        args:
          # keep-sorted start
          - -L=DeVault
          - -L=als
          - -L=ist
          - -L=sive
          # keep-sorted end
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.22.1
    hooks:
      - id: gitleaks
  - repo: https://github.com/google/keep-sorted
    rev: v0.5.1
    hooks:
      - id: keep-sorted
  - repo: https://github.com/google/yamlfmt
    rev: v0.15.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/lalten/check-gha-pinning
    rev: v1.3.0
    hooks:
      - id: check-gha-pinning
  - repo: https://github.com/shssoichiro/oxipng
    rev: v9.1.3
    hooks:
      - id: oxipng
  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.8
    hooks:
      - id: fix-ligatures
      - id: fix-smartquotes
  # Only run it every once in a while.
  # - repo: https://github.com/tcort/markdown-link-check
  #   rev: v3.13.6
  #   hooks:
  #     - id: markdown-link-check
  #       files: '^content/posts/2025-.*'
  #       args:
  #         - -q
  - repo: local
    hooks:
      - id: forbid-utm-analytics
        name: Forbid usage of UTM analytics / tracking
        entry: '\b(utm_source)\b'
        language: pygrep
        types:
          - markdown
      - id: forbid-old-perrotta-dev
        name: Forbid usage of previous domains
        entry: '\b(https://thiagowfx\.github\.io|www\.perrotta\.dev|blog\.perrotta\.dev)\b'
        language: pygrep
        types_or:
          - markdown
          - yaml
        exclude: ^(content/posts/2024-02-04-new-domain.md|content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md)$
      - id: forbid-md-extension-in-hugo-internal-links
        name: Forbid .md extension in hugo internal links
        entry: '.*\.md\" >\}\}'
        language: pygrep
        types:
          - markdown
# keep-sorted end

new post: terraform diagrams
  content/posts/2025-03-17-terraform-generate-diagrams.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: d8dc6f301e4f86464e9cee7a88f69f83d75df35f
  2025/03/terraform-generate-diagrams/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none

new post: terraform + zip
  content/posts/2025-03-17-terraform-create-zip-files.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: 9ed4fdbcb18571dcb396fc3de8ae5657944b51b3
  2025/03/terraform-create-zip-files/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none

links
  content/posts/2025-03-17-terraform-create-zip-files.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: f08b2f324fc943431e219931b6f30cabfbfe396c
  2025/03/terraform-create-zip-files/index.html
  index.xml
  posts/index.xml
  tags/dev/index.xml
Due: none

new post: micromarriage
  content/posts/2025-03-17-micromarriages.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: 78232fdaff096fa0f4326616b90f052617183d4f
  2025/03/micromarriages/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

meet cute
  content/posts/2025-03-17-micromarriages.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: 4af15f8cd4981306238eb7f5828528b22f928f75
  2025/03/micromarriages/index.html
  index.xml
  posts/index.xml
  tags/serenity/index.xml
Due: none

new post: friction
  content/posts/2025-03-18-friction.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: 6936aa585a7c9ed07c12d0ae38fff143780eeb6e
  2025/03/friction/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

new post: goodreads
  content/posts/2025-03-18-goodreads.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: fc21f308d1b1da17795e78d0ce5e7c0c832942b8
  2025/03/goodreads/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

deploy: e6f3be842a432e7b02ca759aea3a8c096dfb836d
  2025/03/terraform-rename-resources/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none

new post: terraform rename
  content/posts/2025-03-19-terraform-rename-resources.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: f12473a2eced88991b143f7aa51c99f2c9e516f7
  2025/03/terraform-rename-resources/index.html
  index.xml
  posts/index.xml
  tags/dev/index.xml
Due: none

new post: git freeze, git thaw
  content/posts/2025-03-19-git-freeze-git-thaw.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: 4400e2de10c4d6a271ba7551930f52fefe80195a
  2025/03/git-freeze-git-thaw/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/bestof/index.html
  tags/bestof/index.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none

deploy: 42d96fdc97387a693752183f874ba969578503f6
  2025/03/npm-install-before-test/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none

deploy: ede894ac80ec4224592c753ec3cc3141d54c8385
  2025/03/npm-install-before-test/index.html
  index.xml
  posts/index.xml
  tags/dev/index.xml
Due: none

new post: npm install-test
  content/posts/2025-03-19-npm-install-before-test.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: 455dd2e75b525b1c9312abbda462e50de7f51b07
  2025/03/npm-install-before-test/index.html
  index.xml
  posts/index.xml
  tags/dev/index.xml
Due: none

git stash explanation
  content/posts/2025-03-19-git-freeze-git-thaw.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: 2c082abc79b3b212d071cba410e311a816084798
  2025/03/git-freeze-git-thaw/index.html
  index.xml
  posts/index.xml
  tags/bestof/index.xml
  tags/dev/index.xml
Due: none

new post: my packaging policy
  content/posts/2025-03-20-my-packaging-policy.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: 67aaf996350e62a34c5cb9c49d1db9483536cfd2
  2025/03/my-packaging-policy/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

new post: git switch
  content/posts/2025-03-20-git-prefer-switch-over-checkout.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: 10e56db8bb48fe46242f2886cb65ecc27fe03149
  2025/03/git-prefer-switch-over-checkout/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none

deploy: 8107d8372f366c14fd7058cb4f9bc8fc70d5d8ca
  1/01/index.html
  posts/index.html
  sitemap.xml
Due: none

pre-commit: pin dependencies
  .pre-commit-config.yaml
Due: forbid-old-perrotta-dev

new post: pre-commit pin freeze
  content/posts/2025-03-20-pre-commit-pin-dependencies-with-freeze.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: 17beb1087444f2a61f6c70104c43b98d65c412ad
  2025/03/pre-commit-pin-dependencies-with--freeze/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none

new post: pre-commit no-commit-to-branch
  content/posts/2025-03-21-pre-commit-no-commit-to-branch-hook.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: c8bb24a0a31e17fd29c74f01d7caedcd954ae121
  2025/03/pre-commit-no-commit-to-branch-hook/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none

new post: hot sauce
  content/posts/2025-03-21-hot-sauce.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: 3de2f32f2fb24f5eb8005d52f1a8d90a4f14a60e
  2025/03/hot-sauce/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

new post: phone
  content/posts/2025-03-21-it-is-as-if-you-were-on-your-phone.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: efe3da6a4dca5f101ab19a88e431dc3ca963d8d6
  2025/03/it-is-as-if-you-were-on-your-phone/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

new post: maccy pinning
  content/posts/2025-03-24-maccy-pin-items.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links
