Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-coding-titles, check-duplicate-leetcode, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

Path conditions:
  check-coding-titles: any of: ^content/posts/.*(leetcode|bytebytego).*\.md$ and \.(md|markdown|mdown)$ and not (^content/posts/2025-12-30-kagi-add-leetcode-bang.md$) and not (^(layouts/partials/openring.html$|schemas|vendor)/)
  check-duplicate-leetcode: any of: ^content/posts/.*leetcode.*\.md$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
  forbid-md-extension-in-hugo-internal-links: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
  forbid-old-perrotta-dev: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$ and not (^(content/posts/2024-02-04-new-domain.md|content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md)$) and not (^(layouts/partials/openring.html$|schemas|vendor)/)
  forbid-personal-emails: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
  forbid-tulip: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
  forbid-utm-analytics: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/

search widget in blog
  layouts/_default/list.html
  layouts/_default/search.html
  layouts/partials/search-widget.html
Due: none

deploy: fd41cdc639959bed14a5538a1b809238a926333e
  blogroll.opml
  blogroll/index.html
  posts/index.html
  search/index.html
  tags/bestof/index.html
  tags/coding/index.html
  tags/dev/index.html
  tags/meta/index.html
  tags/privacy/index.html
  tags/pt/index.html
  tags/recipe/index.html
  tags/serenity/index.html
Due: none

new post: blog discovery
  content/posts/2025-12-31-blog-discovery.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

amend
  content/posts/2025-12-31-blog-discovery.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: ea1aa2e1f84b65c4d54cfff3a40ea693f4d76fca
  2025/12/blog-discovery/index.html
  blogroll.opml
  blogroll/index.html
  index.xml
  posts/index.xml
  sitemap.xml
  tags/bestof/index.html
  tags/bestof/index.xml
  tags/coding/index.html
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

search widget: add excludeTags parameter to filter posts by tag
  layouts/_default/list.html
  layouts/partials/search-widget.html
Due: none

deploy: 9d9a855e3a0daf6e3f22cc16dcd7f20fcae1ac7a
  blogroll.opml
  blogroll/index.html
  posts/index.html
  search/index.html
  tags/coding/index.html
Due: none

lazy commit
  content/posts/2025-12-31-leetcode-700-search-in-a-binary-search-tree.md
Due: check-coding-titles, check-duplicate-leetcode, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

update lazy to include args in commit msg if provided
  Justfile
Due: none

deploy: 93153611364d84879cf15e36e708b5b7722be7bf
  blogroll.opml
  blogroll/index.html
  tags/coding/index.html
Due: none

allow unquoted args in new and code commands
  Justfile
Due: none

search widget: add includeTags parameter for tag pages
  layouts/_default/list.html
  layouts/partials/search-widget.html
Due: none

deploy: e5cce5837b9ce86ccfaea5955eb966d604297517
  blogroll.opml
  blogroll/index.html
  tags/coding/index.html
Due: none

deploy: df14990c78d83947bba0889953a323e1fe0a3e77
  blogroll.opml
  blogroll/index.html
  posts/index.html
  search/index.html
  tags/bestof/index.html
  tags/coding/index.html
  tags/dev/index.html
  tags/meta/index.html
  tags/privacy/index.html
  tags/pt/index.html
  tags/recipe/index.html
  tags/serenity/index.html
Due: none

leetcode
  content/posts/2025-12-31-leetcode-501-find-mode-in-binary-search-tree.md
Due: check-coding-titles, check-duplicate-leetcode, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

s/Coding progress/Progress
  layouts/_default/list.html
Due: none

deploy: 1a547ee3ccefc012691a54b826f1fb671cab86b4
  blogroll.opml
  blogroll/index.html
  tags/coding/index.html
Due: none

leetcode
  content/posts/2025-12-31-leetcode-701-insert-into-a-binary-search-tree.md
Due: check-coding-titles, check-duplicate-leetcode, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: c79aef2040aa26e65383b530f66329411562ac61
  2025/12/leetcode-#701-insert-into-a-binary-search-tree/index.html
  blogroll.opml
  blogroll/index.html
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

deploy: 61fe67fdc7af87c18b75ece44c8b41828eb9db9e
  2025/12/leetcode-#701-insert-into-a-binary-search-tree/index.html
  blogroll.opml
  blogroll/index.html
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

fix: remove hash from coding post filenames to generate correct URLs
  Justfile
Due: none

deploy: 0756042fb9c920b0ee3c8035ed7e2f4493d4ae08
  2024/12/git-reset--keep/index.html
  blogroll.opml
  blogroll/index.html
  tags/coding/index.html
Due: none

remove syntax highlighting from code blocks
  config/_default/config.yml
  layouts/_default/_markup/render-codeblock.html
  layouts/partials/style.html
  static/syntax.css
  static/theme.css
Due: forbid-old-perrotta-dev

deploy: 74fd13f3662546a93d549fceea179c518dd70f2c
  blogroll.opml
  blogroll/index.html
  tags/coding/index.html
Due: none

deploy: c7ee4b9c6c3e2d372a746142d2072036595541d4
  blogroll.opml
  blogroll/index.html
  index.xml
  posts/index.html
  posts/index.xml
  tags/bestof/index.html
  tags/bestof/index.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
  tags/meta/index.html
  tags/meta/index.xml
  tags/privacy/index.html
  tags/privacy/index.xml
  tags/pt/index.html
  tags/recipe/index.html
  tags/recipe/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

Auto-update pre-commit hooks
  .pre-commit-config.yaml
Due: forbid-old-perrotta-dev

Delete hugo_output.log
  hugo_output.log
Due: none

deploy: 66710f8fc660f3335c84b41c9ff7ae738972112f
  2024/12/macos-app-shortcuts/index.html
  2024/12/sourcegraph/index.html
  blogroll.opml
  blogroll/index.html
  tags/coding/index.html
Due: none

replace RSS text with SuperTinyIcons icon in post lists
  layouts/_default/list.html
  layouts/partials/style.html
Due: none
