Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-coding-titles, check-duplicate-leetcode, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

check-coding-titles:
  name: Enforce LeetCode and ByteByteGo title format
  entry: ci/check_post_titles.py
  language: system

check-duplicate-leetcode:
  name: Detect duplicate LeetCode posts
  entry: ci/check_duplicate_leetcode_posts.py
  language: system
  pass_filenames: false

forbid-md-extension-in-hugo-internal-links:
  name: Forbid .md extension in hugo internal links
  entry: .*\.md\" >\}\}
  language: pygrep

forbid-old-perrotta-dev:
  name: Forbid old domains
  entry: \\b(https://thiagowfx\.github\.io|www\.perrotta\.dev|blog\.perrotta\.dev)\\b
  language: pygrep

forbid-personal-emails:
  name: Forbid personal emails
  entry: (@perrotta.dev|tbperrotta@gmail.com)
  language: pygrep

forbid-tulip:
  name: Forbid Tulip terms
  entry: (?i)(\btulip\b|@garden)
  language: pygrep

forbid-utm-analytics:
  name: Forbid UTM analytics / tracking
  entry: \\b(utm_source)\\b
  language: pygrep

deploy: dbcb690a486fcf29c23a7518a4f1292a3bdaf67f
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  pt/blogroll.opml
Due: none

slides
  content/posts/2026-02-07-making-a-slides-presentation-in-2026.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

frankfurt
  content/posts/2026-02-07-making-a-slides-presentation-in-2026.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 82a100b48acab90df56c98a60e986dda0471a8ca
  2022/01/advent-of-code/index.html
  2026/02/making-a-slides-presentation-in-2026/index.html
  2026/02/making-a-slides-presentation-in-2026/index.md
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  index.xml
  posts/index.xml
  pt/blogroll.opml
  sitemap.xml
  tags/ai/index.xml
  tags/bestof/index.xml
  tags/dev/index.xml
  tags/index.xml
  tags/serenity/index.xml
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

add justfile
  content/posts/2026-02-07-making-a-slides-presentation-in-2026.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: f4d4a6e9bca6c1a59647806b8eb5740a89a2821b
  2022/01/advent-of-code/index.html
  2026/02/making-a-slides-presentation-in-2026/index.html
  2026/02/making-a-slides-presentation-in-2026/index.md
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  index.xml
  posts/index.xml
  pt/blogroll.opml
  sitemap.xml
  tags/ai/index.xml
  tags/bestof/index.xml
  tags/dev/index.xml
  tags/index.xml
  tags/serenity/index.xml
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

codeblock: replace Copy text with emoji icons
  assets/js/main.js
  layouts/_default/_markup/render-codeblock.html
Due: none

codeblock: use SVG icons for copy button
  assets/js/main.js
  layouts/_default/_markup/render-codeblock.html
Due: none

rss: fix replaceRE regex for stripping style attributes
  layouts/_default/rss.xml
Due: none

deploy: 1b5009027fa0ec2798ab05d420f186c404084561
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  categories/coding/index.xml
  categories/commentary/index.xml
  index.xml
  posts/index.xml
  pt/blogroll.opml
  pt/index.xml
  pt/posts/index.xml
  pt/tags/dev/index.xml
  pt/tags/meta/index.xml
  tags/advent-of-code/index.xml
  tags/ai/index.xml
  tags/alpine-linux/index.xml
  tags/aws/index.xml
  tags/bestof/index.xml
  tags/bytebytego/index.xml
  tags/dev/index.xml
  tags/docker/index.xml
  tags/fosdem/index.xml
  tags/ghostty/index.xml
  tags/git/index.xml
  tags/kubernetes/index.xml
  tags/leetcode/index.xml
  tags/macos/index.xml
  tags/meta/index.xml
  tags/movies/index.xml
  tags/pkm/index.xml
  tags/pre-commit/index.xml
  tags/privacy/index.xml
  tags/security/index.xml
  tags/selfhosted/index.xml
  tags/serenity/index.xml
  tags/ssh/index.xml
  tags/terraform/index.xml
  tags/vim/index.xml
Due: none

fix: preserve whitespace in RSS feed code blocks
  layouts/_default/_markup/render-codeblock.rss.xml
Due: none

deploy: f8c36fa2b796a7b59213e25578c8eecf1fdb3c19
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  categories/coding/index.xml
  categories/commentary/index.xml
  index.xml
  posts/index.xml
  pt/blogroll.opml
  pt/index.xml
  pt/posts/index.xml
  pt/tags/dev/index.xml
  pt/tags/meta/index.xml
  tags/advent-of-code/index.xml
  tags/ai/index.xml
  tags/alpine-linux/index.xml
  tags/aws/index.xml
  tags/bestof/index.xml
  tags/bytebytego/index.xml
  tags/dev/index.xml
  tags/docker/index.xml
  tags/fosdem/index.xml
  tags/ghostty/index.xml
  tags/git/index.xml
  tags/kubernetes/index.xml
  tags/leetcode/index.xml
  tags/macos/index.xml
  tags/meta/index.xml
  tags/pkm/index.xml
  tags/pre-commit/index.xml
  tags/privacy/index.xml
  tags/security/index.xml
  tags/selfhosted/index.xml
  tags/serenity/index.xml
  tags/ssh/index.xml
  tags/terraform/index.xml
  tags/vim/index.xml
Due: none

codeblock: enable syntax highlighting via Chroma
  layouts/_default/_markup/render-codeblock.html
  layouts/partials/style.html
Due: none

threads
  content/posts/2026-02-08-the-threads-algorithm-loves-rage-bait.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

streamline reply to posts
  Justfile
  archetypes/commentary.md
  content/posts/2024-12-21-i-hate-the-news.md
  content/posts/2024-12-23-introduce-yourself-to-your-remote-team.md
  content/posts/2024-12-28-douglas-adams-on-reactions-to-technology-by-age.md
  content/posts/2024-12-30-copilot-having-a-normal-one.md
  content/posts/2025-01-05-mistakes-engineers-make-in-large-established-codebases.md
  content/posts/2025-01-05-my-approach-to-running-a-link-blog.md
  content/posts/2025-01-20-smash-that-subscribe-button.md
  content/posts/2025-03-06-growth-at-bigtech.md
  content/posts/2026-02-05-why-am-i-doing-the-thinking-for-you.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

add alias for renamed reply-to post
  content/posts/2026-02-05-why-am-i-doing-the-thinking-for-you.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 69e808fb5ae31b19e09a937cfcc9160bb1ac7d17
  2022/01/advent-of-code/index.html
  2024/12/reply-to-copilot-having-a-normal-one/index.html
  2024/12/reply-to-douglas-adams-on-reactions-to-technology-by-age/index.html
  2024/12/reply-to-i-hate-the-news/index.html
  2024/12/reply-to-introduce-yourself-to-your-remote-team/index.html
  2025/01/reply-to-mistakes-engineers-make-in-large-established-codebases/index.html
  2025/01/reply-to-my-approach-to-running-a-link-blog/index.html
  2025/01/reply-to-smash-that-subscribe-button/index.html
  2025/01/reply-to-smash-that-subscribe-button/index.md
  2025/03/reply-to-growth-at-bigtech/index.html
  2026/02/reply-to-why-am-i-doing-the-thinking-for-you/index.html
  blogroll.opml
  blogroll/index.html
  categories/commentary/index.xml
  categories/index.xml
  en/sitemap.xml
  graph.json
  posts/2026-02-05-reply-to-why-am-i-doing-the-thinking-for-you/index.html
  pt/blogroll.opml
  sitemap.xml
  tags/ai/index.xml
  tags/dev/index.xml
  tags/index.xml
  tags/meta/index.xml
  tags/serenity/index.xml
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

chrome brave
  content/posts/2026-01-24-chrome-brave.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 8237835f85671d4dd2cc1b4738f2bf5b1ec1b513
  2022/01/advent-of-code/index.html
  2022/02/google-and-duckduckgo/index.html
  2022/03/send-emails-straight-to-spam/index.html
  2024/01/why-do-you-need-to-know-my-last-name/index.html
  2024/02/organic-maps-off-line-maps/index.html
  2024/02/whois/index.html
  2024/03/chrome-fresh-start-a-fresh-instance-of-google-chrome/index.html
  2025/02/kill-the-newsletter/index.html
  2025/11/chrome-devtools-toggle-prefers-color-scheme/index.html
  2025/11/chrome-hide-bookmarks-bar/index.html
  2025/11/chrome-orion/index.html
  2025/12/miui-debloater/index.html
  2026/01/atuin-new-machine-setup/index.html
  2026/01/chrome-brave/index.html
  2026/01/chrome-brave/index.md
  2026/01/terraform-import-arrays/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  graph.json
  index.xml
  posts/coding/index.html
  posts/index.html
  posts/index.xml
  posts/recipes/index.html
  pt/blogroll.opml
  random/index.html
  search/index.json
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/index.html
  tags/index.xml
  tags/privacy/index.html
  tags/privacy/index.xml
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

tag posts with socialmedia
  content/posts/2022-02-09-rss-bridging-the-gap.md
  content/posts/2024-08-01-no-analytics.md
  content/posts/2024-12-21-i-hate-the-news.md
  content/posts/2025-02-07-instagram-get-rid-of-all-posts.md
  content/posts/2025-02-11-linkedin-chronological-view.md
  content/posts/2025-05-17-blog-directories.md
  content/posts/2025-08-09-silence-unknown-callers.md
  content/posts/2025-08-13-daily-log.md
  content/posts/2025-08-29-it's-never-a-good-time.md
  content/posts/2025-10-21-instagram-unfollow-non-followers.md
  content/posts/2025-11-05-record-club.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: a37dc057988e00db0d2a35b2ea7d374a2de2b7cc
  2022/01/advent-of-code/index.html
  2022/02/rss-bridging-the-gap/index.html
  2024/08/no-analytics/index.html
  2024/12/reply-to-i-hate-the-news/index.html
  2025/02/instagram-get-rid-of-all-posts/index.html
  2025/02/linkedin-chronological-view/index.html
  2025/05/blog-directories/index.html
  2025/08/daily-log/index.html
  2025/08/its-never-a-good-time/index.html
  2025/08/silence-unknown-callers/index.html
  2025/10/instagram-unfollow-non-followers/index.html
  2025/11/record-club/index.html
  2026/02/reply-to-the-threads-algorithm-loves-rage-bait/index.html
  blogroll.opml
  blogroll/index.html
  categories/commentary/index.xml
  categories/index.xml
  en/sitemap.xml
  graph.json
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/blogroll.opml
  search/index.json
  sitemap.xml
  tags/index.html
  tags/index.xml
  tags/meta/index.xml
  tags/pkm/index.xml
  tags/privacy/index.xml
  tags/serenity/index.xml
  tags/socialmedia/index.html
  tags/socialmedia/index.xml
Due: none

fix: use separate chroma themes for light and dark mode
  assets/theme.css
  config/_default/config.yml
  layouts/partials/style.html
Due: forbid-old-perrotta-dev

dark mode theme: switch to onedark from monokai
  layouts/partials/style.html
Due: none

prek: prioritize hugo quick build hook
  .pre-commit-config.yaml
Due: forbid-old-perrotta-dev

deploy: 3b844c238d41d2469e9868cf8079c7cadaea8bc2
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  pt/blogroll.opml
Due: none

justfile: split edit from search
  Justfile
Due: none

deploy: 8a67c3589ef937bef582534bad7f43fddb858929
  2022/01/advent-of-code/index.html
  2025/02/duckduckgo-email-protection/index.html
  2025/02/upcoming-calendar-meeting-in-macos-menu-bar-with-raycast/index.html
  blogroll.opml
  blogroll/index.html
  pt/blogroll.opml
Due: none

skim
  content/posts/2026-02-08-skim.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

prek: add hook to strip content/posts/ prefix from Hugo ref links
  .pre-commit-config.yaml
  ci/strip_content_posts_prefix.py
Due: forbid-old-perrotta-dev

deploy: fd60ce2dda48aae20678411820295ca67e78fa3a
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  pt/blogroll.opml
Due: none

hugo: add quick environment config for faster build-quick
  config/quick/config.yml
Due: forbid-old-perrotta-dev

deploy: 0176907c78d1a3c879fba38af90ce6d07c0913fb
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  pt/blogroll.opml
Due: none

Path conditions:
  check-coding-titles: any of: ^content/posts/.*(leetcode|bytebytego).*\.md$ and \.(md|markdown|mdown)$ and not (^content/posts/2025-12-30-kagi-add-leetcode-bang.md$) and not (^(layouts/partials/openring.html$|schemas|vendor)/)
  check-duplicate-leetcode: any of: ^content/posts/.*leetcode.*\.md$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
  forbid-md-extension-in-hugo-internal-links: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
  forbid-old-perrotta-dev: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$ and not (^(content/posts/2024-02-04-new-domain.md|content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md)$) and not (^(layouts/partials/openring.html$|schemas|vendor)/)
  forbid-personal-emails: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
  forbid-tulip: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
  forbid-utm-analytics: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
