Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

forbid-md-extension-in-hugo-internal-links:
  name: Forbid .md extension in hugo internal links
  entry: .*\.md\" >\}\}
  language: pygrep

forbid-old-perrotta-dev:
  name: Forbid old domains
  entry: \\b(https://thiagowfx\.github\.io|www\.perrotta\.dev|blog\.perrotta\.dev)\\b
  language: pygrep

forbid-personal-emails:
  name: Forbid personal emails
  entry: (@perrotta.dev|tbperrotta@gmail.com)
  language: pygrep

forbid-tulip:
  name: Forbid Tulip terms
  entry: (?i)(\btulip\b|@garden)
  language: pygrep

forbid-utm-analytics:
  name: Forbid UTM analytics / tracking
  entry: \\b(utm_source)\\b
  language: pygrep

lazy commit
  content/posts/2025-11-27-bytebytego-hamming-weights-of-integers.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 3d54344b830e1ee0929db54ddd54b885fa1fa45c
  2025/11/bytebytego-hamming-weights-of-integers/index.html
  blogroll.opml
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

deploy: cad399afacc3c132331380aa8d1007df3efaf111
  2025/11/bytebytego-hamming-weights-of-integers/index.html
  blogroll.opml
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

just: even lazier
  Justfile
Due: none

deploy: 3e4a67f5e50f6d06f3bd0d5e97dc0fccd1cfe9c0
  blogroll.opml
  tags/coding/index.html
Due: none

add example usage
  content/posts/2025-11-27-git-prune-stale-branches.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 20c3962a36be5ac60a0b3f4c83c84b4ff8a25426
  2025/11/git-prune-stale-branches/index.html
  blogroll.opml
  index.xml
  posts/index.xml
  sitemap.xml
  tags/bestof/index.html
  tags/bestof/index.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
Due: none

just: add edit
  Justfile
Due: none

deploy: 1de4160647c8f6f20569b315554ae8ff07cfc3b5
  blogroll.opml
  tags/coding/index.html
Due: none

Enhance code block rendering
  config.yml
  layouts/_default/_markup/render-codeblock.html
  layouts/_default/baseof.html
  layouts/partials/style.html
  static/syntax.css
Due: forbid-old-perrotta-dev

fix linear
  content/posts/2025-11-27-bytebytego-hamming-weights-of-integers.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: f02386763c032a0f321ce0029b524261b5db1414
  2025/11/bytebytego-hamming-weights-of-integers/index.html
  blogroll.opml
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

just edit: use fd when available
  Justfile
Due: none

deploy: bd56eaa4cf801de6a2cce51117e84b6f1aab31a1
  blogroll.opml
  tags/coding/index.html
Due: none

devtools prefers-color-scheme toggle
  content/posts/2025-11-27-chrome-devtools-toggle-prefers-color-scheme.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 92b8ef7ba4f88c453b246976a2fa69784289b4e4
  2025/11/chrome-devtools-toggle-prefers-color-scheme/index.html
  404.html
  blogroll.opml
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
Due: none

Enhance code block rendering (#50)
  config.yml
  layouts/_default/_markup/render-codeblock.html
  layouts/_default/baseof.html
  layouts/partials/style.html
  static/syntax.css
Due: forbid-old-perrotta-dev

add old post disclaimer
  config.yml
  layouts/_default/single.html
  static/theme.css
Due: forbid-old-perrotta-dev

Fix warning offset type
  layouts/_default/single.html
Due: none

Add warning banner to old posts (#51)
  config.yml
  layouts/_default/single.html
  static/theme.css
Due: forbid-old-perrotta-dev

Update Hugo to 0.152.2 in CI workflow
  .github/workflows/gh-pages.yml
Due: forbid-old-perrotta-dev

Update Hugo to 0.152.2 in CI workflow (#52)
  .github/workflows/gh-pages.yml
Due: forbid-old-perrotta-dev

shorten disclaimer
  layouts/_default/single.html
Due: none

python: import, help
  content/posts/2025-11-28-python-introspect-modules.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: b4c737af2abd282d21c1861494e544c635a77a99
  2025/11/python-introspect-modules/index.html
  404.html
  blogroll.opml
  posts/index.html
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

bytebytego: fix broken links
  content/posts/2025-11-23-bytebytego-shift-zeros-to-the-end.md
  content/posts/2025-11-25-bytebytego-climbing-stairs.md
  content/posts/2025-11-27-bytebytego-hamming-weights-of-integers.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 60502eb8e9b3769d6cae7b7e9140b79524d3452c
  2025/11/bytebytego-climbing-stairs/index.html
  2025/11/bytebytego-hamming-weights-of-integers/index.html
  2025/11/bytebytego-shift-zeros-to-the-end/index.html
  blogroll.opml
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

bytebytego: fix broken links
  content/posts/2025-11-25-bytebytego-invert-binary-tree.md
  content/posts/2025-11-26-bytebytego-0/1-knapsack.md
  content/posts/2025-11-26-bytebytego-minimum-coin-combination.md
  content/posts/2025-11-26-bytebytego-reverse-32-bit-integer.md
  content/posts/2025-11-27-bytebytego-maximum-subarray-sum.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 4248bf09e11afe3fb2728704996f7d526d08b126
  2025/11/bytebytego-0/1-knapsack/index.html
  2025/11/bytebytego-invert-binary-tree/index.html
  2025/11/bytebytego-maximum-subarray-sum/index.html
  2025/11/bytebytego-minimum-coin-combination/index.html
  2025/11/bytebytego-reverse-32-bit-integer/index.html
  blogroll.opml
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

tweak homepage
  content/_index.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: f9e3740c6671af39f87e022ccaddf3678f4db1ee
  blogroll.opml
  index.html
  sitemap.xml
  tags/coding/index.html
Due: none

single title
  content/_index.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: fa4a7fbf7ba54b71cf1b298cc19026f6dffae9f8
  blogroll.opml
  index.html
  sitemap.xml
  tags/coding/index.html
Due: none

double welcome
  content/_index.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: f9461124a99c2aaf8a4c1ebf466e80a106b32b10
  blogroll.opml
  index.html
  sitemap.xml
  tags/coding/index.html
Due: none

Path conditions:
  forbid-md-extension-in-hugo-internal-links: any of: \.(md|markdown|mdown)$, but not: ^(schemas|vendor)/
  forbid-old-perrotta-dev: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$ and not (^(content/posts/2024-02-04-new-domain.md|content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md)$) and not (^(schemas|vendor)/)
  forbid-personal-emails: any of: \.(md|markdown|mdown)$, but not: ^(schemas|vendor)/
  forbid-tulip: any of: \.(md|markdown|mdown)$, but not: ^(schemas|vendor)/
  forbid-utm-analytics: any of: \.(md|markdown|mdown)$, but not: ^(schemas|vendor)/
