Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-broken-internal-links, check-coding-titles, check-duplicate-coding, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-external-images, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

Path conditions:
  check-broken-internal-links: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  check-coding-titles: any of: ^content/posts/.*(leetcode|bytebytego).*\.md$ and \.(md|markdown|mdown)$ and not (^content/posts/2025-12-30-kagi-add-leetcode-bang.md$) and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  check-duplicate-coding: any of: ^content/posts/.*(leetcode|bytebytego).*\.md$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  check-required-frontmatter: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (_index\.md$) and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  check-single-category: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  forbid-double-more: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  forbid-double-parens-in-shortcodes: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-external-images: any of: ^layouts/.*\.html$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-md-extension-in-hugo-internal-links: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-old-perrotta-dev: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$ and not (^(content/posts/2024-02-04-new-domain.md|content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md)$) and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  forbid-personal-emails: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-tulip: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-utm-analytics: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  replace-em-dashes: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  replace-shell-prompt: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  sort-blog-tags: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  strip-content-posts-prefix: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)

deploy: 87a3b6e8e9da55c0cb5f21009fbbf8f25897fdb0
  2013/10/openbox-challenge-day-1/index.html
  2013/10/openbox-challenge-day-1/index.md
  2013/10/openbox-challenge-day-3/index.html
  2013/10/openbox-challenge-day-3/index.md
  2014/03/emacs-must-have-libraries/packages/index.html
  2014/03/emacs-must-have-libraries/packages/index.md
  2014/03/web-challenge-#0/index.html
  2014/03/web-challenge-#0/index.md
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  pt/blogroll.opml
  search/index.json
  sitemap.xml
  tags/index.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

orgulho
  content/pt/posts/2013-11-21-ah-orgulho.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

steam
  content/pt/posts/2014-01-10-se-os-downloads-no-steam-estiverem-muito-lentos.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: bc9195a43404f7cc968048d8378c765e34f87c6c
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/2013/10/removendo-crapbloatware-de-um-windows-oem/index.html
  pt/2013/11/ah-orgulho/index.html
  pt/2013/11/ah-orgulho/index.md
  pt/2013/12/cálculo-@-ufrj-sugestão-de-referências/index.html
  pt/blogroll.opml
  pt/index.xml
  pt/posts/2013-10-02-removendo-crapbloatware-de-um-windows-oem/index.html
  pt/posts/2013-11-21-ah-orgulho/index.html
  pt/posts/2013-11-21-ah-orgulho/index.md
  pt/posts/2013-12-15-calculo-ufrj-sugestao-de-referencias/index.html
  pt/posts/index.xml
  pt/search/index.json
  pt/sitemap.xml
  pt/tags/dev/index.html
  pt/tags/dev/index.xml
  pt/tags/index.html
  pt/tags/index.xml
  pt/tags/legacy/index.html
  pt/tags/legacy/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/index.html
  tags/index.xml
  tags/legacy/index.html
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

mãe
  content/pt/posts/2013-05-12-uma-palavra-sobre-o-dia-das-maes.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: 9decb06da7af817a705d9bc14dc6f4fbc43b891f
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/2014/01/se-os-downloads-no-steam-estiverem-muito-lentos.../index.html
  pt/2014/01/se-os-downloads-no-steam-estiverem-muito-lentos.../index.md
  pt/2014/01/testando-uma-iso-no-linux-sem-o-virtualbox/index.html
  pt/blogroll.opml
  pt/index.xml
  pt/posts/2014-01-07-testando-uma-iso-no-linux-sem-o-virtualbox/index.html
  pt/posts/2014-01-10-se-os-downloads-no-steam-estiverem-muito-lentos/index.html
  pt/posts/2014-01-10-se-os-downloads-no-steam-estiverem-muito-lentos/index.md
  pt/posts/2014-01-22-sugestao-de-guia-de-instalacao-do-windows-8-1/index.html
  pt/posts/index.html
  pt/posts/index.xml
  pt/search/index.json
  pt/sitemap.xml
  pt/tags/gaming/index.html
  pt/tags/gaming/index.xml
  pt/tags/index.html
  pt/tags/index.xml
  pt/tags/legacy/index.html
  pt/tags/legacy/index.xml
  sitemap.xml
  tags/gaming/index.html
  tags/gaming/index.xml
  tags/index.html
  tags/index.xml
  tags/legacy/index.html
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

en-dash
  content/posts/2014-12-08-using-proxy-servers-on-linux.md
  content/posts/2015-03-02-thoughts-on-instagram.md
  content/posts/2026-02-16-chromium-bidi-my-contributions-to-browser-automation.md
  content/pt/posts/2013-09-15-ontem-maratona-de-programacao.md
  content/pt/posts/2014-03-02-bloqueando-websites-ads-malware-no-linux.md
  content/pt/posts/2014-03-18-211-aka-2048.md
  content/pt/posts/2014-05-07-reformatando-um-pen-drive-linux.md
  content/pt/posts/2014-06-21-ola-desenvolvimento-web.md
  content/pt/posts/2014-06-30-setups-no-windows-nunca-mais.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

deploy: 186157536f2901e14826b873f212cbbe2d7e7d8f
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/2013/05/uma-palavra-sobre-o-dia-das-mães/index.html
  pt/2013/05/uma-palavra-sobre-o-dia-das-mães/index.md
  pt/2013/09/como-rodar-jnlp-no-linux/index.html
  pt/blogroll.opml
  pt/index.xml
  pt/posts/2013-05-12-uma-palavra-sobre-o-dia-das-maes/index.html
  pt/posts/2013-05-12-uma-palavra-sobre-o-dia-das-maes/index.md
  pt/posts/2013-09-02-como-rodar-jnlp-no-linux/index.html
  pt/posts/index.html
  pt/posts/index.xml
  pt/search/index.json
  pt/sitemap.xml
  pt/tags/index.html
  pt/tags/index.xml
  pt/tags/legacy/index.html
  pt/tags/legacy/index.xml
  pt/tags/serenity/index.html
  pt/tags/serenity/index.xml
  sitemap.xml
  tags/index.xml
  tags/legacy/index.html
  tags/serenity/index.html
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

ci: en-dashes: not in prose
  ci/replace_en_dashes.py
Due: none

deploy: d2c5c17a93a8945848f9923c1c0356c533bdf74b
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  pt/blogroll.opml
Due: none

en-dash
  content/posts/2014-05-15-hello-nix-server-world.md
  content/posts/2025-05-18-fpp.md
  content/pt/posts/2013-09-15-ontem-maratona-de-programacao.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

en-dash
  content/posts/2014-03-02-emacs-must-have-libraries-packages.md
  content/posts/2015-03-09-running-ogre3d-locally-without-installing-it.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

deploy: 771c696d594d53de3e6a3c6e2573e6ff747f54bf
  2014/03/emacs-must-have-libraries/packages/index.html
  2014/03/emacs-must-have-libraries/packages/index.md
  2014/05/status-hello-nix-server-world/index.html
  2014/05/status-hello-nix-server-world/index.md
  2015/03/running-ogre3d-locally-without-installing-it/index.html
  2015/03/running-ogre3d-locally-without-installing-it/index.md
  2022/01/advent-of-code/index.html
  2025/05/fpp-facebook-path-picker/index.html
  2025/05/fpp-facebook-path-picker/index.md
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  pt/2013/09/ontem-maratona-de-programação/index.html
  pt/2013/09/ontem-maratona-de-programação/index.md
  pt/blogroll.opml
  pt/index.xml
  pt/posts/2013-09-15-ontem-maratona-de-programacao/index.html
  pt/posts/2013-09-15-ontem-maratona-de-programacao/index.md
  pt/posts/index.xml
  pt/sitemap.xml
  pt/tags/dev/index.xml
  pt/tags/index.xml
  pt/tags/leetcode/index.xml
  pt/tags/legacy/index.xml
  search/index.json
  sitemap.xml
  tags/index.xml
  tags/legacy/index.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

fixes
  content/posts/2015-03-09-running-ogre3d-locally-without-installing-it.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

deploy: ae126d9ffd07ad794a6811dfc63670f0fd6506dc
  2013/12/qa-with-nine-great-programmers/index.html
  2014/10/compiling-/-installing-pacman-on-ubuntu/index.html
  2015/03/getting-started-with-ogre3d/index.html
  2015/03/running-ogre3d-locally-without-installing-it/index.html
  2015/03/running-ogre3d-locally-without-installing-it/index.md
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  pt/blogroll.opml
  search/index.json
  sitemap.xml
  tags/index.xml
  tags/legacy/index.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

fix links with angle brackets
  .pre-commit-config.yaml
  content/posts/2014-08-23-mail-from-emacs-part-1.md
  content/posts/2014-09-13-what-is-taking-much-space-on-your-linux-system.md
  content/posts/2014-11-16-i3-window-manager.md
  content/posts/2015-03-09-running-ogre3d-locally-without-installing-it.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

angle brackets
  ci/replace_angle_bracket_links.py
Due: none

deploy: efb7061b6c141ed7630e43de8e4c51a644537c37
  2014/08/mail-from-emacs-part-#1/index.html
  2014/08/mail-from-emacs-part-#1/index.md
  2014/09/what-is-taking-much-space-on-your-linux/bsd-system/index.html
  2014/09/what-is-taking-much-space-on-your-linux/bsd-system/index.md
  2014/11/i3-window-manager/index.html
  2014/11/i3-window-manager/index.md
  2015/03/running-ogre3d-locally-without-installing-it/index.html
  2015/03/running-ogre3d-locally-without-installing-it/index.md
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  pt/blogroll.opml
  search/index.json
  sitemap.xml
  tags/index.xml
  tags/legacy/index.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

mole
  content/posts/2026-03-03-mole.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

typo
  content/posts/2026-03-03-mole.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

chore: move hugo hook from pre-commit to pre-push
  .pre-commit-config.yaml
Due: forbid-old-perrotta-dev

chore: move talisman-push hook to pre-push stage
  .pre-commit-config.yaml
Due: forbid-old-perrotta-dev

deploy: e3e22cf6926bb64ed915816a611322fb074af40d
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  pt/blogroll.opml
Due: none

deploy: 3985494751fbc50521a073231f7dde8df259b9b3
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  pt/blogroll.opml
Due: none

deploy: cd487e401f79c8677948ee2872b230f5a4d745c8
  2022/01/advent-of-code/index.html
  2026/03/mole/index.html
  2026/03/mole/index.md
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  index.xml
  posts/index.xml
  pt/blogroll.opml
  sitemap.xml
  tags/dev/index.xml
  tags/index.xml
  tags/macos/index.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

make Justfile recipes LLM-agent friendly
  Justfile
Due: none

deploy: 174ed3cadd715da5d00080bdbaec2c09f9484c97
  2022/01/advent-of-code/index.html
  2025/03/create-a-git-commit-with-multiple-contributors/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  pt/blogroll.opml
Due: none

claude srt
  content/posts/2026-03-04-claude-srt-sandbox-runtime.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

fix date
  content/posts/2026-03-04-claude-srt-sandbox-runtime.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

jane street
  content/posts/2026-03-04-how-jane-street-does-code-review.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

more
  content/posts/2026-03-04-how-jane-street-does-code-review.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

deploy: 637fef0aae64102e9d2c8fcad4eaf6495ec53eee
  2022/01/advent-of-code/index.html
  2026/03/reply-to-how-jane-street-does-code-review/index.html
  2026/03/reply-to-how-jane-street-does-code-review/index.md
  blogroll.opml
  blogroll/index.html
  categories/commentary/index.xml
  categories/index.xml
  en/sitemap.xml
  index.xml
  posts/index.xml
  pt/blogroll.opml
  sitemap.xml
  tags/dev/index.xml
  tags/index.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

series
  content/pt/posts/2014-04-10-series-com-finais-ruins.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt
