Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-tulip, forbid-utm-analytics

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
# Install pre-commit itself:
#   $ pip install pre-commit
#     OR
#   $ brew install pre-commit
#
# Update all pre-commit hooks to latest version:
#   $ pre-commit autoupdate
#
# Install all default pre-commit hooks locally:
#   $ pre-commit install
#
# Apply a given pre-commit hook to all files:
#   $ pre-commit run --all-files <id>
#
# Apply all pre-commit hooks to all files:
#   $ pre-commit run --all-files
ci:
  autoupdate_schedule: monthly
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: cef0300fd0fc4d2a87a85fa2093c6b283ea36f4b # frozen: v5.0.0
    hooks:
      # keep-sorted start
      - id: check-executables-have-shebangs
      - id: check-yaml
      - id: detect-private-key
      - id: trailing-whitespace
        # keep-sorted end
  # keep-sorted start
  - repo: https://github.com/codespell-project/codespell
    rev: 63c8f8312b7559622c0d82815639671ae42132ac # frozen: v2.4.1
    hooks:
      - id: codespell
        exclude: ^(content/posts/(2014|2015|2016)|content/posts/2024-07-09-kubectl-get-secret-with-jsonpath-add-newline.md|content/posts/2024-06-27-a-little.md|content/posts/2024-12-22-new-post-workflow.md|content/posts/2025-01-13-pare-de-receber-telemarketing-nÃ£o-me-perturbe.md)
        args:
          - -D .codespell-dictionary.txt
          - -I .codespell-ignore-words.txt
  - repo: https://github.com/gitleaks/gitleaks
    rev: a2a447c39b8e87ea803c140b4c58a2b9804e42f8 # frozen: v8.25.1
    hooks:
      - id: gitleaks
  - repo: https://github.com/google/keep-sorted
    rev: 3f9cf7d52cc6832a6752433472925981f89d516f # frozen: v0.6.1
    hooks:
      - id: keep-sorted
  - repo: https://github.com/google/yamlfmt
    rev: ac76bb931851dda64a55ef746ca9b8bb41634b98 # frozen: v0.16.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/lalten/check-gha-pinning
    rev: 225deee5dff16fae532978007ce6e37045e14c68 # frozen: v1.3.0
    hooks:
      - id: check-gha-pinning
  - repo: https://github.com/shssoichiro/oxipng
    rev: c7d462f909e9c6ebc8d32820d83a6119b681cad6 # frozen: v9.1.5
    hooks:
      - id: oxipng
  - repo: https://github.com/sirosen/texthooks
    rev: 13a42592dd28b6b688bb1c23fa769234984d4ca7 # frozen: 0.6.8
    hooks:
      - id: fix-ligatures
      - id: fix-smartquotes
  # Only run it every once in a while.
  # - repo: https://github.com/tcort/markdown-link-check
  #   rev: v3.13.6
  #   hooks:
  #     - id: markdown-link-check
  #       files: '^content/posts/2025-.*'
  #       args:
  #         - -q
  - repo: local
    hooks:
      # keep-sorted start
      - id: forbid-md-extension-in-hugo-internal-links
        name: Forbid usage of .md extension in hugo internal links
        entry: '.*\.md\" >\}\}'
        language: pygrep
        types:
          - markdown
      - id: forbid-old-perrotta-dev
        name: Forbid usage of previous domains
        entry: '\b(https://thiagowfx\.github\.io|www\.perrotta\.dev|blog\.perrotta\.dev)\b'
        language: pygrep
        types_or:
          - markdown
          - yaml
        exclude: ^(content/posts/2024-02-04-new-domain.md|content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md)$
      - id: forbid-tulip
        name: Forbid usage of Tulip
        entry: 'tulip'
        language: pygrep
        types:
          - markdown
      - id: forbid-utm-analytics
        name: Forbid usage of UTM analytics / tracking
        entry: '\b(utm_source)\b'
        language: pygrep
        types:
          - markdown
          # keep-sorted end
# keep-sorted end

new post: blog directories
  content/posts/2025-05-17-blog-directories.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-tulip, forbid-utm-analytics

previously
  content/posts/2022-02-17-praise-for-blog-aggregators.md
  content/posts/2025-05-17-blog-directories.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-tulip, forbid-utm-analytics

parked domain
  content/posts/2022-02-17-praise-for-blog-aggregators.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-tulip, forbid-utm-analytics

deploy: 93d352757d4baeb069c2e17d419ad31462406b4f
  2022/02/praise-for-blog-aggregators/index.html
  2025/05/blog-directories/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/selfhosted/index.html
  tags/selfhosted/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

new post: winterbreak
  content/posts/2025-05-17-winterbreak-hello-world.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-tulip, forbid-utm-analytics

deploy: 567b07206764ec366c6d07540cc87731c4b92a0a
  2025/05/winterbreak-hello-world/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/bestof/index.html
  tags/bestof/index.xml
  tags/privacy/index.html
  tags/privacy/index.xml
  tags/selfhosted/index.html
  tags/selfhosted/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

new post: fpp
  content/posts/2025-05-18-fpp.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-tulip, forbid-utm-analytics

deploy: 0309e477c950fe0203e55328268019c95cbbec1c
  2025/05/fpp-facebook-path-picker/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/bestof/index.html
  tags/bestof/index.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/linux/index.html
  tags/linux/index.xml
  tags/macos/index.html
  tags/macos/index.xml
Due: none

em-dash
  content/posts/2022-02-10-nix-shell-in-a-nutshell.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-tulip, forbid-utm-analytics

deploy: 90c6167e2e51bcefe60cdad173c9eec8b5d4d1c8
  2022/02/nix-shell-in-a-nutshell/index.html
  tags/linux/index.xml
  tags/macos/index.xml
Due: none

add blogroll
  content/posts/2025-05-17-blog-directories.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-tulip, forbid-utm-analytics

deploy: 6ad7566d269c56ea8333cc497500e717a902e298
  2025/05/blog-directories/index.html
  index.xml
  posts/index.xml
  tags/selfhosted/index.xml
  tags/serenity/index.xml
Due: none

add appendix
  content/posts/2025-05-17-winterbreak-hello-world.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-tulip, forbid-utm-analytics

deploy: 4dfb070d9e91a5982c8d7664822a01aa84d9ec49
  2025/05/winterbreak-hello-world/index.html
  index.xml
  posts/index.xml
  tags/bestof/index.xml
  tags/privacy/index.xml
  tags/selfhosted/index.xml
  tags/serenity/index.xml
Due: none

backfill your blog
  content/posts/2025-05-18-backfill-your-blog.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-tulip, forbid-utm-analytics

deploy: 9d12bd10e0c3d19af2d8bcb378082bdf927708ee
  2025/05/backfill-your-blog/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/meta/index.html
  tags/meta/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

new post: chatgpt default settings
  content/posts/2025-05-18-chatgpt-default-settings.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-tulip, forbid-utm-analytics

deploy: 24b442231493ef0848a90bda407970634202d1d7
  2025/05/chatgpt-default-settings/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/privacy/index.html
  tags/privacy/index.xml
Due: none

nelson
  content/posts/2025-05-17-blog-directories.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-tulip, forbid-utm-analytics

deploy: c3893eb8224e16c0706a6f3199f25a5491964834
  2025/05/blog-directories/index.html
  index.xml
  posts/index.xml
  tags/selfhosted/index.xml
  tags/serenity/index.xml
Due: none

formatting
  content/posts/2025-05-18-chatgpt-default-settings.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-tulip, forbid-utm-analytics

deploy: 5992fb1e51be4afeafc69928adb0031128fd3810
  2025/05/chatgpt-default-settings/index.html
  index.xml
  posts/index.xml
  tags/dev/index.xml
  tags/privacy/index.xml
Due: none

new post: ultrathink
  content/posts/2025-05-19-ultrathink.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-tulip, forbid-utm-analytics

deploy: ac2c17082ca2cca86024db4a3471442aa891e126
  2025/05/ultrathink/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

new post: ack with context
  content/posts/2025-05-19-ack-with-context.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-tulip, forbid-utm-analytics

deploy: a625c3a21cdfd08b9870968d48a0659fcb3c9e6e
  2025/05/ack-with-context/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/linux/index.html
  tags/linux/index.xml
  tags/macos/index.html
  tags/macos/index.xml
Due: none

new post: k8s list pending pods
  content/posts/2025-05-20-kubernetes-list-pending-pods-in-daemonset.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-tulip, forbid-utm-analytics

deploy: ed663fb7f15d4946ba463f22b673a60a9303d2e1
  2025/05/kubernetes-list-pending-pods-in-daemonset/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/linux/index.html
  tags/linux/index.xml
  tags/selfhosted/index.html
  tags/selfhosted/index.xml
Due: none

run pre-commit after autoupdate
  .github/workflows/pre-commit-autoupdate.yml
  .pre-commit-config.yaml
  Justfile
Due: forbid-old-perrotta-dev

new post: bash set a trap to log errors
  content/posts/2025-05-22-bash-set-a-trap-to-log-errors.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-tulip, forbid-utm-analytics

deploy: 10d5eedc70ae6a77568969dcb8017b98a7de15c1
  2025/05/bash-set-a-trap-to-log-errors/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/linux/index.html
  tags/linux/index.xml
  tags/macos/index.html
  tags/macos/index.xml
Due: none

addendum
  content/posts/2025-05-22-bash-set-a-trap-to-log-errors.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-tulip, forbid-utm-analytics

deploy: 7fc181540ee1744f11de77bf2b571b2e68a8436b
  2025/05/bash-set-a-trap-to-log-errors/index.html
  index.xml
  posts/index.xml
  tags/dev/index.xml
  tags/linux/index.xml
  tags/macos/index.xml
Due: none

new post: apple-ginger hot drink
  content/posts/2025-05-23-apple-ginger-hot-drink.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-tulip, forbid-utm-analytics

deploy: e447c9738afcb564e33cdd5555f33bab819c0539
  2025/05/apple-ginger-hot-drink/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/recipe/index.html
  tags/recipe/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

new post: web browser privacy tests
  content/posts/2025-05-23-web-browser-privacy-tests.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-tulip, forbid-utm-analytics

deploy: 3c565ebb1139bccb853790bb28a12705ae2d5429
  2025/05/web-browser-privacy-tests/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/privacy/index.html
  tags/privacy/index.xml
Due: none

new post: mdsh
  content/posts/2024-11-27-bash-disable-pipefail.md
  content/posts/2025-05-23-mdsh.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-tulip, forbid-utm-analytics

mention pre-commit in mdsh
  content/posts/2025-05-23-mdsh.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-tulip, forbid-utm-analytics

deploy: b8041666535b34083b0cfe7028943f0508bcf08c
  2025/05/mdsh-a-markdown-pre-processor/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none
