Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

forbid-md-extension-in-hugo-internal-links:
  name: Forbid .md extension in hugo internal links
  entry: .*\.md\" >\}\}
  language: pygrep

forbid-old-perrotta-dev:
  name: Forbid old domains
  entry: \\b(https://thiagowfx\.github\.io|www\.perrotta\.dev|blog\.perrotta\.dev)\\b
  language: pygrep

forbid-personal-emails:
  name: Forbid personal emails
  entry: (@perrotta.dev|tbperrotta@gmail.com)
  language: pygrep

forbid-tulip:
  name: Forbid Tulip terms
  entry: (?i)(\btulip\b|@garden)
  language: pygrep

forbid-utm-analytics:
  name: Forbid UTM analytics / tracking
  entry: \\b(utm_source)\\b
  language: pygrep

deploy: 1b7a8745885fe2bd190b0c12022957e1a4448d9d
  blogroll.opml
  index.xml
  posts/index.xml
  tags/aoc/index.xml
  tags/bestof/index.xml
  tags/coding/index.html
  tags/coding/index.xml
  tags/dev/index.xml
  tags/meta/index.xml
  tags/privacy/index.xml
  tags/pt/index.xml
  tags/recipe/index.xml
  tags/selfhosted/index.xml
  tags/serenity/index.xml
Due: none

fix: correct image format in RSS feed (png -> webp)
  static/rss.xsl
Due: none

deploy: 9d376d5aacb973ff0d18a3653034afc154f65031
  blogroll.opml
  rss.xsl
  tags/coding/index.html
Due: none

fix dark mode for source code
  layouts/_default/baseof.html
  layouts/partials/style.html
  static/theme.css
Due: none

add reply by email to rss feeds
  layouts/_default/rss.xml
Due: none

deploy: e3c7c4684ded84e03e95587984c157955258f5d9
  blogroll.opml
  index.xml
  posts/index.xml
  tags/aoc/index.xml
  tags/bestof/index.xml
  tags/coding/index.html
  tags/coding/index.xml
  tags/dev/index.xml
  tags/meta/index.xml
  tags/privacy/index.xml
  tags/pt/index.xml
  tags/recipe/index.xml
  tags/selfhosted/index.xml
  tags/serenity/index.xml
Due: none

hugo: split dev/prod config
  Justfile
  config/_default/config.yml
  config/production/config.yml
Due: forbid-old-perrotta-dev

deploy: 920a790c3281ff1160c33928818e6fb195df29e8
  blogroll.opml
  tags/coding/index.html
Due: none

claude: block dangerous commands
  content/posts/2025-12-21-claude-code-block-dangerous-commands.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 39db864ff510ce1a0a3f1dffec912629d1c19958
  2025/12/claude-code-block-dangerous-commands/index.html
  2025/12/claude-code-stash/index.html
  404.html
  blogroll.opml
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
Due: none

tweak
  Justfile
  content/posts/2025-12-21-claude-code-block-dangerous-commands.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: afc04d0272f61fb4252cf608ab6e2f3cd10f5b8f
  2025/12/claude-code-block-dangerous-commands/index.html
  blogroll.opml
  index.xml
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
Due: none

new post: toggle light dark mode
  content/posts/2025-12-21-toggle-light-dark-mode.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

fix formatting
  content/posts/2025-12-21-toggle-light-dark-mode.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: d0ea58f1172e6b27a48ef3c35813b2347a9296e3
  2025/12/claude-code-block-dangerous-commands/index.html
  2025/12/toggle-light-/-dark-mode/index.html
  404.html
  blogroll.opml
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
  tags/meta/index.html
  tags/meta/index.xml
Due: none

deploy: f49782885de81526aa2ee48fb1aa4ea259acb9be
  2025/12/toggle-light-/-dark-mode/index.html
  blogroll.opml
  index.xml
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
  tags/meta/index.html
  tags/meta/index.xml
Due: none

debloater
  content/posts/2025-12-21-miui-debloater.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 992a42713f3084a003c135d85497b8b6a0a12f10
  2025/12/miui-debloater/index.html
  2025/12/toggle-light-/-dark-mode/index.html
  404.html
  blogroll.opml
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
  tags/privacy/index.html
  tags/privacy/index.xml
Due: none

apknew
  content/posts/2025-12-22-apk-new.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: ab352e4b5cdf688fe3bf6fea444589788b155b89
  2024/12/pre-commit/index.html
  2025/12/.apk-new/index.html
  2025/12/miui-debloater/index.html
  404.html
  blogroll.opml
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/bestof/index.html
  tags/bestof/index.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
  tags/selfhosted/index.html
  tags/selfhosted/index.xml
Due: none

add beginning of output
  content/posts/2025-12-22-apk-new.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 787fca895174893064aad46db57b569043afd8ba
  2025/12/.apk-new/index.html
  blogroll.opml
  index.xml
  posts/index.xml
  sitemap.xml
  tags/bestof/index.html
  tags/bestof/index.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
  tags/selfhosted/index.html
  tags/selfhosted/index.xml
Due: none

disclaimer footer
  content/_index.md
  content/ai.md
  layouts/_default/baseof.html
  layouts/partials/style.html
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

hide codeblock header in RSS feeds
  layouts/_default/_markup/render-codeblock.html
  layouts/_default/rss.xml
Due: none

git stash untracked
  content/posts/2025-12-22-git-stash-untracked.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 311569b0c278988c4bd6042deed16f8749b011db
  2025/12/.apk-new/index.html
  2025/12/git-stash-untracked-files/index.html
  404.html
  blogroll.opml
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/bestof/index.html
  tags/bestof/index.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
Due: none

st
  content/posts/2025-12-22-git-stash-untracked.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: dc47bccd67daa7038df186c0ae20ba652a9eb7c7
  2025/12/git-stash-untracked-files/index.html
  blogroll.opml
  index.xml
  posts/index.xml
  sitemap.xml
  tags/bestof/index.html
  tags/bestof/index.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
Due: none

reverse sun and moon
  layouts/_default/baseof.html
Due: none

move icon to top
  layouts/_default/baseof.html
  layouts/partials/style.html
Due: none

add shibumi
  data/blogroll.yaml
Due: forbid-old-perrotta-dev

deploy: 38e495a4c06b293c11be41105ca4693660439349
  2024/12/mbti/index.html
  blogroll.opml
  blogroll/index.html
  index.xml
  tags/coding/index.html
Due: none

fix keep-sorted
  data/blogroll.yaml
Due: forbid-old-perrotta-dev

deploy: d2a4e85d4f4c0c050d4029203f73be6ca69ab7d6
  blogroll.opml
  blogroll/index.html
  index.xml
  tags/coding/index.html
Due: none

decrease title size
  layouts/partials/style.html
Due: none

Path conditions:
  forbid-md-extension-in-hugo-internal-links: any of: \.(md|markdown|mdown)$, but not: ^(schemas|vendor)/
  forbid-old-perrotta-dev: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$ and not (^(content/posts/2024-02-04-new-domain.md|content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md)$) and not (^(schemas|vendor)/)
  forbid-personal-emails: any of: \.(md|markdown|mdown)$, but not: ^(schemas|vendor)/
  forbid-tulip: any of: \.(md|markdown|mdown)$, but not: ^(schemas|vendor)/
  forbid-utm-analytics: any of: \.(md|markdown|mdown)$, but not: ^(schemas|vendor)/
