Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

forbid-md-extension-in-hugo-internal-links:
  name: Forbid .md extension in hugo internal links
  entry: .*\.md\" >\}\}
  language: pygrep

forbid-old-perrotta-dev:
  name: Forbid old domains
  entry: \\b(https://thiagowfx\.github\.io|www\.perrotta\.dev|blog\.perrotta\.dev)\\b
  language: pygrep

forbid-personal-emails:
  name: Forbid personal emails
  entry: (@perrotta.dev|tbperrotta@gmail.com)
  language: pygrep

forbid-tulip:
  name: Forbid Tulip terms
  entry: (?i)(\btulip\b|@garden)
  language: pygrep

forbid-utm-analytics:
  name: Forbid UTM analytics / tracking
  entry: \\b(utm_source)\\b
  language: pygrep

add alt text to workflow badges
  README.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: fd79b2b7fc9f2a900afb9a1d1a5ce73be14f731d
  blogroll.opml
  blogroll/index.html
  tags/coding/index.html
Due: none

add mdsh to pre-commit hooks
  .pre-commit-config.yaml
Due: forbid-old-perrotta-dev

update badges with mdsh
  README.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 494a0656efbfae448b1f5f9c5dfc6648194dc5f7
  blogroll.opml
  blogroll/index.html
  tags/coding/index.html
Due: none

feat: add search
  config/_default/config.yml
  content/search.md
  layouts/_default/search.html
  layouts/_default/search.search.json
  layouts/partials/style.html
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

leetcode
  content/posts/2025-12-31-leetcode-203-remove-linked-list-elements.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

modernize search
  layouts/_default/search.html
Due: none

prettier: include js
  .pre-commit-config.yaml
Due: forbid-old-perrotta-dev

deploy: cc66e41ba6fbca990fc17a7e1ad0337779777cbd
  blogroll.opml
  blogroll/index.html
  search/index.html
  tags/coding/index.html
Due: none

add .js to ls-lint rules
  .ls-lint.yml
Due: forbid-old-perrotta-dev

deploy: 93a30bab12c0ec590ca836ccbc318263ddd511ba
  blogroll.opml
  blogroll/index.html
  tags/coding/index.html
Due: none

search icon
  config/_default/config.yml
Due: forbid-old-perrotta-dev

deploy: 7c7de146137973a8b3a1c4f6bd3ac249b3c8a00b
  blogroll.opml
  blogroll/index.html
  tags/coding/index.html
Due: none

search: support wildcards
  layouts/_default/search.html
Due: none

deploy: f866a237dade70eaf3cdde65eda22d90d1b798ff
  blogroll.opml
  blogroll/index.html
  search/index.html
  tags/coding/index.html
Due: none

leetcode
  content/posts/2025-12-31-leetcode-229-majority-element-ii.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: e6d3ea0868f3f2a808c4b1024b7b8ca15052e995
  2025/12/leetcode-#203-remove-linked-list-elements/index.html
  2025/12/leetcode-#229-majority-element-ii/index.html
  404.html
  blogroll.opml
  blogroll/index.html
  posts/index.html
  search/index.json
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

deploy: 771a3fd5b8cb6ffc6c105b8bb0d0664857e48f8b
  2025/12/leetcode-#229-majority-element-ii/index.html
  blogroll.opml
  blogroll/index.html
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

leetcode
  content/posts/2025-12-31-leetcode-1021-remove-outermost-parentheses.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 8ca73d93ee76cf946f323ae1ff2d0fb3c2293680
  2025/12/leetcode-#1021-remove-outermost-parentheses/index.html
  2025/12/leetcode-#229-majority-element-ii/index.html
  404.html
  blogroll.opml
  blogroll/index.html
  posts/index.html
  search/index.json
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

support both 'LeetCode #229: Title' and 'LeetCode 229. Title' formats in code command
  Justfile
Due: none

deploy: 18eb2d4a8117e01dbd5aa4d0e3570f725e120a48
  blogroll.opml
  blogroll/index.html
  tags/coding/index.html
Due: none

leetcode
  content/posts/2025-12-31-leetcode-1119-remove-vowels-from-a-string.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: e324ad6754580a8aab8449f843f6d7a272ebc63e
  2025/12/leetcode-#1021-remove-outermost-parentheses/index.html
  2025/12/leetcode-#1119-remove-vowels-from-a-string/index.html
  404.html
  blogroll.opml
  blogroll/index.html
  posts/index.html
  search/index.json
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

hugo: support toc
  config/_default/config.yml
  layouts/_default/single.html
  layouts/partials/style.html
Due: forbid-old-perrotta-dev

add TOC to a subset of posts
  content/posts/2021-12-11-keychron-k2-linux.setup.md
  content/posts/2021-12-28-ufw-firewall.md
  content/posts/2022-01-04-direnv-automate-your-environment-variables.md
  content/posts/2022-01-15-alpine-linux-on-raspberry-pi-diskless-mode-with-persistent-storage.md
  content/posts/2022-01-18-arch-linux-new-pkgbuild-workflow.md
  content/posts/2024-01-28-sd-world.md
  content/posts/2024-05-28-github-actions-workflow.md
  content/posts/2024-09-22-anki-custom-language-card-ii.md
  content/posts/2024-10-20-performance-reviews.md
  content/posts/2024-12-30-trains-in-europe.md
  content/posts/2025-04-20-overnight-oats.md
  content/posts/2025-07-08-markdown-headings-and-git-comments.md
  content/posts/2025-11-30-atuin.md
  layouts/partials/style.html
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

feat: related posts
  config/_default/config.yml
  layouts/_default/single.html
  layouts/partials/related-posts.html
  layouts/partials/style.html
Due: forbid-old-perrotta-dev

related posts: account for title as well
  config/_default/config.yml
Due: forbid-old-perrotta-dev

hugo: better / custom algorithm matching for related posts
  config/_default/config.yml
  layouts/partials/related-posts.html
Due: forbid-old-perrotta-dev

related posts: openring style
  layouts/partials/related-posts.html
  layouts/partials/style.html
Due: none

2 related posts maximum
  layouts/partials/related-posts.html
Due: none

automatic toc
  content/posts/2021-12-11-keychron-k2-linux.setup.md
  content/posts/2021-12-28-ufw-firewall.md
  content/posts/2022-01-04-direnv-automate-your-environment-variables.md
  content/posts/2022-01-15-alpine-linux-on-raspberry-pi-diskless-mode-with-persistent-storage.md
  content/posts/2022-01-18-arch-linux-new-pkgbuild-workflow.md
  content/posts/2024-01-28-sd-world.md
  content/posts/2024-05-28-github-actions-workflow.md
  content/posts/2024-09-22-anki-custom-language-card-ii.md
  content/posts/2024-10-20-performance-reviews.md
  content/posts/2024-12-30-trains-in-europe.md
  content/posts/2025-04-20-overnight-oats.md
  content/posts/2025-07-08-markdown-headings-and-git-comments.md
  content/posts/2025-11-30-atuin.md
  layouts/_default/single.html
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

vspace
  layouts/_default/single.html
  layouts/partials/related-posts.html
Due: none

Path conditions:
  forbid-md-extension-in-hugo-internal-links: any of: \.(md|markdown|mdown)$, but not: ^(schemas|vendor)/
  forbid-old-perrotta-dev: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$ and not (^(content/posts/2024-02-04-new-domain.md|content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md)$) and not (^(schemas|vendor)/)
  forbid-personal-emails: any of: \.(md|markdown|mdown)$, but not: ^(schemas|vendor)/
  forbid-tulip: any of: \.(md|markdown|mdown)$, but not: ^(schemas|vendor)/
  forbid-utm-analytics: any of: \.(md|markdown|mdown)$, but not: ^(schemas|vendor)/
