Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-broken-internal-links, check-coding-titles, check-duplicate-coding, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-external-images, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

check-broken-internal-links:
  name: Check for broken Hugo ref shortcode links
  entry: ci/check_broken_internal_links.py
  language: system

check-coding-titles:
  name: Enforce LeetCode and ByteByteGo title format
  entry: ci/check_post_titles.py
  language: system

check-duplicate-coding:
  name: Detect duplicate coding problem posts
  entry: ci/check_duplicate_coding_posts.py
  language: system
  pass_filenames: false

check-required-frontmatter:
  name: Enforce required frontmatter fields (date, title)
  entry: ci/check_required_frontmatter.py
  language: python
  additional_dependencies:
  - PyYAML

check-single-category:
  name: Enforce single category per post
  entry: ci/check_single_category.py
  language: python
  additional_dependencies:
  - PyYAML

forbid-double-more:
  name: Forbid <!--more--> in blog posts
  entry: <!--more-->
  language: pygrep

forbid-double-parens-in-shortcodes:
  name: Forbid double parentheses around Hugo shortcodes
  entry: \(\(\{\{[<|%]
  language: pygrep

forbid-external-images:
  name: Forbid external image URLs in layouts
  entry: ci/forbid-external-images.py
  language: system

forbid-md-extension-in-hugo-internal-links:
  name: Forbid .md extension in hugo internal links
  entry: .*\.md\" >\}\}
  language: pygrep

forbid-old-perrotta-dev:
  name: Forbid old domains
  entry: \\b(https://thiagowfx\.github\.io|www\.perrotta\.dev|blog\.perrotta\.dev)\\b
  language: pygrep

forbid-personal-emails:
  name: Forbid personal emails
  entry: (@perrotta\.dev|\w*perrotta\d*@gmail\.com)
  language: pygrep

forbid-tulip:
  name: Forbid Tulip terms
  entry: (?i)(\btulip\b|@garden)
  language: pygrep

forbid-utm-analytics:
  name: Forbid UTM analytics / tracking
  entry: \\b(utm_source)\\b
  language: pygrep

replace-em-dashes:
  name: Replace ' - ' with em dashes in prose
  entry: ci/replace_em_dashes.py
  language: python

replace-shell-prompt:
  name: Replace ❯ with % in shell prompts
  entry: ci/replace_shell_prompt.py
  language: python

sort-blog-tags:
  name: Sort blog post tags alphabetically
  entry: ci/sort_tags.py
  language: python
  additional_dependencies:
  - PyYAML

strip-content-posts-prefix:
  name: Strip content/posts/ prefix from Hugo ref links
  entry: ci/strip_content_posts_prefix.py
  language: python

editores de texto
  content/pt/posts/2014-02-27-editores-de-texto.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: 5e2ba4257f24d3ad46cdce550158874ef5d33ba9
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  it/blogroll.opml
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/2014/02/consertando-caracteres-estranhos-em-markdown/index.html
  pt/2014/02/editores-de-texto/index.html
  pt/2014/02/editores-de-texto/index.md
  pt/2014/03/bloqueando-websitesadsmalware-no-linux/index.html
  pt/blogroll.opml
  pt/index.html
  pt/posts/2014-02-27-consertando-caracteres-estranhos-em-markdown/index.html
  pt/posts/2014-02-27-editores-de-texto/index.html
  pt/posts/2014-02-27-editores-de-texto/index.md
  pt/posts/index.html
  pt/search/index.json
  pt/sitemap.md
  pt/sitemap.xml
  pt/tags/bestof/index.html
  pt/tags/bestof/index.xml
  pt/tags/dev/index.html
  pt/tags/dev/index.xml
  pt/tags/index.html
  pt/tags/index.xml
  pt/tags/legacy/index.html
  pt/tags/legacy/index.xml
  sitemap.md
  sitemap.xml
  tags/bestof/index.html
  tags/dev/index.html
  tags/index.html
  tags/index.xml
  tags/legacy/index.html
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

arch
  content/pt/posts/2014-02-03-su-c-rm-rf-arch-root.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

bestof
  content/pt/posts/2014-02-03-su-c-rm-rf-arch-root.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: b81b19925d95bf1f05f1d5e5c9eb22e22168e65b
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  it/blogroll.opml
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/2014/02/#cpbr7-parte-1-hackatons-firefox-os--cert.br/index.html
  pt/2014/02/su-c-rm-rf-/arch-root/index.html
  pt/2014/02/su-c-rm-rf-/arch-root/index.md
  pt/blogroll.opml
  pt/posts/2014-02-01-software-e-outras-coisas-livres-revisitados-parte-0-0-01/index.html
  pt/posts/2014-02-03-cpbr7-parte-1-hackatons-firefox-os-cert-br/index.html
  pt/posts/2014-02-03-su-c-rm-rf-arch-root/index.html
  pt/posts/2014-02-03-su-c-rm-rf-arch-root/index.md
  pt/posts/index.html
  pt/search/index.json
  pt/sitemap.md
  pt/sitemap.xml
  pt/tags/dev/index.html
  pt/tags/dev/index.xml
  pt/tags/index.html
  pt/tags/index.xml
  pt/tags/legacy/index.html
  sitemap.md
  sitemap.xml
  tags/dev/index.html
  tags/index.html
  tags/index.xml
  tags/legacy/index.html
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: 2ebb01ada27dbb860516b3ae9eb38d4b639dc6aa
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  it/blogroll.opml
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/2014/02/su-c-rm-rf-/arch-root/index.html
  pt/blogroll.opml
  pt/posts/2014-02-03-su-c-rm-rf-arch-root/index.html
  pt/posts/index.html
  pt/search/index.json
  pt/sitemap.md
  pt/sitemap.xml
  pt/tags/bestof/index.html
  pt/tags/bestof/index.xml
  pt/tags/dev/index.html
  pt/tags/dev/index.xml
  pt/tags/index.html
  pt/tags/index.xml
  pt/tags/legacy/index.html
  sitemap.md
  sitemap.xml
  tags/bestof/index.html
  tags/dev/index.html
  tags/index.html
  tags/index.xml
  tags/legacy/index.html
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

kernel
  content/pt/posts/2013-09-27-era-uma-vezkernel-panic-uma-historia-de-amor-parte-1-5.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: 98520c93acba667f0e1fd63d683597ffacb9eae5
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  it/blogroll.opml
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/2013/09/era-uma-vez...kernel-panic-uma-história-de-amor-parte-1.5/index.html
  pt/2013/09/era-uma-vez...kernel-panic-uma-história-de-amor-parte-1.5/index.md
  pt/2013/09/youtube-flash-player-issues-@-firefox-@-linux/index.html
  pt/2013/10/removendo-crapbloatware-de-um-windows-oem/index.html
  pt/blogroll.opml
  pt/posts/2013-09-19-youtube-flash-player-issues-firefox-linux/index.html
  pt/posts/2013-09-27-era-uma-vezkernel-panic-uma-historia-de-amor-parte-1-5/index.html
  pt/posts/2013-09-27-era-uma-vezkernel-panic-uma-historia-de-amor-parte-1-5/index.md
  pt/posts/2013-10-02-removendo-crapbloatware-de-um-windows-oem/index.html
  pt/posts/index.html
  pt/search/index.json
  pt/sitemap.md
  pt/sitemap.xml
  pt/tags/bestof/index.xml
  pt/tags/dev/index.html
  pt/tags/index.html
  pt/tags/index.xml
  pt/tags/legacy/index.html
  sitemap.md
  sitemap.xml
  tags/bestof/index.html
  tags/dev/index.html
  tags/index.html
  tags/index.xml
  tags/legacy/index.html
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

chatgpt
  content/posts/2026-08-19-chatgpt-openai-codex-plan-usage.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

add Italian translations
  i18n/it.toml
Due: none

deploy: dca368a3f836dbe20f36fc863c3ac62e92ab95e5
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  it/2026/04/ciao-mondo/index.html
  it/404.html
  it/blogroll.opml
  it/categories/index.html
  it/index.html
  it/posts/index.html
  it/tags/index.html
  it/tags/meta/index.html
  it/tags/serenity/index.html
  pt/blogroll.opml
Due: none

validate translation catalogs
  .pre-commit-config.yaml
  ci/check_i18n.py
Due: forbid-old-perrotta-dev

deploy: 07e45510751f10a9114aae67fc0376a46ac2fdf6
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  it/blogroll.opml
  pt/blogroll.opml
Due: none

pi: handoff
  content/posts/2026-08-19-pi-handing-off-to-a-focused-session.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

git autostash shenanigans
  content/posts/2026-08-19-git-intent-to-add-breaks-autostash.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

deploy: 1d06b4ebaa487e6267ea6819a1f1d7881dc43cc0
  2022/01/advent-of-code/index.html
  2026/08/git-intent-to-add-breaks-autostash/index.html
  2026/08/git-intent-to-add-breaks-autostash/index.md
  2026/08/pi-handing-off-to-a-focused-session/index.html
  404.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  graph.json
  index.xml
  it/blogroll.opml
  llms.txt
  posts/coding/index.html
  posts/index.html
  posts/index.xml
  pt/blogroll.opml
  random/index.html
  search/index.json
  sitemap.md
  sitemap.xml
  tags/bloggify/index.html
  tags/bloggify/index.xml
  tags/coding/index.html
  tags/coding/index.xml
  tags/git/index.html
  tags/git/index.xml
  tags/index.html
  tags/index.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

kargo cooldowns
  content/posts/2026-08-19-kargo-cool-down-releases-with-a-holding-stage.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

k8s image cache
  content/posts/2026-08-19-kubernetes-force-refresh-a-cached-multi-architecture-image.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

redact AWS node hostname
  content/posts/2026-08-19-kubernetes-force-refresh-a-cached-multi-architecture-image.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

deploy: 55fdb669781f9f5aaef66d1358445398d0b0f229
  2022/01/advent-of-code/index.html
  2026/08/kubernetes-force-refresh-a-cached-multi-architecture-image/index.html
  2026/08/kubernetes-force-refresh-a-cached-multi-architecture-image/index.md
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  index.xml
  it/blogroll.opml
  posts/index.xml
  pt/blogroll.opml
  sitemap.xml
  tags/argocd/index.xml
  tags/aws/index.xml
  tags/bestof/index.xml
  tags/bloggify/index.xml
  tags/dev/index.xml
  tags/docker/index.xml
  tags/index.xml
  tags/kubernetes/index.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

ship and burn
  content/posts/2026-08-19-ship-and-burn-a-pull-request.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

document agent skill discovery decision
  docs/adrs/0017-agent-skill-discovery.md
  docs/adrs/README.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: df991c44a71b292e5045af50efa0a5ee795c7bcc
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  it/blogroll.opml
  pt/blogroll.opml
Due: none

human voice
  content/posts/2026-08-19-human-voice.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

Add end mark to posts
  assets/theme.css
  content/posts/2026-08-19-human-voice.md
  layouts/_default/rss.xml
  layouts/_default/single.html
  layouts/partials/append-post-end-mark.html
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-external-images, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

auto-fix Hugo ref links
  .pre-commit-config.yaml
  ci/normalize_hugo_ref_links.py
Due: forbid-old-perrotta-dev

deploy: ece58d4ae7796396fa7dd6133fcc58d29819b758
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  it/blogroll.opml
  pt/blogroll.opml
Due: none

don't paste the AI
  content/posts/2026-05-25-no-slop-grenade.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

deploy: ebf99c1e55b95369ec983590bc7f12fd84d3b1d9
  2022/01/advent-of-code/index.html
  2026/05/no-slop-grenade/index.html
  2026/05/no-slop-grenade/index.md
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  it/blogroll.opml
  pt/blogroll.opml
  sitemap.xml
  tags/ai/index.xml
  tags/index.xml
  tags/serenity/index.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

kargo promo queues
  content/cursed-knowledge.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: 3463dfe9f51dac7bc36dc69712aec6e100d715f9
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  cursed-knowledge/index.html
  cursed-knowledge/index.md
  en/sitemap.xml
  it/blogroll.opml
  pt/blogroll.opml
  sitemap.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

add cursed knowledge RSS feed
  content/cursed-knowledge.md
  layouts/_default/cursed-knowledge.rss.xml
  layouts/_default/single.html
Due: forbid-double-parens-in-shortcodes, forbid-external-images, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

Path conditions:
  check-broken-internal-links: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  check-coding-titles: any of: ^content/posts/.*(leetcode|bytebytego).*\.md$ and \.(md|markdown|mdown)$ and not (^content/posts/2025-12-30-kagi-add-leetcode-bang.md$) and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  check-duplicate-coding: any of: ^content/posts/.*(leetcode|bytebytego).*\.md$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  check-required-frontmatter: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (_index\.md$) and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  check-single-category: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  forbid-double-more: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  forbid-double-parens-in-shortcodes: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-external-images: any of: ^layouts/.*\.html$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-md-extension-in-hugo-internal-links: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-old-perrotta-dev: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$ and not (^(content/posts/2024-02-04-new-domain.md|content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md)$) and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  forbid-personal-emails: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-tulip: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-utm-analytics: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  replace-em-dashes: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  replace-shell-prompt: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  sort-blog-tags: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  strip-content-posts-prefix: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
