Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

Path conditions:
  forbid-md-extension-in-hugo-internal-links: any of: \.(md|markdown|mdown)$, but not: ^(schemas|vendor)/
  forbid-old-perrotta-dev: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$ and not (^(content/posts/2024-02-04-new-domain.md|content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md)$) and not (^(schemas|vendor)/)
  forbid-personal-emails: any of: \.(md|markdown|mdown)$, but not: ^(schemas|vendor)/
  forbid-tulip: any of: \.(md|markdown|mdown)$, but not: ^(schemas|vendor)/
  forbid-utm-analytics: any of: \.(md|markdown|mdown)$, but not: ^(schemas|vendor)/

deploy: be550123eaacfa89b030c028534b5e3f61cf3ac3
  blogroll.opml
  blogroll/index.html
  index.xml
  tags/coding/index.html
Due: none

fix broken links
  data/blogroll.yaml
Due: forbid-old-perrotta-dev

deploy: 2f1218296361f02705b607ee8bcaf660c48ad32a
  blogroll.opml
  blogroll/index.html
  index.xml
  tags/coding/index.html
Due: none

deploy: 172f3eec1b14e6146e817247c0986a4439e9c9cb
  blogroll.opml
  blogroll/index.html
  index.xml
  tags/coding/index.html
Due: none

add authors
  data/blogroll.yaml
Due: forbid-old-perrotta-dev

deploy: 4f17eeb62e3be3da55242135fcd2807f92d96d86
  blogroll.opml
  blogroll/index.html
  index.xml
  tags/coding/index.html
Due: none

new post: linked list reversal
  content/posts/2025-11-25-bytebytego-linked-list-reversal.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: cd3fc3c5bf36f19ff02e3937e4901fe4745e4910
  2025/11/bytebytego-linked-list-reversal/index.html
  404.html
  blogroll.opml
  posts/index.html
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

amend
  content/posts/2025-11-25-bytebytego-linked-list-reversal.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: f1cef747577c9d06a81c0902cda57363e1cb6bee
  2025/11/bytebytego-linked-list-reversal/index.html
  blogroll.opml
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

new post: valid parens
  content/posts/2025-11-25-bytebytego-valid-parenthesis-expression.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 6d1fde2d8586953575abc79397cd476632c09c6b
  2025/11/bytebytego-valid-parenthesis-expression/index.html
  404.html
  blogroll.opml
  posts/index.html
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

refine
  content/posts/2025-11-25-bytebytego-valid-parenthesis-expression.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 6b63eaba148c4667ffa8dc8cda568bed43d49e21
  2025/11/bytebytego-valid-parenthesis-expression/index.html
  blogroll.opml
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

new post: adjacent duplicates
  content/posts/2025-11-25-bytebytego-repeated-removal-of-adjacent-duplicates.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 18b899c328fc43c3b8b583b22d78654507c85c28
  2025/11/bytebytego-repeated-removal-of-adjacent-duplicates/index.html
  404.html
  blogroll.opml
  posts/index.html
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

new post: sqrt
  content/posts/2025-11-25-leetcode-69-sqrt(x).md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 11ced4472fc8c0a6c24ef468d21d8d70493e5a8e
  2025/11/leetcode-#69-sqrtx/index.html
  404.html
  blogroll.opml
  posts/index.html
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

average overflow
  content/posts/2025-11-25-average-without-overflow.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 25be57e2301533aefc7f2539bbe3e63bfaf94a1e
  2025/11/average-without-overflow/index.html
  404.html
  blogroll.opml
  posts/index.html
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

more solutions
  content/posts/2025-11-25-leetcode-69-sqrt(x).md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: f2e9f47e70242d75d0cca886beb9ba45ee34a791
  2025/11/leetcode-#69-sqrtx/index.html
  blogroll.opml
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

enforce leetcode title in pre-commit
  .pre-commit-config.yaml
  ci/check_leetcode_titles.py
Due: forbid-old-perrotta-dev

deploy: 8d020b50fd920c35fa3c2b336db64569e7d8328f
  blogroll.opml
  tags/coding/index.html
Due: none

leetcode 145
  content/posts/2025-11-25-leetcode-145-binary-tree-postorder-traversal.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 2562731e042b9d6ed44e9abd89c1b2b941ceaae1
  2025/11/leetcode-#145-binary-tree-postorder-traversal/index.html
  404.html
  blogroll.opml
  posts/index.html
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

leetcode 144
  content/posts/2025-11-26-leetcode-144-binary-tree-preorder-traversal.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: ad6cc22dc7bc2ef1988227053561b3e21932662d
  2025/11/leetcode-#144-binary-tree-preorder-traversal/index.html
  404.html
  blogroll.opml
  posts/index.html
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

fix leetcode slug
  archetypes/coding.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: b371a458b2e926fbb6087a599889037dc0b0de80
  blogroll.opml
  tags/coding/index.html
Due: none

leetcode 1929
  content/posts/2025-11-26-leetcode-1929-concatenation-of-array.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: f973501b619e12361ccc52696d5324311a771c59
  2025/11/leetcode-#1929-concatenation-of-array/index.html
  404.html
  blogroll.opml
  posts/index.html
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

symmetric tree
  content/posts/2025-11-26-leetcode-101-symmetric-tree.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: e96fa23e9be0cc37aacec492893aaff6a3eea48a
  2025/11/leetcode-#101-symmetric-tree/index.html
  404.html
  blogroll.opml
  posts/index.html
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

new post: minimum coin combination
  content/posts/2025-11-26-bytebytego-minimum-coin-combination.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 72cd20ae7483f2367a9afc229610acbcea505f63
  2025/11/bytebytego-minimum-coin-combination/index.html
  404.html
  blogroll.opml
  posts/index.html
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

new post: insertion index
  content/posts/2025-11-26-bytebytego-find-the-insertion-index.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: d468c06ed43ec58d1a9a3a782f0b85a4390e1cd7
  2025/11/bytebytego-find-the-insertion-index/index.html
  404.html
  blogroll.opml
  posts/index.html
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

dutch national flag
  content/posts/2025-11-26-bytebytego-dutch-national-flag.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics
