Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
# Install pre-commit itself:
#   $ pip install pre-commit
#     OR
#   $ brew install pre-commit
#
# Update all pre-commit hooks to latest version:
#   $ pre-commit autoupdate
#
# Install all default pre-commit hooks locally:
#   $ pre-commit install
#
# Apply a given pre-commit hook to all files:
#   $ pre-commit run --all-files <id>
#
# Apply all pre-commit hooks to all files:
#   $ pre-commit run --all-files
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # keep-sorted start
      - id: check-executables-have-shebangs
      - id: check-yaml
      - id: detect-private-key
      - id: trailing-whitespace
        # keep-sorted end
  # keep-sorted start
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        exclude: ^(content/posts/(2014|2015|2016)|content/posts/2024-07-09-kubectl-get-secret-with-jsonpath-add-newline.md|content/posts/2024-06-27-a-little.md|content/posts/2024-12-22-new-post-workflow.md)
        args:
          # keep-sorted start
          - -L=DeVault
          - -L=als
          - -L=ist
          - -L=sive
          # keep-sorted end
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.22.1
    hooks:
      - id: gitleaks
  - repo: https://github.com/google/keep-sorted
    rev: v0.5.1
    hooks:
      - id: keep-sorted
  - repo: https://github.com/google/yamlfmt
    rev: v0.15.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/lalten/check-gha-pinning
    rev: v1.3.0
    hooks:
      - id: check-gha-pinning
  - repo: https://github.com/shssoichiro/oxipng
    rev: v9.1.3
    hooks:
      - id: oxipng
  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.8
    hooks:
      - id: fix-ligatures
      - id: fix-smartquotes
  # Only run it every once in a while.
  # - repo: https://github.com/tcort/markdown-link-check
  #   rev: v3.13.6
  #   hooks:
  #     - id: markdown-link-check
  #       files: '^content/posts/2025-.*'
  #       args:
  #         - -q
  - repo: local
    hooks:
      - id: forbid-utm-analytics
        name: Forbid usage of UTM analytics / tracking
        entry: '\b(utm_source)\b'
        language: pygrep
        types:
          - markdown
      - id: forbid-old-perrotta-dev
        name: Forbid usage of previous domains
        entry: '\b(https://thiagowfx\.github\.io|www\.perrotta\.dev|blog\.perrotta\.dev)\b'
        language: pygrep
        types_or:
          - markdown
          - yaml
        exclude: ^(content/posts/2024-02-04-new-domain.md|content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md)$
      - id: forbid-md-extension-in-hugo-internal-links
        name: Forbid .md extension in hugo internal links
        entry: '.*\.md\" >\}\}'
        language: pygrep
        types:
          - markdown
# keep-sorted end

deploy: 3c849d122d605efc630efb3fcee0b18ee8a24a19
  2025/03/maccy-pin-items/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/macos/index.html
  tags/macos/index.xml
Due: none

new post: slackmojis
  content/posts/2025-03-25-slack-emojis-slackmojis.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: 5e91d866c0c0d5d6df950113da7cc63cb7ddb8b3
  2025/03/slack-emojis-/-slackmojis/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

new post: festering
  content/posts/2025-03-25-festering.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: 0f68901c8827d3a7f0d6b3de9f52d170c61f7e97
  2025/03/festering/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

style: globally increase font size :robot:
  layouts/partials/style.html
Due: none

deploy: 44a9bc4f9e58c84ba17135eddf3ef797d7be136f
  2025/03/1password-cli--direnv-integration/index.html
  2025/03/disclosing-ai-in-pull-requests/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  robots.txt
  sitemap.xml
  tags/bestof/index.html
  tags/bestof/index.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none

new post: PRs with AI
  content/posts/2025-03-26-disclosing-ai-in-pull-requests.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

new post: 1password + direnv integration
  .gitmodules
  content/posts/2025-03-26-1password-cli-direnv-integration.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: f5de35c1337133d3090a4998ad7f837fa895b256
  2025/03/1password-cli--direnv-integration/index.html
  index.xml
  posts/index.xml
  tags/bestof/index.xml
  tags/dev/index.xml
Due: none

add a reference
  content/posts/2025-03-26-1password-cli-direnv-integration.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

add references
  content/posts/2025-03-26-1password-cli-direnv-integration.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: 1408cd1bb342ee9a0a730d8b3a4bb749beaaf7de
  2025/03/1password-cli--direnv-integration/index.html
  index.xml
  posts/index.xml
  tags/bestof/index.xml
  tags/dev/index.xml
Due: none

new post: pre-commit opt-in hook
  content/posts/2025-03-27-pre-commit-make-a-hook-opt-in.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: 857e6111035974853caa504951994598179c05c6
  2025/03/pre-commit-make-a-hook-opt-in/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none

code theme: set to onedark
  config.yml
Due: forbid-old-perrotta-dev

yaml: tiny fix
  content/posts/2025-03-27-pre-commit-make-a-hook-opt-in.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: 277933e7f843c2488e23494b38db99913bffd3c3
  2025/03/pre-commit-make-a-hook-opt-in/index.html
  index.xml
  posts/index.xml
  tags/dev/index.xml
Due: none

new post: unemployment is not the problem
  content/posts/2025-03-28-unemployment-is-not-the-problem.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: 2dfdd39e48ad7906641e3e61ccfae0905aa34635
  2025/03/unemployment-is-not-the-problem/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

new post: amphetamine
  content/posts/2025-03-28-amphetamine-keep-awake.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: d0028275e7a4f489e589ba353616dcec287a5866
  2025/03/amphetamine-keep-awake/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/macos/index.html
  tags/macos/index.xml
Due: none

more stats
  content/posts/2025-03-28-amphetamine-keep-awake.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: 8a6a264a0b55a123ab7ea45ac07f4273db5d31b7
  2025/03/amphetamine-keep-awake/index.html
  index.xml
  posts/index.xml
  tags/dev/index.xml
  tags/macos/index.xml
Due: none

bestof
  content/posts/2025-03-28-amphetamine-keep-awake.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: 6df21c1162b8029f080e5ccb45351de96da27cfd
  2025/03/amphetamine-keep-awake/index.html
  posts/index.html
  sitemap.xml
  tags/bestof/index.html
  tags/bestof/index.xml
  tags/dev/index.html
  tags/macos/index.html
Due: none

new post: badminton
  content/posts/2025-03-28-badminton.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: 82d480e1319f490e40f74a4b51611ac4af932081
  2025/03/badminton/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/bestof/index.html
  tags/bestof/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

new post: llm key remove
  content/posts/2025-03-28-llm-remove-stored-key.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: f65738420626f5c9455aaaf42f5fe86b88d2d977
  2025/03/llm-remove-stored-key/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none

showcase 512kb.club
  layouts/_default/baseof.html
  static/green-team.gif
Due: none

use absURL
  layouts/_default/baseof.html
Due: none

new post: experts
  content/posts/2025-03-29-experts.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: 207704124b8b0d18ed8ff522ace3e1cfdec9cd57
  2025/03/experts/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

Auto-update pre-commit hooks
  .pre-commit-config.yaml
Due: forbid-old-perrotta-dev
