Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-broken-internal-links, check-coding-titles, check-duplicate-coding, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-external-images, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

Path conditions:
  check-broken-internal-links: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  check-coding-titles: any of: ^content/posts/.*(leetcode|bytebytego).*\.md$ and \.(md|markdown|mdown)$ and not (^content/posts/2025-12-30-kagi-add-leetcode-bang.md$) and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  check-duplicate-coding: any of: ^content/posts/.*(leetcode|bytebytego).*\.md$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  check-required-frontmatter: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (_index\.md$) and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  check-single-category: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  forbid-double-more: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  forbid-double-parens-in-shortcodes: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-external-images: any of: ^layouts/.*\.html$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-md-extension-in-hugo-internal-links: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-old-perrotta-dev: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$ and not (^(content/posts/2024-02-04-new-domain.md|content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md)$) and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  forbid-personal-emails: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-tulip: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-utm-analytics: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  replace-em-dashes: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  replace-shell-prompt: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  sort-blog-tags: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  strip-content-posts-prefix: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)

travel
  content/posts/2026-05-24-the-commodification-of-travel.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

deploy: f97622d8bf0eb0630a1a6c9cc739c9051a2f5447
  2022/01/advent-of-code/index.html
  2026/05/reply-to-the-commodification-of-travel/index.html
  2026/05/reply-to-the-commodification-of-travel/index.md
  blogroll.opml
  blogroll/index.html
  categories/commentary/index.xml
  categories/index.xml
  en/sitemap.xml
  it/blogroll.opml
  pt/blogroll.opml
  sitemap.xml
  tags/index.xml
  tags/serenity/index.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

weirdnet
  content/posts/2025-05-17-blog-directories.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

deploy: 0db8171e618a2a671fd9ff6fb70ff693f746b6ae
  2022/01/advent-of-code/index.html
  2025/05/blog-directories/index.html
  2025/05/blog-directories/index.md
  blogroll.opml
  en/sitemap.xml
  it/blogroll.opml
  pt/blogroll.opml
  sitemap.xml
  tags/index.xml
  tags/socialmedia/index.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

freebsd ii
  content/posts/2014-07-20-here-be-dragons-freebsd-overview-part-i.md
  content/posts/2014-07-21-here-be-packages-freebsd-overview-part-ii.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

deploy: 374192642bcfbea57dc49f0cd35e29dbf2814b92
  2014/07/adb-over-wi-fi-for-adbsync/index.html
  2014/07/emacs-no-usable-browser-found-error/index.html
  2014/07/here-be-dragons-freebsd-overview-part-i/index.html
  2014/07/here-be-dragons-freebsd-overview-part-i/index.md
  2014/07/here-be-packages-freebsd-overview-part-ii/index.html
  2014/07/here-be-packages-freebsd-overview-part-ii/index.md
  2014/08/mail-from-emacs-part-#1/index.html
  2014/08/open-pgp-@-android/index.html
  2014/09/all-over-again-shall-we/index.html
  2014/11/i3-window-manager/index.html
  2014/12/2014-small-review-of-a-really-nice-year/index.html
  2014/12/raspberry-pi-overview-part-#0/index.html
  2015/03/faqflow-#2-android-upgrading/rooting-notes/index.html
  2021/12/findboost.cmake/index.html
  2021/12/keychron-k2-linux-setup/index.html
  2022/01/advent-of-code/index.html
  2022/01/miniflux-rolling-my-own-rss-reader/index.html
  blogroll.opml
  en/sitemap.xml
  graph.json
  it/blogroll.opml
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/blogroll.opml
  pt/posts/2014-07-25-meus-dois-minutos-de-fama/index.html
  random/index.html
  search/index.json
  sitemap.md
  sitemap.xml
  tags/bestof/index.html
  tags/dev/index.html
  tags/index.html
  tags/index.xml
  tags/legacy/index.html
  tags/legacy/index.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

freebsd iii
  content/posts/2014-07-23-hello-world-freebsd-overview-part-iii.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

fix markdown formatting in 2026 posts
  content/posts/2026-01-11-adrs-and-llms.md
  content/posts/2026-08-07-the-wisdom-paradox-sketchplanations.md
  content/posts/2026-08-12-cmux-search-all-windows.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

deploy: 530dbe997e14aee6410e830c7e6a725f192b42e6
  2013/04/hello-world-freebsd-overview-part-iii/index.html
  2013/04/hello-world-freebsd-overview-part-iii/index.md
  2013/10/openbox-challenge-day-1/index.html
  2013/10/openbox-challenge-day-2/index.html
  2013/10/openbox-challenge-day-3/index.html
  2013/10/openbox-challenge-day-4/index.html
  2013/10/web-privacy-with-firefox/index.html
  2013/10/wrapping-up/index.html
  2014/07/here-be-packages-freebsd-overview-part-ii/index.html
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  graph.json
  it/blogroll.opml
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/blogroll.opml
  random/index.html
  search/index.json
  sitemap.md
  sitemap.xml
  tags/dev/index.html
  tags/index.html
  tags/index.xml
  tags/legacy/index.html
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: 4b305208b7da602e187d17541aa2c931b5766249
  2022/01/advent-of-code/index.html
  2026/01/adrs-and-llms/index.html
  2026/01/adrs-and-llms/index.md
  2026/08/cmux-search-all-windows/index.html
  2026/08/cmux-search-all-windows/index.md
  2026/08/reply-to-the-wisdom-paradox-sketchplanations/index.html
  2026/08/reply-to-the-wisdom-paradox-sketchplanations/index.md
  blogroll.opml
  blogroll/index.html
  categories/commentary/index.xml
  categories/index.xml
  en/sitemap.xml
  it/blogroll.opml
  pt/blogroll.opml
  sitemap.xml
  tags/ai/index.xml
  tags/bestof/index.xml
  tags/dev/index.xml
  tags/index.xml
  tags/pkm/index.xml
  tags/serenity/index.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

freebsd iv
  content/posts/2014-07-25-all-over-again-freebsd-overview-part-iv.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

deploy: 1f20ed289696a6754cb92cfe354c74ca0b623717
  2013/04/hello-world-freebsd-overview-part-iii/index.html
  2014/07/all-over-again-freebsd-overview-part-iv/index.html
  2014/07/all-over-again-freebsd-overview-part-iv/index.md
  2014/07/emacs-no-usable-browser-found-error/index.html
  2014/07/here-be-packages-freebsd-overview-part-ii/index.html
  2014/08/mail-from-emacs-part-#1/index.html
  2014/08/open-pgp-@-android/index.html
  2014/08/storing-passwords-as-plain-text...no-wait/index.html
  2014/09/all-over-again-shall-we/index.html
  2014/12/raspberry-pi-overview-part-#0/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  graph.json
  it/blogroll.opml
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/blogroll.opml
  random/index.html
  search/index.json
  sitemap.md
  sitemap.xml
  tags/dev/index.html
  tags/index.html
  tags/index.xml
  tags/legacy/index.html
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

markdown escaping
  content/posts/2026-08-17-markdown-nested-code-fences.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

freebsd v
  content/posts/2014-08-03-wrapping-up-freebsd-overview-part-v-last-one.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

deploy: 009e0799c1a1dab7f5e26b43a63f67f2e481ec73
  2013/10/openbox-challenge-day-2/index.html
  2013/10/openbox-challenge-day-3/index.html
  2013/10/openbox-challenge-day-4/index.html
  2013/10/openbox-challenge-day-5/index.html
  2013/10/wrapping-up--freebsd-overview-part-v-/-last-one/index.html
  2013/10/wrapping-up--freebsd-overview-part-v-/-last-one/index.md
  2014/07/all-over-again-freebsd-overview-part-iv/index.html
  2014/10/my-last-nix-setup/index.html
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  graph.json
  it/blogroll.opml
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/blogroll.opml
  random/index.html
  search/index.json
  sitemap.md
  sitemap.xml
  tags/dev/index.html
  tags/index.html
  tags/index.xml
  tags/legacy/index.html
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

mini-graph: replace force layout with static bipartite SVG
  layouts/partials/mini-graph.html
  layouts/partials/style.html
Due: forbid-external-images

drop pt tag
  CLAUDE.md
  content/posts/2024-12-22-new-post-workflow.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

deploy: 251a391a8381f01c3ad7e5dc7675b492a8a5e72f
  2022/01/advent-of-code/index.html
  2024/12/new-post-workflow/index.html
  2024/12/new-post-workflow/index.md
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  it/blogroll.opml
  pt/blogroll.opml
  sitemap.xml
  tags/index.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

mini-graph: put an arrowhead at each edge midpoint
  layouts/partials/mini-graph.html
  layouts/partials/style.html
Due: forbid-external-images

pi: fork vs clone sessions
  content/posts/2026-08-17-pi-fork-vs-clone-sessions.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

new post: reviewing slop prs
  content/posts/2026-08-18-pi-reviewing-slop-pull-requests.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

clanker
  content/posts/2026-08-18-pi-reviewing-slop-pull-requests.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

link slop PR post to dual-review
  content/posts/2026-08-18-pi-reviewing-slop-pull-requests.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

nobloggify
  content/posts/2026-08-18-pi-reviewing-slop-pull-requests.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

deploy: 7634d1d7ef9ba76725ddee3e1d760255f2a389dc
  2022/01/advent-of-code/index.html
  2026/08/dual-review-address-review-findings-automatically/index.html
  2026/08/reviewing-slop-pull-requests/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  graph.json
  index.xml
  it/blogroll.opml
  posts/coding/index.html
  posts/index.html
  posts/index.xml
  posts/recipes/index.html
  pt/blogroll.opml
  search/index.json
  sitemap.md
  sitemap.xml
  tags/ai/index.xml
  tags/bestof/index.xml
  tags/bloggify/index.html
  tags/bloggify/index.xml
  tags/coding/index.xml
  tags/dev/index.xml
  tags/index.html
  tags/index.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

add source view shortcut
  assets/js/main.js
  layouts/_default/single.html
Due: forbid-external-images

tweak
  content/posts/2026-08-18-pi-reviewing-slop-pull-requests.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

deploy: 3c61f4966bdbc3fada3f9583513ecf9f64a628a1
  2022/01/advent-of-code/index.html
  2026/08/reviewing-slop-pull-requests/index.html
  2026/08/reviewing-slop-pull-requests/index.md
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  index.xml
  it/blogroll.opml
  posts/index.xml
  pt/blogroll.opml
  sitemap.xml
  tags/ai/index.xml
  tags/bestof/index.xml
  tags/coding/index.xml
  tags/dev/index.xml
  tags/index.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

add minifeed
  content/posts/2025-05-17-blog-directories.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

deploy: 266a5af5377e34a14a6c0ca1a9c43f205d9c6cbe
  2022/01/advent-of-code/index.html
  2025/05/blog-directories/index.html
  2025/05/blog-directories/index.md
  2025/08/docker-aws-ecr-list-recent-image-tags/index.html
  2025/08/dockerfile-cmd-and-entrypoint-shell-and-exec-forms/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  it/blogroll.opml
  pt/blogroll.opml
  sitemap.xml
  tags/index.xml
  tags/socialmedia/index.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

privacidade
  content/pt/posts/2013-06-23-privacidade-nas-redes-sociais-parte-i.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: d82582868d2a8dccd254981f6722596b02375dc2
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  it/blogroll.opml
  posts/index.html
  posts/recipes/index.html
  pt/2013/05/4-dicas-sobre-apps-de-android/index.html
  pt/2013/06/privacidade-nas-redes-sociais-parte-i/index.html
  pt/2013/06/privacidade-nas-redes-sociais-parte-i/index.md
  pt/2013/07/links-são-o-terror/index.html
  pt/blogroll.opml
  pt/posts/2013-05-31-4-dicas-sobre-apps-de-android/index.html
  pt/posts/2013-06-23-privacidade-nas-redes-sociais-parte-i/index.html
  pt/posts/2013-06-23-privacidade-nas-redes-sociais-parte-i/index.md
  pt/posts/2013-07-25-links-sao-o-terror/index.html
  pt/posts/index.html
  pt/search/index.json
  pt/sitemap.md
  pt/sitemap.xml
  pt/tags/index.html
  pt/tags/index.xml
  pt/tags/legacy/index.html
  pt/tags/privacy/index.html
  pt/tags/privacy/index.xml
  pt/tags/serenity/index.html
  pt/tags/serenity/index.xml
  sitemap.md
  sitemap.xml
  tags/index.html
  tags/index.xml
  tags/legacy/index.html
  tags/privacy/index.html
  tags/serenity/index.html
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

paradigma
  content/pt/posts/2014-05-30-novos-paradigmas-redes-sociais-news.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt
