Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

Path conditions:
  forbid-md-extension-in-hugo-internal-links: any of: \.(md|markdown|mdown)$
  forbid-old-perrotta-dev: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$, but not: ^(content/posts/2024-02-04-new-domain.md|content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md)$
  forbid-personal-emails: any of: \.(md|markdown|mdown)$
  forbid-tulip: any of: \.(md|markdown|mdown)$
  forbid-utm-analytics: any of: \.(md|markdown|mdown)$

new post: block sign-in with google
  content/posts/2025-08-02-block-sign-in-to-xxx-with-google.com.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 0cf915c178f33a2ddb4c593e297141672ad53403
  2025/08/block-sign-in-to-xxx-with-google.com/index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/privacy/index.html
  tags/privacy/index.xml
Due: none

new post: terraform bypass lock
  content/posts/2025-08-04-terraform-bypass-lock.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

add talisman
  .pre-commit-config.yaml
  .talismanrc
Due: forbid-old-perrotta-dev

deploy: 8ef3d28ff0c78bab8d869d4ad768d12f5e11d044
  2025/08/terraform-bypass-lock/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/selfhosted/index.html
  tags/selfhosted/index.xml
Due: none

add link
  content/posts/2025-05-12-slack-github-bot-post-notifications.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: c58c037a137563b44dc5a00fe7b385645f27b9e3
  2025/05/slack-github-bot-post-notifications/index.html
Due: none

github: scheduled reminders
  content/posts/2025-08-05-github-set-up-scheduled-reminders-on-slack.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: a4723101bd6209487b5bcf1fa98a531fa0a60360
  2025/08/github-set-up-scheduled-reminders-on-slack/index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/bestof/index.html
  tags/bestof/index.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none

fd with xargs with spaces
  content/posts/2025-08-08-fd-with-xargs-filenames-with-spaces.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: fc2242559edfbd02c4ad003b16b6059a81f5ca22
  2025/08/fd-with-xargs-filenames-with-spaces/index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none

new post: argocd recovery when traefik is broken
  content/posts/2025-08-09-argocd-recovery-when-traefik-is-broken.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 6760cf21fde08e070c8e2614dbdf1d9d45ec2a20
  2025/08/argocd-recovery-when-traefik-is-broken/index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/selfhosted/index.html
  tags/selfhosted/index.xml
Due: none

new post: silence unknown callers
  content/posts/2025-08-09-silence-unknown-callers.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 8e780bc3efeb3a40e866ef9691cabc6f1f1dec0e
  2025/08/silence-unknown-callers/index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/bestof/index.html
  tags/bestof/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

new post: jira create issue with pre-populated fields
  content/posts/2025-08-11-jira-create-an-issue-with-pre-populated-fields.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

cft
  content/posts/2025-08-11-jira-create-an-issue-with-pre-populated-fields.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: c573f8befb15e594b62f528070bdcc53610df536
  2025/08/jira-create-an-issue-with-pre-populated-fields/index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none

new post: dive
  content/posts/2025-08-11-docker-dive-into-images.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 7821746a0a5ba3ac86d68389e6017eb5a2f94b7d
  2025/08/docker-dive-into-images/index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none

new post: argocd: app version notifications
  content/posts/2025-08-12-argocd-app-version-notifications.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 653f9053b9245d955b23546c2183b8f04aced22f
  2025/08/argocd-app-version-notifications/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none

new post: git ll
  content/posts/2025-08-12-git-ll.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: d9539f4169486fd46a5496813ce6a687d95390d8
  2025/08/git-ll/index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/bestof/index.html
  tags/bestof/index.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none

new post: git --no-pager
  content/posts/2025-08-12-git-no-pager.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

pre-commit
  .pre-commit-config.yaml
Due: forbid-old-perrotta-dev

deploy: a091d070c394e6a4ba9123bfca8959337adb58c3
  2025/08/git--no-pager/index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/bestof/index.html
  tags/bestof/index.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none

new post: fix typo
  content/posts/2025-08-13-fix-typo.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 4a8613426b638edcdeca26644b178da34bad23a4
  2025/08/fix-typo/index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

new post: daily log
  content/posts/2025-08-13-daily-log.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: a42b4390b9f640252330175676d31d94304bae04
  2025/08/daily-log/index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

patch time.is
  content/posts/2025-01-14-what-time-is-it-in-your-timezone.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 7a2465d46bacaed368380a5ef0d466047783d9eb
  2025/01/what-time-is-it-in-your-timezone/index.html
Due: none

new post: sed: follow symlinks
  content/posts/2025-08-14-gnu-sed-follow-symlinks.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 82b30f1a8bbdf2930b56adb4eaa23dfcf3442350
  2025/08/gnu-sed-follow-symlinks/index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none

formatting
  content/posts/2025-08-14-gnu-sed-follow-symlinks.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

new post: dune2k OST
  content/posts/2025-08-04-dune-2000-soundtrack.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 49fdd569d7f4ad3d58c82a80be31488b7dcf6b6f
  2025/08/dune-2000-soundtrack/index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

new post: dockerfile cmd entrypoint
  content/posts/2025-08-18-dockerfile-cmd-and-entrypoint-shell-and-exec-forms.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: d4469f60f931ac9a94be03f8becefb9fb76c73ef
  2025/08/dockerfile-cmd-and-entrypoint-shell-and-exec-forms/index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none
