Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-coding-titles, check-duplicate-leetcode, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

check-coding-titles:
  name: Enforce LeetCode and ByteByteGo title format
  entry: ci/check_post_titles.py
  language: system

check-duplicate-leetcode:
  name: Detect duplicate LeetCode posts
  entry: ci/check_duplicate_leetcode_posts.py
  language: system
  pass_filenames: false

forbid-md-extension-in-hugo-internal-links:
  name: Forbid .md extension in hugo internal links
  entry: .*\.md\" >\}\}
  language: pygrep

forbid-old-perrotta-dev:
  name: Forbid old domains
  entry: \\b(https://thiagowfx\.github\.io|www\.perrotta\.dev|blog\.perrotta\.dev)\\b
  language: pygrep

forbid-personal-emails:
  name: Forbid personal emails
  entry: (@perrotta.dev|tbperrotta@gmail.com)
  language: pygrep

forbid-tulip:
  name: Forbid Tulip terms
  entry: (?i)(\btulip\b|@garden)
  language: pygrep

forbid-utm-analytics:
  name: Forbid UTM analytics / tracking
  entry: \\b(utm_source)\\b
  language: pygrep

add pre-commit tag
  content/posts/2024-11-21-pre-commit-additional-dependencies-golang.md
  content/posts/2024-11-26-rename-files-in-bulk-cont.md
  content/posts/2024-12-08-finding-linters.md
  content/posts/2024-12-17-pre-commit-create-hooks-for-unsupported-tools.md
  content/posts/2024-12-21-pre-commit.md
  content/posts/2024-12-26-keep-sorted.md
  content/posts/2024-12-28-optimize-images.md
  content/posts/2024-12-28-pin-all-github-actions.md
  content/posts/2025-01-05-pre-commit-vim-integration.md
  content/posts/2025-01-09-yaml-enforce-schema-linting.md
  content/posts/2025-02-12-github-distributed-codeowners.md
  content/posts/2025-03-06-using-keep-sorted-to-keep-your-gitconfig-tidy.md
  content/posts/2025-03-12-commit-pre-commit-commit.md
  content/posts/2025-03-13-keep-sorted-with-quotes.md
  content/posts/2025-03-19-git-freeze-git-thaw.md
  content/posts/2025-03-20-pre-commit-pin-dependencies-with-freeze.md
  content/posts/2025-03-27-pre-commit-make-a-hook-opt-in.md
  content/posts/2025-05-24-pre-commit-add-hugo-build.md
  content/posts/2025-06-24-helm-repository-with-a-trailing-slash.md
  content/posts/2025-07-11-check-json-schema-pre-commit-hook.md
  content/posts/2025-08-13-fix-typo.md
  content/posts/2025-09-01-pre-commit-autoupdate.md
  content/posts/2025-09-22-go-keep-sorted.md
  content/posts/2025-11-16-new-pre-commit-hook-check-bash-shebang.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

add pre-commit tag
  content/posts/2025-01-20-codespell-ignore-words.md
  content/posts/2025-03-14-yolo-debug-only-after-push.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: d7ec3095b2e064e3bb6ce147f2215c8fa754ed08
  2025/01/codespell-ignore-words/index.html
  2025/03/yolo-debug-only-after-push/index.html
  2025/08/fix-typo/index.html
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  en/sitemap.xml
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/blogroll.opml
  search/index.json
  sitemap.xml
  tags/index.html
  tags/index.xml
  tags/meta/index.xml
  tags/pre-commit/index.html
  tags/pre-commit/index.xml
Due: none

leetcode
  content/posts/coding/2026-01-03-leetcode-993-cousins-in-binary-tree.md
Due: check-coding-titles, check-duplicate-leetcode, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

leetcode
  content/posts/coding/2026-01-03-leetcode-1506-find-root-of-n-ary-tree.md
Due: check-coding-titles, check-duplicate-leetcode, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

leetcode
  content/posts/coding/2026-01-03-leetcode-671-second-minimum-node-in-a-binary-tree.md
Due: check-coding-titles, check-duplicate-leetcode, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

leetcode
  content/posts/coding/2026-01-03-leetcode-3417-zigzag-grid-traversal-with-skip.md
Due: check-coding-titles, check-duplicate-leetcode, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

leetcode
  content/posts/coding/2026-01-03-leetcode-704-binary-search.md
Due: check-coding-titles, check-duplicate-leetcode, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 357a99e522aee3ec364ce36c5d241232be022693
  2026/01/leetcode-#704-binary-search/index.html
  2026/01/leetcode-#704-binary-search/index.md
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  categories/coding/index.xml
  categories/index.xml
  en/sitemap.xml
  pt/blogroll.opml
  sitemap.xml
  tags/dev/index.xml
  tags/index.xml
  tags/leetcode/index.xml
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

add pkm tag
  content/posts/2024-11-26-logseq-backlog.md
  content/posts/2024-12-21-default-apps-2024.md
  content/posts/2025-01-06-logseq-linking-and-backlinking.md
  content/posts/2025-03-01-logseq-aliases.md
  content/posts/2025-05-04-logseq-list-all-pages-of-a-tag.md
  content/posts/2025-05-14-logseq-open-page-in-sidebar.md
  content/posts/2025-06-22-logseq-template-for-working-out.md
  content/posts/2025-08-13-daily-log.md
  content/posts/2025-12-02-snippets-manager.md
  content/posts/2025-12-06-reordering-mobile-editing-icons-in-logseq.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

reduce padding in fullscreen mode on mobile
  layouts/partials/style.html
Due: none

style: differentiate post date from title with gray color
  static/theme.css
Due: none

deploy: 975bbd1e61bb135ba1c7733dadb12a4454e4be8f
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  pt/blogroll.opml
  theme.css
Due: none

logseq slowness
  content/posts/2026-01-03-logseq-slowness-on-macos.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

miss
  content/posts/2026-01-03-anything-else-you-may-have-missed.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 31d829d30ee80ecdd59ac10d1875616c856b2928
  2022/12/ais-galore/index.html
  2024/12/ai-usage/index.html
  2025/03/llm-remove-stored-key/index.html
  2025/04/the-llm-journey/index.html
  2025/09/hello/index.html
  2026/01/anything-else-you-may-have-missed/index.html
  2026/01/anything-else-you-may-have-missed/index.md
  2026/01/leetcode-#589-n-ary-tree-preorder-traversal/index.html
  2026/01/oneshot-prompting/index.html
  404.html
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  en/sitemap.xml
  index.xml
  posts/coding/index.html
  posts/index.html
  posts/index.xml
  posts/recipes/index.html
  pt/blogroll.opml
  search/index.json
  sitemap.xml
  tags/ai/index.html
  tags/ai/index.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/index.html
  tags/index.xml
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

remove aliases
  content/posts/2024-12-21-default-apps-2024.md
  content/posts/2024-12-29-ai-usage.md
  content/posts/2025-01-11-sscce.md
  content/posts/2025-01-19-deutschland-ticket-in-2025.md
  content/posts/2025-02-07-instagram-get-rid-of-all-posts.md
  content/pt/posts/2025-01-08-emissor-nfe-sebrae-v401/index.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

italics
  content/posts/2026-01-03-anything-else-you-may-have-missed.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: bd28053b90c62d33b3328a799a103487ae982718
  2024/12/ai-usage/index.html
  2024/12/default-apps-2024/index.html
  2025/01/bestof/index.html
  2025/01/deutschland-ticket-in-2025/index.html
  2025/01/sscce/index.html
  2025/02/instagram-get-rid-of-all-posts/index.html
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  deutschland-ticket/index.html
  en/sitemap.xml
  instagram/index.html
  nfe/index.html
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/2025/01/emissor-nfe-sebrae-v4.01-para-emissão-de-notas-fiscais/index.html
  pt/blogroll.opml
  pt/index.xml
  pt/posts/2025-01-08-emissor-nfe-sebrae-v401/index.html
  pt/sitemap.xml
  pt/tags/dev/index.xml
  pt/tags/index.xml
  search/index.json
  sitemap.xml
  tags/ai/index.xml
  tags/bestof/index.html
  tags/dev/index.html
  tags/index.html
  tags/index.xml
  tags/macos/index.xml
  tags/meta/index.xml
  tags/pkm/index.xml
  tags/privacy/index.xml
  uses/index.html
Due: none

deploy: 9ac3c716e4600e9e5308005d26c1e17422d33996
  2026/01/anything-else-you-may-have-missed/index.html
  2026/01/anything-else-you-may-have-missed/index.md
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  en/sitemap.xml
  index.xml
  posts/index.xml
  pt/blogroll.opml
  sitemap.xml
  tags/ai/index.xml
  tags/dev/index.xml
  tags/index.xml
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

git: diff untracked
  content/posts/2026-01-04-git-diff-untracked.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

link
  content/posts/2026-01-04-git-diff-untracked.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 0511b70f58536fb7a8b0b3a55c318802600b253b
  2026/01/git-diff-untracked/index.html
  2026/01/git-diff-untracked/index.md
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  en/sitemap.xml
  index.xml
  posts/index.xml
  pt/blogroll.opml
  sitemap.xml
  tags/dev/index.xml
  tags/git/index.xml
  tags/index.xml
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

add commentary category
  Justfile
  archetypes/commentary.md
  content/posts/2024-12-21-reply-to-i-hate-the-news.md
  content/posts/2024-12-22-link-blogs.md
  content/posts/2024-12-23-reply-to-introduce-yourself-to-your-remote-team.md
  content/posts/2024-12-28-reply-to-douglas-adams-on-reactions-to-technology-by-age.md
  content/posts/2024-12-30-reply-to-co-pilot-having-a-normal-one.md
  content/posts/2024-12-31-independence.md
  content/posts/2025-01-03-100-days-to-offload.md
  content/posts/2025-01-05-reply-to-mistakes-engineers-make-in-large-established-codebases.md
  content/posts/2025-01-05-reply-to-my-approach-to-running-a-link-blog.md
  content/posts/2025-01-20-reply-to-smash-that-subscribe-button.md
  content/posts/2025-03-06-reply-to-growth-at-big-tech.md
  content/posts/_index.md
  layouts/_default/list.html
  layouts/_default/rss.xml
  layouts/_default/single.html
  plans/2025_01_04_COMMENTARY_CATEGORY_SETUP.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

reset
  content/posts/2026-01-04-git-diff-untracked.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 5c4d3896e28e4430c7036890c58138f251132efc
  2026/01/git-diff-untracked/index.html
  2026/01/git-diff-untracked/index.md
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  en/sitemap.xml
  index.xml
  posts/index.xml
  pt/blogroll.opml
  sitemap.xml
  tags/dev/index.xml
  tags/git/index.xml
  tags/index.xml
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

leetcode
  content/posts/coding/2026-01-04-enum.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

Path conditions:
  check-coding-titles: any of: ^content/posts/.*(leetcode|bytebytego).*\.md$ and \.(md|markdown|mdown)$ and not (^content/posts/2025-12-30-kagi-add-leetcode-bang.md$) and not (^(layouts/partials/openring.html$|schemas|vendor)/)
  check-duplicate-leetcode: any of: ^content/posts/.*leetcode.*\.md$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
  forbid-md-extension-in-hugo-internal-links: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
  forbid-old-perrotta-dev: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$ and not (^(content/posts/2024-02-04-new-domain.md|content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md)$) and not (^(layouts/partials/openring.html$|schemas|vendor)/)
  forbid-personal-emails: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
  forbid-tulip: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
  forbid-utm-analytics: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
