Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

forbid-md-extension-in-hugo-internal-links:
  name: Forbid .md extension in hugo internal links
  entry: .*\.md\" >\}\}
  language: pygrep

forbid-old-perrotta-dev:
  name: Forbid old domains
  entry: \b(https://thiagowfx\.github\.io|www\.perrotta\.dev|blog\.perrotta\.dev)\b
  language: pygrep

forbid-personal-emails:
  name: Forbid personal emails
  entry: (@perrotta.dev|tbperrotta@gmail.com)
  language: pygrep

forbid-tulip:
  name: Forbid Tulip terms
  entry: "\b(garden|[Tt]ulip)\b"
  language: pygrep

forbid-utm-analytics:
  name: Forbid UTM analytics / tracking
  entry: \b(utm_source)\b
  language: pygrep

deploy: aa515ba2a7955c7448df0e25a9a4366fe2903b9b
  2025/10/vim-reflow-current-paragraph/index.html
  404.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
Due: none

turn star into emoji on hover
  config.yml
  layouts/_default/baseof.html
  layouts/partials/style.html
Due: forbid-old-perrotta-dev

new post: anki
  content/posts/2025-10-08-anki-find-all-suspended-cards.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 0eeb0a67b77e6842cb59cb2944b87aaaae061c89
  2025/10/anki-find-all-suspended-flashcards/index.html
  404.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

new post: comma scripts
  content/posts/2025-10-10-comma-scripts.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: f58022b8d19bc8809f0b2d20315957a9f85381bc
  2025/10/comma-scripts/index.html
  404.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
Due: none

zoxide fine-tuning
  content/posts/2025-10-10-zoxide-fine-tuning.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 0977ae72d74125deca9f8e9d1831be8d84b4cc46
  2025/10/zoxide-fine-tuning/index.html
  404.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
Due: none

trains
  .pre-commit-config.yaml
  content/posts/2024-12-30-trains-in-europe.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 050e65e7b435cbc825d51bc94a442839fc6be81d
  2024/12/trains-in-europe/index.html
  tags/coding/index.html
Due: none

phishy
  content/posts/2022-01-26-throwaway-disposable-accounts-for-ephemeral-use-cases.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: e0da4655d66bbb15dd2e6516456493858ed54500
  2022/01/throwaway-disposable-accounts-for-ephemeral-use-cases/index.html
  tags/coding/index.html
  tags/privacy/index.xml
Due: none

new post: IMEI
  content/posts/2025-10-12-imei.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

SIM PIN
  content/posts/2025-10-12-imei.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 7b5780195c4e7e9b8b2b02793e0a1da0e42ebd82
  2025/10/imei/index.html
  404.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
Due: none

EID
  content/posts/2025-10-12-imei.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: de0671430e896b913c200496f87a9abbb97a16c5
  2025/10/imei/index.html
  index.xml
  posts/index.xml
  tags/coding/index.html
  tags/dev/index.xml
Due: none

new post: C
  content/posts/2025-10-12-my-favorite-c-compiler-flags-during-development.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 2506081f9ed1d077130ac3d11a87080d1b5f265d
  2025/10/my-favorite-c-compiler-flags-during-development/index.html
  404.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
Due: none

git: merge two repos
  content/posts/2025-10-12-git-merge-two-repositories.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 862a602d1010614d240ca8f5c0971280c62b0c58
  2025/10/git-merge-two-repositories/index.html
  404.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
Due: none

new post: gmail plus
  content/posts/2025-10-12-gmail-send-email-from-plus-address.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: d3b2c672838dffb7f087151fa3002ce5d9ae6742
  2025/10/gmail-send-email-from-plus-address/index.html
  404.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
Due: none

update index.md
  content/_index.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 185b9408af4deea9c6819f73ac437be6640feb19
  index.html
  tags/coding/index.html
Due: none

web
  content/_index.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: b1b9246cb40944a430b61b88739a76fd329c3159
  index.html
  tags/coding/index.html
Due: none

rotate social links on hover
  layouts/partials/style.html
Due: none

remove home link, move star to the first position
  config.yml
Due: forbid-old-perrotta-dev

blog list: do not repeat dates
  layouts/_default/list.html
Due: none

deploy: e7c8c8eed07e30998494dbab81717ecf9265ff11
  posts/index.html
  tags/aoc/index.html
  tags/bestof/index.html
  tags/coding/index.html
  tags/dev/index.html
  tags/meta/index.html
  tags/privacy/index.html
  tags/selfhosted/index.html
  tags/serenity/index.html
Due: none

make star posts special
  layouts/_default/baseof.html
  layouts/partials/style.html
Due: none

deploy: 8aedf835f420122837f9f2ea3b29ad889a1e40b6
  tags/coding/index.html
Due: none

leetcoding
  content/posts/2025-09-06-leetcoding.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 36975cbce2754f1a0ddb95a88c19304fab6b26be
  2025/09/leetcoding/index.html
  index.xml
  posts/index.xml
  tags/bestof/index.xml
  tags/coding/index.html
  tags/dev/index.xml
  tags/serenity/index.xml
Due: none

Path conditions:
  forbid-md-extension-in-hugo-internal-links: any of: \.(md|markdown|mdown)$, but not: ^(schemas|vendor)/
  forbid-old-perrotta-dev: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$ and not (^(content/posts/2024-02-04-new-domain.md|content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md)$) and not (^(schemas|vendor)/)
  forbid-personal-emails: any of: \.(md|markdown|mdown)$, but not: ^(schemas|vendor)/
  forbid-tulip: any of: \.(md|markdown|mdown)$, but not: ^(schemas|vendor)/
  forbid-utm-analytics: any of: \.(md|markdown|mdown)$, but not: ^(schemas|vendor)/
