Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-broken-internal-links, check-coding-titles, check-duplicate-coding, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-external-images, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

Path conditions:
  check-broken-internal-links: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  check-coding-titles: any of: ^content/posts/.*(leetcode|bytebytego).*\.md$ and \.(md|markdown|mdown)$ and not (^content/posts/2025-12-30-kagi-add-leetcode-bang.md$) and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  check-duplicate-coding: any of: ^content/posts/.*(leetcode|bytebytego).*\.md$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  check-required-frontmatter: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (_index\.md$) and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  check-single-category: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  forbid-double-more: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  forbid-double-parens-in-shortcodes: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-external-images: any of: ^layouts/.*\.html$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-md-extension-in-hugo-internal-links: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-old-perrotta-dev: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$ and not (^(content/posts/2024-02-04-new-domain.md|content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md)$) and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  forbid-personal-emails: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-tulip: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-utm-analytics: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  replace-em-dashes: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  replace-shell-prompt: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  sort-blog-tags: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  strip-content-posts-prefix: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)

games
  content/posts/2015-02-12-games-index-of.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

tz
  content/posts/2013-10-20-web-privacy-with-firefox.md
  content/posts/2013-10-26-wrapping-up.md
  content/posts/2013-11-13-why-i-love-zsh.md
  content/posts/2013-12-12-is-it-actually-bad-for-the-battery-of-a-laptop-to-leave-it-plugged-in.md
  content/posts/2013-12-21-qa-with-nine-great-programmers.md
  content/posts/2013-12-31-science-is-fun-remix.md
  content/posts/2013-12-31-wordpress-feed.md
  content/posts/2014-01-04-custom-search-engines.md
  content/posts/2014-04-20-mini-pkgbuild-class-irc.md
  content/posts/2014-04-24-my-first-org2blog-post.md
  content/posts/2014-04-26-pacman-gpgme-error-no-data.md
  content/posts/2014-05-13-mini-goodbye-linux-desktop.md
  content/posts/2014-05-15-hello-nix-server-world.md
  content/posts/2014-05-18-im-learning-php.md
  content/posts/2014-05-21-everything-orgmode-or-orgmode-everywhere.md
  content/posts/2014-07-04-adb-over-wi-fi-for-adbsync.md
  content/posts/2014-07-28-fix-emacs-no-usable-browser-found-error.md
  content/posts/2014-08-01-openpgp-android.md
  content/posts/2014-08-23-journal-17-mail-from-emacs-part-1.md
  content/posts/2014-08-30-serendipity-why-not.md
  content/posts/2014-09-07-all-over-again-shall-we.md
  content/posts/2014-09-13-what-is-taking-much-space-on-your-linux-system.md
  content/posts/2014-09-15-living-on-ubuntu-instance-1.md
  content/posts/2014-09-20-cool-but-obscure-unix-tools.md
  content/posts/2014-09-28-my-first-ebuild.md
  content/posts/2014-10-09-compiling-installing-pacman-on-ubuntu.md
  content/posts/2014-10-11-video-how-do-i-blog-with-org2blog.md
  content/posts/2014-11-05-btrfs-trouble-trouble-and-troubleshooting.md
  content/posts/2014-11-13-mini-vim-shortcuts-everywhere.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

tz
  content/posts/2014-11-16-i3-window-manager.md
  content/posts/2014-12-08-using-proxy-servers-on-linux.md
  content/posts/2015-01-07-the-eudyptula-challenge.md
  content/posts/2015-01-15-c-man-pages.md
  content/posts/2015-02-20-from-orgmode-to-asciidoc-or-ditching-emacs.md
  content/posts/2015-03-01-account-deletion-request.md
  content/posts/2015-03-02-thoughts-on-instagram.md
  content/posts/2015-03-05-documented-dotfiles.md
  content/posts/2015-03-09-running-ogre3d-locally-without-installing-it.md
  content/posts/2015-03-21-recording-screencasts-on-linux.md
  content/posts/2015-04-03-installing-haiku-from-an-existing-linux.md
  content/posts/2022-02-09-rss-bridging-the-gap.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

ctf
  content/posts/2015-02-21-ksnctf.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

openbox
  content/posts/2013-10-27-openbox-challenge-day-1.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

formatting
  content/posts/2025-02-18-notify-search-engines-of-new-posts.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

typo
  content/posts/2024-12-22-link-blogs.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

deploy: a281c752a74361bf6f1c16334dfd1b46611195b1
  2013/10/openbox-challenge-day-1/index.html
  2013/10/openbox-challenge-day-1/index.md
  2013/10/wrapping-up/index.html
  2013/11/why-i-love-zsh/index.html
  2013/12/is-it-actually-bad-for-the-battery-of-a-laptop-to-leave-it-plugged-in/index.html
  2013/12/qa-with-nine-great-programmers/index.html
  2013/12/wordpress-feed/index.html
  2014/01/custom-search-engines/index.html
  2014/04/my-first-org2blog-post/index.html
  2014/04/pkgbuild-class-@-irc/index.html
  2015/01/the-eudyptula-challenge/index.html
  2022/01/advent-of-code/index.html
  2025/02/notify-search-engines-of-new-posts/index.html
  2025/02/notify-search-engines-of-new-posts/index.md
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  graph.json
  posts/coding/index.html
  posts/index.html
  pt/blogroll.opml
  random/index.html
  search/index.json
  sitemap.xml
  tags/dev/index.html
  tags/index.html
  tags/index.xml
  tags/legacy/index.html
  tags/meta/index.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: 2d05b1ad61a48137af3d83149593753d4bfee00b
  2022/01/advent-of-code/index.html
  2024/12/reply-to-my-approach-to-running-a-link-blog/index.html
  2024/12/reply-to-my-approach-to-running-a-link-blog/index.md
  blogroll.opml
  blogroll/index.html
  categories/commentary/index.xml
  categories/index.xml
  en/sitemap.xml
  pt/blogroll.opml
  sitemap.xml
  tags/index.xml
  tags/meta/index.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

add gaming tag
  CLAUDE.md
  content/posts/2024-06-30-copy-files-from-laptop-to-steam-deck.md
  content/posts/2024-10-05-steam-deck-downloading-update-boot-loop.md
  content/posts/2024-10-07-exponential-idle.md
  content/posts/2024-10-25-board-games.md
  content/posts/2025-01-14-pawnbarian.md
  content/posts/2025-06-30-steam-ratings.md
  content/posts/2025-07-20-steam-deck-640x480-external-monitor-resolution.md
  content/posts/2026-02-15-pears-word-game.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

openbox2
  content/posts/2013-10-28-openbox-challenge-day-2.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

deploy: d3e67f34f0d774fa51fdd2454b8b8b6e4cfb1d9b
  2013/10/openbox-challenge-day-1/index.html
  2013/10/openbox-challenge-day-2/index.html
  2013/10/openbox-challenge-day-2/index.md
  2013/11/why-i-love-zsh/index.html
  2013/12/is-it-actually-bad-for-the-battery-of-a-laptop-to-leave-it-plugged-in/index.html
  2013/12/qa-with-nine-great-programmers/index.html
  2013/12/wordpress-feed/index.html
  2014/01/custom-search-engines/index.html
  2014/04/my-first-org2blog-post/index.html
  2014/04/pkgbuild-class-@-irc/index.html
  2015/01/the-eudyptula-challenge/index.html
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  graph.json
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/blogroll.opml
  search/index.json
  sitemap.xml
  tags/dev/index.html
  tags/index.html
  tags/index.xml
  tags/legacy/index.html
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

footer: update copyright year from 2021 to 2013
  config/_default/config.yml
Due: forbid-old-perrotta-dev

emacs
  content/posts/2014-10-04-from-emacs-to-vim-chapter-0.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

link
  content/posts/2014-10-04-from-emacs-to-vim-chapter-0.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

deploy: c5b011181607886869b532b84430e308f862b7c6
  2014/07/emacs-no-usable-browser-found-error/index.html
  2014/08/mail-from-emacs-part-#1/index.html
  2014/10/compiling-/-installing-pacman-on-ubuntu/index.html
  2014/10/from-emacs-to-vim-chapter-#0/index.html
  2014/10/from-emacs-to-vim-chapter-#0/index.md
  2014/10/how-do-i-blog-with-org2blog/index.html
  2014/11/btrfs-trouble-trouble-and-troubleshooting/index.html
  2014/11/i3-window-manager/index.html
  2014/11/vim-shortcuts-everywhere/index.html
  2015/02/from-orgmode-to-asciidoc-or-ditching-emacs/index.html
  2022/01/advent-of-code/index.html
  2025/07/vim-join-lines-without-producing-a-space/index.html
  2025/09/vim-remove-trailing-whitespace/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  graph.json
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/blogroll.opml
  random/index.html
  search/index.json
  sitemap.xml
  tags/dev/index.html
  tags/index.html
  tags/index.xml
  tags/legacy/index.html
  tags/legacy/index.xml
  tags/vim/index.html
  tags/vim/index.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

ssd
  content/posts/2013-11-16-some-ssd-benchmarking.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

chrome
  content/posts/2014-06-23-my-google-chrome-extensions.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

matlab
  content/posts/2014-11-18-matlab-debootstrapping-1.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

web
  content/posts/2014-03-09-web-challenge-0.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

keyboard
  content/posts/2013-11-06-trying-to-be-keyboard-centric.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

rename
  content/posts/2014-04-20-pkgbuild-class-irc.md
  content/posts/2014-05-13-goodbye-linux-desktop.md
  content/posts/2014-05-15-hello-nix-server-world.md
  content/posts/2014-08-23-mail-from-emacs-part-1.md
  content/posts/2014-11-13-vim-shortcuts-everywhere.md
  content/pt/posts/2014-04-18-recovery-tipico-via-usb.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

review
  content/posts/2014-11-28-m-x-review-this-blog.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

vim
  content/posts/2014-10-05-from-emacs-to-vim-chapter-1-vim-plug-ins.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

fix: prevent Cmd+K from toggling search modal closed immediately
  layouts/partials/search-modal.html
Due: forbid-external-images

podcasting
  content/posts/2014-09-06-everyday-podcasting-1.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

podcasting
  content/posts/2014-10-10-everyday-podcasting-2.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

linkify previous post
  content/posts/2014-10-10-everyday-podcasting-2.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

deploy: 6c1e6d75117b11d8a26a833d288af182dd952483
  2014/09/everyday-podcasting-#1/index.html
  2014/10/compiling-/-installing-pacman-on-ubuntu/index.html
  2014/10/everyday-podcasting-#2/index.html
  2014/10/everyday-podcasting-#2/index.md
  2014/10/how-do-i-blog-with-org2blog/index.html
  2015/02/games-index-of/index.html
  2022/01/advent-of-code/index.html
  2022/04/large-prints/index.html
  2024/02/jumblie/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  graph.json
  posts/coding/index.html
  posts/index.html
  pt/blogroll.opml
  random/index.html
  search/index.json
  sitemap.xml
  tags/index.html
  tags/index.xml
  tags/legacy/index.html
  tags/legacy/index.xml
  tags/serenity/index.html
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: 3d812b888fa0645506f67a305340a72db52d1c01
  2014/09/everyday-podcasting-#1/index.html
  2014/10/everyday-podcasting-#2/index.html
  2014/10/everyday-podcasting-#2/index.md
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  graph.json
  pt/blogroll.opml
  sitemap.xml
  tags/index.xml
  tags/legacy/index.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

emacs
  content/posts/2014-10-18-from-emacs-to-vim-chapter-2-philosophy.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

deploy: 3801c3db9a57096c44ac3a280fd168d88fcae73d
  2014/07/emacs-no-usable-browser-found-error/index.html
  2014/08/mail-from-emacs-part-#1/index.html
  2014/10/from-emacs-to-vim-chapter-#0/index.html
  2014/10/from-emacs-to-vim-chapter-#2-philosophy/index.html
  2014/10/from-emacs-to-vim-chapter-#2-philosophy/index.md
  2014/10/how-do-i-blog-with-org2blog/index.html
  2014/11/btrfs-trouble-trouble-and-troubleshooting/index.html
  2014/11/i3-window-manager/index.html
  2014/11/matlab-debootstrapping-#1/index.html
  2014/11/vim-shortcuts-everywhere/index.html
  2015/02/from-orgmode-to-asciidoc-or-ditching-emacs/index.html
  2022/01/advent-of-code/index.html
  2025/07/vim-join-lines-without-producing-a-space/index.html
  2025/09/vim-remove-trailing-whitespace/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  graph.json
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/blogroll.opml
  random/index.html
  search/index.json
  sitemap.xml
  tags/dev/index.html
  tags/index.html
  tags/index.xml
  tags/legacy/index.html
  tags/legacy/index.xml
  tags/vim/index.html
  tags/vim/index.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

tmux
  content/posts/2014-12-14-tmux-a-gentle-introduction.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix
