Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-coding-titles, check-duplicate-leetcode, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

check-coding-titles:
  name: Enforce LeetCode and ByteByteGo title format
  entry: ci/check_post_titles.py
  language: system

check-duplicate-leetcode:
  name: Detect duplicate LeetCode posts
  entry: ci/check_duplicate_leetcode_posts.py
  language: system
  pass_filenames: false

forbid-md-extension-in-hugo-internal-links:
  name: Forbid .md extension in hugo internal links
  entry: .*\.md\" >\}\}
  language: pygrep

forbid-old-perrotta-dev:
  name: Forbid old domains
  entry: \\b(https://thiagowfx\.github\.io|www\.perrotta\.dev|blog\.perrotta\.dev)\\b
  language: pygrep

forbid-personal-emails:
  name: Forbid personal emails
  entry: (@perrotta.dev|tbperrotta@gmail.com)
  language: pygrep

forbid-tulip:
  name: Forbid Tulip terms
  entry: (?i)(\btulip\b|@garden)
  language: pygrep

forbid-utm-analytics:
  name: Forbid UTM analytics / tracking
  entry: \\b(utm_source)\\b
  language: pygrep

pomodoro
  layouts/_default/pomodoro.html
Due: none

pomodoro: add preferences pane with stress-free mode
  layouts/_default/pomodoro.html
Due: none

deploy: 3429fac648e475c78a1a6c1892ef3a2802979ee1
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  pomodoro/index.html
  pt/blogroll.opml
Due: none

ADR-0010: markdown content negotiation for LLMs
  docs/adrs/0010-markdown-content-negotiation.md
  docs/adrs/README.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 444f87a59cb4f40b1f5a6fb00d080cd8cadc5e89
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  pt/blogroll.opml
Due: none

pomodoro: add auto-start preference
  layouts/_default/pomodoro.html
Due: none

pomodoro: fix missing autoStart variable declaration
  layouts/_default/pomodoro.html
Due: none

pomodoro: add button emojis, skip to 7s
  layouts/_default/pomodoro.html
Due: none

pomodoro: update skip tooltip to 7s
  layouts/_default/pomodoro.html
Due: none

deploy: 393637c19c599add6331e34c9716788cf1b96299
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  pomodoro/index.html
  pt/blogroll.opml
Due: none

post
  content/posts/2014-05-15-hello-nix-server-world.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

feat: add Ctrl/Cmd+K search modal
  layouts/_default/baseof.html
  layouts/partials/search-modal.html
  layouts/partials/style.html
Due: none

radio: add nightride fm, radio paradise, space station soma
  layouts/_default/radio.html
Due: none

radio: add deep space one and beat blender
  layouts/_default/radio.html
Due: none

feat: make search modal discoverable via nav button with ⌘K hint
  config/_default/config.yml
  layouts/_default/baseof.html
  layouts/partials/search-modal.html
  layouts/partials/style.html
Due: forbid-old-perrotta-dev

ubuntu
  content/posts/2014-09-15-living-on-ubuntu-instance-1.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

Revert "ubuntu"
  content/posts/2014-09-15-living-on-ubuntu-instance-1.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

Reapply "ubuntu"
  content/posts/2014-09-15-living-on-ubuntu-instance-1.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

Revert "feat: make search modal discoverable via nav button with ⌘K hint"
  config/_default/config.yml
  layouts/_default/baseof.html
  layouts/partials/search-modal.html
  layouts/partials/style.html
Due: forbid-old-perrotta-dev

feat: add search shortcut hint to search page
  i18n/en.toml
  i18n/pt.toml
  layouts/_default/search.html
Due: none

fix: pre-commit CI failures
  ci/replace_em_dashes.py
  content/posts/2025-01-05-my-approach-to-running-a-link-blog.md
  content/posts/2025-06-13-slack-public-chats-first.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

fix broken internal ref link in hello-nix-server-world post
  content/posts/2014-05-15-hello-nix-server-world.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

gitignore: add zip
  .gitignore
Due: none

linux desktop
  content/posts/2014-05-13-mini-goodbye-linux-desktop.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

link
  content/posts/2014-05-15-hello-nix-server-world.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

post
  content/posts/2014-09-07-all-over-again-shall-we.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 6b19181a333396a4413411ec102c28af3acbc328
  2014/07/adb-over-wi-fi-for-adbsync/index.html
  2014/09/all-over-again-shall-we/index.html
  2014/09/all-over-again-shall-we/index.md
  2014/09/cool-but-obscure-unix-tools/index.html
  2014/09/living-on-ubuntu-instance-#1/index.html
  2014/09/my-first-ebuild/index.html
  2014/09/what-is-taking-much-space-on-your-linux/bsd-system/index.html
  2014/10/compiling-/-installing-pacman-on-ubuntu/index.html
  2014/10/how-do-i-blog-with-org2blog/index.html
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  graph.json
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/blogroll.opml
  random/index.html
  search/index.json
  sitemap.xml
  tags/dev/index.html
  tags/index.html
  tags/index.xml
  tags/legacy/index.html
  tags/legacy/index.xml
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

fix
  content/posts/2022-01-02-ephemeral-linux-shell-access-in-the-cloud.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 9c99b16e086583965f203fe464a60dbe5c82f59b
  2022/01/advent-of-code/index.html
  2022/01/ephemeral-linux-shell-access-in-the-cloud/index.html
  2022/01/ephemeral-linux-shell-access-in-the-cloud/index.md
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  pt/blogroll.opml
  sitemap.xml
  tags/index.xml
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

md
  content/pt/posts/2014-02-27-consertando-caracteres-estranhos-em-markdown.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

posts list: group posts by month within each year
  layouts/_default/list.html
  layouts/partials/style.html
Due: none

deploy: b896b5aeb699a517a2aa5c79c30a0adc0f97b17b
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/2014/01/testando-uma-iso-no-linux-sem-o-virtualbox/index.html
  pt/2014/02/consertando-caracteres-estranhos-em-markdown/index.html
  pt/2014/02/consertando-caracteres-estranhos-em-markdown/index.md
  pt/2014/04/recovery-típico-via-usb/index.html
  pt/404.html
  pt/blogroll.opml
  pt/index.xml
  pt/posts/2014-01-07-testando-uma-iso-no-linux-sem-o-virtualbox/index.html
  pt/posts/2014-02-27-consertando-caracteres-estranhos-em-markdown/index.html
  pt/posts/2014-02-27-consertando-caracteres-estranhos-em-markdown/index.md
  pt/posts/2014-04-18-mini-recovery-tipico-via-usb/index.html
  pt/posts/index.html
  pt/posts/index.xml
  pt/search/index.json
  pt/sitemap.xml
  pt/tags/dev/index.html
  pt/tags/dev/index.xml
  pt/tags/index.html
  pt/tags/index.xml
  pt/tags/legacy/index.html
  pt/tags/legacy/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/index.xml
  tags/legacy/index.html
  tags/legacy/index.xml
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

feat: add reading progress indicator to post pages
  assets/js/main.js
  layouts/_default/single.html
  layouts/partials/style.html
Due: none

homepage: add featured posts section
  layouts/index.html
  layouts/partials/style.html
Due: none

homepage: make number of featured posts configurable
  config/_default/config.yml
  layouts/index.html
Due: forbid-old-perrotta-dev

Path conditions:
  check-coding-titles: any of: ^content/posts/.*(leetcode|bytebytego).*\.md$ and \.(md|markdown|mdown)$ and not (^content/posts/2025-12-30-kagi-add-leetcode-bang.md$) and not (^(layouts/partials/openring.html$|schemas|vendor)/)
  check-duplicate-leetcode: any of: ^content/posts/.*leetcode.*\.md$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
  forbid-md-extension-in-hugo-internal-links: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
  forbid-old-perrotta-dev: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$ and not (^(content/posts/2024-02-04-new-domain.md|content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md)$) and not (^(layouts/partials/openring.html$|schemas|vendor)/)
  forbid-personal-emails: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
  forbid-tulip: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
  forbid-utm-analytics: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
