Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-broken-internal-links, check-coding-titles, check-duplicate-coding, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-external-images, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

check-broken-internal-links:
  name: Check for broken Hugo ref shortcode links
  entry: ci/check_broken_internal_links.py
  language: system

check-coding-titles:
  name: Enforce LeetCode and ByteByteGo title format
  entry: ci/check_post_titles.py
  language: system

check-duplicate-coding:
  name: Detect duplicate coding problem posts
  entry: ci/check_duplicate_coding_posts.py
  language: system
  pass_filenames: false

check-required-frontmatter:
  name: Enforce required frontmatter fields (date, title)
  entry: ci/check_required_frontmatter.py
  language: python
  additional_dependencies:
  - PyYAML

check-single-category:
  name: Enforce single category per post
  entry: ci/check_single_category.py
  language: python
  additional_dependencies:
  - PyYAML

forbid-double-more:
  name: Forbid <!--more--> in blog posts
  entry: <!--more-->
  language: pygrep

forbid-double-parens-in-shortcodes:
  name: Forbid double parentheses around Hugo shortcodes
  entry: \(\(\{\{[<|%]
  language: pygrep

forbid-external-images:
  name: Forbid external image URLs in layouts
  entry: ci/forbid-external-images.py
  language: system

forbid-md-extension-in-hugo-internal-links:
  name: Forbid .md extension in hugo internal links
  entry: .*\.md\" >\}\}
  language: pygrep

forbid-old-perrotta-dev:
  name: Forbid old domains
  entry: \\b(https://thiagowfx\.github\.io|www\.perrotta\.dev|blog\.perrotta\.dev)\\b
  language: pygrep

forbid-personal-emails:
  name: Forbid personal emails
  entry: (@perrotta\.dev|\w*perrotta\d*@gmail\.com)
  language: pygrep

forbid-tulip:
  name: Forbid Tulip terms
  entry: (?i)(\btulip\b|@garden)
  language: pygrep

forbid-utm-analytics:
  name: Forbid UTM analytics / tracking
  entry: \\b(utm_source)\\b
  language: pygrep

replace-em-dashes:
  name: Replace ' - ' with em dashes in prose
  entry: ci/replace_em_dashes.py
  language: python

replace-shell-prompt:
  name: Replace ❯ with % in shell prompts
  entry: ci/replace_shell_prompt.py
  language: python

sort-blog-tags:
  name: Sort blog post tags alphabetically
  entry: ci/sort_tags.py
  language: python
  additional_dependencies:
  - PyYAML

strip-content-posts-prefix:
  name: Strip content/posts/ prefix from Hugo ref links
  entry: ci/strip_content_posts_prefix.py
  language: python

test ci scripts
  .pre-commit-config.yaml
  Justfile
  ci/check_duplicate_coding_posts.py
  ci/replace_em_dashes.py
  ci/test_build_openring.py
  ci/test_check_broken_internal_links.py
  ci/test_check_duplicate_coding_posts.py
  ci/test_check_i18n.py
  ci/test_check_post_titles.py
  ci/test_check_required_frontmatter.py
  ci/test_check_single_category.py
  ci/test_forbid_external_images.py
  ci/test_normalize_hugo_ref_links.py
  ci/test_normalize_hugo_shortcode_parentheses.py
  ci/test_precompute_links.py
  ci/test_remove_more_markers.py
  ci/test_remove_utm_parameters.py
  ci/test_replace_angle_bracket_links.py
  ci/test_replace_console_code_fences.py
  ci/test_replace_em_dashes.py
  ci/test_replace_personal_usernames.py
  ci/test_replace_shell_prompt.py
  ci/test_script_coverage.py
  ci/test_sort_tags.py
Due: forbid-old-perrotta-dev

deploy: 96d743aa293c3602fe979013d48cb9b4ddc307d5
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  it/blogroll.opml
  pt/blogroll.opml
Due: none

pi: github pr link
  content/posts/2026-08-24-pi-statusline-with-github-pr-link.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

bloggify
  content/posts/2026-08-24-bloggify-revisited.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

fix bloggify tag link
  content/posts/2026-08-24-bloggify-revisited.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

deploy: e84d8f2e66495ae9e97e1f1811f02a5c362412a3
  2022/01/advent-of-code/index.html
  2026/08/bloggify-revisited/index.html
  2026/08/bloggify-revisited/index.md
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  index.xml
  it/blogroll.opml
  posts/index.xml
  pt/blogroll.opml
  sitemap.xml
  tags/ai/index.xml
  tags/bloggify/index.xml
  tags/dev/index.xml
  tags/index.xml
  tags/serenity/index.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

android
  content/pt/posts/2013-08-14-9-melhores-apps-para-android-parte-1-kiss.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: c9c512b6d3d0c3d2caa6449cc17d0bad01db78c2
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  it/blogroll.opml
  posts/index.html
  posts/recipes/index.html
  pt/2013/07/links-são-o-terror/index.html
  pt/2013/08/9-melhores-apps-para-android-parte-1-kiss/index.html
  pt/2013/08/9-melhores-apps-para-android-parte-1-kiss/index.md
  pt/2013/08/são-tantas-licenças.../index.html
  pt/blogroll.opml
  pt/posts/2013-07-25-links-sao-o-terror/index.html
  pt/posts/2013-08-14-9-melhores-apps-para-android-parte-1-kiss/index.html
  pt/posts/2013-08-14-9-melhores-apps-para-android-parte-1-kiss/index.md
  pt/posts/2013-08-22-sao-tantas-licencas/index.html
  pt/posts/index.html
  pt/search/index.json
  pt/sitemap.md
  pt/sitemap.xml
  pt/tags/dev/index.html
  pt/tags/index.html
  pt/tags/index.xml
  pt/tags/legacy/index.html
  sitemap.md
  sitemap.xml
  tags/dev/index.html
  tags/index.html
  tags/index.xml
  tags/legacy/index.html
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

misspell
  .pre-commit-config.yaml
  content/posts/2015-02-20-from-orgmode-to-asciidoc-or-ditching-emacs.md
  content/posts/2015-03-02-thoughts-on-instagram.md
  content/posts/2026-01-23-tv-remote-controller.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

deploy: 7075996104bb9183f9f996b9275a04132401cf9e
  2015/02/from-orgmode-to-asciidoc-or-ditching-emacs/index.html
  2015/02/from-orgmode-to-asciidoc-or-ditching-emacs/index.md
  2015/03/thoughts-on-instagram/index.html
  2015/03/thoughts-on-instagram/index.md
  2022/01/advent-of-code/index.html
  2026/01/tv-remote-controller/index.html
  2026/01/tv-remote-controller/index.md
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  it/blogroll.opml
  pt/blogroll.opml
  sitemap.xml
  tags/index.xml
  tags/legacy/index.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

android
  content/pt/posts/2013-09-19-4-melhores-apps-para-android-parte-2-multimidia.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: c9dcae9a550639760678278655128571c5157e6e
  2022/01/advent-of-code/index.html
  blogroll.opml
  en/sitemap.xml
  it/blogroll.opml
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/2013/09/4-melhores-apps-para-android-parte-2-multimídia/index.html
  pt/2013/09/4-melhores-apps-para-android-parte-2-multimídia/index.md
  pt/2013/09/era-uma-vez...kernel-panic-uma-história-de-amor-parte-1.5/index.html
  pt/2013/09/youtube-flash-player-issues-@-firefox-@-linux/index.html
  pt/blogroll.opml
  pt/posts/2013-09-19-4-melhores-apps-para-android-parte-2-multimidia/index.html
  pt/posts/2013-09-19-4-melhores-apps-para-android-parte-2-multimidia/index.md
  pt/posts/2013-09-19-youtube-flash-player-issues-firefox-linux/index.html
  pt/posts/2013-09-27-era-uma-vezkernel-panic-uma-historia-de-amor-parte-1-5/index.html
  pt/posts/index.html
  pt/search/index.json
  pt/sitemap.md
  pt/sitemap.xml
  pt/tags/dev/index.html
  pt/tags/index.html
  pt/tags/index.xml
  pt/tags/legacy/index.html
  sitemap.md
  sitemap.xml
  tags/dev/index.html
  tags/index.html
  tags/index.xml
  tags/legacy/index.html
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

streamline yaml hooks
  .pre-commit-config.yaml
Due: forbid-old-perrotta-dev

deploy: 7d2f05de0bbca31e1b6d6f4ed9de065c3516b7df
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  it/blogroll.opml
  pt/blogroll.opml
Due: none

obmep
  content/pt/posts/2013-11-29-quick-obmep.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: 692402934b70f6dcd5f483e0bbe563b352f93899
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  it/blogroll.opml
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/2013/11/ah-orgulho/index.html
  pt/2013/11/quick-obmep/index.html
  pt/2013/11/quick-obmep/index.md
  pt/2013/12/economizando-um-pouco-de-bateria-no-linux/index.html
  pt/blogroll.opml
  pt/posts/2013-11-21-ah-orgulho/index.html
  pt/posts/2013-11-29-quick-obmep/index.html
  pt/posts/2013-11-29-quick-obmep/index.md
  pt/posts/2013-12-01-economizando-um-pouco-de-bateria-no-linux/index.html
  pt/posts/index.html
  pt/search/index.json
  pt/sitemap.md
  pt/sitemap.xml
  pt/tags/dev/index.html
  pt/tags/index.xml
  pt/tags/legacy/index.html
  pt/tags/serenity/index.html
  pt/tags/serenity/index.xml
  sitemap.md
  sitemap.xml
  tags/dev/index.html
  tags/index.html
  tags/index.xml
  tags/legacy/index.html
  tags/serenity/index.html
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

pre-commit: normalize parenthetical equals
  .pre-commit-config.yaml
  ci/normalize_parenthetical_equals.py
  ci/test_normalize_parenthetical_equals.py
Due: forbid-old-perrotta-dev

deploy: e79d7270ce2fc2dbb4b9275e6bc49499f8c5f395
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  it/blogroll.opml
  pt/blogroll.opml
Due: none

contact
  content/contact.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: 50a1b151a0294d8ce620cf401b2101a2a5accd4d
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  contact/index.html
  contact/index.md
  en/sitemap.xml
  it/blogroll.opml
  pt/blogroll.opml
  sitemap.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

ci: add goodreads_to_reading.py
  ci/goodreads_to_reading.py
  ci/test_goodreads_to_reading.py
Due: none

deploy: 94ac807c95c25226111e2dc46d0232236121b923
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  it/blogroll.opml
  pt/blogroll.opml
Due: none

prepare to add books
  .pre-commit-config.yaml
  Justfile
  ci/goodreads_to_books.py
  ci/test_goodreads_to_books.py
  config/_default/config.yml
  content/books.md
  layouts/_default/books.html
  schemas/books.json
Due: forbid-double-parens-in-shortcodes, forbid-external-images, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

more books
  ci/goodreads_to_books.py
  ci/test_goodreads_to_books.py
  layouts/_default/books.html
  schemas/books.json
Due: forbid-external-images

books: add fiction favorites
  data/books.yaml
Due: forbid-old-perrotta-dev

categories
  layouts/_default/books.html
Due: forbid-external-images

fix broken link
  layouts/_default/books.html
Due: forbid-external-images

deploy: b3fc6942eca33ea16413f98f95dc7bd0309b7531
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  books/index.html
  it/blogroll.opml
  pt/blogroll.opml
Due: none

remove some books
  data/books.yaml
Due: forbid-old-perrotta-dev

deploy: e0dd4ce6618247b93c9bde1b7db53539ef6e502d
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  books/index.html
  it/blogroll.opml
  pt/blogroll.opml
Due: none

tweaks
  layouts/_default/books.html
Due: forbid-external-images

deploy: 24d74dc59f53a2533ec3ba0763335a947a97f400
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  books/index.html
  it/blogroll.opml
  pt/blogroll.opml
Due: none

tweaks
  data/books.yaml
Due: forbid-old-perrotta-dev

deploy: 0ee7fba9e17a6199975dce901ccace7ecaa35092
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  books/index.html
  it/blogroll.opml
  pt/blogroll.opml
Due: none

deploy: 293e6595d7683b5b612cef20f470087f09d9342e
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  books/index.html
  it/blogroll.opml
  pt/blogroll.opml
Due: none

tweaks
  ci/goodreads_to_books.py
  ci/test_goodreads_to_books.py
  data/books.yaml
  layouts/_default/books.html
  schemas/books.json
Due: forbid-external-images, forbid-old-perrotta-dev

flatland
  data/books.yaml
Due: forbid-old-perrotta-dev

Path conditions:
  check-broken-internal-links: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  check-coding-titles: any of: ^content/posts/.*(leetcode|bytebytego).*\.md$ and \.(md|markdown|mdown)$ and not (^content/posts/2025-12-30-kagi-add-leetcode-bang.md$) and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  check-duplicate-coding: any of: ^content/posts/.*(leetcode|bytebytego).*\.md$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  check-required-frontmatter: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (_index\.md$) and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  check-single-category: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  forbid-double-more: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  forbid-double-parens-in-shortcodes: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-external-images: any of: ^layouts/.*\.html$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-md-extension-in-hugo-internal-links: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-old-perrotta-dev: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$ and not (^(content/posts/2024-02-04-new-domain.md|content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md)$) and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  forbid-personal-emails: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-tulip: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-utm-analytics: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  replace-em-dashes: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  replace-shell-prompt: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  sort-blog-tags: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  strip-content-posts-prefix: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
