Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-coding-titles, check-duplicate-leetcode, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

Path conditions:
  check-coding-titles: any of: ^content/posts/.*(leetcode|bytebytego).*\.md$ and \.(md|markdown|mdown)$ and not (^content/posts/2025-12-30-kagi-add-leetcode-bang.md$) and not (^(layouts/partials/openring.html$|schemas|vendor)/)
  check-duplicate-leetcode: any of: ^content/posts/.*leetcode.*\.md$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
  forbid-md-extension-in-hugo-internal-links: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
  forbid-old-perrotta-dev: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$ and not (^(content/posts/2024-02-04-new-domain.md|content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md)$) and not (^(layouts/partials/openring.html$|schemas|vendor)/)
  forbid-personal-emails: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
  forbid-tulip: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
  forbid-utm-analytics: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/

deploy: fe8629552e8e4e219e4eaab880ad451da64965f5
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  en/sitemap.xml
  pt/blogroll.opml
  random/index.html
  random/index.md
  sitemap.xml
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

add emojis to Tags and Random menu items
  config/_default/config.yml
Due: forbid-old-perrotta-dev

no coding posts in random
  layouts/_default/random.html
Due: none

deploy: 4b0260a8c5bc1017c7d2fdbda079637df3d79aa1
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  pt/blogroll.opml
  random/index.html
Due: none

random
  content/posts/2026-01-16-random.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

serendipity
  content/posts/2026-01-16-random.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: f73fc967e8f9b0cf2b278b95e7f63ead0d111519
  2026/01/random/index.html
  2026/01/random/index.md
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  en/sitemap.xml
  index.xml
  posts/index.xml
  pt/blogroll.opml
  sitemap.xml
  tags/dev/index.xml
  tags/index.xml
  tags/meta/index.xml
  tags/serenity/index.xml
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

add backlinks
  layouts/_default/single.html
  layouts/partials/backlinks.html
Due: none

decrease jwz limit to 5
  config/_default/config.yml
Due: forbid-old-perrotta-dev

hide backlinks in fullscreen mode
  layouts/partials/style.html
Due: none

add graph
  content/graph.md
  layouts/_default/graph.html
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 475b11d55b10205a468bb3c1b602cb83816140b5
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  en/sitemap.xml
  graph/index.html
  graph/index.md
  pt/blogroll.opml
  sitemap.xml
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

add graph to nav menu
  config/_default/config.yml
Due: forbid-old-perrotta-dev

add emoji to categories nav item
  config/_default/config.yml
Due: forbid-old-perrotta-dev

add emoji to coding nav item
  config/_default/config.yml
Due: forbid-old-perrotta-dev

convert plans to ADRs
  docs/adrs/0001-commentary-category.md
  docs/adrs/0002-performance-improvements.md
  docs/adrs/0003-dom-optimization.md
  docs/adrs/0004-microformats-validation.md
  docs/adrs/0005-webmention-support.md
  docs/adrs/README.md
  plans/2025_01_04_COMMENTARY_CATEGORY_SETUP.md
  plans/2026_01_01_CATEGORY_MIGRATION.md
  plans/2026_01_01_DOM_OPTIMIZATION.md
  plans/2026_01_01_MICROFORMATS_VALIDATION.md
  plans/2026_01_01_PERFORMANCE_IMPROVEMENTS.md
  plans/2026_01_01_WEBMENTION_SUPPORT.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 19eb979f9556135027eacd7093558a5899cdfec0
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  pt/blogroll.opml
Due: none

leetcode
  content/posts/coding/2026-01-17-leetcode-288-unique-word-abbreviation.md
Due: check-coding-titles, check-duplicate-leetcode, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

leetcode
  content/posts/coding/2026-01-18-leetcode-380-insert-delete-getrandom-o(1).md
Due: check-coding-titles, check-duplicate-leetcode, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

fix solution
  content/posts/coding/2026-01-18-leetcode-380-insert-delete-getrandom-o(1).md
Due: check-coding-titles, check-duplicate-leetcode, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

tweak
  content/posts/coding/2026-01-18-leetcode-380-insert-delete-getrandom-o(1).md
Due: check-coding-titles, check-duplicate-leetcode, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 8855cdb116fd64d1c3a5fe0645b3e716b52da64e
  2026/01/leetcode-#380-insert-delete-getrandom-o1/index.html
  2026/01/leetcode-#380-insert-delete-getrandom-o1/index.md
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  categories/coding/index.xml
  categories/index.xml
  en/sitemap.xml
  pt/blogroll.opml
  sitemap.xml
  tags/dev/index.xml
  tags/index.xml
  tags/leetcode/index.xml
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

leetcode
  content/posts/coding/2026-01-18-leetcode-1047-remove-all-adjacent-duplicates-in-string.md
Due: check-coding-titles, check-duplicate-leetcode, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

raspberries
  content/posts/2024-10-13-new-series-raspberry-pi-fun-with-devops.md
  content/posts/2026-01-17-new-series--raspberry-pi-fun-with-devops-redux.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 58614f4175017efd0a1d5d4c00f223a87a421cc8
  2024/10/new-series-raspberry-pi-fun-with-devops/index.html
  2024/10/new-series-raspberry-pi-fun-with-devops/index.md
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  en/sitemap.xml
  pt/blogroll.opml
  sitemap.xml
  tags/alpine-linux/index.xml
  tags/index.xml
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

fix graph color
  layouts/_default/graph.html
Due: none

fix: use correct CSS variable for graph label stroke in dark theme
  .talismanrc
  layouts/_default/graph.html
  static/d3.v7.min.js
Due: none

fix: use theme-aware node stroke color in graph
  layouts/_default/graph.html
Due: none

refactor: move vendored d3.js to static/vendor/
  .pre-commit-config.yaml
  .talismanrc
  Justfile
  layouts/_default/graph.html
  static/d3.v7.min.js
  static/vendor/d3.v7.min.js
Due: forbid-old-perrotta-dev

deploy: 0e56f4d27785be185f4ffd02d22b867f2e9cb2e4
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  graph/index.html
  pt/blogroll.opml
  vendor/d3.v7.min.js
Due: none

refactor: move third-party badge images to static/vendor/
  layouts/_default/baseof.html
  static/vendor/cc-by-nc-sa-4.0-88x31.webp
  static/vendor/cookiezero.webp
  static/vendor/green-team.webp
  static/vendor/html5-validator-badge.webp
  static/vendor/indieweb88x31-flat.webp
  static/vendor/powrss-88-31.webp
  static/vendor/valid-rss-rogers.webp
  static/vendor/vim.webp
Due: none
