Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbid-utm-analytics, forbid-www-perrotta-dev

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
# Install pre-commit itself:
#   $ pip install pre-commit
#     OR
#   $ brew install pre-commit
#
# Update all pre-commit hooks to latest version:
#   $ pre-commit autoupdate
#
# Install all default pre-commit hooks locally:
#   $ pre-commit install
#
# Apply a given pre-commit hook to all files:
#   $ pre-commit run --all-files <id>
#
# Apply all pre-commit hooks to all files:
#   $ pre-commit run --all-files
repos:
  # keep-sorted start
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        exclude: ^(content/posts/(2014|2015|2016)|content/posts/2024-07-09-kubectl-get-secret-with-jsonpath-add-newline.md|content/posts/2024-06-27-a-little.md|content/posts/2024-12-22-new-post-workflow.md)
        args:
          # keep-sorted start
          - -L=DeVault
          - -L=als
          - -L=ist
          - -L=sive
          # keep-sorted end
  - repo: https://github.com/google/keep-sorted
    rev: v0.5.1
    hooks:
      - id: keep-sorted
  - repo: https://github.com/google/yamlfmt
    rev: v0.14.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # keep-sorted start
      - id: check-executables-have-shebangs
      - id: check-symlinks
      - id: check-yaml
      - id: detect-private-key
      - id: pretty-format-json
        args:
          - --autofix
          - --no-sort-keys
      - id: sort-simple-yaml
      - id: trailing-whitespace
        # keep-sorted end
  - repo: https://github.com/shssoichiro/oxipng
    rev: v9.1.3
    hooks:
      - id: oxipng
  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.8
    hooks:
      - id: fix-ligatures
      - id: fix-smartquotes
  - repo: local
    hooks:
      - id: forbid-utm-analytics
        name: Forbid usage of UTM analytics / tracking
        entry: '\b(utm_source)\b'
        language: pygrep
        types:
          - markdown
      - id: forbid-www-perrotta-dev
        name: Forbid usage of previous domains
        entry: '\b(thiagowfx\.github\.io|www\.perrotta\.dev)\b'
        language: pygrep
        types_or:
          - markdown
          - yaml
        exclude: ^(README\.md|\.pre-commit-config\.yaml|content/posts/2024-02-04-new-domain.md|content/posts/2022-02-18-hugo-compose-or-edit-blog-posts-from-the-web.md|content/posts/2022-10-09-do-i-still-remember-how-to-blog.md)$
# keep-sorted end

deploy: b05df39073ac042f130ac02fa59c9dcbc9241739
  2024/12/optimize-images/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/selfhosted/index.html
  tags/selfhosted/index.xml
Due: none

new post: optimize images
  content/posts/2024-12-28-optimize-images.md
Due: forbid-utm-analytics, forbid-www-perrotta-dev

deploy: 677981e41ec3d29cd24f4e17412dcc4d238c3869
  index.html
Due: none

new post: ghostty
  content/posts/2024-12-28-ghostty.md
Due: forbid-utm-analytics, forbid-www-perrotta-dev

deploy: 873863c049bb2dd01063815913a978bf9c4cce4d
  2024/12/ghostty/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none

deploy: f70bc7c876d988320084d8e57ed1206b4689238f
  2024/12/miniflux-global-blocklist/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/selfhosted/index.html
  tags/selfhosted/index.xml
Due: none

new post: miniflux: global blocklist
  content/posts/2024-12-28-miniflux-global-blocklist.md
Due: forbid-utm-analytics, forbid-www-perrotta-dev

deploy: 0dcc8dd051ea67b847f20ef7cb836f7ae0677a1b
  2024/12/miniflux-global-blocklist/index.html
  index.xml
  posts/index.xml
  tags/dev/index.xml
  tags/selfhosted/index.xml
Due: none

tricorder
  content/posts/2024-12-26-keep-sorted.md
Due: forbid-utm-analytics, forbid-www-perrotta-dev

deploy: 965c793c756193c878509970fa88b023139216e6
  2024/12/keep-sorted/index.html
  index.xml
  posts/index.xml
  tags/bestof/index.xml
  tags/dev/index.xml
Due: none

Update 2024-12-28-miniflux-global-blocklist.md
  content/posts/2024-12-28-miniflux-global-blocklist.md
Due: forbid-utm-analytics, forbid-www-perrotta-dev

deploy: 167b145542260848ce3d98db65557b704e759acb
  2024/12/miniflux-global-blocklist/index.html
  index.xml
  posts/index.xml
  tags/dev/index.xml
  tags/selfhosted/index.xml
Due: none

pin all gha
  .github/workflows/gh-pages.yml
  .pre-commit-config.yaml
Due: forbid-www-perrotta-dev

deploy: d990630677c807fb29861c8fcae768048328168b
  2024/12/pin-all-github-actions/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none

new post: pin all gha
  content/posts/2024-12-28-pin-all-github-actions.md
Due: forbid-utm-analytics, forbid-www-perrotta-dev

deploy: 69a0d9ab0be871f0c0ac4f56933c44b222d7e086
  2024/12/pin-all-github-actions/index.html
  index.xml
  posts/index.xml
  tags/dev/index.xml
Due: none

best posts
  layouts/_default/list.html
Due: none

deploy: d56e31360ff99cfe803785e5c830bebd93af8add
  tags/bestof/index.html
Due: none

s/rust/zig
  content/posts/2024-12-28-ghostty.md
Due: forbid-utm-analytics, forbid-www-perrotta-dev

deploy: fcd6acbb557bce17686f5032fe0394cebed7f002
  2024/12/ghostty/index.html
  index.xml
  posts/index.xml
  tags/dev/index.xml
Due: none

new post: amazon guardrails
  content/posts/2024-12-28-amazon-guardrails.md
Due: forbid-utm-analytics, forbid-www-perrotta-dev

deploy: 2d5b16892e3ec0413135b58d42c53ce13fbf0ed4
  2024/12/amazon-guardrails/index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/privacy/index.html
  tags/privacy/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

add ghostty workaround
  content/posts/2024-12-28-ghostty.md
Due: forbid-utm-analytics, forbid-www-perrotta-dev

deploy: ee93790422dec37654b28c1211c30699a75b7dac
  2024/12/ghostty/index.html
Due: none

add email icon
  content/_index.md
Due: forbid-utm-analytics, forbid-www-perrotta-dev

deploy: 9d2f07690d28548fe0d548d148c70a42446e4b59
  index.html
Due: none

fix canonical url
  layouts/_default/baseof.html
Due: none

new post: AI usage
  content/posts/2024-12-29-ai-usage.md
Due: forbid-utm-analytics, forbid-www-perrotta-dev

deploy: 061dd2174a0420306b3cedf9ecdbfbeeef667036
  2024/12/ai-usage/index.html
  ai/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/meta/index.html
  tags/meta/index.xml
Due: none

ghostty gripes
  content/posts/2024-12-28-ghostty.md
Due: forbid-utm-analytics, forbid-www-perrotta-dev

deploy: f4b009123746d15c92337c1a594b011073e9451b
  2024/12/ghostty/index.html
Due: none

incorporate pre-commit-ci/lite-action
  .github/workflows/pre-commit.yml
Due: forbid-www-perrotta-dev

add per-tag rss
  layouts/_default/list.html
Due: none

deploy: 6c6a1ec235257ef8aed135d5745b3fa90dfbe3f3
  posts/index.html
  tags/aoc/index.html
  tags/bestof/index.html
  tags/dev/index.html
  tags/linux/index.html
  tags/macos/index.html
  tags/meta/index.html
  tags/portuguese/index.html
  tags/privacy/index.html
  tags/selfhosted/index.html
  tags/serenity/index.html
Due: none

deploy: d3b65c00c9ac9b1a4e44de55085aa905091c817d
  2024/12/cooking/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

new post: cooking
  content/posts/2024-12-29-cooking.md
Due: forbid-utm-analytics, forbid-www-perrotta-dev
