Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

forbid-md-extension-in-hugo-internal-links:
  name: Forbid .md extension in hugo internal links
  entry: .*\.md\" >\}\}
  language: pygrep

forbid-old-perrotta-dev:
  name: Forbid old domains
  entry: \\b(https://thiagowfx\.github\.io|www\.perrotta\.dev|blog\.perrotta\.dev)\\b
  language: pygrep

forbid-personal-emails:
  name: Forbid personal emails
  entry: (@perrotta.dev|tbperrotta@gmail.com)
  language: pygrep

forbid-tulip:
  name: Forbid Tulip terms
  entry: (?i)(\btulip\b|@garden)
  language: pygrep

forbid-utm-analytics:
  name: Forbid UTM analytics / tracking
  entry: \\b(utm_source)\\b
  language: pygrep

deploy: f80de4a58d2c4f8582bd9511685ac8f75efce658
  2025/11/bytebytego-dutch-national-flag/index.html
  404.html
  blogroll.opml
  posts/index.html
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

ci: validate bytebytego titles
  .pre-commit-config.yaml
  ci/check_post_titles.py
Due: forbid-old-perrotta-dev

deploy: 49f57d39f559fec628a537c68331c4b8f43a0ffc
  blogroll.opml
  tags/coding/index.html
Due: none

more dutch
  content/posts/2025-11-26-bytebytego-dutch-national-flag.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 3985604d69f444d30af6dd7d60bf65354a786cf5
  2025/11/bytebytego-dutch-national-flag/index.html
  blogroll.opml
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

revert 32-bit int
  content/posts/2025-11-26-bytebytego-reverse-32-bit-integer.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 5454f336090c93c5a611868da4e2a749946b81fe
  2025/11/bytebytego-reverse-32-bit-integer/index.html
  404.html
  blogroll.opml
  posts/index.html
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

refine
  content/posts/2025-11-26-bytebytego-reverse-32-bit-integer.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 22fd8aa6d0ce7abc186877d164c9c46af5cc6d78
  2025/11/bytebytego-reverse-32-bit-integer/index.html
  blogroll.opml
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

new post: kth largest integer
  content/posts/2025-11-26-bytebytego-kth-largest-integer.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 5312b665b0c1976161085ce3c3b77b92c05fb6de
  2025/11/bytebytego-kth-largest-integer/index.html
  404.html
  blogroll.opml
  posts/index.html
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

matrix pathways
  content/posts/2025-11-26-bytebytego-matrix-pathways.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: e39b80bc4efc67bf299ea4185aa6b67e0f14ac19
  2025/11/bytebytego-matrix-pathways/index.html
  404.html
  blogroll.opml
  posts/index.html
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

amend
  content/posts/2024-01-12-python-all-hail-to-cache-memoization.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 9f6f16fda1fee5251c2b8d0a798797b80b045bd0
  2024/01/python-all-hail-to-cache-memoization/index.html
  blogroll.opml
  sitemap.xml
  tags/coding/index.html
  tags/dev/index.html
Due: none

lazy commit
  Justfile
  content/posts/2025-11-26-bytebytego-neighborhood-burglary.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: ea78933497b872a289588da0c2cb1758e8d5ec15
  2025/11/bytebytego-neighborhood-burglary/index.html
  404.html
  blogroll.opml
  posts/index.html
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

lazy commit
  content/posts/2025-11-26-bytebytego-0/1-knapsack.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: bec590e5595e177c49b3e01025216050586cd900
  2025/11/bytebytego-0/1-knapsack/index.html
  404.html
  blogroll.opml
  posts/index.html
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

new post: ghostty quick terminal
  content/posts/2025-11-27-ghostty-quick-terminal.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 06225023a0534569d41d7795fa2530d3322e8086
  2025/11/ghostty-quick-terminal/index.html
  404.html
  blogroll.opml
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
Due: none

amend
  content/posts/2025-11-27-ghostty-quick-terminal.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 0adfd395671af2d2008c2270043e348f38854d1a
  2025/11/ghostty-quick-terminal/index.html
  blogroll.opml
  index.xml
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
Due: none

lazy commit
  content/posts/2025-11-27-bytebytego-maximum-subarray-sum.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: b69a99a7896d189f8d4b20acfb049c3f8777007f
  2025/11/bytebytego-maximum-subarray-sum/index.html
  404.html
  blogroll.opml
  posts/index.html
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

new post: lonely integer
  content/posts/2025-11-27-bytebytego-lonely-integer.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

reduce
  content/posts/2025-11-27-bytebytego-lonely-integer.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 13abf2a61fb2cf4dfb31baa1e580e0323c26cfea
  2025/11/bytebytego-lonely-integer/index.html
  404.html
  blogroll.opml
  posts/index.html
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

odd
  content/posts/2025-11-27-bytebytego-swap-odd-and-even-bits.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 5f71459f1cd0dac59ebc3c92d6b42bd474b7cbc2
  2025/11/bytebytego-swap-odd-and-even-bits/index.html
  404.html
  blogroll.opml
  posts/index.html
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

new post: hammer heights
  content/posts/2025-11-27-bytebytego-hamming-weights-of-integers.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 0b728dccffd4df37f8fc647678f16715f1161a1d
  2025/11/bytebytego-hamming-weights-of-integers/index.html
  404.html
  blogroll.opml
  posts/index.html
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

new post: github label
  content/posts/2025-11-27-github-labels-vs-merge-when-ready.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: bfcfc29ad2be6d8ab3537fd078337fbc2304cddf
  2025/11/github-labels-vs-merge-when-ready/index.html
  404.html
  blogroll.opml
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
Due: none

cognates
  content/posts/2025-11-27-github-labels-vs-merge-when-ready.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: b52a9f7eecbda36ae9540d527adba087707fc2b5
  2025/11/github-labels-vs-merge-when-ready/index.html
  blogroll.opml
  index.xml
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
Due: none

Update blogroll.md
  content/blogroll.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: b708c997334ac7181f49689c3b269e392e0a717b
  blogroll.opml
  blogroll/index.html
  index.xml
  sitemap.xml
  tags/coding/index.html
Due: none

git: prune stale branches
  content/posts/2025-11-27-git-prune-stale-branches.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: cf98f04b3458346f48e6346adbd9ea189c47e1c3
  2025/11/git-prune-stale-branches/index.html
  404.html
  blogroll.opml
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/bestof/index.html
  tags/bestof/index.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
Due: none

Path conditions:
  forbid-md-extension-in-hugo-internal-links: any of: \.(md|markdown|mdown)$, but not: ^(schemas|vendor)/
  forbid-old-perrotta-dev: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$ and not (^(content/posts/2024-02-04-new-domain.md|content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md)$) and not (^(schemas|vendor)/)
  forbid-personal-emails: any of: \.(md|markdown|mdown)$, but not: ^(schemas|vendor)/
  forbid-tulip: any of: \.(md|markdown|mdown)$, but not: ^(schemas|vendor)/
  forbid-utm-analytics: any of: \.(md|markdown|mdown)$, but not: ^(schemas|vendor)/
