Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

forbid-md-extension-in-hugo-internal-links:
  name: Forbid .md extension in hugo internal links
  entry: .*\.md\" >\}\}
  language: pygrep

forbid-old-perrotta-dev:
  name: Forbid old domains
  entry: \\b(https://thiagowfx\.github\.io|www\.perrotta\.dev|blog\.perrotta\.dev)\\b
  language: pygrep

forbid-personal-emails:
  name: Forbid personal emails
  entry: (@perrotta.dev|tbperrotta@gmail.com)
  language: pygrep

forbid-tulip:
  name: Forbid Tulip terms
  entry: (?i)(\btulip\b|@garden)
  language: pygrep

forbid-utm-analytics:
  name: Forbid UTM analytics / tracking
  entry: \\b(utm_source)\\b
  language: pygrep

font sizes
  layouts/partials/style.html
Due: none

refactor
  layouts/partials/style.html
Due: none

vertical space
  layouts/partials/style.html
Due: none

fingerprinting
  content/posts/2025-11-30-chrome-->-orion.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: fc429c01ccf4dfb66d48beeecf2d9e76f46dac64
  2025/11/chrome-orion/index.html
  blogroll.opml
  index.xml
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
Due: none

refactor theme toggle
  layouts/_default/baseof.html
  layouts/partials/style.html
  static/theme.css
Due: none

refactor: improve dark mode implementation
  layouts/_default/baseof.html
  static/theme.css
Due: none

myrepos chaining
  content/posts/2025-12-22-myrepos-chain-configs.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 36f13052de65a0ef9edde81aa9646b44eecebaea
  2024/12/digital-mending-circle/index.html
  2024/12/link-blogs/index.html
  2024/12/new-post-workflow/index.html
  2024/12/online-diff-tool/index.html
  2024/12/stylometry/index.html
  2025/12/git-stash-untracked-files/index.html
  2025/12/myrepos-chain-configs/index.html
  404.html
  blogroll.opml
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
Due: none

canary token
  content/posts/2025-11-30-canary-tokens.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 57c6b1bbb7a319531f6770b63c106acc2de9b3d1
  2024/12/anki-workflow/index.html
  2025/11/canary-tokens/index.html
  blogroll.opml
  index.xml
  posts/index.xml
  sitemap.xml
  tags/bestof/index.html
  tags/bestof/index.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
  tags/privacy/index.html
  tags/privacy/index.xml
Due: none

koreader dicts
  content/posts/2025-12-23-kindle-koreader-dictionaries.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: bcf02735b2ef655ef9422ec5bd2e0684c95057d6
  2025/12/kindle-koreader-dictionaries/index.html
  2025/12/myrepos-chain-configs/index.html
  404.html
  blogroll.opml
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

Revert "hide codeblock header in RSS feeds"
  layouts/_default/_markup/render-codeblock.html
  layouts/_default/rss.xml
Due: none

pi
  content/posts/2025-12-23-pi.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 193cbb3ac4b4a607eb7a25818d1673a85c792c0c
  2025/12/kindle-koreader-dictionaries/index.html
  2025/12/pi/index.html
  404.html
  blogroll.opml
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/bestof/index.html
  tags/bestof/index.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

macos keyboard repeat
  content/posts/2025-12-23-macos-keyboard-repeat.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 7545099cdaf5832478e63a9036d9c6c8438db86c
  2025/12/macos-keyboard-repeat/index.html
  2025/12/pi/index.html
  404.html
  blogroll.opml
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
Due: none

atuin
  content/posts/2025-12-23-atuin-limit-scope-to-current-directory.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 8f0976eb0760b663cf7b6c0385d83424fff3abc9
  2025/12/atuin-limit-scope-to-current-directory/index.html
  2025/12/macos-keyboard-repeat/index.html
  404.html
  blogroll.opml
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
Due: none

nvim
  content/posts/2025-12-23-vim-nvim.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: e44960c180fd8c55955921b8e26b06959e4e8b24
  2025/12/atuin-limit-scope-to-current-directory/index.html
  2025/12/vim-nvim/index.html
  404.html
  blogroll.opml
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/bestof/index.html
  tags/bestof/index.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
Due: none

add og maciel to friends
  data/blogroll.yaml
Due: forbid-old-perrotta-dev

deploy: ed364de3b2f1bacf7b218f4e3cdb0fb917c196ee
  2024/12/reply-to-introduce-yourself-to-your-remote-team/index.html
  2024/12/unbuffer/index.html
  blogroll.opml
  blogroll/index.html
  tags/coding/index.html
Due: none

Correct capitalization of 'Og Maciel' entry
  data/blogroll.yaml
Due: forbid-old-perrotta-dev

deploy: 34be7b93ff09f5acbb034048764fb4d92ca150b5
  2024/12/running-multiple-servers-in-a-single-bash-script/index.html
  blogroll.opml
  blogroll/index.html
  tags/coding/index.html
Due: none

h-index
  content/posts/2025-12-24-leetcode-274-h-index.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 864291e8d5e38251ebf0ded8c2689654f5f2e3e4
  2024/12/just-make-justfile-self-contained/index.html
  2025/12/leetcode-#257-binary-tree-paths/index.html
  2025/12/leetcode-#274-h-index/index.html
  404.html
  blogroll.opml
  posts/index.html
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

restore ip addresses
  content/posts/2025-12-24-leetcode-93-restore-ip-addresses.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 6f280f02950b285b66500caf2382a37e48f92088
  2025/12/leetcode-#274-h-index/index.html
  2025/12/leetcode-#93-restore-ip-addresses/index.html
  404.html
  blogroll.opml
  posts/index.html
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

inorder traversal
  content/posts/2025-12-24-leetcode-94-binary-tree-inorder-traversal.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: d41097354a7099befa3de2eef6ecccd27ecad875
  2025/12/leetcode-#93-restore-ip-addresses/index.html
  2025/12/leetcode-#94-binary-tree-inorder-traversal/index.html
  404.html
  blogroll.opml
  posts/index.html
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

same tree
  content/posts/2025-12-24-leetcode-100-same-tree.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: d3091fde016709e0d63cbe83ea428c5bcba56e53
  2025/12/leetcode-#100-same-tree/index.html
  2025/12/leetcode-#94-binary-tree-inorder-traversal/index.html
  404.html
  blogroll.opml
  posts/index.html
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

leetcode 112
  content/posts/2025-12-24-leetcode-112-path-sum.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

Path conditions:
  forbid-md-extension-in-hugo-internal-links: any of: \.(md|markdown|mdown)$, but not: ^(schemas|vendor)/
  forbid-old-perrotta-dev: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$ and not (^(content/posts/2024-02-04-new-domain.md|content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md)$) and not (^(schemas|vendor)/)
  forbid-personal-emails: any of: \.(md|markdown|mdown)$, but not: ^(schemas|vendor)/
  forbid-tulip: any of: \.(md|markdown|mdown)$, but not: ^(schemas|vendor)/
  forbid-utm-analytics: any of: \.(md|markdown|mdown)$, but not: ^(schemas|vendor)/
