Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

Path conditions:
  forbid-md-extension-in-hugo-internal-links: any of: \.(md|markdown|mdown)$, but not: ^(schemas|vendor)/
  forbid-old-perrotta-dev: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$ and not (^(content/posts/2024-02-04-new-domain.md|content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md)$) and not (^(schemas|vendor)/)
  forbid-personal-emails: any of: \.(md|markdown|mdown)$, but not: ^(schemas|vendor)/
  forbid-tulip: any of: \.(md|markdown|mdown)$, but not: ^(schemas|vendor)/
  forbid-utm-analytics: any of: \.(md|markdown|mdown)$, but not: ^(schemas|vendor)/

talisman: exempt gists
  .talismanrc
Due: none

deploy: 46f800b9f29f0442f79bae0423486f49fd3be72b
  tags/coding/index.html
Due: none

new hook: check-bash-shebang
  content/posts/2025-11-16-new-pre-commit-hook-check-bash-shebang.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 40ac910426507177785e35f0fadc7e79443e82a9
  2025/11/new-pre-commit-hook-check-bash-shebang/index.html
  404.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
Due: none

small amendment
  content/posts/2025-11-16-new-pre-commit-hook-check-bash-shebang.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: c1797119b378c96a4fa7a95d3427a5582454d7ad
  2025/11/new-pre-commit-hook-check-bash-shebang/index.html
  index.xml
  posts/index.xml
  tags/coding/index.html
  tags/dev/index.xml
Due: none

case
  content/posts/2025-11-16-bash-shebang.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 4aa4e0947865437ca0f9f11bbfa5132a222fc126
  2025/11/bash-shebang-/index.html
  404.html
  index.xml
  posts/index.html
  posts/index.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
Due: none

new post: tf: update outputs only
  content/posts/2025-11-17-terraform-update-outputs-only.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 457227036fad9733bbba0d1f81f7c0c2b6f78862
  2025/11/terraform-update-outputs-only/index.html
  404.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
Due: none

gemini
  .talismanrc
  content/posts/2025-11-17-google-gemini-read-claude.md-or-agents.md.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

update talisman
  .talismanrc
Due: none

deploy: 4e05a74bdd2126f3effca9f3a6b343ca3542f3fd
  2025/11/google-gemini-read-claude.md-or-agents.md/index.html
  404.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
Due: none

amend
  content/posts/2025-11-17-google-gemini-read-claude.md-or-agents.md.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 1c3629b250ee274bab07e043b05f684bbdfeaf30
  2025/11/google-gemini-read-claude.md-or-agents.md/index.html
  index.xml
  posts/index.xml
  tags/coding/index.html
  tags/dev/index.xml
Due: none

add llms.txt
  config.yml
  layouts/_default/home.llms.txt
Due: forbid-old-perrotta-dev

deploy: e77dcae7496fc9dd875ae84c377d4f0487e63335
  llms.txt
  tags/coding/index.html
Due: none

new post: terraformer
  content/posts/2025-11-19-terraformer.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: ee2b3e493c1a254a1036f7f84345e1b5e7856eef
  2025/11/terraformer/index.html
  404.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
Due: none

new post: flock
  content/posts/2025-11-20-flock.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 038585ea9655182aae6c32e35d75b07e4065c6b0
  2025/11/flock/index.html
  404.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
Due: none

new post: realpath
  content/posts/2025-11-20-realpath.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: a870b7daefece1aa93c501f8dd88186edbb7085d
  2025/11/realpath/index.html
  404.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
Due: none

new post: stress
  content/posts/2025-11-21-stress.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 3eec2cff92188ae41e853173afad61093d0c3b61
  2025/11/stress/index.html
  404.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
  tags/selfhosted/index.html
  tags/selfhosted/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

just: add last
  Justfile
Due: none

deploy: 9fac587c257da57a9abb37e4ea1d7b2502ba51d2
  tags/coding/index.html
Due: none

new post: just last
  content/posts/2025-11-21-open-most-recent-blog-post.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: dae35db8366f2b8eb0357f89462814b1b52c8759
  2025/11/open-the-most-recent-blog-post/index.html
  404.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
  tags/selfhosted/index.html
  tags/selfhosted/index.xml
Due: none

chore: optimize robots.txt
  layouts/robots.txt
Due: none

Enable git info and lastmod tracking
  config.yml
  layouts/_default/single.html
Due: forbid-old-perrotta-dev

deploy: 03892646a8ca386c0d8e0a4ac77f4b74f1182d8a
  robots.txt
  tags/coding/index.html
Due: none

Fetch full git history for Hugo git info
  .github/workflows/gh-pages.yml
Due: forbid-old-perrotta-dev

new post: logitech mx master 2s
  content/posts/2025-11-22-logitech-mx-master-2s.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 950fe8c3b5920c253287179f3c13ef3d2f3fe1b5
  2025/11/logitech-mx-master-2s/index.html
  404.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
Due: none

add bytebytego 1
  content/posts/2025-11-22-bytebytego-1.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: d9270180e79cc69903d9ad5a0e36f11633b83d38
  2025/11/bytebytego-#1-pair-sum-sorted/index.html
  404.html
  posts/index.html
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

prepare to add bytebytego
  Justfile
  content/posts/2025-09-06-leetcoding.md
  layouts/_default/list.html
  static/coding-chart.js
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics
