Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

forbid-md-extension-in-hugo-internal-links:
  name: Forbid usage of .md extension in hugo internal links
  entry: .*\.md\" >\}\}
  language: pygrep

forbid-old-perrotta-dev:
  name: Forbid usage of previous domains
  entry: \b(https://thiagowfx\.github\.io|www\.perrotta\.dev|blog\.perrotta\.dev)\b
  language: pygrep

forbid-personal-emails:
  name: Forbid usage of my personal emails
  entry: tbperrotta@gmail.com
  language: pygrep

forbid-tulip:
  name: Forbid usage of Tulip
  entry: tulip
  language: pygrep

forbid-utm-analytics:
  name: Forbid usage of UTM analytics / tracking
  entry: \b(utm_source)\b
  language: pygrep

deploy: bad58e71cecb289b4579c5981507ebdb91fe8e17
  2025/09/github-stale-bot-considered-harmful/index.html
  404.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/bestof/index.html
  tags/bestof/index.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

tweak
  content/posts/2025-09-16-github-stale-bot-considered-harmful.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 383bdf384cdbfb2f2acac0250dde6c3455d73f1e
  2025/09/github-stale-bot-considered-harmful/index.html
  index.xml
  posts/index.xml
  tags/bestof/index.xml
  tags/coding/index.html
  tags/dev/index.xml
  tags/serenity/index.xml
Due: none

lcp
  content/posts/2025-09-16-leetcode-14-longest-common-prefix.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 7bfccfa7e4e45807bc2df4ba3c2f85aba573a7ef
  2025/09/leetcode-#14-longest-common-prefix/index.html
  404.html
  index.html
  posts/index.html
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

haystack
  content/posts/2025-09-17-leetcode-28-find-the-index-of-the-first-occurrence-in-a-string.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: c7a016382c7b164da15a48573966448ace83536a
  2025/09/leetcode-#28-find-the-index-of-the-first-occurrence-in-a-string/index.html
  404.html
  index.html
  posts/index.html
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

cache
  content/posts/2025-09-07-leetcode-45-jump-game-ii.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: e7a966c4a5368c5f98ef43de2d21137a89b7eae2
  2025/09/leetcode-#45-jump-game-ii/index.html
  tags/coding/index.html
  tags/coding/index.xml
Due: none

last word
  content/posts/2025-09-17-leetcode-58-length-of-last-word.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: bb9f9a4f07fed2d966c29fec5a80b2b0377a6fcf
  2025/09/leetcode-#58-length-of-last-word/index.html
  404.html
  index.html
  posts/index.html
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

add roles
  content/posts/2025-03-13-aws-iam.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 61f8eeebd094dd0875dc87a47fc023470d65a2e1
  2025/03/aws-iam-resources/index.html
  tags/bestof/index.xml
  tags/coding/index.html
Due: none

xyproblem
  content/posts/2024-06-23-xyproblem.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 48aa1e825984e2ebb3bb61a227efec6fd31dcdf4
  2024/06/xy-problem-xyproblem/index.html
  2024/07/alpine-linux-how-to-install-all-manpages-idiomatically/index.html
  posts/index.html
  sitemap.xml
  tags/bestof/index.html
  tags/coding/index.html
  tags/meta/index.html
  tags/meta/index.xml
Due: none

new post: latex cv
  content/posts/2025-09-17-latex-cv.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 520eaf399df13ab6e10fa3b6c28e70eb5a7a06e4
  2025/09/latex-cv/index.html
  404.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/bestof/index.html
  tags/bestof/index.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

tests with assertions
  content/posts/2025-09-17-tests-with-assertions.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: e488645addd04cc99b9bd877c570b86609b2691c
  2025/09/tests-with-assertions/index.html
  404.html
  index.html
  posts/index.html
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

# This is a combination of 2 commits. # This is the 1st commit message:
  .pre-commit-config.yaml
  static/apple-touch-icon.png
Due: forbid-old-perrotta-dev

add cookiezero webp
  .pre-commit-config.yaml
  layouts/_default/baseof.html
  static/cookiezero.webp
Due: forbid-old-perrotta-dev

add clew
  content/posts/2025-05-17-blog-directories.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: d368edf1e128de1236179e98f8cea2f96a9e35b1
  2025/05/blog-directories/index.html
  tags/coding/index.html
  tags/selfhosted/index.xml
  tags/serenity/index.xml
Due: none

add TODO hook
  .pre-commit-config.yaml
Due: forbid-old-perrotta-dev

deploy: f1fc2a5ce612a68ec8e3d525110f74f8417eed05
  tags/coding/index.html
Due: none

dark club
  content/posts/2025-05-17-blog-directories.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 61f01a65d0c466b4d01fef18009e5b57ca0f6b89
  2025/05/blog-directories/index.html
  tags/coding/index.html
  tags/selfhosted/index.xml
  tags/serenity/index.xml
Due: none

dark club
  content/posts/2025-09-18-github-auto-links.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: fdda23c9bd04ba20b1d4b93fd917c00a65fe25ee
  2025/09/github-autolinks/index.html
  404.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
Due: none

dark theme
  content/posts/2025-05-17-blog-directories.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 31f48ccf66285328fe5e1a7f75d58e511476eb11
  2025/05/blog-directories/index.html
  tags/coding/index.html
  tags/selfhosted/index.xml
  tags/serenity/index.xml
Due: none

bestof
  content/posts/2025-07-26-smartwatches.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 0f677306ba95b9b8b18496c4adf788c0b3c562d2
  2025/07/smartwatches/index.html
  posts/index.html
  tags/bestof/index.html
  tags/bestof/index.xml
  tags/coding/index.html
  tags/serenity/index.html
Due: none

bestof
  content/posts/2024-11-15-zoxide-same-directory.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 1577df2705f255cf91c3be5d535be77995f6528e
  2024/11/zoxide-cd-within-the-same-directory/index.html
  posts/index.html
  tags/bestof/index.html
  tags/coding/index.html
  tags/dev/index.html
Due: none

new post: too many JSONs
  content/posts/2025-09-20-hacking-comments-with-json.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: dec366330bea2682bcbf19c3bdb4462466a5e9b9
  2025/09/hacking-comments-with-json/index.html
  404.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

taking oncall
  content/posts/2025-09-21-taking-oncall.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 1d135d1fd9ee806903521ac0a36454d3a61d3d49
  2025/09/taking-oncall/index.html
  404.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
Due: none

Path conditions:
  forbid-md-extension-in-hugo-internal-links: any of: \.(md|markdown|mdown)$
  forbid-old-perrotta-dev: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$, but not: ^(content/posts/2024-02-04-new-domain.md|content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md)$
  forbid-personal-emails: any of: \.(md|markdown|mdown)$
  forbid-tulip: any of: \.(md|markdown|mdown)$
  forbid-utm-analytics: any of: \.(md|markdown|mdown)$
