Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-broken-internal-links, check-coding-titles, check-duplicate-coding, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-external-images, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

Path conditions:
  check-broken-internal-links: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  check-coding-titles: any of: ^content/posts/.*(leetcode|bytebytego).*\.md$ and \.(md|markdown|mdown)$ and not (^content/posts/2025-12-30-kagi-add-leetcode-bang.md$) and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  check-duplicate-coding: any of: ^content/posts/.*(leetcode|bytebytego).*\.md$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  check-required-frontmatter: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (_index\.md$) and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  check-single-category: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  forbid-double-more: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  forbid-double-parens-in-shortcodes: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-external-images: any of: ^layouts/.*\.html$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-md-extension-in-hugo-internal-links: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-old-perrotta-dev: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$ and not (^(content/posts/2024-02-04-new-domain.md|content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md)$) and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  forbid-personal-emails: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-tulip: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-utm-analytics: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  replace-em-dashes: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  replace-shell-prompt: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  sort-blog-tags: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  strip-content-posts-prefix: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)

list: fix all-posts header count to match rendered list
  layouts/_default/list.html
Due: forbid-external-images

deploy: 102aa8cbd757d3a76639dcb5bd8d756048c27fa5
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  it/blogroll.opml
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/blogroll.opml
Due: none

theme: hide post footer meta in fullscreen mode
  layouts/_default/single.html
  layouts/partials/style.html
Due: forbid-external-images

clarify AI usage
  content/ai.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: 28232b15915f112daf138883301ce14abbe7e8e7
  2022/01/advent-of-code/index.html
  ai/index.html
  ai/index.md
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  it/blogroll.opml
  pt/blogroll.opml
  sitemap.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

theme: use shrink glyph to exit fullscreen instead of x
  assets/js/main.js
Due: none

add skills to projects list
  content/projects.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: be4b3c9f970a84eb0f19158cebf43b30cbdee7ae
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  it/blogroll.opml
  projects/index.html
  projects/index.md
  pt/blogroll.opml
  sitemap.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

myrepos
  content/posts/2026-07-16-myrepos-a-wip-action-to-find-unfinished-work.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

project aces ost
  content/posts/2026-07-17-project-aces-ost.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

add gaming tag
  content/posts/2026-07-17-project-aces-ost.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

deploy: fbc5938ca76c2015371f03db8f2fc021fa92934d
  2022/01/advent-of-code/index.html
  2024/10/board-games/index.html
  2025/01/pawnbarian/index.html
  2025/06/steam-ratings/index.html
  2026/07/project-aces-ost/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  graph.json
  index.xml
  it/blogroll.opml
  posts/coding/index.html
  posts/index.html
  posts/index.xml
  posts/recipes/index.html
  pt/blogroll.opml
  search/index.json
  sitemap.md
  sitemap.xml
  tags/bestof/index.xml
  tags/gaming/index.html
  tags/gaming/index.xml
  tags/index.html
  tags/index.xml
  tags/serenity/index.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

rss: prepend spades symbol to first paragraph of each post
  layouts/_default/rss.xml
Due: none

physical books
  content/posts/2026-07-18-the-lifecycle-of-physical-books.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

rss: fix replaceRE arg order for spades prefix
  layouts/_default/rss.xml
Due: none

typically
  content/posts/2026-07-18-the-lifecycle-of-physical-books.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

spades adr
  docs/adrs/0015-first-paragraph-spade-glyph.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: d372fe574d440552f49f4a9de2b4f0514b9ecfe9
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  it/blogroll.opml
  pt/blogroll.opml
Due: none

brew pin
  content/posts/2026-07-18-brew-pin.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

deploy: 48de380dbe14606e933a843c357406a422a905c6
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  it/blogroll.opml
  pt/blogroll.opml
Due: none

move privacy statement to dedicated /privacy page
  content/privacy.md
  layouts/_default/baseof.html
  layouts/partials/style.html
Due: forbid-double-parens-in-shortcodes, forbid-external-images, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

remove some rights reserved from footer
  config/_default/config.yml
  static/rss.xsl
Due: forbid-old-perrotta-dev

Remove animation from theme toggle button
  assets/js/main.js
  layouts/partials/style.html
Due: forbid-external-images

Remove animation from theme toggle button (#130)
  assets/js/main.js
  layouts/partials/style.html
Due: forbid-external-images

sports.app
  content/posts/2026-07-20-sports.app.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

remove date from privacy
  content/privacy.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: 8c2e2f8af27800db6424001f7e73747b19ad6f32
  2022/01/advent-of-code/index.html
  2025/07/steam-deck-640x480-external-monitor-resolution/index.html
  404.html
  blogroll.opml
  blogroll/index.html
  canary/index.html
  en/sitemap.xml
  index.xml
  it/blogroll.opml
  privacy/index.html
  privacy/index.md
  pt/blogroll.opml
  sitemap.md
  sitemap.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

remove serenity and coding highlights from nav, add emojis to projects/blogroll
  config/_default/config.yml
  layouts/_default/baseof.html
  layouts/partials/style.html
Due: forbid-external-images, forbid-old-perrotta-dev
