Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

forbid-md-extension-in-hugo-internal-links:
  name: Forbid usage of .md extension in hugo internal links
  entry: .*\.md\" >\}\}
  language: pygrep

forbid-old-perrotta-dev:
  name: Forbid usage of previous domains
  entry: \b(https://thiagowfx\.github\.io|www\.perrotta\.dev|blog\.perrotta\.dev)\b
  language: pygrep

forbid-personal-emails:
  name: Forbid usage of my personal emails
  entry: tbperrotta@gmail.com
  language: pygrep

forbid-tulip:
  name: Forbid usage of Tulip
  entry: tulip
  language: pygrep

forbid-utm-analytics:
  name: Forbid usage of UTM analytics / tracking
  entry: \b(utm_source)\b
  language: pygrep

deploy: e6fb5976c3fbb1f3efe570b04b74ac34e5e7161b
  2025/09/expressing-intervals/index.html
  tags/coding/index.html
  tags/coding/index.xml
Due: none

lis 300
  content/posts/2025-09-16-leetcode-300-longest-increasing-subsequence.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 12f7733e8e426cfeb0658485f815a106f2444c7e
  2025/09/leetcode-#300-longest-increasing-subsequence/index.html
  404.html
  index.html
  posts/index.html
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

word break
  content/posts/2025-09-16-leetcode-139-word-break.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: cc75e04b7110bfca4bab001c99e1928df2c6c800
  2025/09/leetcode-#139-word-break/index.html
  404.html
  index.html
  posts/index.html
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

triangle
  content/posts/2025-09-16-leetcode-120-triangle.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: ae2ddce08827f1a2e5c68da52aedf71b1bf98a54
  2025/09/leetcode-#120-triangle/index.html
  404.html
  index.html
  posts/index.html
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

minimum path sum
  content/posts/2025-09-16-leetcode-64-minimum-path-sum.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

populate leetcode link via Just
  Justfile
  archetypes/coding.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

populate leetcode link via Hugo
  Justfile
  archetypes/coding.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

Revert "populate leetcode link via Hugo"
  Justfile
  archetypes/coding.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 0f9b4b49bb42a69cf285196f887ad85033a7c14f
  2025/09/leetcode-#64-minimum-path-sum/index.html
  404.html
  index.html
  posts/index.html
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

deploy: 1dd999f0b839e124205caffb6835ecacaa99c6b8
  tags/coding/index.html
Due: none

line breaks
  archetypes/coding.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: c34a5e4198698b160c79c41df80d3e2856e4b0d6
  tags/coding/index.html
Due: none

memoization
  content/posts/2025-09-16-memoization.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 31f814ec1a98abb3ab49d09afadaf75eef6f10cf
  2025/09/memoization/index.html
  404.html
  index.html
  posts/index.html
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

unique paths ii
  content/posts/2025-09-16-leetcode-63-unique-paths-ii.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

unique paths ii from the end
  content/posts/2025-09-16-leetcode-63-unique-paths-ii.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 1eb039fb130a815f692dd6c4b28d437f72b9b124
  2025/09/leetcode-#63-unique-paths-ii/index.html
  404.html
  index.html
  posts/index.html
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

collate assertions
  content/posts/2025-09-16-python-collate-assertions.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 4d43e2e50e665a026c04d8c1706c56ec003e820e
  2025/09/python-collate-assertions/index.html
  404.html
  index.html
  posts/index.html
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

llm online judge
  content/posts/2025-09-16-llm-as-online-judge.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 2285ed28163df590b1b884bc2202f4fc83f1b86b
  2025/09/llm-as-online-judge/index.html
  404.html
  index.html
  posts/index.html
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

vim: remove whitespace
  content/posts/2025-09-16-vim-remove-trailing-whitespace.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 52b454c5efb513ad2ca0b12244e073e5724ca47f
  2025/09/vim-remove-trailing-whitespace/index.html
  404.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
Due: none

ci(pre-commit): forbid personal emails
  .pre-commit-config.yaml
Due: forbid-old-perrotta-dev

deploy: 3b2e9492e55739dc0098653824e97625909023f6
  tags/coding/index.html
Due: none

add vim via https://bneil.me/
  layouts/_default/baseof.html
  layouts/partials/style.html
  static/vim.gif
Due: none

nohello
  content/posts/2025-09-16-go/nohello.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 1f2b1e32a9974ba8f58d106f6a1a6bd83965260f
  2025/09/go/nohello/index.html
  404.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

Revert "nohello"
  content/posts/2025-09-16-go/nohello.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

fix url
  content/posts/2025-09-16-nohello.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: c486e8fcc366725a918e449de7af6f01f8c7a6c8
  tags/coding/index.html
Due: none

link
  content/posts/2025-09-16-nohello.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 7f63ae2b76c09b4acf8e89ae868e06a234691e17
  2025/09/nohello/index.html
  404.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

min max in own line
  content/posts/2025-09-16-min-max-in-own-line.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: ffce40b442d6ba632f6e87aedf3bf78241bbfb94
  2025/09/min-max-in-own-line/index.html
  404.html
  index.html
  posts/index.html
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

stale bot
  content/posts/2025-09-16-github-stale-bot-considered-harmful.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

Path conditions:
  forbid-md-extension-in-hugo-internal-links: any of: \.(md|markdown|mdown)$
  forbid-old-perrotta-dev: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$, but not: ^(content/posts/2024-02-04-new-domain.md|content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md)$
  forbid-personal-emails: any of: \.(md|markdown|mdown)$
  forbid-tulip: any of: \.(md|markdown|mdown)$
  forbid-utm-analytics: any of: \.(md|markdown|mdown)$
