Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-broken-internal-links, check-coding-titles, check-duplicate-coding, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-external-images, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

check-broken-internal-links:
  name: Check for broken Hugo ref shortcode links
  entry: ci/check_broken_internal_links.py
  language: system

check-coding-titles:
  name: Enforce LeetCode and ByteByteGo title format
  entry: ci/check_post_titles.py
  language: system

check-duplicate-coding:
  name: Detect duplicate coding problem posts
  entry: ci/check_duplicate_coding_posts.py
  language: system
  pass_filenames: false

check-required-frontmatter:
  name: Enforce required frontmatter fields (date, title)
  entry: ci/check_required_frontmatter.py
  language: python
  additional_dependencies:
  - PyYAML

check-single-category:
  name: Enforce single category per post
  entry: ci/check_single_category.py
  language: python
  additional_dependencies:
  - PyYAML

forbid-double-more:
  name: Forbid <!--more--> in blog posts
  entry: <!--more-->
  language: pygrep

forbid-double-parens-in-shortcodes:
  name: Forbid double parentheses around Hugo shortcodes
  entry: \(\(\{\{[<|%]
  language: pygrep

forbid-external-images:
  name: Forbid external image URLs in layouts
  entry: ci/forbid-external-images.py
  language: system

forbid-md-extension-in-hugo-internal-links:
  name: Forbid .md extension in hugo internal links
  entry: .*\.md\" >\}\}
  language: pygrep

forbid-old-perrotta-dev:
  name: Forbid old domains
  entry: \\b(https://thiagowfx\.github\.io|www\.perrotta\.dev|blog\.perrotta\.dev)\\b
  language: pygrep

forbid-personal-emails:
  name: Forbid personal emails
  entry: (@perrotta\.dev|\w*perrotta\d*@gmail\.com)
  language: pygrep

forbid-tulip:
  name: Forbid Tulip terms
  entry: (?i)(\btulip\b|@garden)
  language: pygrep

forbid-utm-analytics:
  name: Forbid UTM analytics / tracking
  entry: \\b(utm_source)\\b
  language: pygrep

replace-em-dashes:
  name: Replace ' - ' with em dashes in prose
  entry: ci/replace_em_dashes.py
  language: python

replace-shell-prompt:
  name: Replace ❯ with % in shell prompts
  entry: ci/replace_shell_prompt.py
  language: python

sort-blog-tags:
  name: Sort blog post tags alphabetically
  entry: ci/sort_tags.py
  language: python
  additional_dependencies:
  - PyYAML

strip-content-posts-prefix:
  name: Strip content/posts/ prefix from Hugo ref links
  entry: ci/strip_content_posts_prefix.py
  language: python

maple syrup whey
  content/posts/recipes/2026-03-02-maple-syrup-whey.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

jnlp
  content/pt/posts/2013-09-02-como-rodar-jnlp-no-linux.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: 3a49f02ece45f236a4136db9b963a00e7ff3e4c1
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  posts/index.html
  posts/recipes/index.html
  pt/2013/09/como-rodar-jnlp-no-linux/index.html
  pt/2013/09/como-rodar-jnlp-no-linux/index.md
  pt/2013/09/ontem-maratona-de-programação/index.html
  pt/blogroll.opml
  pt/index.xml
  pt/posts/2013-09-02-como-rodar-jnlp-no-linux/index.html
  pt/posts/2013-09-02-como-rodar-jnlp-no-linux/index.md
  pt/posts/2013-09-15-ontem-maratona-de-programacao/index.html
  pt/posts/index.html
  pt/posts/index.xml
  pt/search/index.json
  pt/sitemap.xml
  pt/tags/dev/index.html
  pt/tags/dev/index.xml
  pt/tags/index.html
  pt/tags/index.xml
  pt/tags/legacy/index.html
  pt/tags/legacy/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/index.html
  tags/index.xml
  tags/legacy/index.html
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

pr
  content/pt/posts/2014-03-16-pull-request.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: 2c70b63e5aa2bac62eadcc7d07d49c6044168beb
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/2014/03/bloqueando-websitesadsmalware-no-linux/index.html
  pt/2014/03/ct-sem-luz-vamos-indexar-isso/index.html
  pt/2014/03/pull-request/index.html
  pt/2014/03/pull-request/index.md
  pt/blogroll.opml
  pt/index.xml
  pt/posts/2014-03-02-bloqueando-websites-ads-malware-no-linux/index.html
  pt/posts/2014-03-16-pull-request/index.html
  pt/posts/2014-03-16-pull-request/index.md
  pt/posts/2014-03-22-ct-sem-luz-vamos-indexar-isso/index.html
  pt/posts/index.html
  pt/posts/index.xml
  pt/search/index.json
  pt/sitemap.xml
  pt/tags/dev/index.xml
  pt/tags/index.html
  pt/tags/index.xml
  pt/tags/legacy/index.html
  pt/tags/legacy/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/index.html
  tags/index.xml
  tags/legacy/index.html
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

bloatware
  content/pt/posts/2013-10-02-removendo-crapbloatware-de-um-windows-oem.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: 14d319c9d72548599e52e86dcde751019f6b26e1
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/2013/10/removendo-crapbloatware-de-um-windows-oem/index.html
  pt/2013/10/removendo-crapbloatware-de-um-windows-oem/index.md
  pt/2013/12/cálculo-@-ufrj-sugestão-de-referências/index.html
  pt/blogroll.opml
  pt/index.xml
  pt/posts/2013-09-15-ontem-maratona-de-programacao/index.html
  pt/posts/2013-10-02-removendo-crapbloatware-de-um-windows-oem/index.html
  pt/posts/2013-10-02-removendo-crapbloatware-de-um-windows-oem/index.md
  pt/posts/2013-12-15-calculo-ufrj-sugestao-de-referencias/index.html
  pt/posts/index.html
  pt/posts/index.xml
  pt/search/index.json
  pt/sitemap.xml
  pt/tags/dev/index.html
  pt/tags/dev/index.xml
  pt/tags/index.html
  pt/tags/index.xml
  pt/tags/legacy/index.html
  pt/tags/legacy/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/index.html
  tags/index.xml
  tags/legacy/index.html
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

setup
  content/posts/2014-05-17-my-setup-series-aka-how-i-do-my-computing.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

deploy: 0618c3451226c05a9a455666813bcd43a005fa8e
  2014/05/everything-orgmode-or-orgmode-everywhere/index.html
  2014/05/im-learning-php/index.html
  2014/05/my-setup-series-aka-how-i-do-my-computing/index.html
  2014/05/my-setup-series-aka-how-i-do-my-computing/index.md
  2014/05/status-hello-nix-server-world/index.html
  2014/06/my-google-chrome-extensions/index.html
  2014/06/privacy-/-reset-the-net-paradise/index.html
  2014/07/adb-over-wi-fi-for-adbsync/index.html
  2014/09/everyday-podcasting-#1/index.html
  2014/10/everyday-podcasting-#2/index.html
  2014/10/my-last-nix-setup/index.html
  2015/02/games-index-of/index.html
  2015/03/thoughts-on-instagram/index.html
  2022/01/advent-of-code/index.html
  2022/02/praise-for-blog-aggregators/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  graph.json
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/blogroll.opml
  random/index.html
  search/index.json
  sitemap.xml
  tags/dev/index.html
  tags/index.xml
  tags/legacy/index.html
  tags/serenity/index.html
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

merge link blogs posts
  content/posts/2024-12-22-link-blogs.md
  content/posts/2025-01-05-my-approach-to-running-a-link-blog.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

deploy: 28b62aa3eb4e087ab1d7229cf7662a4076d4a1c2
  2022/01/advent-of-code/index.html
  2024/12/digital-mending-circle/index.html
  2024/12/mbti/index.html
  2024/12/reply-to-i-hate-the-news/index.html
  2024/12/reply-to-introduce-yourself-to-your-remote-team/index.html
  2024/12/reply-to-my-approach-to-running-a-link-blog/index.html
  2024/12/reply-to-my-approach-to-running-a-link-blog/index.md
  2024/12/stylometry/index.html
  2025/01/reply-to-100-days-to-offload/index.html
  2025/01/reply-to-my-approach-to-running-a-link-blog/index.html
  2025/01/reply-to-my-approach-to-running-a-link-blog/index.md
  blogroll.opml
  blogroll/index.html
  categories/commentary/index.html
  categories/commentary/index.xml
  categories/index.html
  categories/index.xml
  en/sitemap.xml
  graph.json
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/blogroll.opml
  random/index.html
  search/index.json
  sitemap.xml
  tags/index.html
  tags/index.xml
  tags/meta/index.html
  tags/meta/index.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

chromium
  content/pt/posts/2014-03-29-status-erro-de-sincronizacao-no-chromium.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: 13257f22e668350c17392a0ca343858911f540c4
  2022/01/advent-of-code/index.html
  blogroll.opml
  en/sitemap.xml
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/2014/03/ct-sem-luz-vamos-indexar-isso/index.html
  pt/2014/03/erro-de-sincronização-no-chromium/index.html
  pt/2014/03/erro-de-sincronização-no-chromium/index.md
  pt/2014/04/integrando-qt-creator-com-cmake/index.html
  pt/blogroll.opml
  pt/index.xml
  pt/posts/2014-03-22-ct-sem-luz-vamos-indexar-isso/index.html
  pt/posts/2014-03-29-status-erro-de-sincronizacao-no-chromium/index.html
  pt/posts/2014-03-29-status-erro-de-sincronizacao-no-chromium/index.md
  pt/posts/2014-04-12-integrando-qt-creator-com-cmake/index.html
  pt/posts/index.html
  pt/posts/index.xml
  pt/search/index.json
  pt/sitemap.xml
  pt/tags/dev/index.html
  pt/tags/dev/index.xml
  pt/tags/index.html
  pt/tags/index.xml
  pt/tags/legacy/index.html
  pt/tags/legacy/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/index.html
  tags/index.xml
  tags/legacy/index.html
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

2048
  content/pt/posts/2014-03-18-211-aka-2048.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

love
  content/posts/2026-03-02-brazilian-affection-cuddling-vocabulary.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

blocking claude
  content/posts/2026-03-02-blocking-claude.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

oms
  content/posts/coding/2026-03-01-leetcode-3822-design-order-management-system.md
Due: check-broken-internal-links, check-coding-titles, check-duplicate-coding, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

aws
  content/posts/2026-02-26-cco-claude-condom-sandbox.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

deploy: c61fecebbcd87ef1ccd2d7204259f94ff32d2136
  2022/01/advent-of-code/index.html
  2026/02/cco-claude-condom-sandbox/index.html
  2026/02/cco-claude-condom-sandbox/index.md
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  index.xml
  posts/index.xml
  pt/blogroll.opml
  sitemap.xml
  tags/ai/index.xml
  tags/bestof/index.xml
  tags/dev/index.xml
  tags/index.xml
  tags/security/index.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

claude: session ID
  content/posts/2026-03-02-claude-add-session-id-to-status-bar.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

context window usage
  content/posts/2026-03-02-claude-add-session-id-to-status-bar.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

deploy: d7251f0064801e452ba988ea7c4a422a8006e24b
  2022/01/advent-of-code/index.html
  2026/03/claude-add-session-id-to-status-bar/index.html
  2026/03/claude-add-session-id-to-status-bar/index.md
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  index.xml
  posts/index.xml
  pt/blogroll.opml
  sitemap.xml
  tags/ai/index.xml
  tags/bestof/index.xml
  tags/dev/index.xml
  tags/index.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: ef5b9ce550833a3272fa4aa4484a3261478dfaa9
  2022/01/advent-of-code/index.html
  2025/03/grayjay/index.html
  2025/03/sponsorblock/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  pt/blogroll.opml
Due: none

btrfs
  content/pt/posts/2014-04-10-btrfs-lets-go.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

web
  content/pt/posts/2014-06-21-ola-desenvolvimento-web.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: da65ad73e9f07089cda407cc3e642b9fd4711e2c
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/2014/03/erro-de-sincronização-no-chromium/index.html
  pt/2014/04/btrfs-lets-go/index.html
  pt/2014/04/btrfs-lets-go/index.md
  pt/2014/04/integrando-qt-creator-com-cmake/index.html
  pt/blogroll.opml
  pt/index.xml
  pt/posts/2014-03-29-status-erro-de-sincronizacao-no-chromium/index.html
  pt/posts/2014-04-10-btrfs-lets-go/index.html
  pt/posts/2014-04-10-btrfs-lets-go/index.md
  pt/posts/2014-04-12-integrando-qt-creator-com-cmake/index.html
  pt/posts/index.xml
  pt/search/index.json
  pt/sitemap.xml
  pt/tags/dev/index.html
  pt/tags/dev/index.xml
  pt/tags/index.html
  pt/tags/index.xml
  pt/tags/legacy/index.html
  pt/tags/legacy/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/index.html
  tags/index.xml
  tags/legacy/index.html
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

voicemail
  content/pt/posts/2014-03-04-livrando-se-da-notificacao-de-voicemail-no-android.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: f797af1c1b21cbbfa392e0ca7957d85bc4ea7f89
  2022/01/advent-of-code/index.html
  blogroll.opml
  en/sitemap.xml
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/2014/05/física-3-@-ufrj-sugestão-de-referências/index.html
  pt/2014/06/asciinema/index.html
  pt/2014/06/olá-desenvolvimento-web/index.html
  pt/2014/06/olá-desenvolvimento-web/index.md
  pt/404.html
  pt/blogroll.opml
  pt/index.xml
  pt/posts/2014-05-11-fisica-3-ufrj-sugestao-de-referencias/index.html
  pt/posts/2014-06-21-ola-desenvolvimento-web/index.html
  pt/posts/2014-06-21-ola-desenvolvimento-web/index.md
  pt/posts/2014-06-29-asciinema/index.html
  pt/posts/index.html
  pt/posts/index.xml
  pt/search/index.json
  pt/sitemap.xml
  pt/tags/dev/index.html
  pt/tags/dev/index.xml
  pt/tags/index.html
  pt/tags/index.xml
  pt/tags/legacy/index.html
  pt/tags/legacy/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/index.html
  tags/index.xml
  tags/legacy/index.html
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: 0fd11f30e7aef1b6e8be4491947506ac2ef4ca12
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  posts/index.html
  posts/recipes/index.html
  pt/2014/03/bloqueando-websitesadsmalware-no-linux/index.html
  pt/2014/03/livrando-se-da-notificação-de-voicemail-no-android/index.html
  pt/2014/03/livrando-se-da-notificação-de-voicemail-no-android/index.md
  pt/2014/03/pull-request/index.html
  pt/blogroll.opml
  pt/index.xml
  pt/posts/2014-03-02-bloqueando-websites-ads-malware-no-linux/index.html
  pt/posts/2014-03-04-livrando-se-da-notificacao-de-voicemail-no-android/index.html
  pt/posts/2014-03-04-livrando-se-da-notificacao-de-voicemail-no-android/index.md
  pt/posts/2014-03-16-pull-request/index.html
  pt/posts/index.html
  pt/posts/index.xml
  pt/search/index.json
  pt/sitemap.xml
  pt/tags/dev/index.html
  pt/tags/dev/index.xml
  pt/tags/index.html
  pt/tags/index.xml
  pt/tags/legacy/index.html
  pt/tags/legacy/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/index.html
  tags/index.xml
  tags/legacy/index.html
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

emacs
  content/posts/2014-03-02-emacs-must-have-libraries-packages.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

deploy: dd00fe5bd8f11d71f56ec54f559807ca8b6de07f
  2014/01/custom-search-engines/index.html
  2014/03/about-blogging-here-and-everywhere/index.html
  2014/03/emacs-must-have-libraries/packages/index.html
  2014/03/emacs-must-have-libraries/packages/index.md
  2014/03/server-challenge-instance-#0/index.html
  2014/03/web-challenge-#0/index.html
  2014/04/dota-2-@-linux/index.html
  2014/04/pkgbuild-class-@-irc/index.html
  2014/04/server-challenge-instance-#1-installation-of-distros/index.html
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  graph.json
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/blogroll.opml
  random/index.html
  search/index.json
  sitemap.xml
  tags/dev/index.html
  tags/index.xml
  tags/legacy/index.html
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

ci: en-dashes
  .pre-commit-config.yaml
  ci/replace_en_dashes.py
Due: forbid-old-perrotta-dev

deploy: 5d576d96f0c17eb6a1c48f9f1819fe137d63599e
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  pt/blogroll.opml
Due: none

en-dash
  content/posts/2013-10-27-openbox-challenge-day-1.md
  content/posts/2013-10-29-openbox-challenge-day-3.md
  content/posts/2014-03-02-emacs-must-have-libraries-packages.md
  content/posts/2014-03-09-web-challenge-0.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

Path conditions:
  check-broken-internal-links: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  check-coding-titles: any of: ^content/posts/.*(leetcode|bytebytego).*\.md$ and \.(md|markdown|mdown)$ and not (^content/posts/2025-12-30-kagi-add-leetcode-bang.md$) and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  check-duplicate-coding: any of: ^content/posts/.*(leetcode|bytebytego).*\.md$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  check-required-frontmatter: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (_index\.md$) and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  check-single-category: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  forbid-double-more: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  forbid-double-parens-in-shortcodes: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-external-images: any of: ^layouts/.*\.html$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-md-extension-in-hugo-internal-links: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-old-perrotta-dev: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$ and not (^(content/posts/2024-02-04-new-domain.md|content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md)$) and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  forbid-personal-emails: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-tulip: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-utm-analytics: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  replace-em-dashes: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  replace-shell-prompt: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  sort-blog-tags: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  strip-content-posts-prefix: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
