Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-broken-internal-links, check-coding-titles, check-duplicate-coding, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-external-images, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

check-broken-internal-links:
  name: Check for broken Hugo ref shortcode links
  entry: ci/check_broken_internal_links.py
  language: system

check-coding-titles:
  name: Enforce LeetCode and ByteByteGo title format
  entry: ci/check_post_titles.py
  language: system

check-duplicate-coding:
  name: Detect duplicate coding problem posts
  entry: ci/check_duplicate_coding_posts.py
  language: system
  pass_filenames: false

check-required-frontmatter:
  name: Enforce required frontmatter fields (date, title)
  entry: ci/check_required_frontmatter.py
  language: python
  additional_dependencies:
  - PyYAML

check-single-category:
  name: Enforce single category per post
  entry: ci/check_single_category.py
  language: python
  additional_dependencies:
  - PyYAML

forbid-double-more:
  name: Forbid <!--more--> in blog posts
  entry: <!--more-->
  language: pygrep

forbid-double-parens-in-shortcodes:
  name: Forbid double parentheses around Hugo shortcodes
  entry: \(\(\{\{[<|%]
  language: pygrep

forbid-external-images:
  name: Forbid external image URLs in layouts
  entry: ci/forbid-external-images.py
  language: system

forbid-md-extension-in-hugo-internal-links:
  name: Forbid .md extension in hugo internal links
  entry: .*\.md\" >\}\}
  language: pygrep

forbid-old-perrotta-dev:
  name: Forbid old domains
  entry: \\b(https://thiagowfx\.github\.io|www\.perrotta\.dev|blog\.perrotta\.dev)\\b
  language: pygrep

forbid-personal-emails:
  name: Forbid personal emails
  entry: (@perrotta\.dev|\w*perrotta\d*@gmail\.com)
  language: pygrep

forbid-tulip:
  name: Forbid Tulip terms
  entry: (?i)(\btulip\b|@garden)
  language: pygrep

forbid-utm-analytics:
  name: Forbid UTM analytics / tracking
  entry: \\b(utm_source)\\b
  language: pygrep

replace-em-dashes:
  name: Replace ' - ' with em dashes in prose
  entry: ci/replace_em_dashes.py
  language: python

replace-shell-prompt:
  name: Replace ❯ with % in shell prompts
  entry: ci/replace_shell_prompt.py
  language: python

sort-blog-tags:
  name: Sort blog post tags alphabetically
  entry: ci/sort_tags.py
  language: python
  additional_dependencies:
  - PyYAML

strip-content-posts-prefix:
  name: Strip content/posts/ prefix from Hugo ref links
  entry: ci/strip_content_posts_prefix.py
  language: python

deploy: fc6ececa437ad81f7fc9b1c1b4dafaef46892cdc
  2022/01/advent-of-code/index.html
  2025/06/argocd-upgrade-to-v3-remove-helm-labels/index.html
  2025/06/pdb-minavailable-and-maxunavailable-cannot-be-both-set/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  it/blogroll.opml
  pt/blogroll.opml
Due: none

deploy: 9498fb51920e21d031c40c6c84f34fa7c0224dd0
  2022/01/advent-of-code/index.html
  2025/06/alpine-linux-packaging-track-new-software-releases/index.html
  2025/06/git-pull-authentication-issues/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  it/blogroll.opml
  pt/blogroll.opml
  robots.txt
Due: none

brew trust
  content/posts/2026-06-05-brew-trust.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

terraform police
  content/posts/2026-06-08-terraform-police.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

formatting
  content/posts/2026-06-08-terraform-police.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

simulation
  content/posts/2026-06-08-terraform-police.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

deploy: 393600c399ace3e41df022ffa4d017b2715d5cce
  2022/01/advent-of-code/index.html
  2026/06/terraform-police/index.html
  2026/06/terraform-police/index.md
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  index.xml
  it/blogroll.opml
  posts/index.xml
  pt/blogroll.opml
  sitemap.xml
  tags/dev/index.xml
  tags/index.xml
  tags/serenity/index.xml
  tags/terraform/index.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

claude radio
  content/radio.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: 6bf36d750b4491725732447e02098ab166406d31
  2022/01/advent-of-code/index.html
  2025/06/bad-interpreter-perl-no-such-file-or-directory/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  it/blogroll.opml
  pt/blogroll.opml
  radio/index.html
  radio/index.md
  sitemap.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

style
  CLAUDE.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

kubectl upsert
  content/posts/2026-06-09-kubectl-atomic-upsert.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

don't ask to ask
  content/posts/2026-06-10-don't-ask-to-ask.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

stop energy
  content/posts/2026-06-14-stop-energy.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

git switch-to-default
  content/posts/2026-06-14-git-switch-to-default-with-wt.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

fix post date
  content/posts/2026-06-14-git-switch-to-default-with-wt.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

pre-commit auth
  content/posts/2026-06-18-pre-commit-authentication-in-internal-github-repos.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

deploy: 2ca92ccad3111e9a23893ca6ae4dff718945d670
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  it/blogroll.opml
  pt/blogroll.opml
Due: none

c++ vs python
  content/posts/coding/2026-06-22-c++-vs-python.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

bloggify
  content/posts/2026-06-09-bloggify.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

markdownlint: disable MD049 to allow mixed emphasis styles
  .markdownlint-cli2.yaml
Due: forbid-old-perrotta-dev

deploy: 3c156099d62b86ba0910e8ab087eac60589ff9d0
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  it/blogroll.opml
  pt/blogroll.opml
Due: none

keychron
  content/posts/2026-06-20-keychron-k2-bluetooth-always-on.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

deploy: ad9dc844fd19eb89ebb3e3567a74f6ef86227938
  2022/01/advent-of-code/index.html
  2026/06/c-vs-python/index.html
  2026/06/keychron-k2-bluetooth-always-on/index.html
  2026/06/keychron-k2-bluetooth-always-on/index.md
  2026/06/pre-commit-authentication-in-internal-github-repos/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  graph.json
  index.xml
  it/blogroll.opml
  llms.txt
  posts/coding/index.html
  posts/index.html
  posts/index.xml
  posts/recipes/index.html
  pt/blogroll.opml
  random/index.html
  search/index.json
  sitemap.md
  sitemap.xml
  tags/index.html
  tags/index.xml
  tags/macos/index.html
  tags/macos/index.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

search: add tag, year range, and sort filters
  i18n/en.toml
  i18n/pt.toml
  layouts/partials/search-widget.html
  layouts/partials/style.html
Due: forbid-external-images

search: multi-select tag chips with result-aware visibility
  i18n/en.toml
  i18n/pt.toml
  layouts/partials/search-widget.html
  layouts/partials/style.html
Due: forbid-external-images

search: live tag chip counts reflecting query/year filters
  layouts/partials/search-widget.html
  layouts/partials/style.html
Due: forbid-external-images

Path conditions:
  check-broken-internal-links: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  check-coding-titles: any of: ^content/posts/.*(leetcode|bytebytego).*\.md$ and \.(md|markdown|mdown)$ and not (^content/posts/2025-12-30-kagi-add-leetcode-bang.md$) and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  check-duplicate-coding: any of: ^content/posts/.*(leetcode|bytebytego).*\.md$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  check-required-frontmatter: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (_index\.md$) and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  check-single-category: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  forbid-double-more: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  forbid-double-parens-in-shortcodes: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-external-images: any of: ^layouts/.*\.html$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-md-extension-in-hugo-internal-links: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-old-perrotta-dev: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$ and not (^(content/posts/2024-02-04-new-domain.md|content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md)$) and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  forbid-personal-emails: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-tulip: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-utm-analytics: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  replace-em-dashes: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  replace-shell-prompt: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  sort-blog-tags: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  strip-content-posts-prefix: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
