Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-coding-titles, check-duplicate-leetcode, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

Path conditions:
  check-coding-titles: any of: ^content/posts/.*(leetcode|bytebytego).*\.md$ and \.(md|markdown|mdown)$ and not (^content/posts/2025-12-30-kagi-add-leetcode-bang.md$) and not (^(layouts/partials/openring.html$|schemas|vendor)/)
  check-duplicate-leetcode: any of: ^content/posts/.*leetcode.*\.md$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
  forbid-md-extension-in-hugo-internal-links: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
  forbid-old-perrotta-dev: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$ and not (^(content/posts/2024-02-04-new-domain.md|content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md)$) and not (^(layouts/partials/openring.html$|schemas|vendor)/)
  forbid-personal-emails: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
  forbid-tulip: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
  forbid-utm-analytics: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/

make blog title discrete in fullscreen mode
  layouts/partials/style.html
Due: none

remove .txt support, keep .md only
  config/_default/config.yml
  content/posts/2026-01-01-txt-posts.md
  layouts/_default/baseof.html
  layouts/_default/single.plaintext.txt
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

add macos tag
  content/posts/2022-02-16-nix-env-in-a-nutshell-for-basic-usage-in-macos.md
  content/posts/2022-03-21-macos-sudo-with-touch-id.md
  content/posts/2022-03-26-macos-terminal-app-gripes.md
  content/posts/2022-04-22-keychron-k2-on-macos-fix-home-and-end-keys.md
  content/posts/2023-12-02-maccy-macos-clipboard-manager.md
  content/posts/2023-12-04-macos-sudo-with-touch-id-survive-upgrades.md
  content/posts/2023-12-29-macos-remove-all-empty-directories.md
  content/posts/2024-02-22-force-captive-portal-to-open.md
  content/posts/2024-11-30-compress-a-pdf-in-macos-with-preview.md
  content/posts/2024-12-28-folderify-generate-macos-folder-icons-natively.md
  content/posts/2024-12-31-macos-app-shortcuts.md
  content/posts/2025-01-11-anki-insert-emoji-on-macos.md
  content/posts/2025-01-22-itsycal-system-tray-calendar-on-macos.md
  content/posts/2025-01-29-raycast-snippets.md
  content/posts/2025-02-08-upcoming-calendar-meeting-in-mac-os-menu-bar-with-raycast.md
  content/posts/2025-02-18-quick-look-preview-yaml-files-on-macos.md
  content/posts/2025-03-24-maccy-pin-items.md
  content/posts/2025-04-25-macos-delete-file-bypass-trash.md
  content/posts/2025-05-07-1password-ssh-agent-error.md
  content/posts/2025-05-16-espanso-hello-world.md
  content/posts/2025-06-24-m1-macbook-air-keeps-disconnecting-from-wi-fi.md
  content/posts/2025-09-10-raycast-spotify-macos-menu-bar.md
  content/posts/2025-09-23-homebrew-command-not-found.md
  content/posts/2025-09-25-mv-case-sensitivity.md
  content/posts/2025-10-07-macos-homebrew-downgrade-a-package.md
  content/posts/2025-11-30-python-is-python3-macos-homebrew.md
  content/posts/2025-12-23-macos-keyboard-repeat.md
  content/posts/2025-12-27-flameshot.md
  content/posts/2025-12-28-finicky.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

add macos tag
  content/posts/2024-09-22-life-without-ack.md
  content/posts/2024-11-12-sort-deterministically.md
  content/posts/2024-12-21-default-apps-2024.md
  content/posts/2025-06-01-replace-text-in-pdfs.md
  content/posts/2025-07-21-ghostty-migrating-config-to-dotfiles.md
  content/posts/2025-11-04-new-script-copy.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 046642f5ed95e00bda5bd2d6de4570233fc23e5c
  2024/09/life-without-ack/index.html
  2024/11/sort-deterministically/index.html
  2024/12/default-apps-2024/index.html
  2025/06/replace-text-in-pdfs/index.html
  2025/07/ghostty-migrating-config-to-dotfiles/index.html
  2025/11/new-script-copy/index.html
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  en/sitemap.xml
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/blogroll.opml
  search/index.json
  sitemap.xml
  tags/index.html
  tags/index.xml
  tags/macos/index.html
  tags/macos/index.xml
Due: none

tag: add advent-of-code tag to all advent-of-code posts
  content/posts/2022-01-04-direnv-automate-your-environment-variables.md
  content/posts/2024-12-13-just.md
  content/posts/coding/2022-01-28-advent-of-code.md
  content/posts/coding/2022-11-26-advent-of-code-2021-day-1.md
  content/posts/coding/2022-11-26-advent-of-code-2021-day-2.md
  content/posts/coding/2022-11-26-advent-of-code-2021-day-3.md
  content/posts/coding/2022-11-26-advent-of-code-2021-day-4.md
  content/posts/coding/2022-11-26-advent-of-code-2021-day-5.md
  content/posts/coding/2022-11-26-advent-of-code-2021-day-6.md
  content/posts/coding/2022-11-26-advent-of-code-2021-day-7.md
  content/posts/coding/2022-11-26-advent-of-code-2021-day-8.md
  content/posts/coding/2022-12-01-advent-of-code-2022-day-1.md
  content/posts/coding/2022-12-03-advent-of-code-2022-day-2.md
  content/posts/coding/2022-12-03-advent-of-code-2022-day-3.md
  content/posts/coding/2022-12-05-advent-of-code-2022-day-4.md
  content/posts/coding/2022-12-06-advent-of-code-2022-day-5.md
  content/posts/coding/2022-12-07-advent-of-code-2022-day-6.md
  content/posts/coding/2022-12-08-advent-of-code-2022-day-7.md
  content/posts/coding/2022-12-11-advent-of-code-2022-day-8.md
  content/posts/coding/2022-12-12-advent-of-code-2022-day-10.md
  content/posts/coding/2022-12-12-advent-of-code-2022-day-9.md
  content/posts/coding/2023-12-04-advent-of-code-2023-day-1.md
  content/posts/coding/2024-12-01-advent-of-code-day-1.md
  content/posts/coding/2024-12-03-advent-of-code-day-2.md
  content/posts/coding/2024-12-03-advent-of-code-day-3.md
  content/posts/coding/2024-12-06-advent-of-code-day-4.md
  content/posts/coding/2024-12-08-advent-of-code-day-5.md
  content/posts/coding/2024-12-12-advent-of-code-day-11.md
  content/posts/coding/2024-12-12-advent-of-code-day-6.md
  content/posts/coding/2024-12-12-advent-of-code-day-7.md
  content/posts/coding/2024-12-12-advent-of-code-discussion-group.md
  content/posts/coding/2024-12-20-advent-of-code-day-8.md
  content/posts/coding/2024-12-25-advent-of-code-day-17.md
  content/posts/coding/2024-12-25-advent-of-code-day-9.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

typo
  content/posts/2025-09-06-leetcoding.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

aoc
  content/posts/2024-12-27-advents.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

chore: add automatic tags to coding posts (leetcode, bytebytego, advent-of-code)
  Justfile
  archetypes/coding.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: d740ead8a91353e41819a264aacb03e10962da56
  2024/12/advents/index.html
  2025/09/leetcoding/index.html
  404.html
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  categories/index.html
  categories/recipes/index.html
  en/sitemap.xml
  index.html
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/blogroll.opml
  search/index.json
  sitemap.xml
  tags/advent-of-code/index.html
  tags/advent-of-code/index.xml
  tags/ai/index.html
  tags/alpine-linux/index.html
  tags/bestof/index.html
  tags/bytebytego/index.html
  tags/dev/index.html
  tags/git/index.html
  tags/index.html
  tags/index.xml
  tags/leetcodde/index.html
  tags/leetcodde/index.xml
  tags/leetcode/index.html
  tags/macos/index.html
  tags/meta/index.html
  tags/privacy/index.html
  tags/security/index.html
  tags/serenity/index.html
Due: none

deploy: 50a027bdc3b072d5da83b36d0e33db68f930d3a4
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  pt/blogroll.opml
Due: none

add kubernetes tag
  content/posts/2024-07-15-kubectl-get-logs-from-all-pods.md
  content/posts/2024-08-06-kubectl-print-all-secret-values-in-plain-text.md
  content/posts/2024-09-24-helm-list-recent-chart-upgrades.md
  content/posts/2024-10-16-kubectl-list-all-node-pods.md
  content/posts/2024-12-16-kubernetes-debug-services.md
  content/posts/2024-12-17-kubernetes-tail-logs-from-pods-with-stern.md
  content/posts/2025-02-07-kubernetes-create-a-pod-in-pending-state.md
  content/posts/2025-05-20-kubernetes-list-pending-pods-in-daemonset.md
  content/posts/2025-06-02-argocd-upgrade-to-v3,-remove-helm-labels.md
  content/posts/2025-06-02-pdb-minavailable-and-maxunavailable-cannot-be-both-set.md
  content/posts/2025-06-13-argocd-custom-health-check-for-statefulset-(ondelete).md
  content/posts/2025-06-13-argocd-every-application-in-unknown-state.md
  content/posts/2025-08-21-kubernetes-list-all-imagepullbackoff-container-images.md
  content/posts/2025-09-26-kubernetes-pod-memory-usage.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

add kubernetes tag
  content/posts/2024-10-09-new-apkbuild-argocd.md
  content/posts/2025-09-05-uninstall-kyverno.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

add kubernetes tag
  content/posts/2024-05-17-adding-a-healthcheck-to-chartmuseum-in-aws-fargate.md
  content/posts/2024-08-26-helm-list-all-installed-charts-in-the-cluster.md
  content/posts/2024-11-12-helm-enforce-directory-name-matches-chart-name.md
  content/posts/2024-11-14-helm-json-schema-generation.md
  content/posts/2025-01-08-helm-migrate-charts-dependencies-from-https-to-oci.md
  content/posts/2025-01-09-argocd-cache-key-is-missing.md
  content/posts/2025-02-13-argocd-vertical-pod-autoscaler-sync-loop.md
  content/posts/2025-04-23-hashicorp-vault-from-helm-values.md
  content/posts/2025-05-08-helm-secrets-vals-string-interpolation.md
  content/posts/2025-06-12-argocd-application-stuck-in-unknown.md
  content/posts/2025-06-24-helm-repository-with-a-trailing-slash.md
  content/posts/2025-06-30-argocd-deployment-spec-selector-field-is-immutable.md
  content/posts/2025-08-01-argocd-all-applications-stuck-on-refresh.md
  content/posts/2025-08-09-argocd-recovery-when-traefik-is-broken.md
  content/posts/2025-08-12-argocd-app-version-notifications.md
  content/posts/2025-08-23-argocd-git-index.lock-issue.md
  content/posts/2025-08-28-helm-diff-manifests.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: c5900914f3d61c67d60cb6d9d74574e9ce2dab52
  2024/10/new-apkbuild-argocd/index.html
  2025/06/pdb-minavailable-and-maxunavailable-cannot-be-both-set/index.html
  2025/09/uninstall-kyverno/index.html
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  en/sitemap.xml
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/blogroll.opml
  search/index.json
  sitemap.xml
  tags/alpine-linux/index.xml
  tags/index.html
  tags/index.xml
  tags/kubernetes/index.html
  tags/kubernetes/index.xml
Due: none

add kubernetes tag
  content/posts/2024-07-09-kubectl-get-secret-with-jsonpath-add-newline.md
  content/posts/2024-10-15-kubectl-force-delete-pods.md
  content/posts/2025-09-05-kubectl-verbose-logging.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

add kubernetes tag
  content/posts/2024-12-17-skopeo-operate-container-images-and-registries.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: f81c16f06a8bc62f118b66aa6ffdcea8559dd48b
  2024/05/adding-a-healthcheck-to-chartmuseum-in-aws-fargate/index.html
  2024/08/helm-list-all-installed-charts-in-the-cluster/index.html
  2024/08/kubectl-print-all-secret-values-in-plain-text/index.html
  2024/09/helm-list-recent-chart-upgrades/index.html
  2024/10/new-apkbuild-argocd/index.html
  2024/11/helm-enforce-the-directory-name-matches-the-chart-name/index.html
  2024/11/helm-json-schema-generation/index.html
  2025/01/argocd-cache-key-is-missing/index.html
  2025/01/helm-migrate-chart-dependencies-from-https-to-oci/index.html
  2025/02/argocd-vertical-pod-autoscaler-sync-loop/index.html
  2025/04/hashicorp-vault-from-helm-values/index.html
  2025/05/helm-secrets--vals-string-interpolation/index.html
  2025/06/argocd-application-stuck-in-unknown/index.html
  2025/06/argocd-custom-health-check-for-statefulset-ondelete/index.html
  2025/06/argocd-deployment-spec.selector-field-is-immutable/index.html
  2025/06/argocd-upgrade-to-v3-remove-helm-labels/index.html
  2025/06/helm-repository-with-a-trailing-slash/index.html
  2025/08/argocd-all-applications-stuck-on-refresh/index.html
  2025/08/argocd-app-version-notifications/index.html
  2025/08/argocd-git-index.lock-issue/index.html
  2025/08/argocd-recovery-when-traefik-is-broken/index.html
  2025/08/helm-diff-manifests/index.html
  2025/09/uninstall-kyverno/index.html
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  en/sitemap.xml
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/blogroll.opml
  search/index.json
  sitemap.xml
  tags/git/index.xml
  tags/index.html
  tags/index.xml
  tags/kubernetes/index.html
  tags/kubernetes/index.xml
  tags/security/index.xml
Due: none

deploy: 5d006c1f67158fbd7a6c36b9649fd15cbb03e180
  2024/07/kubectl-get-secret-with-jsonpath-and-add-a-newline/index.html
  2024/08/kubectl-print-all-secret-values-in-plain-text/index.html
  2024/10/kubectl-force-delete-pods/index.html
  2024/10/kubectl-list-all-node-pods/index.html
  2024/12/skopeo-operate-container-images-and-registries/index.html
  2025/06/pdb-minavailable-and-maxunavailable-cannot-be-both-set/index.html
  2025/08/kubernetes-list-all-imagepullbackoff-container-images/index.html
  2025/09/kubectl-verbose-logging/index.html
  2025/09/uninstall-kyverno/index.html
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  en/sitemap.xml
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/blogroll.opml
  search/index.json
  sitemap.xml
  tags/index.html
  tags/index.xml
  tags/kubernetes/index.html
  tags/kubernetes/index.xml
Due: none

add terraform tag
  content/posts/2024-01-23-terraforming-a-linode-hello-world.md
  content/posts/2024-02-01-integrating-terraform-with-ansible.md
  content/posts/2024-05-21-terraform-aws-deploy-to-random-availability-zones.md
  content/posts/2025-03-17-terraform-create-zip-files.md
  content/posts/2025-03-17-terraform-generate-diagrams.md
  content/posts/2025-03-19-terraform-rename-resources.md
  content/posts/2025-08-04-terraform-bypass-lock.md
  content/posts/2025-11-17-terraform-update-outputs-only.md
  content/posts/2025-11-19-terraformer.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

add vim tag
  content/posts/2025-01-05-pre-commit-vim-integration.md
  content/posts/2025-07-22-vim-join-lines-without-producing-a-space.md
  content/posts/2025-07-26-vim-add-word-to-spellchecker.md
  content/posts/2025-09-16-vim-remove-trailing-whitespace.md
  content/posts/2025-10-08-vim-reflow-current-paragraph.md
  content/posts/2025-11-02-vim-spellchecker-suggestions.md
  content/posts/2025-12-21-j-k-navigation.md
  content/posts/2025-12-23-vim-nvim.md
  content/posts/2026-01-03-neovim--inline-git-hunk-control.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

add aws tag
  content/posts/2024-05-17-adding-a-healthcheck-to-chartmuseum-in-aws-fargate.md
  content/posts/2024-09-05-aws-s3-search-by-suffix.md
  content/posts/2024-10-25-check-if-docker-image-exists-in-registry.md
  content/posts/2024-12-10-docker-build-ignore-cache.md
  content/posts/2024-12-17-skopeo-operate-container-images-and-registries.md
  content/posts/2025-10-04-new-script-aws-china-mfa-login.md
  content/posts/2025-11-19-terraformer.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 7fe0bbd8dd74e5a0a5be22a460ddd29cd60a94fc
  2024/05/adding-a-healthcheck-to-chartmuseum-in-aws-fargate/index.html
  2024/09/aws-s3-search-by-suffix/index.html
  2024/10/check-if-docker-image-exists-in-registry/index.html
  2024/12/docker-build-ignore-cache/index.html
  2024/12/skopeo-operate-container-images-and-registries/index.html
  2025/10/new-script-aws-china-mfa-login/index.html
  2025/11/terraformer/index.html
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  en/sitemap.xml
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/blogroll.opml
  search/index.json
  sitemap.xml
  tags/aws/index.html
  tags/aws/index.xml
  tags/index.html
  tags/index.xml
  tags/kubernetes/index.xml
  tags/security/index.xml
  tags/terraform/index.xml
Due: none

add aws tag
  content/posts/2024-10-18-prodaccess.md
  content/posts/2025-03-19-terraform-rename-resources.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 0ff708bffdc3431e01c774bc06d7436cf3fea2a7
  2024/05/terraform-aws-deployment-to-random-availability-zones/index.html
  2024/10/prodaccess/index.html
  2025/03/terraform-rename-resources/index.html
  2025/11/terraformer/index.html
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  en/sitemap.xml
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/blogroll.opml
  search/index.json
  sitemap.xml
  tags/aws/index.html
  tags/aws/index.xml
  tags/index.html
  tags/index.xml
  tags/terraform/index.xml
Due: none

leetcode
  content/posts/coding/2026-01-03-leetcode-589-n-ary-tree-preorder-traversal.md
Due: check-coding-titles, check-duplicate-leetcode, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics
