Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

forbid-md-extension-in-hugo-internal-links:
  name: Forbid .md extension in hugo internal links
  entry: .*\.md\" >\}\}
  language: pygrep

forbid-old-perrotta-dev:
  name: Forbid old domains
  entry: \\b(https://thiagowfx\.github\.io|www\.perrotta\.dev|blog\.perrotta\.dev)\\b
  language: pygrep

forbid-personal-emails:
  name: Forbid personal emails
  entry: (@perrotta.dev|tbperrotta@gmail.com)
  language: pygrep

forbid-tulip:
  name: Forbid Tulip terms
  entry: (?i)(\btulip\b|@garden)
  language: pygrep

forbid-utm-analytics:
  name: Forbid UTM analytics / tracking
  entry: \\b(utm_source)\\b
  language: pygrep

static quest
  content/posts/2025-05-17-blog-directories.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: f256372d94a7d99ff215694d1d175344052fd84b
  2024/12/advent-of-code-2024-day-2/index.html
  2025/05/blog-directories/index.html
  blogroll.opml
  sitemap.xml
  tags/coding/index.html
  tags/selfhosted/index.html
  tags/selfhosted/index.xml
  tags/serenity/index.html
Due: none

bytebytego: sum between range
  content/posts/2025-12-02-bytebytego-sum-between-range.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 17f7cbdafa78b13f1472a7558a10c237558ecdce
  2025/12/bytebytego-sum-between-range/index.html
  404.html
  blogroll.opml
  posts/index.html
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

bytebytego: k-sum subarrays
  content/posts/2025-12-02-bytebytego-k-sum-subarrays.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 4c0e75447e7fe7fa4d27353034536561eecabc29
  2025/12/bytebytego-k-sum-subarrays/index.html
  404.html
  blogroll.opml
  posts/index.html
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

bytebytego: Product Array Without Current Elemen
  content/posts/2025-12-02-bytebytego-product-array-without-current-element.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: a9efb0582f7a48ce1a12bf8bcdd9a3202a573c9d
  2025/12/bytebytego-product-array-without-current-element/index.html
  404.html
  blogroll.opml
  posts/index.html
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

add hello world
  content/posts/2025-12-03-jj-hello-world.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

new post: jj hello world
  content/posts/2025-12-03-jj-hello-world.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: f1c9ad22f2deac0055794c5d963eb216814f81e5
  2025/12/jj-hello-world/index.html
  404.html
  blogroll.opml
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

git, ugh
  content/posts/2025-12-03-jj-hello-world.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 96ab639c0b0fda66bcbbb8d1b7ea81e3a0a6f406
  2025/12/jj-hello-world/index.html
  blogroll.opml
  index.xml
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

redaction sucks
  content/posts/2025-12-03-jj-hello-world.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 53aea08d15675df50d0af887f329c744806b1bc5
  2025/12/jj-hello-world/index.html
  blogroll.opml
  index.xml
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

more stale bot
  content/posts/2025-12-04-stale-bot-considered-harmful.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 810dffc72f394e586fb3124e8578ede350c07991
  2024/12/advent-of-code-2024-day-3/index.html
  2024/12/iac/index.html
  2025/12/stale-bot-considered-harmful/index.html
  404.html
  blogroll.opml
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
Due: none

oops
  content/posts/2025-12-04-stale-bot-considered-harmful.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: dd4110ca7c5fc51201701805a341f9fafac50ccb
  2025/12/stale-bot-considered-harmful/index.html
  blogroll.opml
  index.xml
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
Due: none

deploy: 5099150fba93328e50d13adf81933a22df01f5db
  2025/12/stale-bot-considered-harmful/index.html
  blogroll.opml
  index.xml
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
Due: none

claude chime
  content/posts/2025-12-04-claude-notify-when-needed.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 10b3cbd421341251abfc0e38bf3d32852851e70d
  2025/12/claude-code-notify-when-needed/index.html
  404.html
  blogroll.opml
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/bestof/index.html
  tags/bestof/index.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

path
  content/posts/2025-12-04-claude-notify-when-needed.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 70d6f189a68c62f83924e623e19bfa17a965327b
  2025/12/claude-code-notify-when-needed/index.html
  blogroll.opml
  index.xml
  posts/index.xml
  sitemap.xml
  tags/bestof/index.html
  tags/bestof/index.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

add static.quest
  content/posts/2025-05-17-blog-directories.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: d891fec1eaf3c1411827b93a8d9e1de991d455d9
  2024/12/atools-unpack-file-archives-agnostically/index.html
  2025/05/blog-directories/index.html
  blogroll.opml
  sitemap.xml
  tags/coding/index.html
  tags/selfhosted/index.html
  tags/selfhosted/index.xml
  tags/serenity/index.html
Due: none

new post: friendly ping
  content/posts/2025-12-04-friendly-ping.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 076cbf24c4503bc4c6cfa6ac78cb44b62e5884e8
  2025/12/friendly_ping-track-your-stale-github-pull-requests/index.html
  404.html
  blogroll.opml
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/bestof/index.html
  tags/bestof/index.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

just: open posts by default
  Justfile
Due: none

deploy: 6f9a8e6b75a0e507104365e16add5fb790eda0f1
  blogroll.opml
  tags/coding/index.html
Due: none

fix url
  content/posts/2025-12-04-friendly-ping.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 1eba2717ff42f3edab3e07d4a1c69307afb5b2e6
  2025/12/friendly_ping-track-your-stale-github-pull-requests/index.html
  blogroll.opml
  index.xml
  posts/index.xml
  sitemap.xml
  tags/bestof/index.html
  tags/bestof/index.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

fix
  content/posts/2025-12-04-friendly-ping.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 701ec0cf29ae49ffbe1782044f1e45b48c34c728
  2025/12/friendly_ping-track-your-stale-github-pull-requests/index.html
  404.html
  blogroll.opml
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/bestof/index.html
  tags/bestof/index.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

alphabetical menu
  config.yml
Due: forbid-old-perrotta-dev

rss.social
  content/posts/2025-05-17-blog-directories.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 6d047bfe783a8e50b4823e9bbb7e77b0648c139f
  2025/05/blog-directories/index.html
  blogroll.opml
  sitemap.xml
  tags/coding/index.html
  tags/selfhosted/index.html
  tags/selfhosted/index.xml
  tags/serenity/index.html
Due: none

logseq
  content/posts/2025-12-06-reordering-mobile-editing-icons-in-logseq.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

Path conditions:
  forbid-md-extension-in-hugo-internal-links: any of: \.(md|markdown|mdown)$, but not: ^(schemas|vendor)/
  forbid-old-perrotta-dev: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$ and not (^(content/posts/2024-02-04-new-domain.md|content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md)$) and not (^(schemas|vendor)/)
  forbid-personal-emails: any of: \.(md|markdown|mdown)$, but not: ^(schemas|vendor)/
  forbid-tulip: any of: \.(md|markdown|mdown)$, but not: ^(schemas|vendor)/
  forbid-utm-analytics: any of: \.(md|markdown|mdown)$, but not: ^(schemas|vendor)/
