Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbid-utm-analytics, forbid-www-perrotta-dev

forbid-utm-analytics:
  name: Forbid usage of UTM analytics / tracking
  entry: \b(utm_source)\b
  language: pygrep

forbid-www-perrotta-dev:
  name: Forbid usage of previous domains
  entry: \b(thiagowfx\.github\.io|www\.perrotta\.dev)\b
  language: pygrep

deploy: acdeee6f6aaf175065fd9fc90bf22d551e236f11
  2024/01/nfe/index.html
  2025/01/emissor-nfe-sebrae-v4.01-para-emissão-de-notas-fiscais/emissorNfe-4_0_1.jnlp
  2025/01/emissor-nfe-sebrae-v4.01-para-emissão-de-notas-fiscais/index.html
  2025/01/nfe/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/portuguese/index.html
  tags/portuguese/index.xml
Due: none

fix alias
  content/posts/2025-01-08-emissor-nfe-sebrae-v401/index.md
Due: forbid-utm-analytics, forbid-www-perrotta-dev

deploy: 1fcb46d8e04991ab69cfe356da6ce81d224f72ad
  nfe/index.html
Due: none

move menu
  config.yml
  layouts/_default/baseof.html
Due: forbid-www-perrotta-dev

new post: alpine linux pin old packages
  content/posts/2025-01-08-alpine-linux-install-pin-old-packages.md
Due: forbid-utm-analytics, forbid-www-perrotta-dev

deploy: e6ecd18729d6068d76c4f14e975784f638a716b4
  2025/01/alpine-linux-install-/-pin-old-packages/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/selfhosted/index.html
  tags/selfhosted/index.xml
Due: none

new post: helm oci
  content/posts/2025-01-08-helm-migrate-charts-dependencies-from-https-to-oci.md
Due: forbid-utm-analytics, forbid-www-perrotta-dev

deploy: b369ec0be740a7bdf6fa979c542d056e35f161fb
  2025/01/helm-migrate-chart-dependencies-from-https-to-oci/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/selfhosted/index.html
  tags/selfhosted/index.xml
Due: none

new post: ghostty configs
  content/posts/2025-01-09-ghostty-find-popular-themes.md
Due: forbid-utm-analytics, forbid-www-perrotta-dev

deploy: dfdc198e1017830c0bd5799781aa547eaee9ae16
  2025/01/ghostty-find-popular-themes/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none

new post: YAML schema linting
  content/posts/2025-01-09-yaml-enforce-schema-linting.md
Due: forbid-utm-analytics, forbid-www-perrotta-dev

deploy: 41495ca12c11f2ddac5344df762038bc127a294a
  2025/01/yaml-enforce-schema-linting/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none

new post: password generator
  content/posts/2025-01-09-quick-and-dirty-random-password-generator.md
Due: forbid-utm-analytics, forbid-www-perrotta-dev

deploy: d0709587fef9945ec4dde5213c6d4031d341baf9
  2025/01/quick-and-dirty-random-password-generator/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/privacy/index.html
  tags/privacy/index.xml
Due: none

new post: argocd: cache key is missing
  content/posts/2025-01-09-argocd-cache-key-is-missing.md
Due: forbid-utm-analytics, forbid-www-perrotta-dev

deploy: 84e3e07cf29044e8e63c50b63d89524ef0655f0f
  2025/01/argocd-cache-key-is-missing/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/selfhosted/index.html
  tags/selfhosted/index.xml
Due: none

new post: why self-host
  content/posts/2025-01-09-why-self-answer-questions-in-your-own-blog-instead-of-stack-overflow.md
Due: forbid-utm-analytics, forbid-www-perrotta-dev

deploy: 627603f124357f85de70719229abac5beb96ba52
  2025/01/why-self-answer-questions-in-your-own-blog-instead-of-stack-overflow/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/meta/index.html
  tags/meta/index.xml
  tags/selfhosted/index.html
  tags/selfhosted/index.xml
Due: none

new post: anki insert emoji in macos
  content/posts/2025-01-11-anki-insert-emoji-on-macos.md
Due: forbid-utm-analytics, forbid-www-perrotta-dev

deploy: e34dccb0f3b7d0bbf69449f47f0527ff6a70c514
  2025/01/anki-insert-emoji-on-macos/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none

just update
  .pre-commit-config.yaml
Due: none

deploy: a5974c34613a89b69b7347c07c7143d7218c0c10
  robots.txt
Due: none

add drafts folder
  .gitignore
  drafts/.gitkeep
Due: none

new post: .gitkeep
  .pre-commit-config.yaml
  content/posts/2025-01-11-gitkeep.md
Due: forbid-utm-analytics, forbid-www-perrotta-dev

exclude some excludes from pre-commit
  .pre-commit-config.yaml
Due: none

deploy: 0fbbd8149937a346504ea79ad3923dc421c6c3fd
  2025/01/.gitkeep/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/meta/index.html
  tags/meta/index.xml
Due: none

downgrade stackoverflow, upgrade email and rss
  layouts/_default/baseof.html
Due: none

add gitleaks
  .pre-commit-config.yaml
Due: none

new post: cloudflare email workers
  content/posts/2025-01-11-cloudflare-email-workers.md
Due: forbid-utm-analytics, forbid-www-perrotta-dev

deploy: d3ccff1239c6a8bf8e58f7ef53c71cf18b72b6e7
  2025/01/cloudflare-email-workers/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/bestof/index.html
  tags/bestof/index.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/privacy/index.html
  tags/privacy/index.xml
  tags/selfhosted/index.html
  tags/selfhosted/index.xml
Due: none

yaml enforce schema: mention the any schema
  content/posts/2025-01-09-yaml-enforce-schema-linting.md
Due: forbid-utm-analytics, forbid-www-perrotta-dev

deploy: 850a386d9f7e762f4e7fa2b030b72ddb3d086633
  2025/01/yaml-enforce-schema-linting/index.html
  index.xml
  posts/index.xml
  tags/dev/index.xml
Due: none

new post: sscce
  content/posts/2025-01-11-sscce.md
Due: forbid-utm-analytics, forbid-www-perrotta-dev

deploy: 79457d5d0792dbee80c1a9064c35396dfd1203d9
  2025/01/sscce/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none

title
  content/posts/2025-01-11-sscce.md
Due: forbid-utm-analytics, forbid-www-perrotta-dev

deploy: cde036464171c7c92c4e448ae572bcdca687fd9a
  2025/01/sscce/index.html
  index.xml
  posts/index.html
  posts/index.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none

fix headings
  content/posts/2024-12-31-devops-career-progression.md
  content/posts/2025-01-07-diffing-two-directories.md
Due: forbid-utm-analytics, forbid-www-perrotta-dev

deploy: 199da89925adbddb8d2762f406844c754aa2e4e0
  2024/12/devops-career-progression/index.html
  2025/01/diffing-two-directories/index.html
  index.xml
  posts/index.xml
  tags/dev/index.xml
Due: none

stop trying to schedule a call with me
  content/posts/2025-01-13-stop-trying-to-schedule-a-call-with-me.md
Due: forbid-utm-analytics, forbid-www-perrotta-dev

Path conditions:
  forbid-utm-analytics: any of: \.(md|markdown|mdown)$
  forbid-www-perrotta-dev: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$, but not: ^(README\.md|\.pre-commit-config\.yaml|content/posts/2024-02-04-new-domain.md|content/posts/2022-02-18-hugo-compose-or-edit-blog-posts-from-the-web.md|content/posts/2022-10-09-do-i-still-remember-how-to-blog.md)$
