Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

Path conditions:
  forbid-md-extension-in-hugo-internal-links: any of: \.(md|markdown|mdown)$, but not: ^(schemas|vendor)/
  forbid-old-perrotta-dev: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$ and not (^(content/posts/2024-02-04-new-domain.md|content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md)$) and not (^(schemas|vendor)/)
  forbid-personal-emails: any of: \.(md|markdown|mdown)$, but not: ^(schemas|vendor)/
  forbid-tulip: any of: \.(md|markdown|mdown)$, but not: ^(schemas|vendor)/
  forbid-utm-analytics: any of: \.(md|markdown|mdown)$, but not: ^(schemas|vendor)/

vspace in pages
  layouts/_default/single.html
Due: none

deploy: a753a5ea1b845175f6c246ea3a94338af7852a43
  ai/index.html
  blogroll.opml
  blogroll/index.html
  canary/index.html
  projects/index.html
  tags/coding/index.html
Due: none

merge duplicate leetcode-26 posts
  content/posts/2025-09-03-leetcode-26-duplicate-from-sorted-array.md
  content/posts/2025-12-30-leetcode-26-remove-duplicates-from-sorted-array.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

add duplicate leetcode post detection
  .pre-commit-config.yaml
  ci/check_duplicate_leetcode_posts.py
Due: forbid-old-perrotta-dev

deploy: 7f1b3066e82a9c1ad7e0cb577bd4ff2a79373008
  2025/09/leetcode-#26-duplicate-from-sorted-array/index.html
  2025/09/leetcode-#80-duplicate-from-sorted-array-ii/index.html
  2025/09/leetcode-#88-merge-sorted-array/index.html
  2025/11/bytebytego-pair-sum-sorted/index.html
  2025/11/bytebytego-repeated-removal-of-adjacent-duplicates/index.html
  2025/12/leetcode-#1119-remove-vowels-from-a-string/index.html
  2025/12/leetcode-#1346-check-if-n-and-its-double-exist/index.html
  2025/12/leetcode-#1351-count-negative-numbers-in-a-sorted-matrix/index.html
  2025/12/leetcode-#182-duplicate-emails/index.html
  2025/12/leetcode-#217-contains-duplicate/index.html
  2025/12/leetcode-#26-remove-duplicates-from-sorted-array/index.html
  2025/12/leetcode-#346-moving-average-from-data-stream/index.html
  2025/12/leetcode-#905-sort-array-by-parity/index.html
  2025/12/leetcode-#922-sort-array-by-parity-ii/index.html
  2025/12/leetcode-#977-squares-of-a-sorted-array/index.html
  blogroll.opml
  blogroll/index.html
  posts/index.html
  search/index.json
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

deploy: 72fe1f6b99ea805f4acf1d9734a636a693480ac6
  blogroll.opml
  blogroll/index.html
  tags/coding/index.html
Due: none

add early duplicate leetcode detection to just code
  Justfile
Due: none

prettier
  static/coding-chart.js
Due: none

deploy: 9ac88e59b7bedbd19877b57c21630a5a3387d22b
  blogroll.opml
  blogroll/index.html
  tags/coding/index.html
Due: none

deploy: d99de3f6db3a19fa6d6c9dd72d4b0c417b930b5b
  blogroll.opml
  blogroll/index.html
  coding-chart.js
  tags/coding/index.html
Due: none

related posts: update scoring
  layouts/partials/related-posts.html
Due: none

leetcode
  content/posts/2025-12-31-leetcode-3396.-minimum-number-of-operations-to-make-elements-in-array-distinct.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: e44e1f307a4dadedbb3c8b6c98748762d385df20
  blogroll.opml
  blogroll/index.html
  tags/coding/index.html
Due: none

fix post title
  content/posts/2025-12-31-leetcode-3396-minimum-number-of-operations-to-make-elements-in-array-distinct.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

add quick build for pre-commit to skip expensive related posts logic
  .pre-commit-config.yaml
  Justfile
  layouts/partials/related-posts.html
Due: forbid-old-perrotta-dev

deploy: 6e5b827658f905c49da175d52fdcb8cfe62b326e
  2025/12/leetcode-#3396-minimum-number-of-operations-to-make-elements-in-array-distinct/index.html
  blogroll.opml
  blogroll/index.html
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

deploy: a8af8a9957d76ad72eea6ae67ad9383ad85d7412
  blogroll.opml
  blogroll/index.html
  tags/coding/index.html
Due: none

fix: normalize LeetCode problem format from dot to hash notation
  Justfile
Due: none

deploy: fc54988c7497d7beba7a7eb0600cc0c5215378a8
  blogroll.opml
  blogroll/index.html
  tags/coding/index.html
Due: none

leetcode
  content/posts/2025-12-26-leetcode-344-reverse-string.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 75a5c9e2fab28b491aae8cceb86df3b2e69f9b7b
  2025/12/leetcode-#344-reverse-string/index.html
  blogroll.opml
  blogroll/index.html
  sitemap.xml
  tags/coding/index.html
Due: none

leetcode
  content/posts/2025-12-31-leetcode-24-swap-nodes-in-pairs.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

fix search bar width on mobile
  layouts/partials/style.html
Due: none

fix: show related posts only on blog posts, not on standalone pages
  layouts/_default/single.html
Due: none

deploy: 339328a03fb67615c4eec72c66548a640b8501d4
  ai/index.html
  blogroll.opml
  blogroll/index.html
  canary/index.html
  tags/coding/index.html
Due: none

typo
  Justfile
Due: none

deploy: 207e540362b3ad6b8ab030eba551280bfdcdbef5
  2024/12/devops-career-progression/index.html
  blogroll.opml
  blogroll/index.html
  tags/coding/index.html
Due: none

just watch: open browser right away
  Justfile
Due: none

just: add lint
  Justfile
Due: none

deploy: 9ad82782690b104a9e295ee5882c6c1017c2049f
  blogroll.opml
  blogroll/index.html
  tags/coding/index.html
Due: none

add dropdown nav menu for explore
  config/_default/config.yml
  layouts/_default/baseof.html
  layouts/partials/style.html
Due: forbid-old-perrotta-dev

blogroll
  content/blogroll.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 567cad2edbe52f132a17ed8503e4d48c404e9e40
  blogroll.opml
  blogroll/index.html
  sitemap.xml
  tags/coding/index.html
Due: none
