Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-broken-internal-links, check-coding-titles, check-duplicate-coding, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-external-images, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

Path conditions:
  check-broken-internal-links: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  check-coding-titles: any of: ^content/posts/.*(leetcode|bytebytego).*\.md$ and \.(md|markdown|mdown)$ and not (^content/posts/2025-12-30-kagi-add-leetcode-bang.md$) and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  check-duplicate-coding: any of: ^content/posts/.*(leetcode|bytebytego).*\.md$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  check-required-frontmatter: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (_index\.md$) and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  check-single-category: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  forbid-double-more: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  forbid-double-parens-in-shortcodes: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-external-images: any of: ^layouts/.*\.html$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-md-extension-in-hugo-internal-links: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-old-perrotta-dev: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$ and not (^(content/posts/2024-02-04-new-domain.md|content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md)$) and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  forbid-personal-emails: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-tulip: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-utm-analytics: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  replace-em-dashes: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  replace-shell-prompt: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  sort-blog-tags: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  strip-content-posts-prefix: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)

add colophon
  content/posts/2026-05-20-personal-claude.md.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

deploy: 63877731d955ded015cfb09a5248f0e6cbfb10b2
  2022/01/advent-of-code/index.html
  2026/05/personal-claude.md/index.html
  2026/05/personal-claude.md/index.md
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  index.xml
  it/blogroll.opml
  posts/index.xml
  pt/blogroll.opml
  sitemap.xml
  tags/ai/index.xml
  tags/bestof/index.xml
  tags/dev/index.xml
  tags/index.xml
  tags/meta/index.xml
  tags/pkm/index.xml
  tags/serenity/index.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

homebrew conflicts
  content/posts/2026-05-21-homebrew-conflicts.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

llm anthropic claude
  content/posts/2026-05-21-llm-anthropic-claude-plugin.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

wt cd woes
  content/posts/2026-05-21-wt-exec-shell-vs-shell-integration.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

prove_it
  content/posts/2026-05-20-personal-claude-md.md
  content/posts/2026-05-21-prove_it-verification-hooks-for-claude-code.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

new post: argocd: pdb selector
  content/posts/2026-05-22-argocd-pdb-selector-drift.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

brave tabs
  content/posts/2026-05-24-brave-browser-access-mobile-tabs.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

commodification of travel
  content/posts/2026-05-24-the-commodification-of-travel.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

adr: 0013 no query strings
  docs/adrs/0013-no-query-strings.md
  docs/adrs/README.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

name author explicitly
  content/posts/2026-05-24-the-commodification-of-travel.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

worktrunk
  content/posts/2026-05-25-worktrunk.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

ubuntu 14.04
  content/pt/posts/2014-04-18-miniopiniao-ubuntu-14-04-lancado.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: dbdb09a5d6d10fa9c8400981cdfa2b65331c19db
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  it/blogroll.opml
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/2014/04/opinião-ubuntu-14.04-lançado/index.html
  pt/2014/04/opinião-ubuntu-14.04-lançado/index.md
  pt/2014/04/recovery-típico-via-usb/index.html
  pt/2014/04/spotify/index.html
  pt/blogroll.opml
  pt/index.xml
  pt/posts/2014-04-15-spotify/index.html
  pt/posts/2014-04-18-miniopiniao-ubuntu-14-04-lancado/index.html
  pt/posts/2014-04-18-miniopiniao-ubuntu-14-04-lancado/index.md
  pt/posts/2014-04-18-recovery-tipico-via-usb/index.html
  pt/posts/index.html
  pt/posts/index.xml
  pt/search/index.json
  pt/sitemap.md
  pt/sitemap.xml
  pt/tags/dev/index.html
  pt/tags/dev/index.xml
  pt/tags/index.html
  pt/tags/index.xml
  pt/tags/legacy/index.html
  pt/tags/legacy/index.xml
  pt/tags/serenity/index.html
  pt/tags/serenity/index.xml
  sitemap.md
  sitemap.xml
  tags/dev/index.html
  tags/index.html
  tags/index.xml
  tags/legacy/index.html
  tags/serenity/index.html
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

siga
  content/pt/posts/2014-01-11-cansei-de-guardar-tantos-arquivos-do-siga.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

hugo: fix link
  content/pt/posts/2013-10-05-movendo-quase-todas-as-musicas-para-a-nuvem.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

hugo: fix link
  content/pt/posts/2014-02-03-cpbr7-parte-1-hackatons-firefox-os-cert-br.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: 89969d2c51c196835c4d128802eff895dc594fb5
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  it/blogroll.opml
  pt/2013/10/movendo-quase-todas-as-músicas-para-a-nuvem/index.html
  pt/2013/10/movendo-quase-todas-as-músicas-para-a-nuvem/index.md
  pt/blogroll.opml
  pt/posts/2013-10-05-movendo-quase-todas-as-musicas-para-a-nuvem/index.html
  pt/posts/2013-10-05-movendo-quase-todas-as-musicas-para-a-nuvem/index.md
  pt/sitemap.xml
  pt/tags/index.xml
  pt/tags/serenity/index.xml
  sitemap.xml
  tags/index.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

opengpg
  content/pt/posts/2014-04-26-openpgp.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: 94e05e6a2a11fef23b9cf2af2cb083c78aada7b1
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  it/blogroll.opml
  pt/2014/02/#cpbr7-parte-1-hackatons-firefox-os--cert.br/index.html
  pt/2014/02/#cpbr7-parte-1-hackatons-firefox-os--cert.br/index.md
  pt/blogroll.opml
  pt/posts/2014-02-03-cpbr7-parte-1-hackatons-firefox-os-cert-br/index.html
  pt/posts/2014-02-03-cpbr7-parte-1-hackatons-firefox-os-cert-br/index.md
  pt/sitemap.xml
  pt/tags/bestof/index.xml
  pt/tags/dev/index.xml
  pt/tags/index.xml
  pt/tags/legacy/index.xml
  pt/tags/serenity/index.xml
  sitemap.xml
  tags/index.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: e73d54c541f2367487ce39ec15ee5d94b9227615
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  it/blogroll.opml
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/2014/04/openpgp/index.html
  pt/2014/04/openpgp/index.md
  pt/2014/04/os-servidores-de-dns-da-net/virtua-foram-hackeados/index.html
  pt/2014/05/instalando-o-gentoo-a-partir-do-arch/index.html
  pt/blogroll.opml
  pt/index.xml
  pt/llms.txt
  pt/posts/2014-04-26-cuidado-os-servidores-de-dns-da-netvirtua-foram-hackeados/index.html
  pt/posts/2014-04-26-openpgp/index.html
  pt/posts/2014-04-26-openpgp/index.md
  pt/posts/2014-05-01-instalando-o-gentoo-a-partir-do-arch/index.html
  pt/posts/index.html
  pt/posts/index.xml
  pt/search/index.json
  pt/sitemap.md
  pt/sitemap.xml
  pt/tags/index.html
  pt/tags/index.xml
  pt/tags/legacy/index.html
  pt/tags/legacy/index.xml
  pt/tags/privacy/index.html
  pt/tags/privacy/index.xml
  pt/tags/security/index.html
  pt/tags/security/index.xml
  sitemap.md
  sitemap.xml
  tags/index.html
  tags/index.xml
  tags/legacy/index.html
  tags/privacy/index.html
  tags/security/index.html
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

até mais
  content/pt/posts/2013-10-25-ate-mais-e-obrigado-pelos-peixes.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: 53d557afaefad6f86a09614849d3971f8451c214
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  it/blogroll.opml
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/2013/10/até-mais-e-obrigado-pelos-peixes/index.html
  pt/2013/10/até-mais-e-obrigado-pelos-peixes/index.md
  pt/2013/10/triple-booting-yay/index.html
  pt/2013/11/linux-no-ssd-minhas-configurações/index.html
  pt/blogroll.opml
  pt/posts/2013-10-16-triple-booting-yay/index.html
  pt/posts/2013-10-25-ate-mais-e-obrigado-pelos-peixes/index.html
  pt/posts/2013-10-25-ate-mais-e-obrigado-pelos-peixes/index.md
  pt/posts/2013-11-10-linux-no-ssd-minhas-configuracoes/index.html
  pt/posts/index.html
  pt/search/index.json
  pt/sitemap.md
  pt/sitemap.xml
  pt/tags/dev/index.html
  pt/tags/index.xml
  pt/tags/legacy/index.html
  pt/tags/serenity/index.html
  pt/tags/serenity/index.xml
  sitemap.md
  sitemap.xml
  tags/dev/index.html
  tags/index.html
  tags/index.xml
  tags/legacy/index.html
  tags/serenity/index.html
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

homepage: add obfuscated mailto link to contact line
  content/_index.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

homepage: add obfuscated mailto link to contact line (#115)
  content/_index.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: 95de58cfec8a809e0fff10d10c7d4266e32333e0
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  index.html
  it/blogroll.opml
  pt/blogroll.opml
  sitemap.xml
Due: none

pgp
  content/pt/posts/2014-05-09-openpgp.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: bfae8ccf0b9920d46cd8b486e12898db047477f0
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  it/blogroll.opml
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/2014/05/física-3-@-ufrj-sugestão-de-referências/index.html
  pt/2014/05/openpgp/index.html
  pt/2014/05/openpgp/index.md
  pt/2014/05/redesign-do-blog/index.html
  pt/blogroll.opml
  pt/index.xml
  pt/llms.txt
  pt/posts/2014-05-09-openpgp/index.html
  pt/posts/2014-05-09-openpgp/index.md
  pt/posts/2014-05-09-redesign-do-blog/index.html
  pt/posts/2014-05-11-fisica-3-ufrj-sugestao-de-referencias/index.html
  pt/posts/index.html
  pt/posts/index.xml
  pt/search/index.json
  pt/sitemap.md
  pt/sitemap.xml
  pt/tags/index.html
  pt/tags/index.xml
  pt/tags/legacy/index.html
  pt/tags/legacy/index.xml
  pt/tags/security/index.html
  pt/tags/security/index.xml
  sitemap.md
  sitemap.xml
  tags/index.html
  tags/index.xml
  tags/legacy/index.html
  tags/security/index.html
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

grill me
  content/posts/2026-05-25-grill-me.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix
