Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-broken-internal-links, check-coding-titles, check-duplicate-coding, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-external-images, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

Path conditions:
  check-broken-internal-links: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  check-coding-titles: any of: ^content/posts/.*(leetcode|bytebytego).*\.md$ and \.(md|markdown|mdown)$ and not (^content/posts/2025-12-30-kagi-add-leetcode-bang.md$) and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  check-duplicate-coding: any of: ^content/posts/.*(leetcode|bytebytego).*\.md$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  check-required-frontmatter: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (_index\.md$) and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  check-single-category: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  forbid-double-more: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  forbid-double-parens-in-shortcodes: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-external-images: any of: ^layouts/.*\.html$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-md-extension-in-hugo-internal-links: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-old-perrotta-dev: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$ and not (^(content/posts/2024-02-04-new-domain.md|content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md)$) and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  forbid-personal-emails: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-tulip: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-utm-analytics: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  replace-em-dashes: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  replace-shell-prompt: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  sort-blog-tags: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  strip-content-posts-prefix: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)

heap
  content/posts/coding/2026-04-06-leetcode-355-design-twitter.md
Due: check-broken-internal-links, check-coding-titles, check-duplicate-coding, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

deque
  content/posts/coding/2026-04-06-leetcode-355-design-twitter.md
Due: check-broken-internal-links, check-coding-titles, check-duplicate-coding, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

acah
  content/pt/posts/2014-02-16-ace-combat-dassault-horizon-mini-review.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

bestof
  content/pt/posts/2014-02-16-ace-combat-dassault-horizon-mini-review.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: 86be26f00f2319068ccd4cdbe80cb233c0e9bd64
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/2014/02/ace-combat-dassault-horizon--mini-review/index.html
  pt/2014/02/ace-combat-dassault-horizon--mini-review/index.md
  pt/2014/02/meu-primeiro-pkgbuild/index.html
  pt/2014/02/novo-blog-icpc-journal/index.html
  pt/blogroll.opml
  pt/index.xml
  pt/posts/2014-02-13-meu-primeiro-pkgbuild/index.html
  pt/posts/2014-02-16-ace-combat-dassault-horizon-mini-review/index.html
  pt/posts/2014-02-16-ace-combat-dassault-horizon-mini-review/index.md
  pt/posts/2014-02-22-novo-blog-icpc-journal/index.html
  pt/posts/index.html
  pt/posts/index.xml
  pt/search/index.json
  pt/sitemap.xml
  pt/tags/gaming/index.html
  pt/tags/gaming/index.xml
  pt/tags/index.html
  pt/tags/index.xml
  pt/tags/legacy/index.html
  pt/tags/legacy/index.xml
  pt/tags/serenity/index.html
  pt/tags/serenity/index.xml
  sitemap.xml
  tags/gaming/index.html
  tags/gaming/index.xml
  tags/index.html
  tags/index.xml
  tags/legacy/index.html
  tags/serenity/index.html
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: 92f62c33adccd42723d5435ca15818fce6cc31c8
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/2014/02/ace-combat-dassault-horizon--mini-review/index.html
  pt/blogroll.opml
  pt/index.html
  pt/index.xml
  pt/posts/2014-02-16-ace-combat-dassault-horizon-mini-review/index.html
  pt/posts/index.html
  pt/posts/index.xml
  pt/search/index.json
  pt/sitemap.xml
  pt/tags/bestof/index.html
  pt/tags/bestof/index.xml
  pt/tags/gaming/index.html
  pt/tags/gaming/index.xml
  pt/tags/index.html
  pt/tags/index.xml
  pt/tags/legacy/index.html
  pt/tags/legacy/index.xml
  pt/tags/serenity/index.html
  pt/tags/serenity/index.xml
  sitemap.xml
  tags/bestof/index.html
  tags/gaming/index.html
  tags/gaming/index.xml
  tags/index.html
  tags/index.xml
  tags/legacy/index.html
  tags/serenity/index.html
Due: none

fisica
  content/pt/posts/2014-02-17-notas-de-fisica-3.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: 919c8359444beeaaa586a178f2b023879033d60e
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  posts/index.html
  posts/recipes/index.html
  pt/2014/02/ace-combat-dassault-horizon--mini-review/index.html
  pt/2014/02/notas-de-física-3/index.html
  pt/2014/02/notas-de-física-3/index.md
  pt/2014/02/novo-blog-icpc-journal/index.html
  pt/blogroll.opml
  pt/index.xml
  pt/posts/2014-02-16-ace-combat-dassault-horizon-mini-review/index.html
  pt/posts/2014-02-17-notas-de-fisica-3/index.html
  pt/posts/2014-02-17-notas-de-fisica-3/index.md
  pt/posts/2014-02-22-novo-blog-icpc-journal/index.html
  pt/posts/index.html
  pt/posts/index.xml
  pt/search/index.json
  pt/sitemap.xml
  pt/tags/dev/index.html
  pt/tags/dev/index.xml
  pt/tags/index.html
  pt/tags/index.xml
  pt/tags/legacy/index.html
  pt/tags/legacy/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/index.html
  tags/index.xml
  tags/legacy/index.html
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

pre-commit gc
  content/posts/2026-04-06-pancake-workflow.md
  content/posts/2026-04-07-pre-commit-periodic-garbage-collection.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

previously
  content/posts/2026-04-07-pre-commit-periodic-garbage-collection.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

deploy: b68fad9ae270ffb0f42ed89eda4517bd523c4e3e
  2022/01/advent-of-code/index.html
  2024/12/pre-commit/index.html
  2026/04/pre-commit-periodic-garbage-collection/index.html
  2026/04/pre-commit-periodic-garbage-collection/index.md
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  graph.json
  index.xml
  posts/index.xml
  pt/blogroll.opml
  sitemap.xml
  tags/dev/index.xml
  tags/git/index.xml
  tags/index.xml
  tags/pre-commit/index.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

anki
  content/posts/2026-04-08-anki-corrupted-database.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

previously
  content/posts/2026-04-08-anki-corrupted-database.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

git: empty stash
  content/posts/2026-04-09-git-empty-stash.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

deploy: 3eda4907c3ffe73f98383994b3d5ef6fa883e39a
  2022/01/advent-of-code/index.html
  2025/04/pipe-to-claude/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  pt/blogroll.opml
Due: none

tag
  content/posts/2026-03-18-cco-additional-directories.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

deploy: 23d7e26654c3a54c3ff995449ab29b037771a0c6
  2021/12/ufw-firewall/index.html
  2022/01/advent-of-code/index.html
  2022/02/http-a-few-acronyms/index.html
  2024/09/diceware-passphrases/index.html
  2025/08/security-review/index.html
  2026/02/cco-claude-condom-sandbox/index.html
  2026/02/superwhisper/index.html
  2026/03/bypass-copy-protection-in-pdfs/index.html
  2026/03/cco-additionaldirectories/index.html
  2026/03/cco-additionaldirectories/index.md
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  graph.json
  index.xml
  posts/coding/index.html
  posts/index.html
  posts/index.xml
  posts/recipes/index.html
  pt/blogroll.opml
  search/index.json
  sitemap.xml
  tags/ai/index.xml
  tags/dev/index.xml
  tags/index.html
  tags/index.xml
  tags/security/index.html
  tags/security/index.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

cco
  content/posts/2026-04-12-cco-oauth-refresh-fix.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

telegram: delete a bot
  content/posts/2026-04-12-telegram-delete-a-bot.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

claude name session
  content/posts/2026-04-12-claude-code-naming-sessions.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

claude simplify
  content/posts/2026-04-12-claude-simplify.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

italian hello world
  config/_default/config.yml
  content/it/posts/2026-04-12-ciao-mondo.md
  layouts/partials/lang-switcher.html
Due: forbid-double-parens-in-shortcodes, forbid-external-images, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

serenity
  content/it/posts/2026-04-12-ciao-mondo.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: bc16aa01b180827fdceaefaacc763a4816a48133
  2022/01/advent-of-code/index.html
  404.html
  blogroll/index.html
  categories/index.html
  en/sitemap.xml
  index.xml
  it/2026/04/ciao-mondo/index.html
  it/2026/04/ciao-mondo/index.md
  it/404.html
  it/blogroll.opml
  it/categories/index.html
  it/categories/index.xml
  it/index.html
  it/index.xml
  it/llms.txt
  it/posts/2026-04-12-ciao-mondo/index.html
  it/posts/2026-04-12-ciao-mondo/index.md
  it/posts/index.html
  it/posts/index.xml
  it/sitemap.xml
  it/tags/index.html
  it/tags/index.xml
  it/tags/meta/index.html
  it/tags/meta/index.xml
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/blogroll.opml
  pt/categories/index.html
  pt/posts/index.html
  pt/sitemap.xml
  pt/tags/meta/index.html
  sitemap.xml
  tags/index.html
  tags/index.xml
  tags/meta/index.html
  tags/meta/index.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: d76060e0e62fd4d8a83a2478a546dd1dbc94ab59
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  index.xml
  it/2026/04/ciao-mondo/index.html
  it/404.html
  it/blogroll.opml
  it/categories/index.html
  it/index.html
  it/index.xml
  it/posts/2026-04-12-ciao-mondo/index.html
  it/posts/index.html
  it/sitemap.xml
  it/tags/index.html
  it/tags/index.xml
  it/tags/meta/index.html
  it/tags/meta/index.xml
  it/tags/serenity/index.html
  it/tags/serenity/index.xml
  posts/index.html
  posts/recipes/index.html
  pt/blogroll.opml
  pt/sitemap.xml
  pt/tags/serenity/index.html
  sitemap.xml
  tags/index.html
  tags/index.xml
  tags/meta/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

tag anki posts with pkm
  content/posts/2024-01-29-anki-find-all-notes-with-an-empty-field.md
  content/posts/2024-02-03-anki-custom-language-card.md
  content/posts/2024-09-22-anki-custom-language-card-ii.md
  content/posts/2024-12-23-anki-workflow.md
  content/posts/2025-01-11-anki-insert-emoji-on-macos.md
  content/posts/2025-10-08-anki-find-all-suspended-cards.md
  content/posts/2026-04-08-anki-corrupted-database.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

anki auto sync
  content/posts/2026-04-12-anki-auto-sync.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

blogosphere
  content/posts/2025-05-17-blog-directories.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

deploy: 621bac05112bdf3bf33c0e714154cf56705bd3cc
  2022/01/advent-of-code/index.html
  2025/05/blog-directories/index.html
  2025/05/blog-directories/index.md
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  it/blogroll.opml
  pt/blogroll.opml
  sitemap.xml
  tags/index.xml
  tags/socialmedia/index.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

agent-readable: add sitemap.md, llms.txt in robots.txt
  config/_default/config.yml
  layouts/_default/home.llms.txt
  layouts/_default/home.sitemapmd.md
  layouts/robots.txt
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: 47f543c9bcfcd801bb367fb1b2ab5a03e88abbfc
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  it/blogroll.opml
  it/llms.txt
  it/sitemap.md
  llms.txt
  pt/blogroll.opml
  pt/llms.txt
  pt/sitemap.md
  robots.txt
  sitemap.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt
