Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-broken-internal-links, check-coding-titles, check-duplicate-coding, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-external-images, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

Path conditions:
  check-broken-internal-links: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  check-coding-titles: any of: ^content/posts/.*(leetcode|bytebytego).*\.md$ and \.(md|markdown|mdown)$ and not (^content/posts/2025-12-30-kagi-add-leetcode-bang.md$) and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  check-duplicate-coding: any of: ^content/posts/.*(leetcode|bytebytego).*\.md$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  check-required-frontmatter: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (_index\.md$) and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  check-single-category: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  forbid-double-more: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  forbid-double-parens-in-shortcodes: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-external-images: any of: ^layouts/.*\.html$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-md-extension-in-hugo-internal-links: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-old-perrotta-dev: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$ and not (^(content/posts/2024-02-04-new-domain.md|content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md)$) and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  forbid-personal-emails: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-tulip: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-utm-analytics: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  replace-em-dashes: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  replace-shell-prompt: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  sort-blog-tags: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  strip-content-posts-prefix: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)

sort cursed knowledge by date
  content/cursed-knowledge.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: 492d2764b55fb6e4c2df81f72b46a1414ec43d10
  2022/01/advent-of-code/index.html
  2025/09/claude--resume/index.html
  blogroll.opml
  blogroll/index.html
  cursed-knowledge/index.html
  cursed-knowledge/index.md
  cursed-knowledge/index.xml
  en/sitemap.xml
  it/blogroll.opml
  pt/blogroll.opml
  sitemap.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

enforce cursed knowledge date order
  content/cursed-knowledge.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

close archive view toggle borders
  layouts/partials/style.html
Due: forbid-external-images

deploy: 15aca5e58eeb71f92d17b5b29d9d1a8edc4fd69c
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  cursed-knowledge/index.html
  cursed-knowledge/index.md
  cursed-knowledge/index.xml
  en/sitemap.xml
  it/blogroll.opml
  pt/blogroll.opml
  sitemap.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

direnv nags
  content/posts/2026-09-02-direnv-silence-a-blocked-envrc.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

close archive view toggle gap
  layouts/partials/style.html
Due: forbid-external-images

add TV shows page
  .talismanrc
  config/_default/config.yml
  content/tv-shows.md
  data/tv-shows.yaml
  layouts/_default/tv-shows.html
  schemas/tv-shows.json
Due: forbid-double-parens-in-shortcodes, forbid-external-images, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

agentsview
  content/posts/2026-09-01-agentsview-vs-fast-resume.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

new post: TV Shows
  .talismanrc
  content/posts/2026-08-31-tv-shows.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

move agent disclosure to post end
  layouts/_default/single.html
Due: forbid-external-images

mark all bloggify posts in archive lists
  layouts/_default/list.html
Due: forbid-external-images

custom title
  layouts/_default/list.html
Due: forbid-external-images

deploy: bd10ab6dc971d7d423d1079a27f74ca2260bd309
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  it/blogroll.opml
  pt/blogroll.opml
  tags/bloggify/index.html
Due: none

add Agent Blog navigation link
  config/_default/config.yml
Due: forbid-old-perrotta-dev

AI page
  content/ai.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

add Agent Blog archive disclosure
  layouts/_default/list.html
Due: forbid-external-images

mark Agent Blog posts on homepage
  layouts/index.html
Due: forbid-external-images

deploy: 6ebd88ca4dc13bb8965afcff7cfae19786a6c6aa
  2022/01/advent-of-code/index.html
  2022/11/advent-of-code-2021-day-1/index.html
  2022/11/advent-of-code-2021-day-3/index.html
  2022/11/advent-of-code-2021-day-4/index.html
  2022/11/advent-of-code-2021-day-5/index.html
  2022/11/advent-of-code-2021-day-6/index.html
  2022/11/advent-of-code-2021-day-7/index.html
  2022/11/advent-of-code-2021-day-8/index.html
  2022/12/advent-of-code-2022-day-1/index.html
  2022/12/advent-of-code-2022-day-2/index.html
  2022/12/advent-of-code-2022-day-3/index.html
  2022/12/advent-of-code-2022-day-4/index.html
  2022/12/advent-of-code-2022-day-5/index.html
  2022/12/advent-of-code-2022-day-6/index.html
  2022/12/advent-of-code-2022-day-7/index.html
  2022/12/advent-of-code-2022-day-8/index.html
  2022/12/ais-galore/index.html
  2023/12/advent-of-code-2023-day-1/index.html
  2023/12/enhance-adblock-lists-with-ublock-origin-dev-filter/index.html
  2024/12/advent-of-code-2024-day-1/index.html
  2024/12/advent-of-code-2024-day-2/index.html
  2024/12/advent-of-code-2024-day-3/index.html
  2024/12/advent-of-code-2024-day-4/index.html
  ai/index.html
  ai/index.md
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  graph.json
  it/blogroll.opml
  pt/blogroll.opml
  sitemap.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: 699ce988ca39ba1e1b6df19e852e0d1149d5c54d
  2022/01/advent-of-code/index.html
  2022/11/advent-of-code-2021-day-1/index.html
  2022/11/advent-of-code-2021-day-3/index.html
  2022/11/advent-of-code-2021-day-4/index.html
  2022/11/advent-of-code-2021-day-5/index.html
  2022/11/advent-of-code-2021-day-6/index.html
  2022/11/advent-of-code-2021-day-7/index.html
  2022/11/advent-of-code-2021-day-8/index.html
  2022/12/advent-of-code-2022-day-1/index.html
  2022/12/advent-of-code-2022-day-2/index.html
  2022/12/advent-of-code-2022-day-3/index.html
  2022/12/advent-of-code-2022-day-4/index.html
  2022/12/advent-of-code-2022-day-5/index.html
  2022/12/advent-of-code-2022-day-6/index.html
  2022/12/advent-of-code-2022-day-7/index.html
  2022/12/advent-of-code-2022-day-8/index.html
  2022/12/ais-galore/index.html
  2023/12/advent-of-code-2023-day-1/index.html
  2023/12/enhance-adblock-lists-with-ublock-origin-dev-filter/index.html
  2024/12/advent-of-code-2024-day-1/index.html
  2024/12/advent-of-code-2024-day-2/index.html
  2024/12/advent-of-code-2024-day-3/index.html
  2024/12/advent-of-code-2024-day-4/index.html
  blogroll.opml
  blogroll/index.html
  graph.json
  index.html
  it/blogroll.opml
  pt/blogroll.opml
  tags/bloggify/index.html
Due: none

rename featured posts section
  layouts/index.html
Due: forbid-external-images

deploy: 64cafdcd9a35c306f463753ed6be696cf88ebd77
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  index.html
  it/blogroll.opml
  pt/blogroll.opml
  pt/index.html
Due: none

mise
  content/posts/2026-09-03-mise-prune-old-installations.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

dict: add dry-run
  .codespell-dictionary.txt
Due: none

deploy: 04ad32b6a4caf85d758fb5bcf1a87fecf5199563
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  it/blogroll.opml
  pt/blogroll.opml
Due: none

pi tui
  content/posts/2026-09-03-pi-dock-the-footer-in-fullscreen-mode.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

linkify mise
  content/posts/2026-09-03-mise-prune-old-installations.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

deploy: 8240ede3dcebdfd6211e6574906cea50964ec33a
  2022/01/advent-of-code/index.html
  2026/09/mise-prune-old-installations/index.html
  2026/09/mise-prune-old-installations/index.md
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  index.xml
  it/blogroll.opml
  posts/index.xml
  pt/blogroll.opml
  sitemap.xml
  tags/dev/index.xml
  tags/index.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

pi copy
  content/cursed-knowledge.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt
