Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-tulip, forbid-utm-analytics

forbid-md-extension-in-hugo-internal-links:
  name: Forbid usage of .md extension in hugo internal links
  entry: .*\.md\" >\}\}
  language: pygrep

forbid-old-perrotta-dev:
  name: Forbid usage of previous domains
  entry: \b(https://thiagowfx\.github\.io|www\.perrotta\.dev|blog\.perrotta\.dev)\b
  language: pygrep

forbid-tulip:
  name: Forbid usage of Tulip
  entry: tulip
  language: pygrep

forbid-utm-analytics:
  name: Forbid usage of UTM analytics / tracking
  entry: \b(utm_source)\b
  language: pygrep

new post: webassembly hello world
  content/posts/2025-05-24-webassembly-hello-world.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-tulip, forbid-utm-analytics

deploy: ba280d85534becf006d3be241fab04e1881a53c6
  2025/05/webassembly-hello-world/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/linux/index.html
  tags/linux/index.xml
  tags/macos/index.html
  tags/macos/index.xml
Due: none

new post: npx serve
  content/posts/2025-05-24-npx-serve.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-tulip, forbid-utm-analytics

deploy: 04e9b4f06caffe1201ea5e7311889e0ec47e93d4
  2025/05/npx-serve/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/selfhosted/index.html
  tags/selfhosted/index.xml
Due: none

add link to spec
  content/posts/2025-05-24-webassembly-hello-world.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-tulip, forbid-utm-analytics

deploy: e67b1725879cab133942b4175b449162c4732a2a
  2025/05/webassembly-hello-world/index.html
  index.xml
  posts/index.xml
  tags/dev/index.xml
  tags/linux/index.xml
  tags/macos/index.xml
Due: none

new post: watch with colors
  content/posts/2025-05-24-watch-with-color.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-tulip, forbid-utm-analytics

deploy: 9db1aa24080277d2d924ed7b94e4304d781b856a
  2025/05/watch-with--color/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/linux/index.html
  tags/linux/index.xml
  tags/macos/index.html
  tags/macos/index.xml
Due: none

new post: tailspin
  content/posts/2025-05-24-tailspin.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-tulip, forbid-utm-analytics

deploy: 1226ed9803de1362c14bfbba7b55ae9fc6e5042f
  2025/05/tailspin/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/linux/index.html
  tags/linux/index.xml
  tags/macos/index.html
  tags/macos/index.xml
Due: none

new post: psql upgrade on alpine
  content/posts/2025-05-24-postgresql-major-version-upgrade-on-alpine-linux.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-tulip, forbid-utm-analytics

deploy: 7ff176e41902af7c9faed4bbaf2f32b195fd28ff
  2025/05/postgresql-major-version-upgrade-on-alpine-linux/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/bestof/index.html
  tags/bestof/index.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/linux/index.html
  tags/linux/index.xml
  tags/selfhosted/index.html
  tags/selfhosted/index.xml
Due: none

move this year posts to own paragraph
  layouts/_default/list.html
Due: none

deploy: f79b22244e930e6d1b101991a5950c6e4faef150
  posts/index.html
  tags/aoc/index.html
  tags/bestof/index.html
  tags/dev/index.html
  tags/linux/index.html
  tags/macos/index.html
  tags/meta/index.html
  tags/pkm/index.html
  tags/portuguese/index.html
  tags/privacy/index.html
  tags/recipe/index.html
  tags/selfhosted/index.html
  tags/serenity/index.html
Due: none

adjust display
  layouts/_default/list.html
Due: none

deploy: 3d6c96050905e3fda840683f8bc61f09ff39993f
  tags/aoc/index.html
  tags/bestof/index.html
  tags/dev/index.html
  tags/linux/index.html
  tags/macos/index.html
  tags/meta/index.html
  tags/pkm/index.html
  tags/portuguese/index.html
  tags/privacy/index.html
  tags/recipe/index.html
  tags/selfhosted/index.html
  tags/serenity/index.html
Due: none

document previous post
  content/posts/2025-05-24-watch-with-color.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-tulip, forbid-utm-analytics

deploy: bedc4d2b7b66d7e86f46bef7c2d2fa2128377301
  2025/05/watch-with--color/index.html
  index.xml
  posts/index.xml
  tags/dev/index.xml
  tags/linux/index.xml
  tags/macos/index.xml
Due: none

pre-commit: add just build
  .pre-commit-config.yaml
Due: forbid-old-perrotta-dev

just: remove dotenv-load
  Justfile
Due: none

augment description
  .pre-commit-config.yaml
Due: forbid-old-perrotta-dev

new post: pre-commit just build hugo
  content/posts/2025-05-24-pre-commit-add-hugo-build.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-tulip, forbid-utm-analytics

deploy: 67001a68f56b22aa74a90be0c390d817d04b7b8e
  2025/05/pre-commit-add-hugo-build/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/selfhosted/index.html
  tags/selfhosted/index.xml
Due: none

pre-commit: forbid personal emails
  .pre-commit-config.yaml
  content/posts/2025-04-01-apple-script-discoverability-more-amphetamine.md
  content/posts/2025-05-14-github-dependabot-group-updates.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-tulip, forbid-utm-analytics

deploy: 0247479a0b8b01883959d48c382663524c77e295
  2025/04/applescript-discoverability-more-amphetamine/index.html
  2025/05/github-dependabot-group-updates/index.html
  index.xml
  posts/index.xml
  tags/dev/index.xml
  tags/macos/index.xml
Due: none

delete macos tag
  content/posts/2022-02-10-nix-shell-in-a-nutshell.md
  content/posts/2022-02-16-nix-env-in-a-nutshell-for-basic-usage-in-macos.md
  content/posts/2022-03-21-macos-sudo-with-touch-id.md
  content/posts/2022-03-26-macos-terminal-app-gripes.md
  content/posts/2022-04-22-keychron-k2-on-macos-fix-home-and-end-keys.md
  content/posts/2023-12-02-maccy-macos-clipboard-manager.md
  content/posts/2023-12-04-macos-sudo-with-touch-id-survive-upgrades.md
  content/posts/2023-12-29-macos-remove-all-empty-directories.md
  content/posts/2024-02-22-force-captive-portal-to-open.md
  content/posts/2024-05-07-pritunl-log-in-via-cli.md
  content/posts/2024-12-21-default-apps-2024.md
  content/posts/2024-12-22-new-post-workflow.md
  content/posts/2024-12-23-unbuffer.md
  content/posts/2024-12-31-macos-app-shortcuts.md
  content/posts/2025-01-22-itsycal-system-tray-calendar-on-macos.md
  content/posts/2025-01-29-raycast-snippets.md
  content/posts/2025-02-08-upcoming-calendar-meeting-in-mac-os-menu-bar-with-raycast.md
  content/posts/2025-02-18-quick-look-preview-yaml-files-on-macos.md
  content/posts/2025-02-18-zsh-setopt-magic-equal-subst.md
  content/posts/2025-02-25-gh-pr-view.md
  content/posts/2025-03-14-yaml-wrong-new-line-character-expected-n.md
  content/posts/2025-03-24-maccy-pin-items.md
  content/posts/2025-03-28-amphetamine-keep-awake.md
  content/posts/2025-04-01-apple-script-discoverability-more-amphetamine.md
  content/posts/2025-04-09-pipe-to-claude.md
  content/posts/2025-04-25-delete-newlines-in-a-pipe.md
  content/posts/2025-04-25-macos-delete-file-bypass-trash.md
  content/posts/2025-04-30-the-ack-xargs-sed-pattern.md
  content/posts/2025-05-05-do-you-like-to-live-in-danger.md
  content/posts/2025-05-07-1password-ssh-agent-error.md
  content/posts/2025-05-14-vscode-github-pull-requests-plugin-collapse-all-comments-by-default.md
  content/posts/2025-05-16-espanso-hello-world.md
  content/posts/2025-05-18-fpp.md
  content/posts/2025-05-19-ack-with-context.md
  content/posts/2025-05-22-bash-set-a-trap-to-log-errors.md
  content/posts/2025-05-24-tailspin.md
  content/posts/2025-05-24-watch-with-color.md
  content/posts/2025-05-24-webassembly-hello-world.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-tulip, forbid-utm-analytics

add at least one tag
  content/posts/2022-03-21-macos-sudo-with-touch-id.md
  content/posts/2022-04-22-keychron-k2-on-macos-fix-home-and-end-keys.md
  content/posts/2023-12-04-macos-sudo-with-touch-id-survive-upgrades.md
  content/posts/2024-02-22-force-captive-portal-to-open.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-tulip, forbid-utm-analytics

delete pkm tag
  content/posts/2025-01-06-logseq-linking-and-backlinking.md
  content/posts/2025-03-01-logseq-aliases.md
  content/posts/2025-05-04-logseq-list-all-pages-of-a-tag.md
  content/posts/2025-05-14-logseq-open-page-in-sidebar.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-tulip, forbid-utm-analytics

deploy: c54fa0c1948c5a1fa3818737a92c63fd5e3b1f4a
  2025/01/logseq-linking-and-backlinking/index.html
  2025/03/logseq-aliases/index.html
  2025/05/logseq-list-all-pages-of-a-tag/index.html
  2025/05/logseq-open-page-in-sidebar/index.html
  404.html
  index.html
  posts/index.html
  sitemap.xml
  tags/aoc/index.html
  tags/bestof/index.html
  tags/dev/index.html
  tags/dev/index.xml
  tags/linux/index.html
  tags/meta/index.html
  tags/pkm/index.html
  tags/pkm/index.xml
  tags/portuguese/index.html
  tags/privacy/index.html
  tags/recipe/index.html
  tags/selfhosted/index.html
  tags/selfhosted/index.xml
  tags/serenity/index.html
Due: none

fix whitespace
  .pre-commit-config.yaml
  content/posts/2024-01-16-why-do-you-need-to-know-my-last-name.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-tulip, forbid-utm-analytics

deploy: f4d2292a0b94982ea217d158bca8f843e151715d
  2024/01/why-do-you-need-to-know-my-last-name/index.html
  tags/privacy/index.xml
Due: none

add links
  .pre-commit-config.yaml
  content/posts/2024-01-16-why-do-you-need-to-know-my-last-name.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-tulip, forbid-utm-analytics

remove unnecessary exclude from pre-commit
  .pre-commit-config.yaml
Due: forbid-old-perrotta-dev

deploy: 957a09f81ebb354930866e3309a8aee8b46675bc
  2024/01/why-do-you-need-to-know-my-last-name/index.html
  tags/privacy/index.xml
Due: none

skip hugo from ci
  .pre-commit-config.yaml
Due: forbid-old-perrotta-dev

add explanation
  .pre-commit-config.yaml
Due: forbid-old-perrotta-dev

abbrev portuguese tag -> pt
  content/posts/2014-01-07-testando-uma-iso-no-linux-sem-o-virtualbox.md
  content/posts/2014-04-18-mini-recovery-tipico-via-usb.md
  content/posts/2014-05-01-instalando-o-gentoo-a-partir-do-arch.md
  content/posts/2016-10-16-matroshka.md
  content/posts/2024-12-22-new-post-workflow.md
  content/posts/2025-01-08-emissor-nfe-sebrae-v401/index.md
  content/posts/2025-01-13-pare-de-receber-telemarketing-não-me-perturbe.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-tulip, forbid-utm-analytics

deploy: 078d0ac3da352626c85c3d03adc2801547c58626
  2014/01/testando-uma-iso-no-linux-sem-o-virtualbox/index.html
  2014/04/recovery-típico-via-usb/index.html
  2014/05/instalando-o-gentoo-a-partir-do-arch/index.html
  2016/10/matroshka/index.html
  2024/12/new-post-workflow/index.html
  2025/01/emissor-nfe-sebrae-v4.01-para-emissão-de-notas-fiscais/index.html
  2025/01/pare-de-receber-telemarketing-não-me-perturbe/index.html
  404.html
  index.html
  posts/index.html
  sitemap.xml
  tags/aoc/index.html
  tags/bestof/index.html
  tags/dev/index.html
  tags/linux/index.html
  tags/meta/index.html
  tags/meta/index.xml
  tags/privacy/index.html
  tags/pt/index.html
  tags/pt/index.xml
  tags/recipe/index.html
  tags/selfhosted/index.html
  tags/serenity/index.html
Due: none

new post: our most powerful model yet
  content/posts/2025-05-24-our-most-powerful-model-yet.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-tulip, forbid-utm-analytics

Path conditions:
  forbid-md-extension-in-hugo-internal-links: any of: \.(md|markdown|mdown)$
  forbid-old-perrotta-dev: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$, but not: ^(content/posts/2024-02-04-new-domain.md|content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md)$
  forbid-tulip: any of: \.(md|markdown|mdown)$
  forbid-utm-analytics: any of: \.(md|markdown|mdown)$
