Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-coding-titles, check-duplicate-leetcode, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

Path conditions:
  check-coding-titles: any of: ^content/posts/.*(leetcode|bytebytego).*\.md$ and \.(md|markdown|mdown)$ and not (^content/posts/2025-12-30-kagi-add-leetcode-bang.md$) and not (^(layouts/partials/openring.html$|schemas|vendor)/)
  check-duplicate-leetcode: any of: ^content/posts/.*leetcode.*\.md$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
  forbid-md-extension-in-hugo-internal-links: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
  forbid-old-perrotta-dev: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$ and not (^(content/posts/2024-02-04-new-domain.md|content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md)$) and not (^(layouts/partials/openring.html$|schemas|vendor)/)
  forbid-personal-emails: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
  forbid-tulip: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
  forbid-utm-analytics: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/

navbar: add serenity tag prominently under tags
  config/_default/config.yml
  layouts/_default/baseof.html
  layouts/_default/single.html
  layouts/partials/style.html
Due: forbid-old-perrotta-dev

new post: git-aicommit
  content/posts/2026-01-13-git-aicommit.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

link
  content/posts/2026-01-13-git-aicommit.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 4e4f7c3d827b9ea01b4ea5327c2da109db568922
  2026/01/git-aicommit/index.html
  2026/01/git-aicommit/index.md
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  en/sitemap.xml
  index.xml
  posts/index.xml
  pt/blogroll.opml
  sitemap.xml
  tags/ai/index.xml
  tags/dev/index.xml
  tags/git/index.xml
  tags/index.xml
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

cicd
  content/posts/coding/2026-01-13-cicd.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 743c9753c8054610e6ff7299eb2f4651a7e8a729
  2026/01/cicd/index.html
  2026/01/cicd/index.md
  blogroll.opml
  blogroll/index.html
  categories/coding/index.html
  categories/coding/index.xml
  categories/index.xml
  en/sitemap.xml
  pt/blogroll.opml
  sitemap.xml
  tags/dev/index.xml
  tags/index.xml
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

rca
  content/posts/coding/2026-01-14-rca.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

sorting algorithms
  content/posts/coding/2026-01-14-sorting-algorithms.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

bisect list of tuple
  content/posts/coding/2026-01-14-bisect-list-of-tuple.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

leetcode
  content/posts/coding/2026-01-14-quick-sort.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

leetcode
  content/posts/coding/2026-01-14-merge-sort.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

youtube
  content/posts/2026-01-15-gemini-on-youtube.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

Add JSON-LD structured data for SEO
  layouts/partials/json-ld.html
  layouts/partials/seo_tags.html
Due: none

Convert light theme to Catppuccin Latte
  layouts/partials/style.html
  static/theme.css
Due: none

Convert light theme to Catppuccin Latte (#70)
  layouts/partials/style.html
  static/theme.css
Due: none

Convert dark theme to Catppuccin Mocha
  layouts/partials/style.html
  static/theme.css
Due: none

new post: postgresql 18
  content/posts/2026-01-15-postgresql-major-version-upgrade-on-alpine-linux-redux.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

fix date
  layouts/partials/json-ld.html
Due: none

fix
  layouts/partials/json-ld.html
Due: none

Add JSON-LD structured data for SEO (#71)
  layouts/partials/json-ld.html
  layouts/partials/seo_tags.html
Due: none

leetcode
  content/posts/coding/2026-01-15-leetcode-23-merge-k-sorted-lists.md
Due: check-coding-titles, check-duplicate-leetcode, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

leetcode
  content/posts/coding/2026-01-15-leetcode-362-design-hit-counter.md
Due: check-coding-titles, check-duplicate-leetcode, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

add /random endpoint
  content/random.md
  layouts/_default/random.html
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics
