Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
# Install pre-commit itself:
#   $ pip install pre-commit
#     OR
#   $ brew install pre-commit
#
# Update all pre-commit hooks to latest version:
#   $ pre-commit autoupdate
#
# Install all default pre-commit hooks locally:
#   $ pre-commit install
#
# Apply a given pre-commit hook to all files:
#   $ pre-commit run --all-files <id>
#
# Apply all pre-commit hooks to all files:
#   $ pre-commit run --all-files
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # keep-sorted start
      - id: check-executables-have-shebangs
      - id: check-yaml
      - id: detect-private-key
      - id: trailing-whitespace
        # keep-sorted end
  # keep-sorted start
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        exclude: ^(content/posts/(2014|2015|2016)|content/posts/2024-07-09-kubectl-get-secret-with-jsonpath-add-newline.md|content/posts/2024-06-27-a-little.md|content/posts/2024-12-22-new-post-workflow.md)
        args:
          # keep-sorted start
          - -L=DeVault
          - -L=als
          - -L=ist
          - -L=sive
          # keep-sorted end
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.22.1
    hooks:
      - id: gitleaks
  - repo: https://github.com/google/keep-sorted
    rev: v0.5.1
    hooks:
      - id: keep-sorted
  - repo: https://github.com/google/yamlfmt
    rev: v0.15.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/lalten/check-gha-pinning
    rev: v1.3.0
    hooks:
      - id: check-gha-pinning
  - repo: https://github.com/shssoichiro/oxipng
    rev: v9.1.3
    hooks:
      - id: oxipng
  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.8
    hooks:
      - id: fix-ligatures
      - id: fix-smartquotes
  # Only run it every once in a while.
  # - repo: https://github.com/tcort/markdown-link-check
  #   rev: v3.13.6
  #   hooks:
  #     - id: markdown-link-check
  #       files: '^content/posts/2025-.*'
  #       args:
  #         - -q
  - repo: local
    hooks:
      - id: forbid-utm-analytics
        name: Forbid usage of UTM analytics / tracking
        entry: '\b(utm_source)\b'
        language: pygrep
        types:
          - markdown
      - id: forbid-old-perrotta-dev
        name: Forbid usage of previous domains
        entry: '\b(https://thiagowfx\.github\.io|www\.perrotta\.dev|blog\.perrotta\.dev)\b'
        language: pygrep
        types_or:
          - markdown
          - yaml
        exclude: ^(content/posts/2024-02-04-new-domain.md|content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md)$
      - id: forbid-md-extension-in-hugo-internal-links
        name: Forbid .md extension in hugo internal links
        entry: '.*\.md\" >\}\}'
        language: pygrep
        types:
          - markdown
# keep-sorted end

deploy: 697d24b0d2e699007bb8e9ccf48dc713c4354aa7
  2025/01/stop-trying-to-schedule-a-call-with-me/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

deploy: 42e992e5fa4fd970fe03663e2e62fb13deac4f05
  2025/01/pare-de-receber-telemarketing-não-me-perturbe/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/portuguese/index.html
  tags/portuguese/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

deploy: a85c66f1771c50253aaa5993c1ea345c4c364120
  2025/01/pare-de-receber-telemarketing-não-me-perturbe/index.html
  index.xml
  posts/index.html
  posts/index.xml
  tags/portuguese/index.html
  tags/portuguese/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

new post: não me perturbe
  .pre-commit-config.yaml
  content/posts/2025-01-13-pare-de-receber-telemarketing-não-me-perturbe.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: abd9462b11fee47b75ede9a367c0707d52259873
  2025/01/pare-de-receber-telemarketing-não-me-perturbe/index.html
  posts/index.html
  sitemap.xml
  tags/privacy/index.html
  tags/privacy/index.xml
Due: none

new post: timezone
  content/posts/2025-01-14-what-time-is-it-in-your-timezone.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: fd4a68aaf701dabde8a2936fe1cbe616da738c89
  2025/01/what-time-is-it-in-your-timezone/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

new post: pawnbarian
  content/posts/2025-01-14-pawnbarian.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: 3b5803470a8547ddc5489c684949c644c5931032
  2025/01/pawnbarian/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

deploy: bc985e130c2661441d13f56d01b1f7909fc69c5f
  2025/01/fosdem-calendar/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none

new post: FOSDEM calendar
  content/posts/2025-01-15-fosdem-calendar.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: 858be5d3cefff8b2be514efd453d197f3529167a
  2025/01/fosdem-calendar/index.html
  index.xml
  posts/index.xml
  tags/dev/index.xml
Due: none

new post: kindle paperwhite screenshot
  content/posts/2025-01-19-kindle-paperwhite-screenshot.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: 1998d6e70e0d805cf60d61bfeabcccc8d90a1af4
  2025/01/kindle-paperwhite-take-a-screenshot/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none

deploy: cd8de60bbba00c6b2b002e5f57b8772d3b6147c4
  2025/01/cloudflare-email-workers/index.html
  index.xml
  posts/index.xml
  tags/bestof/index.xml
  tags/dev/index.xml
  tags/privacy/index.xml
  tags/selfhosted/index.xml
Due: none

fix typo
  content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md
  content/posts/2025-01-11-cloudflare-email-workers.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: 094b8dd66d8832f32c024b8013111aa1894e9e4a
  2025/01/scan-for-markdown-broken-links-in-your-blog/index.html
  index.xml
  posts/index.xml
  tags/bestof/index.xml
  tags/dev/index.xml
Due: none

new post: dl ticket
  .pre-commit-config.yaml
  content/posts/2025-01-19-deutschland-ticket-in-2025.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: 49f1c23ea6a7fd481665f165b5aabd6810b0eef4
  2025/01/deutschland-ticket-in-2025/index.html
  deutschland-ticket/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

deploy: 14333831a3de21f433257fcf4f076e8bba3f5018
  2024/12/anki-workflow/index.html
  tags/bestof/index.xml
Due: none

low-key anki: another reference
  content/posts/2024-12-23-anki-workflow.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: 9d0e7b8002619478ba8f9cd3b4509221763ec4eb
  2024/12/anki-workflow/index.html
  tags/bestof/index.xml
Due: none

new post: vscode pets
  content/posts/2025-01-20-vscode-pets.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: f3698683caa19aed81fd8fc0b37b09e106b428b3
  2025/01/vscode-pets/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

new post: smash that subscribe button
  .pre-commit-config.yaml
  content/posts/2025-01-20-reply-to-smash-that-subscribe-button.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: a3d481cba07998435fc1c51a92660c3aca080449
  2025/01/reply-to-smash-that-subscribe-button/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/meta/index.html
  tags/meta/index.xml
  tags/selfhosted/index.html
  tags/selfhosted/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

migrate codespell to ignore words
  .ignore-words.txt
  .pre-commit-config.yaml
Due: forbid-old-perrotta-dev

migrate codespell to ignore words
  .pre-commit-config.yaml
Due: forbid-old-perrotta-dev

new post: codespell ignore words
  content/posts/2025-01-20-codespell-ignore-words.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: 6a9f73fb143015e771096b8780158cf2276e698a
  2025/01/codespell-ignore-words/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none

new post: cloudflare dns
  content/posts/2025-01-21-cloudflare-dns-for-families.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

new post: jira link issues
  content/posts/2025-01-21-jira-link-issues.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: af99813bdb0d4cd7648c7933b62d93f6e268b869
  2025/01/cloudflare-dns-for-families/index.html
  2025/01/jira-link-issues/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/privacy/index.html
  tags/privacy/index.xml
  tags/selfhosted/index.html
  tags/selfhosted/index.xml
Due: none

new post: itsycal
  content/posts/2025-01-22-itsycal-system-tray-calendar-on-macos.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: 411506b9ae4d56a74dee86dee40a9c57c4ef1873
  2025/01/itsycal-system-tray-calendar-on-macos/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/macos/index.html
  tags/macos/index.xml
Due: none

feel free to say no
  content/posts/2025-01-29-feel-free-to-say-no.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: c6bd0edb4065d6802ebb6f67bf7afda9bd48a714
  2025/01/feel-free-to-say-no/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

new post: raycast snippets
  content/posts/2025-01-29-raycast-snippets.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: 07add90e775e6af577eda4dac5875598c84680bb
  2025/01/raycast-snippets/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/bestof/index.html
  tags/bestof/index.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/macos/index.html
  tags/macos/index.xml
Due: none

add more bestof
  content/posts/2025-01-09-yaml-enforce-schema-linting.md
  content/posts/2025-01-11-sscce.md
  content/posts/2025-01-19-deutschland-ticket-in-2025.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links
