Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

forbid-utm-analytics:
  name: Forbid usage of UTM analytics / tracking
  entry: \b(utm_source)\b
  language: pygrep

forbid-old-perrotta-dev:
  name: Forbid usage of previous domains
  entry: \b(https://thiagowfx\.github\.io|www\.perrotta\.dev|blog\.perrotta\.dev)\b
  language: pygrep

forbid-md-extension-in-hugo-internal-links:
  name: Forbid .md extension in hugo internal links
  entry: .*\.md\" >\}\}
  language: pygrep

new post: github create a pr from cli
  content/posts/2025-04-28-github-create-a-pull-request-from-cli.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: d40c83c4e653651b1a580fa9437a791c2c84dd44
  2025/04/github-create-a-pull-request-from-cli/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none

new post: yaml complex keys
  content/posts/2025-04-29-yaml-complex-keys.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: 079f1163fad8cb74694f021efc5d915f012509c5
  2025/04/yaml-complex-keys/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none

new post: ack xargs sed pattern
  content/posts/2025-04-30-the-ack-xargs-sed-pattern.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

claude: tell it where blog posts are
  CLAUDE.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

add links
  content/posts/2025-04-30-the-ack-xargs-sed-pattern.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: 61d969108cbcf4a23261292ba04668c6c5af261c
  2025/04/the-ack--xargs--sed-pattern/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/bestof/index.html
  tags/bestof/index.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/linux/index.html
  tags/linux/index.xml
  tags/macos/index.html
  tags/macos/index.xml
Due: none

Auto-update pre-commit hooks
  .pre-commit-config.yaml
Due: forbid-old-perrotta-dev

new post: autocorrection
  content/posts/2025-05-02-terminal-autocorrection.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: 8a8537ff8644d95a308721148cdfbccaf000dde7
  2025/05/terminal-autocorrection/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

new post: jira standup mode
  content/posts/2025-05-02-jira-standup-mode.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: 8eb714b19cc2c3e1786fba7cf2ef00d72061b58d
  2025/05/jira-stand-up-mode/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none

new post: logseq list all pages of a tag
  content/posts/2025-05-04-logseq-list-all-pages-of-a-tag.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: 89235edc3490ff86ea9ace942f4cd61c15f4aaed
  2025/05/logseq-list-all-pages-of-a-tag/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/pkm/index.html
  tags/pkm/index.xml
Due: none

new post: github pull request template
  content/posts/2025-05-04-github-pull-request-template.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: 19dd479b659cb9de823c0cdb65b1d4a6471e910c
  2025/05/github-pull-request-template/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none

add telegram link
  content/_index.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: 2d1a8d82669644c354056b3728dca423747fd40a
  index.html
Due: none

new post: bkt: bypass cache
  content/posts/2025-05-05-bkt-bypass-cache.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: cf0a53982c47018fc5ed9d824317c0e32fc95041
  2025/05/bkt-bypass-cache/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none

new post: live in danger
  content/posts/2025-05-05-do-you-like-to-live-in-danger.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: d622e511f2372b6e3ebd2525667e255a2d4305e1
  2025/05/do-you-like-to-live-in-danger/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/linux/index.html
  tags/linux/index.xml
  tags/macos/index.html
  tags/macos/index.xml
Due: none

new post: slack snippets
  content/posts/2025-05-06-slack-snippets.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: 1ca4788a5fc5e79bf1a4d3bbfbc534e6563ce74e
  2025/05/slack-snippets/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none

new post: byteburst brigade
  content/posts/2025-05-06-byteburst-brigade.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: 68ee915c2a68214976283fb2f6ae47f01682d1aa
  2025/05/byteburst-brigade/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/meta/index.html
  tags/meta/index.xml
  tags/privacy/index.html
  tags/privacy/index.xml
  tags/selfhosted/index.html
  tags/selfhosted/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

new post: 1password ssh
  content/posts/2025-05-07-1password-ssh-agent-error.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: a763e6d74dd801c791ecb719aa7752e13a0f6779
  2025/05/1password-ssh-agent-error/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/macos/index.html
  tags/macos/index.xml
Due: none

amend alpine
  content/posts/2025-01-08-alpine-linux-install-pin-old-packages.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: 37d88060382149b7f8de569bca6b1abb9a2ae2bd
  2025/01/alpine-linux-install-/-pin-old-packages/index.html
  posts/index.html
  tags/linux/index.html
  tags/linux/index.xml
  tags/selfhosted/index.xml
Due: none

new post: helm-secrets + vals
  content/posts/2025-05-08-helm-secrets-vals-string-interpolation.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: 963685d8863be7c1caeef3fcb6bfc73e93b501bc
  2025/05/helm-secrets--vals-string-interpolation/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none

add mailinator
  content/posts/2022-01-26-throwaway-disposable-accounts-for-ephemeral-use-cases.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: 0d2c5b02406863df684851b3a8ee0ee8bc66399e
  2022/01/throwaway-disposable-accounts-for-ephemeral-use-cases/index.html
  tags/privacy/index.xml
Due: none

add simplelogin
  content/posts/2025-02-08-duckduckgo-email-protection.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: 62440f93d79bd32cc6f555bf6407d46ade900af7
  2025/02/duckduckgo-email-protection/index.html
  tags/bestof/index.xml
  tags/privacy/index.xml
Due: none

alpine validate
  content/posts/2022-01-23-alpine-linux-new-apkbuild-workflow.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

deploy: eec600a8d01045a195c899cf1e893c726087adac
  2022/01/alpine-linux-new-apkbuild-workflow/index.html
  tags/linux/index.xml
Due: none

new post: small web
  content/posts/2025-05-10-kagi-small-web.md
Due: forbid-utm-analytics, forbid-old-perrotta-dev, forbid-md-extension-in-hugo-internal-links

Path conditions:
  forbid-utm-analytics: any of: \.(md|markdown|mdown)$
  forbid-old-perrotta-dev: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$, but not: ^(content/posts/2024-02-04-new-domain.md|content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md)$
  forbid-md-extension-in-hugo-internal-links: any of: \.(md|markdown|mdown)$
