Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-broken-internal-links, check-coding-titles, check-duplicate-coding, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-external-images, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

Path conditions:
  check-broken-internal-links: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  check-coding-titles: any of: ^content/posts/.*(leetcode|bytebytego).*\.md$ and \.(md|markdown|mdown)$ and not (^content/posts/2025-12-30-kagi-add-leetcode-bang.md$) and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  check-duplicate-coding: any of: ^content/posts/.*(leetcode|bytebytego).*\.md$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  check-required-frontmatter: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (_index\.md$) and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  check-single-category: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  forbid-double-more: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  forbid-double-parens-in-shortcodes: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-external-images: any of: ^layouts/.*\.html$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-md-extension-in-hugo-internal-links: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-old-perrotta-dev: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$ and not (^(content/posts/2024-02-04-new-domain.md|content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md)$) and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  forbid-personal-emails: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-tulip: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-utm-analytics: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  replace-em-dashes: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  replace-shell-prompt: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  sort-blog-tags: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  strip-content-posts-prefix: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)

immich
  content/cursed-knowledge.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

fix RSS feed stylesheet loading
  assets/theme.css
  docs/adrs/0015-first-paragraph-spade-glyph.md
  layouts/partials/style.html
  static/theme.css
Due: forbid-double-parens-in-shortcodes, forbid-external-images, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: 0fc629c065d0d2a00c82c1331ea42e3b2e3e38d0
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  cursed-knowledge/index.html
  cursed-knowledge/index.md
  cursed-knowledge/index.xml
  en/sitemap.xml
  it/blogroll.opml
  pt/blogroll.opml
  sitemap.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

auto-fix UTM tracking parameters
  .pre-commit-config.yaml
  ci/remove_utm_parameters.py
Due: forbid-old-perrotta-dev

markdownlint: --fix
  .pre-commit-config.yaml
Due: forbid-old-perrotta-dev

deploy: 63159fd2e001738aebd63b1f922368766e60142f
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  it/blogroll.opml
  pt/blogroll.opml
Due: none

thoughtworks tech radar
  content/posts/2026-08-20-thoughtworks-technology-radar.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

year is cooler
  config/_default/config.yml
Due: forbid-old-perrotta-dev

just new: preserve title casing
  Justfile
  archetypes/blog.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: 5aac04b5656ea9360947f954d82fed49d28724a6
  2022/01/advent-of-code/index.html
  2025/08/xslt-in-rss-feed/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  it/blogroll.opml
  pt/blogroll.opml
Due: none

auto-fix Hugo shortcode parentheses
  .pre-commit-config.yaml
  ci/normalize_hugo_shortcode_parentheses.py
Due: forbid-old-perrotta-dev

deploy: 877f8e03ef935860ae162ca4b64594c0cd7be1be
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  it/blogroll.opml
  pt/blogroll.opml
Due: none

auto-fix console code fences
  .pre-commit-config.yaml
  ci/replace_console_code_fences.py
Due: forbid-old-perrotta-dev

deploy: 8696c99e062440414e047c44b58ecb86665f9dbf
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  it/blogroll.opml
  pt/blogroll.opml
Due: none

auto-remove Hugo more markers
  .pre-commit-config.yaml
  ci/remove_more_markers.py
Due: forbid-old-perrotta-dev

terminals
  content/posts/2026-08-20-terminals.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

standardize ADR format
  docs/adrs/0011-email-obfuscation.md
  docs/adrs/0012-ai-scraper-poisoning.md
  docs/adrs/0013-no-query-strings.md
  docs/adrs/0015-first-paragraph-spade-glyph.md
  docs/adrs/README.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: 1681c4d45a58290c33188957e973ffd156cd1364
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  it/blogroll.opml
  pt/blogroll.opml
Due: none

update ADRs for current repository state
  docs/adrs/0001-commentary-category.md
  docs/adrs/0002-performance-improvements.md
  docs/adrs/0003-dom-optimization.md
  docs/adrs/0004-microformats-validation.md
  docs/adrs/0005-webmention-support.md
  docs/adrs/0006-precomputed-post-relationships.md
  docs/adrs/0007-full-text-search.md
  docs/adrs/0009-inline-static-assets.md
  docs/adrs/0010-markdown-content-negotiation.md
  docs/adrs/0011-email-obfuscation.md
  docs/adrs/0012-ai-scraper-poisoning.md
  docs/adrs/0013-no-query-strings.md
  docs/adrs/0014-rss-club.md
  docs/adrs/0016-progressive-web-app.md
  docs/adrs/README.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: 9906207c4727cb6f4f871f2f28e04539e38bbdce
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  it/blogroll.opml
  pt/blogroll.opml
Due: none

fix CSS validation errors
  layouts/partials/mini-graph.html
  layouts/partials/style.html
  static/theme.css
Due: forbid-external-images

btrfs
  content/pt/posts/2014-09-20-desvendando-ou-nao-o-btrfs.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: 0c230e895d3cea9276c5399382abcdb91ef0e883
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  it/blogroll.opml
  posts/index.html
  posts/recipes/index.html
  pt/2014/07/meus-dois-minutos-de-fama/index.html
  pt/2014/09/desvendando-ou-não-o-btrfs/index.html
  pt/2014/09/desvendando-ou-não-o-btrfs/index.md
  pt/2014/11/encontro-hackergroup-ufrj-diário-#1/index.html
  pt/404.html
  pt/blogroll.opml
  pt/index.xml
  pt/llms.txt
  pt/posts/2014-07-25-meus-dois-minutos-de-fama/index.html
  pt/posts/2014-09-20-desvendando-ou-nao-o-btrfs/index.html
  pt/posts/2014-09-20-desvendando-ou-nao-o-btrfs/index.md
  pt/posts/2014-11-01-encontro-hackergroup-ufrj-diario-1/index.html
  pt/posts/index.html
  pt/posts/index.xml
  pt/search/index.json
  pt/sitemap.md
  pt/sitemap.xml
  pt/tags/dev/index.html
  pt/tags/dev/index.xml
  pt/tags/index.html
  pt/tags/index.xml
  pt/tags/legacy/index.html
  pt/tags/legacy/index.xml
  sitemap.md
  sitemap.xml
  tags/dev/index.html
  tags/index.html
  tags/index.xml
  tags/legacy/index.html
  tags/legacy/index.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

content
  content/posts/2026-08-21-google-notice-of-content-restriction.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

amend
  content/posts/2026-08-21-google-notice-of-content-restriction.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

double period
  content/posts/2026-08-21-google-notice-of-content-restriction.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

deploy: 33bf4dddf59eebed345d6e4cb2e3393f2eb8f33b
  2022/01/advent-of-code/index.html
  2026/08/google-notice-of-content-restriction/index.html
  2026/08/google-notice-of-content-restriction/index.md
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  index.xml
  it/blogroll.opml
  posts/index.xml
  pt/blogroll.opml
  sitemap.xml
  tags/index.xml
  tags/privacy/index.xml
  tags/serenity/index.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: ed0594a65ec9d505d712dc83e636f639d76b0fab
  2022/01/advent-of-code/index.html
  2026/08/google-notice-of-content-restriction/index.html
  2026/08/google-notice-of-content-restriction/index.md
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  index.xml
  it/blogroll.opml
  posts/index.xml
  pt/blogroll.opml
  sitemap.xml
  tags/index.xml
  tags/privacy/index.xml
  tags/serenity/index.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

dual
  content/pt/posts/2013-09-05-dual-booting-linux-and-windows-final-thoughts.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: ec99a3186745f91c7d32cb6b1067336df51887e6
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  it/blogroll.opml
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/2013/09/como-rodar-jnlp-no-linux/index.html
  pt/2013/09/dual-booting-linux-and-windows-final-thoughts/index.html
  pt/2013/09/dual-booting-linux-and-windows-final-thoughts/index.md
  pt/2013/09/era-uma-vez...kernel-panic-uma-história-de-amor-parte-1/index.html
  pt/blogroll.opml
  pt/posts/2013-09-02-como-rodar-jnlp-no-linux/index.html
  pt/posts/2013-09-05-dual-booting-linux-and-windows-final-thoughts/index.html
  pt/posts/2013-09-05-dual-booting-linux-and-windows-final-thoughts/index.md
  pt/posts/index.html
  pt/search/index.json
  pt/sitemap.md
  pt/sitemap.xml
  pt/tags/dev/index.html
  pt/tags/index.html
  pt/tags/index.xml
  pt/tags/legacy/index.html
  sitemap.md
  sitemap.xml
  tags/dev/index.html
  tags/index.html
  tags/index.xml
  tags/legacy/index.html
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

mise
  content/posts/2026-08-21-mise-one-frontend-for-tool-versions.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

typo
  content/posts/2026-08-21-mise-one-frontend-for-tool-versions.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

deploy: 142c61a9d42751025c869f9638546592512999ad
  2022/01/advent-of-code/index.html
  2026/08/mise-one-frontend-for-tool-versions/index.html
  2026/08/mise-one-frontend-for-tool-versions/index.md
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  index.xml
  it/blogroll.opml
  posts/index.xml
  pt/blogroll.opml
  sitemap.xml
  tags/ai/index.xml
  tags/coding/index.xml
  tags/dev/index.xml
  tags/index.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

kargo
  content/posts/2026-08-21-kargo-notify-when-a-soak-completes.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix
