Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-coding-titles, check-duplicate-leetcode, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

check-coding-titles:
  name: Enforce LeetCode and ByteByteGo title format
  entry: ci/check_post_titles.py
  language: system

check-duplicate-leetcode:
  name: Detect duplicate LeetCode posts
  entry: ci/check_duplicate_leetcode_posts.py
  language: system
  pass_filenames: false

forbid-md-extension-in-hugo-internal-links:
  name: Forbid .md extension in hugo internal links
  entry: .*\.md\" >\}\}
  language: pygrep

forbid-old-perrotta-dev:
  name: Forbid old domains
  entry: \\b(https://thiagowfx\.github\.io|www\.perrotta\.dev|blog\.perrotta\.dev)\\b
  language: pygrep

forbid-personal-emails:
  name: Forbid personal emails
  entry: (@perrotta.dev|tbperrotta@gmail.com)
  language: pygrep

forbid-tulip:
  name: Forbid Tulip terms
  entry: (?i)(\btulip\b|@garden)
  language: pygrep

forbid-utm-analytics:
  name: Forbid UTM analytics / tracking
  entry: \\b(utm_source)\\b
  language: pygrep

txt
  content/posts/2026-01-01-txt-posts.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

use top-level rss feed in llms.txt
  layouts/_default/home.llms.txt
Due: none

deploy: 50521a87cd12e22c109467e125f920ead8dc3eb2
  blogroll.opml
  blogroll/index.html
  llms.txt
  tags/coding/index.html
Due: none

amend
  content/posts/2026-01-01-txt-posts.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

support index.md too
  config/_default/config.yml
  layouts/_default/baseof.html
Due: forbid-old-perrotta-dev

support index.md too
  layouts/_default/single.markdown.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: a9e26d20da81dd69d7642b81c091b1e974e98609
  2026/01/.txt-posts/index.html
  2026/01/.txt-posts/index.txt
  blogroll.opml
  blogroll/index.html
  index.xml
  posts/index.xml
  sitemap.xml
  tags/coding/index.html
  tags/dev/index.html
  tags/dev/index.xml
  tags/meta/index.html
  tags/meta/index.xml
Due: none

style: make RSS icon smaller and square
  layouts/partials/style.html
Due: none

support pt language in hugo
  config/_default/config.yml
  content/posts/2017-02-11-arch-linux-on-macbook-installation-notes.md
  content/pt/posts/2014-01-07-testando-uma-iso-no-linux-sem-o-virtualbox.md
  content/pt/posts/2014-04-18-mini-recovery-tipico-via-usb.md
  content/pt/posts/2014-05-01-instalando-o-gentoo-a-partir-do-arch.md
  content/pt/posts/2016-10-16-matroshka.md
  content/pt/posts/2024-12-22-new-post-workflow.md
  content/pt/posts/2025-01-08-emissor-nfe-sebrae-v401/emissorNfe-4_0_1.jnlp
  content/pt/posts/2025-01-08-emissor-nfe-sebrae-v401/index.md
  content/pt/posts/2025-01-13-pare-de-receber-telemarketing-não-me-perturbe.md
  content/pt/posts/_index.md
  content/pt/search.md
  layouts/_default/list.html
  layouts/_default/search.html
  layouts/_default/search.search.json
  layouts/partials/search-widget.html
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

more i18n
  content/pt/posts/2025-01-08-emissor-nfe-sebrae-v401/index.md
  i18n/en.toml
  i18n/pt.toml
  layouts/_default/list.html
  layouts/partials/search-widget.html
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

tags page
  config/_default/config.yml
  layouts/_default/terms.html
Due: forbid-old-perrotta-dev

coding adjustments
  Justfile
  archetypes/coding.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

s/recipe/recipes
  content/posts/recipe/_index.md
  content/posts/recipes/2025-04-20-overnight-oats.md
  content/posts/recipes/2025-05-23-apple-ginger-hot-drink.md
  content/posts/recipes/_index.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

recipes, categorized as
  content/posts/recipes/2025-04-20-overnight-oats.md
  i18n/en.toml
  i18n/pt.toml
  layouts/_default/list.html
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

lang-switcher
  i18n/en.toml
  i18n/pt.toml
  layouts/_default/baseof.html
  layouts/_default/list.html
  layouts/_default/terms.html
  layouts/partials/lang-switcher.html
  layouts/partials/style.html
Due: none

mobile tweak
  i18n/pt.toml
Due: none

all posts -> posts
  i18n/en.toml
  i18n/pt.toml
  layouts/partials/style.html
Due: none

categories: use %
  layouts/_default/list.html
  layouts/_default/terms.html
Due: none

display categories in posts
  layouts/_default/single.html
Due: none

category in search
  layouts/partials/search-widget.html
Due: none

category in rss
  layouts/_default/rss.xml
Due: none

update archetypes for categories
  archetypes/blog.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

add separator between categories and tags
  layouts/_default/rss.xml
  layouts/_default/single.html
Due: none

rss feed icon
  static/rss.xsl
Due: none

shortcode/partial for rss
  layouts/_default/list.html
  layouts/partials/rss-icon.html
  layouts/shortcodes/rss-icon.html
  static/rss.xsl
Due: none

formatting
  layouts/_default/list.html
  layouts/_default/rss.xml
  layouts/_default/single.html
Due: none

formatting
  layouts/_default/rss.xml
Due: none

indent coding
  layouts/_default/baseof.html
  layouts/partials/style.html
Due: none

move plan
  plans/2026-01-01-CATEGORY_MIGRATION.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

claude
  CLAUDE.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

enforce single category
  .pre-commit-config.yaml
  ci/check_single_category.py
Due: forbid-old-perrotta-dev

refactor: enforce up to one category per post, fix rss icon and separators
  .pre-commit-config.yaml
  ci/check_single_category.py
Due: forbid-old-perrotta-dev

pt links
  layouts/_default/baseof.html
Due: none

fix: prevent PT language switcher from appearing on EN homepage
  layouts/partials/lang-switcher.html
Due: none

related posts
  layouts/_default/baseof.html
  layouts/partials/related-posts.html
Due: none

Path conditions:
  check-coding-titles: any of: ^content/posts/.*(leetcode|bytebytego).*\.md$ and \.(md|markdown|mdown)$ and not (^content/posts/2025-12-30-kagi-add-leetcode-bang.md$) and not (^(layouts/partials/openring.html$|schemas|vendor)/)
  check-duplicate-leetcode: any of: ^content/posts/.*leetcode.*\.md$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
  forbid-md-extension-in-hugo-internal-links: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
  forbid-old-perrotta-dev: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$ and not (^(content/posts/2024-02-04-new-domain.md|content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md)$) and not (^(layouts/partials/openring.html$|schemas|vendor)/)
  forbid-personal-emails: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
  forbid-tulip: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
  forbid-utm-analytics: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
