Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

Path conditions:
  forbid-md-extension-in-hugo-internal-links: any of: \.(md|markdown|mdown)$
  forbid-old-perrotta-dev: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$, but not: ^(content/posts/2024-02-04-new-domain.md|content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md)$
  forbid-personal-emails: any of: \.(md|markdown|mdown)$
  forbid-tulip: any of: \.(md|markdown|mdown)$
  forbid-utm-analytics: any of: \.(md|markdown|mdown)$

deploy: 58e25fe5b40b53fce3c8952eeb837c1d21c987ee
  2025/08/kubernetes-list-all-imagepullbackoff-container-images/index.html
  posts/index.html
  tags/bestof/index.html
  tags/bestof/index.xml
  tags/dev/index.html
  tags/selfhosted/index.html
Due: none

bestof
  content/posts/2025-08-20-xslt-in-rss-feed.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 7207ac2baf2dd194b0b4d5d2595ca57aeeaa6813
  2025/08/xslt-in-rss-feed/index.html
  posts/index.html
  tags/bestof/index.html
  tags/bestof/index.xml
  tags/dev/index.html
  tags/selfhosted/index.html
  tags/serenity/index.html
Due: none

add coding archetype, justfile and config
  Justfile
  archetypes/coding.md
  config.yml
  content/posts/2025-08-29-hello-world.md
  layouts/_default/list.html
  layouts/_default/rss.xml
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

new post: it's never a good time
  content/posts/2025-08-29-it's-never-a-good-time.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: e961ca323f2d90a3b6cd2b5fd6684aa343dc3653
  2025/08/its-never-a-good-time/index.html
  404.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/bestof/index.html
  tags/bestof/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

Auto-update pre-commit hooks
  .pre-commit-config.yaml
Due: forbid-old-perrotta-dev

python: nested loops
  content/posts/2025-08-29-python-editorial-nested-loops.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 1de9131845c99808cb98477d0cce36737e6fcee4
  2025/08/python-editorial-nested-loops/index.html
  404.html
  index.html
  posts/index.html
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

remove instagram
  layouts/_default/baseof.html
Due: none

drop editorial
  content/posts/2025-08-29-python-nested-loops.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 024612502d11d15e60f9cefb7eca4df42f88fa34
  2025/08/python-nested-loops/index.html
  404.html
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

new post: trash
  content/posts/2025-09-01-trash.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 31ba3228d1777d3f740930483b4d95c5e42a9a0c
  2025/09/trash/index.html
  404.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none

pre-commit autoupdate
  content/posts/2025-09-01-pre-commit-autoupdate.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 30ac7347632151ffdead9c60a6e9436cef5564ce
  2025/09/pre-commit-autoupdate/index.html
  404.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none

typo
  content/posts/2025-09-01-pre-commit-autoupdate.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: a2da32a50082f0f58c7db25db106dff0be7182c7
  2025/09/pre-commit-autoupdate/index.html
  index.xml
  posts/index.xml
  tags/dev/index.xml
Due: none

add diskonaut
  content/posts/2024-01-21-remove-large-files-from-your-computer.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 95e0d11fb497385eb361811ce6c7f6c64c124458
  2024/01/remove-large-files-from-your-computer/index.html
Due: none

new post: claude resume
  content/posts/2025-09-02-claude-resume.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 4338647fa2186f5ab14c54bc7e5634c2752b302e
  2025/09/claude--resume/index.html
  404.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none

deploy: f21b1e5597f7073ffa5d86f66f6f4035713b17f6
  robots.txt
Due: none

new post: leetcode 88
  content/posts/2025-09-02-leetcode-88-merge-sorted-array.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 6f6f0728ca644878009206556b0fbc4513ab7d2f
  2025/09/leetcode-#88-merge-sorted-array/index.html
  404.html
  index.html
  posts/index.html
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

new post: leetcode 27
  content/posts/2025-09-03-leetcode-27-remove-element.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

style
  content/posts/2025-09-02-leetcode-88-merge-sorted-array.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 1ca25e62be38b8e3cf589dc36e44961769fd3426
  2025/09/leetcode-#88-merge-sorted-array/index.html
  2025/09/leetcode-27-remove-element/index.html
  404.html
  index.html
  posts/index.html
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

add leetcode to dictionary
  .codespell-dictionary.txt
Due: none

style
  content/posts/2025-09-03-leetcode-27-remove-element.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: c2751fe9967294309679fecc719aaef80565752e
  2025/09/leetcode-#27-remove-element/index.html
  404.html
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

drop from dict
  .codespell-dictionary.txt
Due: none

skip check-yamlschema on pre-commit.ci
  .pre-commit-config.yaml
Due: forbid-old-perrotta-dev

new post: leetcode 7
  content/posts/2025-08-29-reverse-integer.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 607ff977c420035bccc65b2ed868f56b5165372b
  2025/08/leetcode-#7-reverse-integer/index.html
  404.html
  posts/index.html
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

cache schemas locally
  .pre-commit-config.yaml
  .talismanrc
  config.yml
  schemas/hugo.json
  schemas/pre-commit-config.json
  schemas/talismanrc.json
Due: forbid-old-perrotta-dev

continue to skip yaml schema validation in pre-commit.ci for now
  .pre-commit-config.yaml
Due: forbid-old-perrotta-dev

github: disable dependabot notifications
  content/posts/2025-09-03-github-disable-dependabot-cli-notifications.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics
