Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

forbid-md-extension-in-hugo-internal-links:
  name: Forbid usage of .md extension in hugo internal links
  entry: .*\.md\" >\}\}
  language: pygrep

forbid-old-perrotta-dev:
  name: Forbid usage of previous domains
  entry: \b(https://thiagowfx\.github\.io|www\.perrotta\.dev|blog\.perrotta\.dev)\b
  language: pygrep

forbid-personal-emails:
  name: Forbid usage of my personal emails
  entry: tbperrotta@gmail.com
  language: pygrep

forbid-tulip:
  name: Forbid usage of Tulip
  entry: tulip
  language: pygrep

forbid-utm-analytics:
  name: Forbid usage of UTM analytics / tracking
  entry: \b(utm_source)\b
  language: pygrep

deploy: f62d0a4c189da95497ddd9d674bd6782423c6810
  2025/09/leetcode-#6-zigzag-conversion/index.html
  tags/coding/index.xml
Due: none

typo
  content/posts/2025-09-09-leetcode-68-text-justification.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: be6d9559a3c69c505cf469cd0a5b0d053afb1c18
  2025/09/leetcode-#68-text-justification/index.html
  tags/coding/index.xml
Due: none

new post: raycast spotify macos menu bar
  content/posts/2025-09-10-raycast-spotify-macos-menu-bar.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 2cc650c9ae12c0c8611a1dd21652bf789203450e
  2025/09/raycast-spotify-in-macos-menu-bar/index.html
  404.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

new post: booking.com mobile-only
  content/posts/2025-09-11-booking-com-mobile-only-rates.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

bestof
  content/posts/2025-09-11-booking-com-mobile-only-rates.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 6e66c17d90f1338e4c2a183473e458ad2134ffb9
  2025/09/booking.com-mobile-only-rates/index.html
  404.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

deploy: a2655dfb1b54d03e88fd03c849943848231d7e75
  2025/09/booking.com-mobile-only-rates/index.html
  404.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/bestof/index.html
  tags/bestof/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

two sum
  content/posts/2025-09-11-leetcode-1-two-sum.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 4bf4b39e9ce742d58972961d96b962015eb11b87
  2025/09/leetcode-#1-two-sum/index.html
  404.html
  index.html
  posts/index.html
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

feat: add chart
  layouts/_default/list.html
  static/coding-chart.js
Due: none

deploy: c26561eb897a042aff1f3ff651c2d01e3dbab281
  coding-chart.js
  tags/coding/index.html
Due: none

leetcode only
  layouts/_default/list.html
  static/coding-chart.js
Due: none

deploy: 3ba9b1ce8fe2e8f2e56ae9d8db694853bc934b5e
  coding-chart.js
  tags/coding/index.html
Due: none

slackware
  content/posts/2024-10-13-new-series-raspberry-pi-fun-with-devops.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 8d2d93306ae8a7967be1ca291954c8d95758ba51
  2024/10/new-series-raspberry-pi-fun-with-devops/index.html
Due: none

add TODO
  content/posts/2025-09-10-leetcode-6-zigzag-conversion.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: ba9c308da12d301908495bd88300c82f5efad9cf
  tags/coding/index.xml
Due: none

pre-commit update
  .pre-commit-config.yaml
Due: forbid-old-perrotta-dev

new post: schufa
  content/posts/2025-09-11-schufa.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 83ba17ba7daa5a99cfa6462cbe5dba0ad67428f8
  2025/09/schufa/index.html
  404.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

ljust
  content/posts/2025-09-09-leetcode-68-text-justification.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: b96b3889d4246e49abf7b1ee022e5f2ad336a593
  2025/09/leetcode-#68-text-justification/index.html
  tags/coding/index.xml
Due: none

hacker news
  content/posts/2022-02-17-praise-for-blog-aggregators.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 47a839713a056127ce3cb4c7ccb58a06c943c02d
  2022/02/praise-for-blog-aggregators/index.html
Due: none

slice of bread
  content/posts/2025-09-12-slice-of-bread.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 7d15dd1f151b1bebc025f8d6c2f6c0125b8f32f5
  2025/09/slice-of-bread/index.html
  404.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

credits
  content/posts/2025-09-12-slice-of-bread.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 335542e56412056fdf594fa758af44fc51f03c06
  2025/09/slice-of-bread/index.html
  index.xml
  posts/index.xml
  tags/serenity/index.xml
Due: none

bread
  content/posts/2025-09-12-slice-of-bread.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: dadfd0e7c7cfbe7ab9eb53b8b8345cf5f0fba21d
  2025/09/slice-of-bread/index.html
  404.html
  index.xml
  posts/index.html
  posts/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

move zeroes
  content/posts/2025-09-12-leetcode-283-move-zeroes.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: d36c721874897f9cefbd561f8fd2a01e8978111c
  2025/09/leetcode-#283-move-zeroes/index.html
  404.html
  index.html
  posts/index.html
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

complement
  content/posts/2025-09-12-leetcode-283-move-zeroes.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: e486bbcbf74e4f98a7c495b982ba3fff9f03cf16
  2025/09/leetcode-#283-move-zeroes/index.html
  tags/coding/index.xml
Due: none

leet code valid parentheses
  content/posts/2025-09-13-leetcode-20-valid-parentheses.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: cfd2b856a7472169ab7f623eabf940ef090dfecd
  2025/09/leetcode-#20-valid-parentheses/index.html
  404.html
  index.html
  posts/index.html
  sitemap.xml
  tags/coding/index.html
  tags/coding/index.xml
Due: none

expand leetcode archetype
  archetypes/coding.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

Path conditions:
  forbid-md-extension-in-hugo-internal-links: any of: \.(md|markdown|mdown)$
  forbid-old-perrotta-dev: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$, but not: ^(content/posts/2024-02-04-new-domain.md|content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md)$
  forbid-personal-emails: any of: \.(md|markdown|mdown)$
  forbid-tulip: any of: \.(md|markdown|mdown)$
  forbid-utm-analytics: any of: \.(md|markdown|mdown)$
