Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbid-utm-analytics, forbid-www-perrotta-dev

forbid-utm-analytics:
  name: Forbid usage of UTM analytics / tracking
  entry: \b(utm_source)\b
  language: pygrep

forbid-www-perrotta-dev:
  name: Forbid usage of previous domains
  entry: \b(thiagowfx\.github\.io|www\.perrotta\.dev)\b
  language: pygrep

ideas: add cog
  IDEAS.md
Due: forbid-utm-analytics, forbid-www-perrotta-dev

comment rss.xml
  layouts/_default/rss.xml
Due: none

more ideas
  IDEAS.md
Due: forbid-utm-analytics, forbid-www-perrotta-dev

new post: macos app shortcuts
  content/posts/2024-12-31-macos-app-shortcuts.md
Due: forbid-utm-analytics, forbid-www-perrotta-dev

deploy: e06ee9ef3428af6b4110f58300fcbc64a44464d6
  2024/12/macos-app-shortcuts/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/macos/index.html
  tags/macos/index.xml
Due: none

new post: sourcegraph
  content/posts/2024-12-31-sourcegraph.md
Due: forbid-utm-analytics, forbid-www-perrotta-dev

deploy: 6bfb458629c0a779cb6fa1cd2f0e7a03e4391a63
  2024/12/sourcegraph/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none

add link
  content/posts/2024-12-27-update-dns-ns-servers-from-porkbun-to-cloudflare.md
Due: forbid-utm-analytics, forbid-www-perrotta-dev

deploy: 9757e609555aa44e8d5848044bc6937480ab4677
  2024/12/update-dns-ns-servers-from-porkbun-to-cloudflare/index.html
  tags/bestof/index.xml
  tags/dev/index.xml
  tags/privacy/index.xml
  tags/selfhosted/index.xml
Due: none

move ideas to logseq / second brain
  IDEAS.md
  Justfile
Due: forbid-utm-analytics, forbid-www-perrotta-dev

add intro / blurb
  content/_index.md
Due: forbid-utm-analytics, forbid-www-perrotta-dev

deploy: eedc5696cc11899814f8484906551236f669e585
  index.html
Due: none

credits
  content/posts/2024-12-31-macos-app-shortcuts.md
Due: forbid-utm-analytics, forbid-www-perrotta-dev

deploy: 542a644480c54201d35e693b7dc13616b777fa79
  2024/12/macos-app-shortcuts/index.html
  index.xml
  posts/index.xml
  tags/dev/index.xml
  tags/macos/index.xml
Due: none

homepage tweak
  content/_index.md
Due: forbid-utm-analytics, forbid-www-perrotta-dev

deploy: 55f3d9109eb59e090091dad35952260ca3780e1c
  index.html
Due: none

tiny fixes
  content/posts/2024-12-19-manage-your-kindle-library-online.md
  content/posts/2024-12-28-miniflux-global-blocklist.md
Due: forbid-utm-analytics, forbid-www-perrotta-dev

deploy: 91b73e08b393b9233291699c99cfe91ee3932544
  2024/12/manage-your-kindle-library-online/index.html
  2024/12/miniflux-global-blocklist/index.html
  index.xml
  posts/index.xml
  tags/dev/index.xml
  tags/selfhosted/index.xml
  tags/serenity/index.xml
Due: none

ci: add markdown-link-check
  .pre-commit-config.yaml
Due: none

deploy: 9d032025dae4ea7683cbff44e1c9c1f69d8103ed
  2022/02/doas-bridging-the-sudo-gap/index.html
Due: none

fix broken link
  content/posts/2022-01-28-advent-of-code.md
  content/posts/2022-02-07-doas-bridging-the-sudo-gap.md
Due: forbid-utm-analytics, forbid-www-perrotta-dev

deploy: 9d93698fe0a901cd4e1cc2fe42911a0113ccd02a
  2022/01/advent-of-code/index.html
  tags/aoc/index.xml
Due: none

new post: markdown-link-check
  .pre-commit-config.yaml
  content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md
Due: forbid-utm-analytics, forbid-www-perrotta-dev

deploy: 36e5c40267251ca9638c898ed89fdbcde9d79594
  2025/01/scan-for-markdown-broken-links-in-your-blog/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/bestof/index.html
  tags/bestof/index.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none

new post: git identities
  content/posts/2025-01-01-git-configure-identities-for-work.md
Due: forbid-utm-analytics, forbid-www-perrotta-dev

deploy: 4866c039de6bf2a5e8c82af525e72595078d5717
  2025/01/git-configure-identities-for-work/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/bestof/index.html
  tags/bestof/index.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none

lighthouse: add cloudflare
  content/posts/2024-12-28-site-performance-with-lighthouse.md
Due: forbid-utm-analytics, forbid-www-perrotta-dev

deploy: ea264a6f20bcba32dc7d91ac5b6abada25e1db40
  2024/12/site-performance-with-lighthouse/index.html
  tags/dev/index.xml
  tags/selfhosted/index.xml
Due: none

Update single.html
  layouts/_default/single.html
Due: none

Update baseof.html
  layouts/_default/baseof.html
Due: none

Update _index.md
  content/_index.md
Due: forbid-utm-analytics, forbid-www-perrotta-dev

deploy: 3d019d5af97ead5de49045cb64bf8e7e24870ca6
  index.html
Due: none

deploy: 128bf01fbd8a3971e2ed54f682fb58dd731dd3e8
  index.html
Due: none

Update list.html
  layouts/_default/list.html
Due: none

deploy: dce8bc19c7f5f2b6f6c8faab08f7c9dd3aae3745
  posts/index.html
  tags/aoc/index.html
  tags/bestof/index.html
  tags/dev/index.html
  tags/linux/index.html
  tags/macos/index.html
  tags/meta/index.html
  tags/portuguese/index.html
  tags/privacy/index.html
  tags/selfhosted/index.html
  tags/serenity/index.html
Due: none

Update config.yml
  config.yml
Due: forbid-www-perrotta-dev

Path conditions:
  forbid-utm-analytics: any of: \.(md|markdown|mdown)$
  forbid-www-perrotta-dev: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$, but not: ^(README\.md|\.pre-commit-config\.yaml|content/posts/2024-02-04-new-domain.md|content/posts/2022-02-18-hugo-compose-or-edit-blog-posts-from-the-web.md|content/posts/2022-10-09-do-i-still-remember-how-to-blog.md)$
