Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

forbid-md-extension-in-hugo-internal-links:
  name: Forbid usage of .md extension in hugo internal links
  entry: .*\.md\" >\}\}
  language: pygrep

forbid-old-perrotta-dev:
  name: Forbid usage of previous domains
  entry: \b(https://thiagowfx\.github\.io|www\.perrotta\.dev|blog\.perrotta\.dev)\b
  language: pygrep

forbid-personal-emails:
  name: Forbid usage of my personal emails
  entry: tbperrotta@gmail.com
  language: pygrep

forbid-tulip:
  name: Forbid usage of Tulip
  entry: tulip
  language: pygrep

forbid-utm-analytics:
  name: Forbid usage of UTM analytics / tracking
  entry: \b(utm_source)\b
  language: pygrep

grammar
  content/posts/2025-06-12-gitignore-claude-settings-local-json.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: a7243cbde1f49165b8af159cb2ddd961c26ef1bb
  2025/06/.gitignore-.claude/settings.local.json/index.html
  index.xml
  posts/index.xml
  tags/dev/index.xml
Due: none

new post: slack
  content/posts/2025-06-13-slack-public-chats-first.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 4cb8cefd921b6c1368b681c74415f1f2e651a6f8
  2025/06/slack-public-chats-first/index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/bestof/index.html
  tags/bestof/index.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

formatting
  content/posts/2025-06-13-slack-public-chats-first.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 5083df3db11eba2434e1a353061eb505b8681913
  2025/06/slack-public-chats-first/index.html
  index.xml
  posts/index.xml
  tags/bestof/index.xml
  tags/dev/index.xml
  tags/serenity/index.xml
Due: none

argo: sts health check
  content/posts/2025-06-13-argocd-custom-health-check-for-statefulset-(ondelete).md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 54bc8bbd8f9bb98b0f433ff9d881f7a902e1b7c2
  2025/06/argocd-custom-health-check-for-statefulset-ondelete/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/bestof/index.html
  tags/bestof/index.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/selfhosted/index.html
  tags/selfhosted/index.xml
Due: none

new post: argocd unknown state
  content/posts/2025-06-13-argocd-every-application-in-unknown-state.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: e59ed8ac2faf5ad57c882d85a59f4a45a0fd1b8a
  2025/06/argocd-every-application-in-unknown-state/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/bestof/index.html
  tags/bestof/index.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/selfhosted/index.html
  tags/selfhosted/index.xml
Due: none

add another link
  content/posts/2025-05-17-winterbreak-hello-world.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 9ea9711344fef9362594c7ac6d7b1c17f778845c
  2025/05/winterbreak-hello-world/index.html
  index.xml
  posts/index.xml
  tags/bestof/index.xml
  tags/privacy/index.xml
  tags/selfhosted/index.xml
  tags/serenity/index.xml
Due: none

new post: kindle paperwhite custom fonts
  content/posts/2025-06-15-kindle-paperwhite-add-custom-fonts.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 80992d25d48d18c6bb8989e272ed5295872c374d
  2025/06/kindle-paperwhite-add-custom-fonts/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/selfhosted/index.html
  tags/selfhosted/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

refactor: add dev to all linux tags
  content/posts/2014-01-07-testando-uma-iso-no-linux-sem-o-virtualbox.md
  content/posts/2014-04-18-mini-recovery-tipico-via-usb.md
  content/posts/2014-05-01-instalando-o-gentoo-a-partir-do-arch.md
  content/posts/2014-09-28-my-first-ebuild.md
  content/posts/2015-01-07-the-eudyptula-challenge.md
  content/posts/2015-04-03-installing-haiku-from-an-existing-linux.md
  content/posts/2016-09-01-linux-goodness-in-your-chromebook.md
  content/posts/2021-12-26-linux-auto-switch-to-bluetooth-headset.md
  content/posts/2021-12-27-xterm-osc-52.md
  content/posts/2021-12-28-ufw-firewall.md
  content/posts/2022-01-02-ephemeral-linux-shell-access-in-the-cloud.md
  content/posts/2022-01-03-miniflux-rolling-my-own-rss-reader.md
  content/posts/2022-01-04-alpine-linux-apk-command-not-found-hook.md
  content/posts/2022-01-05-ventoy-automate-your-distro-hopping.md
  content/posts/2022-01-07-my-first-apkbuild.md
  content/posts/2022-01-10-alpine-linux-apk-logs-with-etckeeper.md
  content/posts/2022-01-15-alpine-linux-on-raspberry-pi-diskless-mode-with-persistent-storage.md
  content/posts/2022-01-16-debian-enable-unattended-upgrades.md
  content/posts/2022-01-18-alpine-arch-linux-apknew-pacnew-files.md
  content/posts/2022-01-23-introspect-the-local-network-for-pihole.md
  content/posts/2022-01-25-pihole-add-custom-dns-mappings.md
  content/posts/2022-01-29-linux-remount-device-with-different-options.md
  content/posts/2022-01-31-systemd-share-environment-variables-with-xorg.md
  content/posts/2022-02-01-linux-swap-shenanigans.md
  content/posts/2022-02-07-doas-bridging-the-sudo-gap.md
  content/posts/2022-02-19-wayland-from-i3-to-sway.md
  content/posts/2022-05-01-tools-you-should-know-about-moreutils.md
  content/posts/2024-05-03-beware-your-public-ssh-keys.md
  content/posts/2025-01-30-smarttube.md
  content/posts/2025-05-15-nostalgia-the-linux-setup-thiago-perrotta-student.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

new post: koreader wireless sync
  content/posts/2025-06-15-kindle-paperwhite-koreader-calibre-sync.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 3b7caea97f052e23b5ab82b57c36e062be596200
  2025/06/kindle-paperwhite-koreader-calibre-sync/index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/selfhosted/index.html
  tags/selfhosted/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

new post: ssh hash
  content/posts/2025-06-15-ssh-hash-known-hosts.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 62f1faf738f10f95b26c00b0f2d2ac5775d33240
  2025/06/ssh-hash-known-hosts/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/privacy/index.xml
Due: none

new post: diffoscope: exclude directory metadata
  content/posts/2025-06-16-diffoscope-exclude-directory-metadata.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 958092db50fc8ae0da5d49fa4e6ceaa8d18e3d04
  2025/06/diffoscope-exclude-directory-metadata/index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none

new post: espanso for github pr templates
  content/posts/2025-06-16-espanso-for-github-pr-templates.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 235b1d3df47f9cffacc3890cfce3efed254f56b9
  2025/06/espanso-for-github-pr-templates/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none

new post: speaking to myself
  content/posts/2025-06-16-speaking-to-myself.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

colleagues -> teammates
  content/posts/2025-06-16-espanso-for-github-pr-templates.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 362d76fd83da25cd360e29aaeba1442094232a4b
  2025/06/espanso-for-github-pr-templates/index.html
  2025/06/speaking-to-myself/index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

new post: slack reacji
  content/posts/2025-06-17-slack-reacji-channeller.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 1e67109ac86159df0f9e561a698767466bd8a288
  2025/06/slack-reacji-channeller/index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
  tags/meta/index.html
  tags/meta/index.xml
Due: none

update pre-commit deps
  .pre-commit-config.yaml
Due: forbid-old-perrotta-dev

deploy: df1350a31a723d618f6e1e24f30d4cdfee98d743
  robots.txt
Due: none

new post: oh shit, git
  content/posts/2025-06-19-oh-shit-git.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 659e0d4e76c2c2bd4f7c1788c56d62001023b6d5
  2025/06/oh-shit-git/index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none

new post: logseq template for working out
  content/posts/2025-06-22-logseq-template-for-working-out.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 5b025c113e5f9dd1cc69b1a11f63efe32c3b7f8c
  2025/06/logseq-template-for-working-out/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/bestof/index.html
  tags/bestof/index.xml
  tags/serenity/index.html
  tags/serenity/index.xml
Due: none

new post: helm repo with a trailing slash
  content/posts/2025-06-24-helm-repository-with-a-trailing-slash.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: eb07405ad09b1f08981e8b8731aa718f182eabe2
  2025/06/helm-repository-with-a-trailing-slash/index.html
  index.html
  index.xml
  posts/index.html
  posts/index.xml
  sitemap.xml
  tags/dev/index.html
  tags/dev/index.xml
Due: none

new post: macbook wifi
  content/posts/2025-06-24-m1-macbook-air-keeps-disconnecting-from-wi-fi.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

Path conditions:
  forbid-md-extension-in-hugo-internal-links: any of: \.(md|markdown|mdown)$
  forbid-old-perrotta-dev: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$, but not: ^(content/posts/2024-02-04-new-domain.md|content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md)$
  forbid-personal-emails: any of: \.(md|markdown|mdown)$
  forbid-tulip: any of: \.(md|markdown|mdown)$
  forbid-utm-analytics: any of: \.(md|markdown|mdown)$
