Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-coding-titles, check-duplicate-leetcode, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

check-coding-titles:
  name: Enforce LeetCode and ByteByteGo title format
  entry: ci/check_post_titles.py
  language: system

check-duplicate-leetcode:
  name: Detect duplicate LeetCode posts
  entry: ci/check_duplicate_leetcode_posts.py
  language: system
  pass_filenames: false

forbid-md-extension-in-hugo-internal-links:
  name: Forbid .md extension in hugo internal links
  entry: .*\.md\" >\}\}
  language: pygrep

forbid-old-perrotta-dev:
  name: Forbid old domains
  entry: \\b(https://thiagowfx\.github\.io|www\.perrotta\.dev|blog\.perrotta\.dev)\\b
  language: pygrep

forbid-personal-emails:
  name: Forbid personal emails
  entry: (@perrotta.dev|tbperrotta@gmail.com)
  language: pygrep

forbid-tulip:
  name: Forbid Tulip terms
  entry: (?i)(\btulip\b|@garden)
  language: pygrep

forbid-utm-analytics:
  name: Forbid UTM analytics / tracking
  entry: \\b(utm_source)\\b
  language: pygrep

deploy: 234b574272b0cb0da82928135980e9f31bebb76f
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  pt/blogroll.opml
Due: none

deploy: d43f560b10819ec04e54ce3aac98d0dc66fa10b7
  2022/01/advent-of-code/index.html
  2026/02/alpine-linux-clear-/tmp-upon-reboot/index.html
  2026/02/alpine-linux-clear-/tmp-upon-reboot/index.md
  blogroll.opml
  blogroll/index.html
  categories/coding/index.xml
  categories/commentary/index.xml
  en/sitemap.xml
  index.xml
  posts/index.xml
  pt/blogroll.opml
  pt/index.xml
  pt/posts/index.xml
  pt/tags/dev/index.xml
  pt/tags/meta/index.xml
  sitemap.xml
  tags/advent-of-code/index.xml
  tags/ai/index.xml
  tags/alpine-linux/index.xml
  tags/aws/index.xml
  tags/bestof/index.xml
  tags/bytebytego/index.xml
  tags/dev/index.xml
  tags/docker/index.xml
  tags/ghostty/index.xml
  tags/git/index.xml
  tags/index.xml
  tags/kubernetes/index.xml
  tags/leetcode/index.xml
  tags/macos/index.xml
  tags/meta/index.xml
  tags/pkm/index.xml
  tags/pre-commit/index.xml
  tags/privacy/index.xml
  tags/security/index.xml
  tags/selfhosted/index.xml
  tags/serenity/index.xml
  tags/ssh/index.xml
  tags/terraform/index.xml
  tags/vim/index.xml
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

add posse tag
  content/posts/2026-02-07-open-source-security-in-spite-of-ai/index.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 65abb0b88c15f8475880303343480578c7a262d9
  2022/01/advent-of-code/index.html
  2026/02/open-source-security-in-spite-of-ai/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  graph.json
  index.xml
  posts/coding/index.html
  posts/index.html
  posts/index.xml
  posts/recipes/index.html
  pt/blogroll.opml
  search/index.json
  sitemap.xml
  tags/ai/index.xml
  tags/bestof/index.xml
  tags/dev/index.xml
  tags/index.html
  tags/index.xml
  tags/meta/index.xml
  tags/posse/index.html
  tags/posse/index.xml
  tags/security/index.xml
  tags/serenity/index.xml
Due: none

blogroll: move section headings from shortcodes to markdown
  content/blogroll.md
  layouts/shortcodes/blogroll.html
  layouts/shortcodes/blogroll_friends.html
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 59429f7cdfd8f6f85b4d7f03eab8bcadbfd5bb9f
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  blogroll/index.md
  en/sitemap.xml
  pt/blogroll.opml
  sitemap.xml
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

fix: make RSS feed XSL stylesheet work in production
  layouts/_default/rss.xml
  static/theme.css
Due: none

feat: show language badge alongside filename in code block headers
  layouts/_default/_markup/render-codeblock.html
  layouts/_default/_markup/render-codeblock.rss.xml
  layouts/partials/style.html
Due: none

pre-commit: add check-case-conflict, check-json, destroyed-symlinks hooks
  .pre-commit-config.yaml
Due: forbid-old-perrotta-dev

refactor: use filename attribute in code blocks across 9 posts
  content/posts/2021-12-11-keychron-k2-linux.setup.md
  content/posts/2022-01-03-miniflux-rolling-my-own-rss-reader.md
  content/posts/2022-01-07-my-first-apkbuild.md
  content/posts/2022-01-15-alpine-linux-on-raspberry-pi-diskless-mode-with-persistent-storage.md
  content/posts/2022-01-23-introspect-the-local-network-for-pihole.md
  content/posts/2022-01-25-pihole-add-custom-dns-mappings.md
  content/posts/2022-02-01-linux-swap-shenanigans.md
  content/posts/2025-07-20-alpine-linux-remove-broken-packages.md
  content/posts/2025-12-24-nginx-caddy.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 2e5fa7238e2b8cb97345aedb62b90eb9a55674ea
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  pt/blogroll.opml
Due: none

refactor: use filename attribute for contextual file content blocks
  content/posts/2022-01-23-introspect-the-local-network-for-pihole.md
  content/posts/2022-02-01-linux-swap-shenanigans.md
  content/posts/2025-12-24-nginx-caddy.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: a871412f848f8d2d2e3aa93266eac8ad87a096a2
  2021/12/keychron-k2-linux-setup/index.html
  2021/12/keychron-k2-linux-setup/index.md
  2022/01/advent-of-code/index.html
  2022/01/alpine-linux-on-raspberry-pi-diskless-mode-with-persistent-storage/index.html
  2022/01/alpine-linux-on-raspberry-pi-diskless-mode-with-persistent-storage/index.md
  2022/01/introspect-the-local-network-for-pihole/index.html
  2022/01/introspect-the-local-network-for-pihole/index.md
  2022/01/miniflux-rolling-my-own-rss-reader/index.html
  2022/01/miniflux-rolling-my-own-rss-reader/index.md
  2022/01/my-first-apkbuild/index.html
  2022/01/my-first-apkbuild/index.md
  2022/01/pihole-add-custom-dns-mappings/index.html
  2022/01/pihole-add-custom-dns-mappings/index.md
  2022/02/linux-swap-shenanigans/index.html
  2022/02/linux-swap-shenanigans/index.md
  2025/07/alpine-linux-remove-broken-packages/index.html
  2025/07/alpine-linux-remove-broken-packages/index.md
  2025/12/nginx-caddy/index.html
  2025/12/nginx-caddy/index.md
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  pt/blogroll.opml
  sitemap.xml
  tags/alpine-linux/index.xml
  tags/bestof/index.xml
  tags/index.xml
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

perf: lazy-load images, add fetchpriority hint, remove useless preconnect
  layouts/_default/_markup/render-image.html
  layouts/_default/baseof.html
  layouts/partials/style.html
Due: none

perf: add defer to Chart.js CDN scripts
  layouts/_default/list.html
Due: none

perf: lazy-load search index on focus
  layouts/partials/search-widget.html
Due: none

docs: add ADR-0007 for full-text search
  docs/adrs/0007-full-text-search.md
  docs/adrs/README.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

perf: pin Chart.js versions and add SRI hashes
  .talismanrc
  layouts/_default/list.html
Due: none

deploy: a8278f8ee7c19d4e1d609842abe2fa379120f95f
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  pt/blogroll.opml
Due: none

fosdem tag
  content/posts/2026-02-07-open-source-security-in-spite-of-ai/index.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

add fosdem tag
  content/posts/2025-10-03-zizmor.md
  content/posts/2025-11-30-atuin.md
  content/posts/2025-12-01-atuin-delete-history-entries.md
  content/posts/2025-12-23-atuin-limit-scope-to-current-directory.md
  content/posts/2026-01-24-atuin-new-machine-setup.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 1c74522a04ba0b313830256c0ea8b45d19d53922
  2022/01/advent-of-code/index.html
  2025/10/zizmor/index.html
  2025/11/atuin/index.html
  2025/12/atuin-delete-history-entries/index.html
  2025/12/atuin-limit-scope-to-current-directory/index.html
  2026/01/atuin-new-machine-setup/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  graph.json
  index.xml
  posts/coding/index.html
  posts/index.html
  posts/index.xml
  posts/recipes/index.html
  pt/blogroll.opml
  search/index.json
  sitemap.xml
  tags/alpine-linux/index.xml
  tags/bestof/index.xml
  tags/dev/index.xml
  tags/fosdem/index.html
  tags/fosdem/index.xml
  tags/index.html
  tags/index.xml
  tags/security/index.xml
  tags/selfhosted/index.xml
Due: none

perf: inline theme.css to eliminate critical request chain
  layouts/partials/style.html
Due: none

a11y: add aria-labels to SVG-only links and nav element
  layouts/_default/baseof.html
  layouts/_default/list.html
Due: none

fix: use standard rel="icon" instead of deprecated rel="shortcut icon"
  layouts/_default/baseof.html
Due: none

add meta theme-color for light and dark schemes
  layouts/_default/baseof.html
Due: none

a11y: improve color contrast to meet WCAG AA 4.5:1 ratio
  assets/theme.css
Due: none

bear blog cross-posting
  docs/adrs/0008-bearblog-discover-cross-posting.md
  docs/adrs/README.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

deploy: 3ea91d3534448fb721a9192b012a7b1fbcd86c3d
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  pt/blogroll.opml
Due: none

docs: add ADR-0009 for inline static assets
  docs/adrs/0009-inline-static-assets.md
  docs/adrs/README.md
Due: forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics

Path conditions:
  check-coding-titles: any of: ^content/posts/.*(leetcode|bytebytego).*\.md$ and \.(md|markdown|mdown)$ and not (^content/posts/2025-12-30-kagi-add-leetcode-bang.md$) and not (^(layouts/partials/openring.html$|schemas|vendor)/)
  check-duplicate-leetcode: any of: ^content/posts/.*leetcode.*\.md$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
  forbid-md-extension-in-hugo-internal-links: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
  forbid-old-perrotta-dev: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$ and not (^(content/posts/2024-02-04-new-domain.md|content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md)$) and not (^(layouts/partials/openring.html$|schemas|vendor)/)
  forbid-personal-emails: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
  forbid-tulip: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
  forbid-utm-analytics: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|vendor)/
