Repository thiagowfx/thiagowfx.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-broken-internal-links, check-coding-titles, check-duplicate-coding, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-external-images, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

check-broken-internal-links:
  name: Check for broken Hugo ref shortcode links
  entry: ci/check_broken_internal_links.py
  language: system

check-coding-titles:
  name: Enforce LeetCode and ByteByteGo title format
  entry: ci/check_post_titles.py
  language: system

check-duplicate-coding:
  name: Detect duplicate coding problem posts
  entry: ci/check_duplicate_coding_posts.py
  language: system
  pass_filenames: false

check-required-frontmatter:
  name: Enforce required frontmatter fields (date, title)
  entry: ci/check_required_frontmatter.py
  language: python
  additional_dependencies:
  - PyYAML

check-single-category:
  name: Enforce single category per post
  entry: ci/check_single_category.py
  language: python
  additional_dependencies:
  - PyYAML

forbid-double-more:
  name: Forbid <!--more--> in blog posts
  entry: <!--more-->
  language: pygrep

forbid-double-parens-in-shortcodes:
  name: Forbid double parentheses around Hugo shortcodes
  entry: \(\(\{\{[<|%]
  language: pygrep

forbid-external-images:
  name: Forbid external image URLs in layouts
  entry: ci/forbid-external-images.py
  language: system

forbid-md-extension-in-hugo-internal-links:
  name: Forbid .md extension in hugo internal links
  entry: .*\.md\" >\}\}
  language: pygrep

forbid-old-perrotta-dev:
  name: Forbid old domains
  entry: \\b(https://thiagowfx\.github\.io|www\.perrotta\.dev|blog\.perrotta\.dev)\\b
  language: pygrep

forbid-personal-emails:
  name: Forbid personal emails
  entry: (@perrotta\.dev|\w*perrotta\d*@gmail\.com)
  language: pygrep

forbid-tulip:
  name: Forbid Tulip terms
  entry: (?i)(\btulip\b|@garden)
  language: pygrep

forbid-utm-analytics:
  name: Forbid UTM analytics / tracking
  entry: \\b(utm_source)\\b
  language: pygrep

replace-em-dashes:
  name: Replace ' - ' with em dashes in prose
  entry: ci/replace_em_dashes.py
  language: python

replace-shell-prompt:
  name: Replace ❯ with % in shell prompts
  entry: ci/replace_shell_prompt.py
  language: python

sort-blog-tags:
  name: Sort blog post tags alphabetically
  entry: ci/sort_tags.py
  language: python
  additional_dependencies:
  - PyYAML

strip-content-posts-prefix:
  name: Strip content/posts/ prefix from Hugo ref links
  entry: ci/strip_content_posts_prefix.py
  language: python

deploy: 8ad5f590a65865c84f7308769f4f0a8446feb09b
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  books/index.html
  it/blogroll.opml
  pt/blogroll.opml
Due: none

deploy: 02777665d9258a3f5852014af8c3b1d3b7bd4791
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  books/index.html
  it/blogroll.opml
  pt/blogroll.opml
Due: none

books
  content/posts/2026-08-24-books.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

terrateam woes
  content/posts/2026-08-24-terrateam-plan-from-drift-issues.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

tag posts with terrateam
  content/posts/2025-10-24-terraform-version.md
  content/posts/2026-02-23-gimme-subagents.md
  content/posts/2026-04-27-justfile-with-checks.md
  content/posts/2026-08-24-terrateam-plan-from-drift-issues.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

books: count whole series, drop the note field
  ci/goodreads_to_books.py
  ci/test_goodreads_to_books.py
  data/books.yaml
  layouts/_default/books.html
  schemas/books.json
Due: forbid-external-images, forbid-old-perrotta-dev

books: show read/total for incomplete series
  layouts/_default/books.html
Due: forbid-external-images

books: put series first in each category
  layouts/_default/books.html
Due: forbid-external-images

tag terraform posts
  content/posts/2024-07-02-terraform-perform-a-global-update.md
  content/posts/2025-03-26-1password-cli-direnv-integration.md
  content/posts/2025-10-24-terraform-version.md
  content/posts/2025-11-21-stress.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

deploy: 1b1ac41203a643d9dc1c9e846cebc0f0f1f4e981
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  books/index.html
  it/blogroll.opml
  pt/blogroll.opml
Due: none

deploy: f3d4e39aaef7341d58728265cc63047d0677691d
  2022/01/advent-of-code/index.html
  2024/02/integrating-terraform-with-ansible/index.html
  2024/07/terraform-perform-a-global-update/index.html
  2024/07/terraform-perform-a-global-update/index.md
  2025/03/1password-cli--direnv-integration/index.html
  2025/03/1password-cli--direnv-integration/index.md
  2025/03/terraform-create-zip-files/index.html
  2025/03/terraform-generate-diagrams/index.html
  2025/08/terraform-bypass-lock/index.html
  2025/10/.terraform-version/index.html
  2025/11/stress/index.html
  2025/11/stress/index.md
  2025/11/terraform-update-outputs-only/index.html
  2026/01/terraform-import-arrays/index.html
  2026/02/just-apply-it/index.html
  2026/06/terraform-police/index.html
  2026/08/terrateam-plan-from-drift-issues/index.html
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  graph.json
  it/blogroll.opml
  posts/coding/index.html
  posts/index.html
  posts/recipes/index.html
  pt/blogroll.opml
  search/index.json
  sitemap.md
  sitemap.xml
  tags/index.html
  tags/index.xml
  tags/security/index.xml
  tags/terraform/index.html
  tags/terraform/index.xml
  tags/terrateam/index.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

pi prompt template
  content/posts/2026-08-25-pi-prompt-template-or-skill.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

add Goodreads redirect
  content/goodreads.md
  layouts/_default/redirect.html
Due: forbid-double-parens-in-shortcodes, forbid-external-images, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

deploy: abf4ee7fb853be276686be5a4735133339b01462
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  goodreads/index.html
  goodreads/index.md
  it/blogroll.opml
  pt/blogroll.opml
  sitemap.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

continuity
  content/posts/2026-08-25-continuity.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

reorder More menu entries
  config/_default/config.yml
Due: forbid-old-perrotta-dev

claude code goal
  content/posts/2026-08-26-claude-code-goals-that-outlast-the-turn.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

clustermon → prometheus
  content/posts/2024-10-02-fd-match-full-path.md
  content/posts/2024-12-17-pre-commit-create-hooks-for-unsupported-tools.md
  content/posts/2025-08-21-kubernetes-list-all-imagepullbackoff-container-images.md
  content/posts/2026-08-22-prometheus-a-117gb-wal-that-could-not-truncate.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

deploy: 4090798318ec79dce2e72afdb113dac03c3059cb
  2022/01/advent-of-code/index.html
  2024/10/fd-match-full-path/index.html
  2024/10/fd-match-full-path/index.md
  2024/12/pre-commit-create-hooks-for-unsupported-tools/index.html
  2024/12/pre-commit-create-hooks-for-unsupported-tools/index.md
  2025/08/kubernetes-list-all-imagepullbackoff-container-images/index.html
  2025/08/kubernetes-list-all-imagepullbackoff-container-images/index.md
  2026/08/prometheus-a-117gb-wal-that-could-not-truncate/index.html
  2026/08/prometheus-a-117gb-wal-that-could-not-truncate/index.md
  blogroll.opml
  blogroll/index.html
  en/sitemap.xml
  index.xml
  it/blogroll.opml
  posts/index.xml
  pt/blogroll.opml
  sitemap.xml
  tags/bloggify/index.xml
  tags/dev/index.xml
  tags/index.xml
  tags/kubernetes/index.xml
  tags/pre-commit/index.xml
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

cpbr8
  content/pt/posts/2015-02-12-cpbr8-impressoes-de-um-campuseiro.md
Due: forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-shell-prompt

books: add non-fiction
  ci/goodreads_to_books.py
  ci/test_goodreads_to_books.py
  data/books.yaml
Due: forbid-old-perrotta-dev

books: sort by year, newest first
  ci/goodreads_to_books.py
  ci/test_goodreads_to_books.py
  data/books.yaml
  layouts/_default/books.html
  layouts/partials/books-sort-key.html
Due: forbid-external-images, forbid-old-perrotta-dev

books: explain the card order
  layouts/_default/books.html
Due: forbid-external-images

deploy: ce1c22f483de7d8e5888e4479dfd7dc1c0b14004
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  books/index.html
  it/blogroll.opml
  pt/blogroll.opml
Due: none

deploy: 516b3c8ce241c6dce6478d775b8561377adfc9bf
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  books/index.html
  it/blogroll.opml
  pt/blogroll.opml
Due: none

reorder More menu links
  config/_default/config.yml
Due: forbid-old-perrotta-dev

most recent
  layouts/_default/books.html
Due: forbid-external-images

deploy: 54c18b3b8c4c157c7ddb3e5513278d73dd942a14
  2022/01/advent-of-code/index.html
  blogroll.opml
  blogroll/index.html
  books/index.html
  it/blogroll.opml
  pt/blogroll.opml
Due: none

miniflux flags
  content/posts/2026-08-28-miniflux-add-country-flags-to-all-feeds.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

formatting
  content/posts/2026-08-28-miniflux-add-country-flags-to-all-feeds.md
Due: check-broken-internal-links, check-required-frontmatter, check-single-category, forbid-double-more, forbid-double-parens-in-shortcodes, forbid-md-extension-in-hugo-internal-links, forbid-old-perrotta-dev, forbid-personal-emails, forbid-tulip, forbid-utm-analytics, replace-em-dashes, replace-shell-prompt, sort-blog-tags, strip-content-posts-prefix

Path conditions:
  check-broken-internal-links: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  check-coding-titles: any of: ^content/posts/.*(leetcode|bytebytego).*\.md$ and \.(md|markdown|mdown)$ and not (^content/posts/2025-12-30-kagi-add-leetcode-bang.md$) and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  check-duplicate-coding: any of: ^content/posts/.*(leetcode|bytebytego).*\.md$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  check-required-frontmatter: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (_index\.md$) and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  check-single-category: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  forbid-double-more: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  forbid-double-parens-in-shortcodes: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-external-images: any of: ^layouts/.*\.html$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-md-extension-in-hugo-internal-links: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-old-perrotta-dev: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$ and not (^(content/posts/2024-02-04-new-domain.md|content/posts/2025-01-01-scan-for-markdown-broken-links-in-your-blog.md)$) and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  forbid-personal-emails: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-tulip: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  forbid-utm-analytics: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  replace-em-dashes: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  replace-shell-prompt: any of: \.(md|markdown|mdown)$, but not: ^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/
  sort-blog-tags: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
  strip-content-posts-prefix: any of: ^content/posts/.*\.md$ and \.(md|markdown|mdown)$ and not (^(layouts/partials/openring.html$|schemas|static/vendor|vendor)/)
